#rulesTable th.orderColumn {
    width: 30px;
}

#rulesTable td.orderColumn input {
    width: 2em;
}

#rulesTable th.outcomeColumn {
    width: 60px;
}

#rulesTable td.outcomeColumn span {
    vertical-align: top;
}

#rulesTable th.errorsColumn {
    width: 80px;
    white-space: nowrap;
}

#rulesTable td.errorsColumn input {
    width: 90%;
}

#rulesTable th.matchColumn {
    width: 70px;
}

#rulesTable td.matchColumn select {
    width: 60px;
}

#rulesTable th.stateColumn {
    width: 120px;
}

#rulesTable td.stateColumn select {
    width: 110px;
}

#rulesTable th.ruleRemoveColumn {
    width: 50px;
}

table.compactResultsTable tr.undoRow td img {
    padding: 3px 0 0 0;
    visibility: hidden;
}

#rulesTable.prmFixedViewTable {
    max-width: 600px;
    width: 100%;
}

.notesSection {
    padding-bottom: 10px;
}

div.resultBar {
    height: 14px;
    border: 1px solid grey;
    overflow: hidden;
}

div.resultBar > div {
    display: inline-block;
    position: relative;
    float: left;
    height: 100%;
}

.DATA_PRESENT {
    background-color: #228855;
}

.DATA_MISSING {
    background: white;
}

.channelOn {
    font-weight:bold;
    color:#339900;
    display:inline;
    padding-right: 5px;
}

.channelOff {
    font-weight:bold;
    color:#BB0000;
    display:inline;
    padding-right: 5px;
}

.additionalSchedulerJobs {
    margin: 5px 0px 0px 8px;
    font-size: 12px;
}

#jobsTable th.enabledStatus {
    text-align: right;
    width: 80px;
}
#jobsTable td.nextRunDate,
#jobsTable td.runSchedule {
    white-space: nowrap;
}
#jobsTable td.noResults {
    text-align: center;
    font-style: italic;
}

.additionalSchedulerJobs {
    margin: 5px 0px 0px 8px;
    font-size: 12px;
}

.eventStatusCleared,
.eventStatusGood {
    color:#006633;
}
.eventStatusActive,
.eventStatusBad {
    color:#CC0000;
}

.meterEventsReportLink {
	margin-left: 10px;
	float: left;
}

#eventsFilterForm table.twoColumnLayout {
	width: 100%;
}

.deviceMagIcon {
	margin-left: 5px;
}