#rulesTable th.orderColumn {
    width: 30px;
}

#rulesTable td.orderColumn input {
    width: 2em;
}

#rulesTable th.outcomeColumn {
    width: 60px;
}

#rulesTable td.outcomeColumn span {
    vertical-align: top;
}

#rulesTable th.errorsColumn {
    width: 80px;
    white-space: nowrap;
}

#rulesTable td.errorsColumn input {
    width: 90%;
}

#rulesTable th.matchColumn {
    width: 70px;
}

#rulesTable td.matchColumn select {
    width: 60px;
}

#rulesTable th.stateColumn {
    width: 120px;
}

#rulesTable td.stateColumn select {
    width: 110px;
}

#rulesTable th.ruleRemoveColumn {
    width: 50px;
}

table.compactResultsTable tr.undoRow td img {
    padding: 3px 0 0 0;
    visibility: hidden;
}

#rulesTable.prmFixedViewTable {
    max-width: 600px;
    width: 100%;
}

.notesSection {
    padding-bottom: 10px;
}

div.resultBar {
    height: 14px;
    border: 1px solid grey;
    overflow: hidden;
}

div.resultBar > div {
    display: inline-block;
    position: relative;
    float: left;
    height: 100%;
}

.DATA_PRESENT {
    background-color: #228855;
}

.DATA_MISSING {
    background: white;
}

.channelOn {
    font-weight:bold;
    color:#339900;
    display:inline;
    padding-right: 5px;
}

.channelOff {
    font-weight:bold;
    color:#BB0000;
    display:inline;
    padding-right: 5px;
}

#jobsTable th.enabledStatus {
    text-align: right;
    width: 80px;
}
#jobsTable td.nextRunDate,
#jobsTable td.runSchedule {
    white-space: nowrap;
}

.eventStatusCleared,
.eventStatusGood {
    color:#093;
}
.eventStatusQuestionable {
	color:#FF9900;
}
.eventStatusActive,
.eventStatusBad {
    color:#D14836;
}

/* WaterLeakReport START */
.pagedBox.waterLeakReport .title {
    padding: 6px 8px;
}
.pagedBox.waterLeakReport .filter_container .range .date:hover {
	color: #666;
}

#leakFilterDialog .errorMessage {
	font-size: 12px;
}

#leakFilterDialog.ui-dialog-content {
    padding: .5em 0em
}

#leakFilterDialog .waterLeakFilterTab {
	height: 29px;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

#leakFilterDialog .under_tabs {
    padding: 8px;
    border-top: 1px dotted #CCC;
    border-bottom: none;
    border-right: none;
}

form#filterForm .threshold_input {
	float: left;
	margin-right: 5px;
}

#algorithmDialog ul {
    list-style: disc inside none;
	font-size: 12px;
}

.accountInfoAjaxDialog {
    width: 235px;
    height: 355px;
}

div#selectDevicesPicker_filterSelector, div#selectDevicesPicker_scheduleSelector {
	z-index: 9999;
}

.front {
    z-index: 9999;
}

form#intervalDataForm {
	display: inline-block;
}
/* WaterLeakReport END */

div.attributeSetupContainer {
    min-width: 500px;
}

.device_data_processors select {
	width: 140px;
}


/* Device Data Monitor updates: YUK-11992 */
    /* This corrects problem with popup dialogs' content never growing taller when the dialog is resized */
.problem_device_list .scrollingContainer_large { max-height: none;}
    /* Required, or only the left sliver (3px?) of the icon displays */
.violation_help_link {padding: 0 7px;}
    /* change the style within popups so <em>phasized content is easily visible */
.ui-dialog-content em {font-weight: bold;}

