#rulesTable th.orderColumn {
    width: 30px;
}

#rulesTable td.orderColumn input {
    width: 2em;
}

#rulesTable th.outcomeColumn {
    width: 60px;
}

#rulesTable td.outcomeColumn span {
    vertical-align: top;
}

#rulesTable th.errorsColumn {
    width: 80px;
    white-space: nowrap;
}

#rulesTable td.errorsColumn input {
    width: 90%;
}

#rulesTable th.matchColumn {
    width: 70px;
}

#rulesTable td.matchColumn select {
    width: 60px;
}

#rulesTable th.stateColumn {
    width: 120px;
}

#rulesTable td.stateColumn select {
    width: 110px;
}

#rulesTable th.ruleRemoveColumn {
    width: 50px;
}

table.compactResultsTable tr.undoRow td img {
    padding: 3px 0 0 0;
    visibility: hidden;
}

#rulesTable.prmFixedViewTable {
    max-width: 600px;
    width: 100%;
}

.notesSection {
    padding-bottom: 10px;
}

div.resultBar {
    height: 14px;
    border: 1px solid grey;
    overflow: hidden;
}

div.resultBar > div {
    display: inline-block;
    position: relative;
    float: left;
    height: 100%;
}

.DATA_PRESENT {
    background-color: #228855;
}

.DATA_MISSING {
    background: white;
}

.channelOn {
    font-weight:bold;
    color:#339900;
    display:inline;
    padding-right: 5px;
}

.channelOff {
    font-weight:bold;
    color:#BB0000;
    display:inline;
    padding-right: 5px;
}

.additionalSchedulerJobs {
    margin: 5px 0px 0px 8px;
    font-size: 12px;
}

#jobsTable th.enabledStatus {
    text-align: right;
    width: 80px;
}
#jobsTable td.nextRunDate,
#jobsTable td.runSchedule {
    white-space: nowrap;
}
#jobsTable td.noResults {
    text-align: center;
    font-style: italic;
}

.additionalSchedulerJobs {
    margin: 5px 0px 0px 8px;
    font-size: 12px;
}

.eventStatusCleared,
.eventStatusGood {
    color:#006633;
}
.eventStatusQuestionable {
	color:#FF9900;
}
.eventStatusActive,
.eventStatusBad {
    color:#CC0000;
}

.meterEventsReportLink {
	margin-left: 10px;
	float: left;
}

#eventsFilterForm table.twoColumnLayout {
	width: 100%;
}

#eventsFilterForm .icon_help,
.viewGroupLink,
.deviceMagIcon {
	margin-left: 5px;
}

/* WaterLeakReport START */
.pagedBox.waterLeakReport .title {
    padding: 6px 8px;
}
.pagedBox.waterLeakReport .filter_container .range .date:hover {
	color: #666;
}

#leakFilterDialog .errorMessage {
	font-size: 12px;
}

#leakFilterDialog.ui-dialog-content {
    padding: .5em 0em
}

#leakFilterDialog .waterLeakFilterTab {
	height: 29px;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

#leakFilterDialog .under_tabs {
    padding: 8px;
    border-top: 1px dotted #CCC;
    border-bottom: none;
    border-right: none;
}

.ui-dialog .ui-dialog-buttonpane button.leakFilterCancelButton {
	margin-left: -7px;
    color: #0066CC;
}
.ui-dialog .ui-dialog-buttonpane button.leakFilterCancelButton:hover {
    text-decoration: underline;
}

form#filterForm .threshold_input {
	float: left;
	margin-right: 5px;
}
form#filterForm .icon_help {
	top: 1px;
}

.filter_shortcut {
	font-size: 12px;
    font-style: italic;
    position: absolute;
    left: 8px;
    width: 320px;
    margin: .9em 0.4em 0.5em 0;
}

#algorithmDialog ul {
    list-style: disc inside none;
	font-size: 12px;
}

.accountInfoAjaxDialog {
    width: 235px;
    height: 355px;
}

div#selectDevicesPicker {
	z-index: 9999;
}

form#intervalDataForm {
	display: inline-block;
}
/* WaterLeakReport END */

div.attributeSetupContainer {
    min-width: 500px;
}