div #main {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

div.commanderHeader {
	text-align: left;
	padding: 10px 6px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
	font-weight: bold;
}

div.searchForm {
	padding-top: 20px;
}

div.formHeader {
	padding-bottom: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

div.formSection {
	padding-top: 10px;
}

div.filterCancel {
	margin: 20px 45%;
}

span.filterButtons {
	margin-left: 40px;
}

span.smallText {
	font-size: 12px;
}

span.selection {
	padding-left: 10px;
}

div.commandInclude {
	width: 550px;
}

#sideMenu {
	width: 150px;
	padding: 0px 10px 50px 10px;
	height: 100%;
	float: right;
}

#sideMenu div.header {  
	padding: 20px 0px 0px 5px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-weight: bold;
}

#sideMenu div.sideMenuLink {
	margin: 2px 0px 0px 20px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10px;  
}

#sideMenu div.sideMenuSubLink {
	margin: 2px 0px 0px 30px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10px;  
}

#sideMenu div.selected {  
	font-weight: bold !important;
	font-size: 12px !important;  
	color: #CC3300 !important;
}

#sideMenu div.disabled {  
	color: #ccc !important;
}

tr.altRow {
	background-color: #DDDDDD;
}

a.link:active {color: #FC6}
a.link:visited {color: #FC6}
a.link:link {color: #FC6}
a.link:hover {color: #FC6}

div.horizontalRule {
	margin-top: 10px;
	border-bottom: 1px solid #0066CC;
}

.bottomLink {
	text-align: left;
	padding: 0px 0px;
	margin: 0px 0px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px; 
}

.columnSplit{
	border-right: solid 2px white;	
}

.dataColumnHeader {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: bold; 
	color: #000000;
}

div.searchFilterContainer {
    width: 21em;
    text-align: right;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
}

div.searchFilterContainer input {
    width: 10em;
}