table.controlHistorySummaryTable {
    vertical-align: top;
}

table.controlHistorySummaryTable th{
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}

table.controlHistorySummaryTable td.programLabel {
    font-weight: bold;
}

table.controlHistorySummaryTable span.programLabel {
    float: left; 
}

table.controlHistorySummaryTable span.detailsLink {
    float: right; 
    font-weight: normal;
}

table.controlHistorySummaryTable td.inventoryLabel {
    width: 5%;
    white-space: nowrap;
}

table.controlHistorySummaryTable td.programIcon {
    vertical-align:top;
    width: 5%;
}

table.controlHistorySummaryTable td.programSummary {
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    width: 5%;
    
}

table.controlHistorySummaryTable td.inventorySummary {
    text-align: center;
    white-space: nowrap;
    width: 5%;
}