table.itemPickerResultTable {
    font-size: 80%;
    width: 100%;
    border-collapse: collapse;
}

table.itemPickerResultTable th {
    text-align: left;
}

itemPicker_commandLinks {
    font-size: 80%;
}

#itemPicker_resultAreaFixed {
    height: 349px;
}

#itemPicker_popup {
    position: absolute;
    background: white;
    opacity: .93;
    left: 120px;
    right: 120px;
    top: 30px;
    width: 500px;
    height: 390px;
    border: 3px ridge #696;
    padding: 10px;
    z-index: 100;
}

table.itemPickerResultTable tr.itemPicker_currentItemRow {
    background: yellow;
}

table#itemPicker_navTable {
    width: 100%;
}

table#itemPicker_navTable td.left {
    text-align: left;
    width: 60px;
}
table#itemPicker_navTable td.center {
    text-align: center;
}
table#itemPicker_navTable td.right {
    text-align: right;
    width: 60px;
}

.itemPicker_selectedLink {
    background-color: yellow;
}

  