table.itemPickerResultTable {
    width: 100%;
    border-collapse: collapse;
}

table.itemPickerResultTable th {
    text-align: left;
}

.query {
	float: left;
}

.itemPicker_commandLinks {
	float: right;
}

.multiItemPicker_commandLinks {
	float: right;
	margin-right: 22px;
}

#itemPicker_resultAreaFixed {
    height: 20em;
}

#itemPicker_popup {
    position: absolute;
    background: white;
    opacity: .93;
    left: 120px;
    top: 30px;
    width: 35em;
    height: 32em;
    border: 3px ridge #696;
    padding: 10px;
    z-index: 100;
    overflow: hidden;
}

/* the following was pulled from http://www.hedgerwow.com/360/bugs/css-select-free.html */
/* if this needs to be reused, consider making a generic class selector in one of the common css files */
#itemPicker_popup iframe
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
}

table.itemPickerResultTable tr.itemPicker_currentItemRow {
    background: yellow;
}

table#itemPicker_navTable {
	position: absolute;
	bottom: 0px;
	margin-right: 10px;
	padding-right: 10px;
    width: 95%;
}

table#itemPicker_navTable td.left {
    text-align: left;
    width: 30px;
}
table#itemPicker_navTable td.center {
    text-align: center;
}
table#itemPicker_navTable td.right {
    text-align: right;
    width: 30px;
}

.itemPicker_selectedLink {
    background-color: yellow;
}

  