table.itemPickerResultTable {
    width: 100%;
    border-collapse: collapse;
}

table.itemPickerResultTable th {
    text-align: left;
    padding-top:12px;
    padding-bottom:6px;
}

#itemPicker_resultAreaFixed {
    height: 26em;
}

#itemPicker_popup {
    position: absolute;
    background: white;
    left: 120px;
    top: 30px;
    width: 32em;
    border: 12px solid #666;
    z-index: 100;
    overflow: hidden;
}

table.itemPickerResultTable tr.itemPicker_currentItemRow {
    background: yellow;
}

/* TITLE TABLE (query, navigation) */
table.itemPicker_titleTable {
    width: 90%;
}
table.itemPicker_titleTable td.query {
    text-align: left;
    width:40px;
}
table.itemPicker_titleTable td.prevNavArrow {
    width: 16px;
    text-align: right;
    cursor: pointer;
}
table.itemPicker_titleTable td.nextNavArrow {
    width: 16px;
    text-align: left;
    cursor: pointer;
}
table.itemPicker_titleTable td.pageNum {
    width: 100px;
    text-align: center;
}


/* BUTTON TABLE (show all, select) */
table.itemPicker_buttonTable {
    width: 100%;
}
table.itemPicker_buttonTable td.left {
    text-align: left;
}
table.itemPicker_buttonTable td.right {
    text-align: right;
}
  