form {
	display: inline;
}

#ConsumerLogo {
	float: left;
  	background-image: url(../ConsumerImage.jpg);
  	background-repeat: no-repeat;
  	width: 102px;
  	height: 102px;
}

#MeteringLogo {
	float: left;
  	background-image: url(../MeterImage.jpg);
  	background-repeat: no-repeat;
  	width: 102px;
  	height: 102px;
}

#ClientLauncherLogo {
	float: left;
  	background-image: url(../Keyboard.jpg);
  	background-repeat: no-repeat;
  	width: 102px;
  	height: 102px;
}

#LoadResponseLogo {
	float: left;
  	background-image: url(../LoadImage.jpg);
  	background-repeat: no-repeat;
  	width: 102px;
  	height: 102px;
}

#DistributionAutomationLogo {
	float: left;
  	background-image: url(../EsubImage.jpg);
  	background-repeat: no-repeat;
  	width: 102px;
  	height: 102px;
}

#HardwareInventoryLogo {
	float: left;
  	background-image: url(../InventoryImage.jpg);
  	background-repeat: no-repeat;
  	width: 102px;
  	height: 102px;
}

#WorkOrdersLogo {
	float: left;
  	background-image: url(../WorkImage.jpg);
  	background-repeat: no-repeat;
  	width: 102px;
  	height: 102px;
}

#AnalysisLogo {
	float: left;
  	background-image: url(../AnalysisImage.jpg);
  	background-repeat: no-repeat;
  	width: 102px;
  	height: 102px;
}

#AdministrationLogo {
	float: left;
  	background-image: url(../AdminImage.jpg);
  	background-repeat: no-repeat;
  	width: 102px;
  	height: 102px;
}

div.main {
	margin-left: 60px;
	width: 75%;
}

div.mainFull {
	width: 100%;
}

div.sectionHeader {
	margin-top: 10px;
	text-align: left;
	background-color: #0066CC;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-indent: 5px;
}

div.sectionLinks {
	padding-left: 20px;
}

div.linkBorder { 
	margin-top: 15px;
	float: left;
	height: 30px;
	width: 120px;
}

div.boxedLink { 
	text-align: center;
	margin-left: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #666999;
	font-size: 12px;
}

div.boxedLink a:active {
    text-decoration: none;
    color: #000000;
}

div.boxedLink a:visited {
    text-decoration: none;
    color: #000000;
}

a div.boxedLink {
    text-decoration: none;
    color: #000000;
}

div.boxedLink a:link {
    text-decoration: none;
    color: #000000;
}

.sectionForm {
	float: right;
	margin-right: 15px;
	text-align: right;
}

.sectionFormLabel {
	margin-top: 15px;
	font-size: 10px;
	padding-bottom: 5px;
}


div.headerText {
	font-size: 16px;
	font-weight: bold;
	color: #0066CC;
}


