table.pointPickerResultTable {
    font-size: 80%;
    width: 100%;
    border-collapse: collapse;
}

table.pointPickerResultTable th {
    text-align: left;
}

pointPicker_commandLinks {
    font-size: 80%;
}

#pointPicker_resultArea {
    height: 349px;
}

#pointPicker_popup {
  position: absolute;
  background: white;
  opacity: .93;
  left: 120px;
  right: 120px;
  top: 30px;
  width: 500px;
  height: 390px;
  border: 3px ridge #696;
  padding: 10px;
  z-index: 100;
  }

table.pointPickerResultTable tr.pointPicker_currentPointRow {
    background: yellow;
}
  