body {
  margin: 0px;
  background-color: white;
  color: black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  }

#TopLeftLogo {
  background-image: url(/CannonLogo.gif);
  background-repeat: no-repeat;
  width: 190px;
  height: 53px;
}

.smallText {
  font-size: .8em;
}

.formErrorSummary {
  color: red;
  font-size: .8em;
}

#Header {
  margin: 5px;
}

#Header img {
  margin: 0 0 1em 0;
  padding: 0;
  border: 0;
}

#Header .stdhdr_left {
    float: left;
}
#Header .stdhdr_right {
    float: right;
}
#Header .stdhdr_clear {
    clear: both;
}

#CopyRight {
    text-align: right;
    margin-top: 2.5em;
    margin-bottom: .5em;
    font-size: .7em;
    color: black;
}

#Menu  div.stdhdr_rightSide form {
    padding: 0;
    margin: 0;
}
  
#Content {
  margin: 15px 7px 0 7px;
}
  

#Menu #topMenu {
    border-top: 1px solid #0066CC;
    border-bottom: 1px solid #0066CC;
    background-color: #0066CC;
    padding: .4em .8em;
    font-weight: bold;
    color: white;
    font-size: .85em;
    height: 1.75em;
}

#Menu #topMenu .stdhdr_leftSide{
    padding: .15em 0 0 0;
}

#Menu #subMenu {
    border-bottom: 1px solid #0066CC;
    background-color: rgb(238, 238, 238);
    padding: .2em .8em;
    height: 1.2em;
    
}

#Menu #bottomBar {
    background-color: white;
    padding: .2em .8em;
    height: 1.2em;
    
}

#Menu #subMenu a {
    color: rgb(0, 102, 153);
    padding-right: .5em;
    font-size: .75em;
}

#Menu #subMenu a:link {
    color: rgb(0, 102, 153);
}
#Menu #subMenu a:visited {
    color: rgb(0, 102, 153);
}

#Menu #topMenu a {
    text-decoration: none;
    color: white;
    padding-right: .5em;
}

#Menu #topMenu a:link {
    color: white;
}

#Menu #topMenu a:visited {
    color: white;
}

#Menu #topMenu a:hover, #Menu #topMenu a.selected, #Menu #subMenu a.selected {
    color: #f90;
}

#Menu .stdhdr_rightSide {
    float: right;
}

#Menu form {
    padding: 0;
    margin: 0;
}
  
#Menu .stdhdr_leftSide {
    float: left;
}

#Menu .breadCrumbs {
    font-size: .75em;
    color: #f90;
}

#Menu .breadCrumbs a {
    color: #f90;
}

div.titledContainer{ 
	width: 100%;
	position: relative;
}

div.titledContainer .content {
	padding: 4px;
	border-left: 1px solid #0066CC;
	border-right: 1px solid #0066CC;
}

div.titledContainer .title table {
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
}

div.titledContainer .title {
	padding: 0px 9px 6px 9px;
	background: #0066CC;
	font-weight: bold;
    font-size: 12px;
    color: white;
}

div.titledContainer .lbottom {
	position: absolute;
	left: 0;
	width: 6px;
}

div.titledContainer .rbottom {
	position: absolute;
	right: 0;
	width: 6px;
}
	
div.titledContainer .top span, div.titledContainer .lbottom span, 
div.titledContainer .rbottom span {
	display: block;
	height: 1px;
    overflow: hidden; 
    background: #0066CC;
}

div.titledContainer .content .makesNoSense {
	padding: 0;
	margin: 0;
	height: 0;
	font-size: 0em;
}

div.titledContainer .t1{margin: 0 5px}
div.titledContainer .t2{margin: 0 3px}
div.titledContainer .t3{margin: 0 2px}
div.titledContainer .t4{margin: 0 1px;height: 1px;}
div.titledContainer .t5{margin: 0 1px;height: 1px;}
div.titledContainer .t6{margin: 0 0px;height: 1px;}

div.titledContainer .lbottom span.l1{margin: 0 1px 0 3px; width: 2px; height: 1px;}
div.titledContainer .l2{margin: 0 3px 0 2px; width: 1px;}
div.titledContainer .l3{margin: 0 4px 0 1px; width: 1px;}
div.titledContainer .l4{margin: 0 4px 0 1px; width: 1px;}
div.titledContainer .l5{margin: 0 5px 0 0px; width: 1px;}

div.titledContainer .r1{margin: 0 3px 0 1px; width: 2px; height: 2px}
div.titledContainer .r2{margin: 0 2px 0 3px; width: 1px;}
div.titledContainer .r3{margin: 0 1px 0 4px; width: 1px;}
div.titledContainer .r4{margin: 0 1px 0 4px; width: 1px;}
div.titledContainer .r5{margin: 0 0px 0 5px; width: 1px;}

div.titledContainer .bottomBar{
	position: relative;
	margin-bottom: 5px;
	top: 5px;
	left: 5px;
	right: 5px;
	margin-right: 10px;
	padding: 0;
	height: 1px;
    overflow: hidden; 
    background: #0066CC;
}

div.styledContainer .title, div.styledContainer .rop span, div.styledContainer .lbottom span, 
div.styledContainer .rbottom span {
	background-color: #06C !important;
	color: #fff !important;
}

div.styledContainer .content
{
	border-color: #06C !important;
}

tr.altRow {
	background-color: #f6f6f6;
}

/* used for "CSS" Icons in the clearbits folder */
img.cssicon, input.cssicon {
  background-color: #C30;
  background-image: url(../Icons/clearbits/bg_rounded.gif);
  background-repeat: no-repeat;
  border: none;
  vertical-align: middle;
}

table.nameValueTable {
	border: none;
	border-collapse: collapse; 
	width: 100%;
}

table.nameValueTable td.name {
	width: 40%;
	font-weight: bold;
}

table.nameValueTable td.value {
	width: 60%;
}


#widgetActionLink a, span.widgetText {
	font-size: .75em;
}
