body {
  margin: 7px;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  }

#TopLeftLogo {
  background-image: url(/capcontrol/images/YourLogo.gif);
  background-repeat: no-repeat;
  width: 190px;
  height: 53px;
}


#Header img {
  margin: 0 0 1em 0;
  padding: 0;
  border: 0;
}

#Header .stdhdr_left {
    float: left;
}
#Header .stdhdr_right {
    float: right;
}
#Header .stdhdr_clear {
    clear: both;
}

#CopyRight {
    text-align: right;
    margin-top: 1em;
    font-size: .9em;
    color: black;
}

#Menu  div.stdhdr_rightSide form {
    padding: 0;
    margin: 0;
}
  
#Content {
  margin: 15px 0 0 0;
  }
  

#Menu #topMenu {
    background-color: #006699;
    padding: .4em .8em;
    font-weight: bold;
    color: white;
    font-size: .85em;
}

#Menu #topMenu .stdhdr_leftSide{
    padding: .15em 0 0 0;
}

#Menu #subMenu {
    background-color: rgb(238, 238, 238);
    padding: .2em .8em;
    height: 1.2em;
    
}

#Menu #bottomBar {
    background-color: white;
    padding: .2em .8em;
    height: 1.2em;
    
}

#Menu #subMenu a {
    color: rgb(0, 102, 153);
    padding-right: .5em;
    font-size: .75em;
}

#Menu #subMenu a:link {
    color: rgb(0, 102, 153);
}
#Menu #subMenu a:visited {
    color: rgb(0, 102, 153);
}

#Menu #topMenu a {
    text-decoration: none;
    color: white;
    padding-right: .5em;
}

#Menu #topMenu a:link {
    color: white;
}

#Menu #topMenu a:visited {
    color: white;
}

#Menu #topMenu a:hover, #Menu #topMenu a.stdhdr_selected {
    color: #f90;
}

#Menu .stdhdr_rightSide {
    float: right;
}

#Menu form {
    padding: 0;
    margin: 0;
}
  
#Menu .stdhdr_leftSide {
    float: left;
}

#Menu .breadCrumbs {
    font-size: .75em;
    color: #f90;
}

#Menu .breadCrumbs a {
    color: #f90;
}

table.roundedTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table.roundedTable td.upperLeft {
    border-style: hidden;
    padding: 0;
    background-image: url(../Header_left.gif);
    background-repeat: no-repeat;
    width: 6px;
}

table.roundedTable td.upperRight {
    border-style: hidden;
    padding: 0;
    background-image: url(../Header_right.gif);
    background-repeat: no-repeat;
    width: 6px;
}

table.roundedTable td.lowerLeft {
    border-style: hidden;
    padding: 0;
    background-image: url(../Bottom_left.gif);
    background-repeat: no-repeat;
    width: 6px;
    height: 9px;
}

table.roundedTable td.lowerRight {
    border-style: hidden;
    padding: 0;
    background-image: url(../Bottom_right.gif);
    background-repeat: no-repeat;
    width: 6px;
    height: 9px;
}

table.roundedTable td.leftSide {
    border-style: hidden;
    padding: 0;
    background-image: url(../Side_left.gif);
    background-repeat: repeat-y;
    width: 6px;
}

table.roundedTable td.rightSide {
    border-style: hidden;
    padding: 0;
    background-image: url(../Side_right.gif);
    background-repeat: repeat-y;
    width: 6px;
}

table.roundedTable td.bottom {
    border-style: hidden;
    padding: 0;
    background-image: url(../Bottom.gif);
    background-repeat: repeat-x;
    height: 9px;
}

table.roundedTable td.top {
    background-color: #888888;
    font-weight: bold;
    color: white;
}

/* used for "CSS" Icons in the clearbits folder */
img.cssicon {
  background-color: #f00;
  background-image: url(../Icons/clearbits/bg_rounded.gif);
  background-repeat: no-repeat;
  border: none;
}


