body {
    margin: 0px;
    background-color: white;
    color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#TopRightLogo {
    
}

.smallText {
    font-size: .8em;
}

.formErrorSummary {
    color: red;
    font-size: .8em;
}

#Header {
    margin: 5px;
}

#Header img {
    margin: 0 0 1em 0;
    padding: 0;
    border: 0;
}

#Header .stdhdr_left {
    float: left;
}

#Header .stdhdr_right {
    float: right;
}

#Header .stdhdr_clear {
    clear: both;
}

#CopyRight {
    text-align: center;
    margin-top: 2em;
    margin-bottom: .5em;
    font-size: .7em;
    color: #666;
}

#Menu  div.stdhdr_rightSide form {
    padding: 0;
    margin: 0;
}

#findForm input,
#findForm select {
	margin-left: 5px;
}

#Content {
    font-size: .95em;
}

#MainContainer {
    margin-top: 8px;
}

#Content h2.standardPageHeading {
    margin-bottom: 1em;
}

#Menu #topMenu {
    border-top: 1px solid #0066CC;
    border-bottom: 1px solid #0066CC;
    background: #0066CC; /* for non-css3 browsers */
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066CC', endColorstr='#0040A0'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #0066CC), color-stop(0.50, #0066CC), color-stop(1, #0040A0)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #0066CC, #0066CC 50%, #0040A0); /* for firefox 3.6+ */
    
    padding: .4em .8em;
    font-weight: bold;
    color: white;
    font-size: .80em;
    height: 1.75em;
}

#Menu #topMenu .stdhdr_leftSide {
    padding: .15em 0 0 0;
}

a.border_menuLink {
    border-right: 1px solid #CCCCCC;
}

a.border_submenuLink {
    border-right: 1px solid #0066CC;
}

a.stdhdr_menuLink {
    margin-left: 1px;
}

#Menu #subMenu {
    border-bottom: 1px solid #0066CC;
    background: #EEEEEE; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#C5C5C5'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #EEEEEE), color-stop(0.50, #EEEEEE), color-stop(1, #C5C5C5)); /* for webkit browsers */
    background: #EEEEEE -moz-linear-gradient(top, #EEEEEE, #EEEEEE 50%, #C5C5C5); /* for firefox 3.6+ */
    padding: .2em .8em;
    height: 1.2em;
}

#Menu #bottomBar {
    background-color: white;
    padding: .2em .8em;
    height: 1.2em;
}

#Menu #subMenu a:hover {
    color: #EE8800 !important;
}
    
#Menu #subMenu a {
    color: #0066CC;
    padding-right: .5em;
    font-size: .75em;
    text-decoration: none;
}

#Menu #subMenu a:link {
    color: #0066CC;
}

#Menu #subMenu a:visited {
    color: #0066CC;
}

#Menu #topMenu a {
    text-decoration: none;
    color: white;
    padding-right: .5em;
}

#Menu #topMenu a:link {
    color: white;
}

#Menu #topMenu a:visited {
    color: white;
}

#Menu #topMenu a:hover,#Menu #topMenu a.selected,#Menu #subMenu a.selected {
    color: #f90;
}

#Menu #subMenu a.selected {
    color: #EE8800;
}

#Menu .stdhdr_rightSide {
    float: right;
}

#Menu form {
    padding: 0;
    margin: 0;
}

#Menu .stdhdr_leftSide {
    float: left;
}

#Menu .breadCrumbs {
    font-size: .75em;
    color: #f90;
}

#Menu .breadCrumbs a {
    color: #f90;
}

/* used for "CSS" Icons in the clearbits folder */
img.cssicon,input.cssicon {
    background-color: #C30;
    background-image: url(../Icons/clearbits/bg_rounded.gif);
    background-repeat: no-repeat;
    border: none;
    vertical-align: middle;
}

img.graycssicon,input.graycssicon {
    background-color: #eee;
    background-image: url(../Icons/clearbits/bg_rounded.gif);
    background-repeat: no-repeat;
    border: none;
    vertical-align: middle;
}

#MainContainer.StandardWithNavLayout #ContentWrapper {
    float: left;
    width: 100%;
}

#MainContainer.StandardWithNavLayout  #Content {
    margin-left: 155px; /* width of left column*/
    border-left: 1px solid #ccc;
    padding: 8px 8px 8px 16px;
    min-height: 600px;
}

#MainContainer.StandardLayout {
    padding: 0 15px;
}

#MainContainer.StandardLayout #LeftColumn {
    display: none;
}

#MainContainer.StandardWithNavLayout #LeftColumn {
    float: left;
    width: 140px; /* Width of left column minus its padding */
    margin-left: -100%;
    padding-left: 15px;
}

#footer {
    clear: left;
    width: 100%;
    padding-top: 5px;
}

#detailAdditionalInfo {
    font-size: 75%;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 9px;
}

.contextualMenu ul {
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.contextualMenu li {
    border-bottom: 1px solid #ccc;
}

.contextualMenu li a {
    padding: 3px 1px 3px 8px;
    display: block;
    color: black;
    font-size: 80%;
    text-decoration: none;
    word-wrap: break-word;
}

.contextualMenu li.selected {
    border: none;
    padding-left: 7px;
    border-bottom: 1px solid #ccc;
    background-color: #ccc;
}

.contextualMenu li.selected a {
    font-weight: bold;
    color: #0066cc;
    background-color: white;
    min-height: 0; /* causes 'haslayout' on IE, required for negative margin to work */
    margin-right: -1px;
}

.contextualMenu li:hover a {
    color: #0066cc;
    background-color: white;
}