h3 {
    text-align: center;   
}

div.customerAccount div.accountNumber {
	font-weight: bold;
}	

table.contactTable {
    width: 100%;    
}

table.contactTable tr {
    text-align: right;   
}

table.contactTable tr td.contactLeft {
    width: 40%;   
}

table.contactTable tr td.contactRight {
    width: 60%;   
}

table.contactTable th {
	font-size: 1em;
	text-align: left;
	border-bottom: 2px groove gray;
	padding-bottom: .5em;
}

table.contactTable td {
	font-size: .7em;
}

table.contactTable td div {
	margin-top: .5em;
}

table.enrolledPrograms tr td.logo {
	border-right: 1px solid #ccc;
}

table.enrolledPrograms tr td.logoBordered {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

table.enrolledPrograms tr td.bordered {
	border-bottom: 1px solid #ccc;
}

.temperature {
    text-align: center;
    font-size: 2em;
    width: 2em;
}

.clickable {
    cursor: pointer;    
}

.plainText {
    font-size: 12px;
}

.subItem {
    font-size: 12px;
    white-space: nowrap;
}

td.arrow {
    width: 20px;
    height: 12px;    
}

div.message {
    text-align: center;    
}
