h3 {
    text-align: center;   
}

div.customerAccount {
	font-size: .8em;
}	

div.customerAccount div.accountNumber {
	font-weight: bold;
}	

table.contactTable {
    width: 100%;    
}

table.contactTable tr {
    text-align: right;   
}

table.contactTable tr td.contactLeft {
    width: 40%;   
}

table.contactTable tr td.contactRight {
    width: 60%;   
}

table.contactTable th {
	font-size: 1em;
	text-align: left;
	border-bottom: 2px groove gray;
	padding-bottom: .5em;
}

table.contactTable td {
	font-size: .7em;
}

table.contactTable td div {
	margin-top: .5em;
}

table.enrolledPrograms {
    border-collapse: collapse;
}	

table.enrolledPrograms tr th {
    text-align: left;
    color: #0066CC;
    border-bottom: 1px solid #ccc;
}

table.enrolledPrograms tr td.logo {
	border-right: 1px solid #ccc;
}

table.enrolledPrograms tr td.logoBordered {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

table.enrolledPrograms tr td.logoBorderedAllSidesButBottom {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table.enrolledPrograms tr td.logoBorderedAllSidesButTop {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table.enrolledPrograms tr td.bordered {
	border-bottom: 1px solid #ccc;
}

table.enrolledPrograms tr td.view {
    white-space: nowrap;
    font-size: .8em;
    border-left: 1px solid #ccc;
}

table.enrolledPrograms tr td.viewBordered {
    white-space: nowrap;
    font-size: .8em;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;  
}

.temperature {
    text-align: center;
    font-size: 2em;
    width: 2em;
}

.clickable {
    cursor: pointer;    
}

.plainText {
    font-size: 12px;
}

.subItem {
    font-size: 12px;
    white-space: nowrap;
}

td.arrow {
    width: 20px;
    height: 12px;    
}

div.message {
    text-align: center; 
    border: 1px solid gray;
    padding: 2em;   
}

/* Schedule Styles */

div.movingBar {
    position: relative; 
    width: 30px; 
    height: 162px; 
    left: 0px; 
    top: 5px; 
}

.barTemperature {
    text-align: center;
    white-space: nowrap;
    font-size: 11px; 
}

.barImage {
    width: 16px;
    height: 131px; 
}

.barCool {
    text-align: left;
    position: relative; 
    left: 0px; 
    top:-115px; 
}

.barHeat {
    text-align: right;
    position: relative; 
    left: 0px; 
    top:-115px; 
}

.barGrayArrow {
    width: 10px;
    height: 10px;
    top:-15px; 
}

.timeOfDayLabel {
    text-align: left; 
    width: 15%;
    font-size: 11px;
    font-weight:bold
}

.fieldLabel {
    width: 10%; 
    text-align: right;
    font-size: 11px;
}

.timeTempField {
    width: 15%; 
    font-size: 11px;
}

.modeText {
    text-align: center;
    font-size: 11px;
}

.timePeriodText {
    font-size: 11px;
    color: #FFFFFF;
}

.saturdaySundayText {
    font-size: 11px;
    color: #FFFFFF;
}

table.programTitle {
	border: 1px solid #ccc;
	white-space: nowrap;
}

div#programEnrollmentDiv {
	font-size: .8em;
	overflow: auto;
	height: 325px;
}	

div#controlEventsDiv {
	font-size: .8em;
	overflow: auto;
	height: 300px;
}	

div#controlEventsDiv table {
	border-collapse: collapse;
}

div#controlEventsDiv table th {
	color: #0066CC;
	border-bottom: 1px solid #ccc;
}

div#controlEventsDiv table th {
	color: #0066CC;
	text-align: left;
}

div#controlEventsDiv table tr td {
	white-space: nowrap;
	padding-right: 1em;
}

span#notEnrolledMessageSpan {
    font-size: 12px;
}