#errorCodes td {
    vertical-align: top
}

#errorCodes ul {
    margin: 0 0 0 2em;
    padding: 0;
}

#errorCodes li {
    margin: 0;
    padding: 0;
    list-style-type: disc;
}

p.pageDescription {
    margin-bottom: 10px;
}

div.scopeDemo {
    background: #eee;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
}

h1.i18nDemo {
    margin-bottom: 7px;
}

span.messageSample {
    color: #080;
}

div.messageSample {
    margin-bottom: 7px;
}

table.resultsTable th.functionality {
    width: 200px;
}

table.resultsTable td.functionality {
    vertical-align: top;
    text-align: center;
}

table.resultsTable th.doc {
    width: 200px;
}

table.resultsTable td.doc {
    vertical-align: top;
    text-align: center;
}

table.resultsTable td.xmlTest {
    
}

table.resultsTable td.inputTest {
    vertical-align: top;
}

textarea.xml {
    width: 1000px;
    height: 300px;
    border: 3px solid #BBBBBB;
    padding: 2px;;
    background-color: #FAFAFA;
}