.altTableCell {
    background-color: #eeeeee;
}

.tableCell {
    background-color: white;
}

td.removeColumn, th.removeColumn {
	text-align:center !important;
}

td.enabledColumn, th.enabledColumn {
	text-align: right !important;
}

h2 { /*Page Header*/
  margin: 0;
}

table.twoColumnLayout td.first,
table.twoColumnLayout td.last {
    vertical-align: top;
}

table.twoColumnLayout td.last {
    padding-left: 30px;
}

.contentArea {
	font-family: Arial, Helvetica, sans-serif;
}

.titledContainer .content h4 {
  margin-bottom: 2px;
  margin-top: 8px;
  font-size: .9em;
}

.titledContainer .content h3 {
  margin-bottom: 2px;
  margin-top: 8px;
  font-size: 1.0em;
}

.titledContainer .content .groupEditorContentDetail {
  padding-left:8px;
}


.content {
  overflow: auto;
}

form {
  margin: 0;
  padding: 0;
}

div.simplePopup {
  width: 800px;
  border: 12px solid #666;
  background-color: white;
  left: 75px;
  top: 15%;
}

div.smallSimplePopup {
	width: auto;
    min-width: 400px;
}

div.mediumSimplePopup {
	width: auto;
    min-width: 600px;
}

div.pickerDialog {
  width: 700px;
}

div.thinBorder {
  border: 1px solid #666 !important;
}

div.thinBorder {
  -webkit-box-shadow: #BBB 1px 1px 1px;
  -moz-box-shadow: #BBB 1px 1px 1px;
  box-shadow: #BBB 1px 1px 1px;
}

div.simplePopup {
  -webkit-box-shadow: #BBB 3px 3px 3px;
  -moz-box-shadow: #BBB 3px 3px 3px;
  box-shadow: #BBB 3px 3px 3px;
}

div.menuItems {
    color:#000000;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;	
}
	
.optDeselect {
    text-decoration: none;
    background-color: white;
    border: 1px #0066CC;
    cursor:pointer;
    width: 120px;
}

.optSelect {
	color:#FFFFFF;
    text-decoration: none;
    background-color: #003399;
    border: 1px #0066CC;
    cursor:pointer;
    width: 120px;
}

div.deviceSelectionPopup {
  width: 500px;
}

div.groupEditorPopup {
  width: 350px;
}

#alertSpan a {
  color: #FF4B4F !important;
}

#alertView {
  font-size: .8em;
}

#alertBody {
  width: 785px;
  overflow: auto; 
  height: 230px
}

#alertView table {
  border-collapse: collapse;
  width: 765px;
}

#alertView table tbody tr {
  vertical-align:top;
}

#alertView table tbody tr td {
  border-bottom: 1px solid #ccc;
}

#alertView table tbody tr td#msg {
  padding-right:20px;
}

#alertView th {
  border-bottom: 2px solid #bbb;
  font-size: 1.2em;
  text-align: left;
}

div.internalSectionHeader {
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-left: 5px;
}

span.internalSectionHeader {
	padding-top: 5px; 
	padding-bottom: 5px; 
}

/* Data results table styles */
/* if you dont want a table embedded within a styled table to inherit parent's style */
/* add to the elements as needed */
table.noStyle {
}

table.noStyle th {
}

table.noStyle td {
    border: 0px !important;
}

/* Data results table styles */
table.resultsTable {
	width: 95%;	
  	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size:.8em;
}

table.resultsTable th {
	background: #F7F7F7;
	padding: .3em .5em;
  	border: 1px solid #ccc;
	color: 	#06C;
	font-size: 14px;
	background-image: url(../Icons/boxContainerBg26px.gif);
	background-position: left bottom;
	background-repeat:repeat-x;
}

table.resultsTable td {
  padding: .4em .5em;
  border: 1px solid #ccc;
}

table.resultsTable tfoot {
	background-color:#EEE;
}

table.resultsTable.smallPadding td {
  padding: .25em .3em;
}

table.resultsTable th a {
	text-decoration: none !important;
}

table.activeResultsTable tr.hover {
	background-color: yellow;
	cursor: pointer;
}

table.resultsTable tr.noPointer {
	cursor: default !important;
}

table.resultsTable th a:active, span.navLink a:active {color: #06C}
table.resultsTable th a:visited, span.navLink a:visited {color: #06C}
table.resultsTable th a:link, span.navLink a:link {color: #06C}
table.resultsTable th a:hover, span.navLink a:hover {color: #06C}

button.navlink {color: #06C;}

/* Data results table styles */
table.miniResultsTable {
	width: 95%;	
  	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.miniResultsTable th {
	background: #F8F8F8;
	padding: .2em .5em;
  	border: 1px solid #ccc;
	color: 	#06C;
	font-size: 12px;
	background-image: url(../Icons/boxContainerBg19px.gif);
	background-position: left bottom;
	background-repeat:repeat-x;
}

table.miniResultsTable td {
  text-align: left;
  padding: .3em .5em;
  border: 1px solid #ccc;
}

table.miniResultsTable td.tdHeader {
	font-weight: bold;
}

/* Data results table styles */
table.miniResultsTableLeft {
	width: 95%;	
  	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.miniResultsTableLeft td.label {
    background: #E5E5E5;
	padding: .2em .5em;
  	border: 1px solid #ccc;
	color: 	#06C;
	font-size: 12px;
	font-weight: bold;
}

table.miniResultsTableLeft td {
    text-align: left;
    padding: .3em .5em;
    border: 1px solid #ccc;
}


/* Compact Result Table - TOP*/
table.compactResultsTable {
	width: 95%;
	border-collapse: collapse;
}

div.boxContainer table.compactResultsTable {
	width: 100%;
}

/* This keeps nested tables from double-shrinking the text and double-padding. */
table.compactResultsTable th th {
    font-size: 100%;
}

table.compactResultsTable th {
	border-bottom: 1px solid #CCCCCC;
	color: 	#000000;
	font-size: 12px !important;
	font-weight: 600;
	text-align:left;
	vertical-align:bottom;
	padding: 3px;
}

table.compactResultsTable .padded {
	padding-top: 7px;
}

table.compactResultsTable th a {
	text-decoration: none;
    color: #000000;
}

table.compactResultsTable td td {
    padding: 0px 0px;
}

table.compactResultsTable td {
    padding: 3px 8px 2px 4px;
    font-size: 11px !important;
    vertical-align: top;
}

table.compactResultsTable td.label {
    font-weight: 600;
}

.compactResultTableDescription{
	font-size: 11px;
	font-weight: bold;
	display:inline;
}

/* Name value pair styles */
table.nameValueTable {
	border: none;
	border-collapse: collapse;
	width: 100%;
}

table.naturalWidth {
	width: auto;
}

table.nameValueTable td {
	padding-top:5px;
}

table.nameValueTable td.name {
	vertical-align: top;
	padding-right:10px;
	font-size: .9em;
	color: #555555;	
}

table.nameValueTable tr {
	text-align: left;
}

table.nameValueTable tr.middle td {
    vertical-align: middle;
}

table.nameValueTable tr.indent1 td.name {
	padding-left:40px;
	font-size: .8em;
}

table.nameValueTable tr.indent1 td.value {
	font-size: .7em;
}

table.nameValueTable tr.section td {
	padding-top: 10px;
}

.altRow {
	background-color: #f6f6f6; 
}

/* Titled Container styles */
div.roundedContainer { 
	width: 100%;
	position: relative;
}
div.roundedContainer .roundedContainer_content {
	padding: 4px;
	border-left: 1px solid #0066CC;
	border-right: 1px solid #0066CC;
}

div.roundedContainer .roundedContainer_title table {
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
}

div.roundedContainer .roundedContainer_titleBar {
	padding: 0px 9px 6px 9px;
	background: #0066CC;
	font-weight: bold;
    font-size: 12px;
    color: white;
}

div.roundedContainer .lbottom {
	display: block;
	position: absolute;
	left: 0;
	width: 6px;
}

div.roundedContainer .rbottom {
	position: absolute;
	right: 0;
	width: 6px;
}
	
div.roundedContainer .top span, div.roundedContainer .lbottom span, 
div.roundedContainer .rbottom span {
	display: block;
	height: 1px;
    overflow: hidden; 
    background: #0066CC;
}

div.roundedContainer .roundedContainer_content .makesNoSense {
	padding: 0;
	margin: 0;
	height: 0;
	font-size: 0em;
}

div.roundedContainer .t1{margin: 0 5px}
div.roundedContainer .t2{margin: 0 3px}
div.roundedContainer .t3{margin: 0 2px}
div.roundedContainer .t4{margin: 0 1px;height: 1px;}
div.roundedContainer .t5{margin: 0 1px;height: 1px;}
div.roundedContainer .t6{margin: 0 0px;height: 1px;}

div.roundedContainer .lbottom span.l1{margin: 0 1px 0 3px; width: 2px; height: 1px;}
div.roundedContainer .l2{margin: 0 3px 0 2px; width: 1px;}
div.roundedContainer .l3{margin: 0 4px 0 1px; width: 1px;}
div.roundedContainer .l4{margin: 0 4px 0 1px; width: 1px;}
div.roundedContainer .l5{margin: 0 5px 0 0px; width: 1px;}

div.roundedContainer .r1{margin: 0 3px 0 1px; width: 2px; height: 2px}
div.roundedContainer .r2{margin: 0 2px 0 3px; width: 1px;}
div.roundedContainer .r3{margin: 0 1px 0 4px; width: 1px;}
div.roundedContainer .r4{margin: 0 1px 0 4px; width: 1px;}
div.roundedContainer .r5{margin: 0 0px 0 5px; width: 1px;}

div.roundedContainer .bottomBar{
	position: relative;
	margin-bottom: 5px;
	top: 5px;
	left: 5px;
	right: 5px;
	margin-right: 10px;
	padding: 0;
	height: 1px;
    overflow: hidden; 
    background: #0066CC;
}

/* Widget styles */

.widgetText {
	font-size: .75em;
}

.widgetColumns {
    border-collapse: collapse; /* removes an extra pixel from the center */
}

.widgetColumns td.widgetColumnCell .widgetContainer {
  padding: 9px;
}
.widgetColumns td.widgetColumnCell {
  padding: 0;
  width: 50%;
  vertical-align: top;
}

.widgetColumns {
    margin: 0;
    width: 100%;
}

div.widgetInternalSectionHeader {
	font-weight: bold;
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-left: 5px;
}

span.widgetInternalSectionHeader {
	font-weight: bold;
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-left: 5px;
}

div.widgetInternalSection {
    margin-top: 5px;
	margin-left: 20px;
}

div.widgetPopup {
	position: absolute;
	top: 0px; 
	right: 0px; 
	margin: 15px;
	padding: 5px;
	background-color: #FFF68F;
	border: 1px solid black;
	width: 350px;
}

.highlighted {
	background-color: yellow;	
}

.disabled {
	color: gray;
}

.disabled a:link {
	color: gray;
}

.popUpDiv {
    position: fixed;
    _position: absolute;
    z-index: 100;
    overflow: hidden;
}

.popUpDiv iframe
{
	width: 100%;
	height: 100%;
	border-style: none;
}

#roundingHelper, #timestampHelper, #valueHelper {
	background-color:#FFFFCC;
}

th.widgetInternalSectionSubHeader {
	background: #F0F0F0 ! important;
	font-weight: lighter ! important; 
	font-size: 12px ! important;
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-left: 5px;
	
}

div.triangleContainer .triangleContainer_titleBar .controls { 
    cursor: pointer;
}

div.boxContainer .boxContainer_titleBar,
table.boxContainer td.boxContainer_titleBar,
div.pagedBox .title, div.pagedBox .footer,
div.boxContainerFooter .footer {
	background-color: #F7F7F7;
	border: 1px solid #BBBBBB;
	padding: .25em .5em; 
	background-image: url(../Icons/boxContainerBg26px.gif);
	background-position: left bottom;
	background-repeat:repeat-x;
	text-align: left;
}

.boxContainer_titleBar{position:relative; overflow:hidden;}

div.pagedBox .footer,
div.boxContainerFooter .footer{
	border-top: none;
}

div.boxContainer .boxContainer_titleBar .boxContainer_title,
div.pagedBox .title, div.pagedBox .footer, div.boxContainerFooter .footer {
	color: #0066CC;
	line-height: 1.5em;
	font-weight: bold;
    font-size: 12px;
}

.boxContainer_title {
    float: left;
    overflow:hidden;
    position:relative;
}

div.boxContainer .boxContainer_titleBar .controls { 
	float: right;
	padding-top: 1px;
	text-align: center;
	cursor: pointer;
}

div.boxContainer .boxContainer_titleBar .controls .minMax { 
	background-color: #BBBBBB;
  	border: none;
	height: 16px;
	width: 16px;
  	background-repeat: no-repeat;
  	/*background-image: url(../Icons/clearbits/bg_rounded.gif);*/
	cursor: pointer;
}

div.boxContainer .boxContainer_content, div.pagedBox .content { 
	padding: .5em;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
}

table.boxContainer {
    border: 1px solid #BBBBBB; 
    border-collapse: collapse;
}

table.boxContainer td.boxContainer_content {
    padding: 10px 10px;
}

/* SECTION CONTAINER */
div.sectionContainer .sectionContainer_titleBar {
  padding-bottom:5px;
}

div.sectionContainer .sectionContainer_titleBar .sectionContainer_title {
   color:#0066CC;
   font-size:16px;
   font-weight:bold;
}

div.sectionContainer .sectionContainer_titleBar .sectionContainer_blackTitle {
   color:#000000;
   font-size:16px;
   font-weight:bold;
}

div.sectionContainer .sectionContainer_content {
   padding: .5em;
   border-top:1px #CCCCCC solid;
}



/* FORM ELEMENT CONTAINER */
div.formElementContainer {
    padding-bottom: 10px;
}

div.formElementContainer .formElementContainer_titleBar {
  padding-bottom:5px;
}

div.formElementContainer .formElementContainer_titleBar .formElementContainer_title {
   color:#0066CC;
   font-size:14px;
   font-weight:bold;
}

div.formElementContainer .formElementContainer_content {
   padding: .5em;
   border-top:1px #DDD solid;
}

div.pagedBox table {
    width: 100%;
    vertical-align: bottom;
}

div.pagedBox table .titleArea {
    width: 50%;
}

div.pagedBox table .filterArea {
    width: 20%;
    vertical-align: middle;
    text-align: right;
}

.pagingArea {
    text-align: right;
}

.pagingArea .previousLink {
	text-align: right;
}

.pagingArea .pageNumText {
	white-space: nowrap;
	text-align: center;
}

.pagingArea .nextLink {
    text-align: left;
}

.pagingArea table {
	width: 100%;
}

.pagingArea table td {
	padding: 0px 5px;
}

div.pagedBox .pagingArea {
    width: 30%;
}

table .perPageArea {
    text-align: right;
    width: 70%;
}

.filterArea,
.pagingArea,
.perPageArea {
   color: #06C;
   font-weight: normal;
}

.filterArea a,
.pagingArea a,
.perPageArea a {
   color: #06C;
   text-decoration: none;
}

div.pagedBox .selectedItem {
   font-weight: bold;
}

div.pagedBox table.boxTable {
    height: 100%;
}

.pickerHeader {
	display: block;
	font-size: 12px;
	padding: 5px 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.pickerHeader table {
	width: 100%;
}

.pickerHeader table .queryStringArea {
    width: 40%;
}

.pickerHeader table .filterArea {
    width: 25%;
}

.pickerHeader .pagingArea {
    width: 35%;
}

.pickerResults {
    min-height: 405px;
}

.pickerResults table.compactResultsTable th {
    font-size: 13px;
}

.pickerResults table.compactResultsTable td {
    font-size: 12px;
}

.noSelectionPickerLabel {
    font-style: italic;
    color: gray;
}

.logoImage {
	vertical-align: middle;
}

table td .nameValueLogoImage {
	vertical-align: baseline;
    position: relative;
    top: 3px;
}

.widgetColumns td.widgetColumnCell .titledContainerOverride {
  margin: 0px 0px;
}

.pointer {
	cursor: pointer;
}

.nonwrapping {
	white-space: nowrap;
}

.simpleReportHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000}
.simpleReportSubHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #000000}

.notAuthorized {
	color:red;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}

#cannonUpdaterErrorDiv {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
    background: red; 
    color: white; 
    font-weight: bold;
    text-align: center;
}

#cannonUpdaterErrorDiv .alert {
    padding-top: 64px;
    width: 64px;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.okGreen, .successMessage {
    color:#006633;
}

tr.lightRedBackground {
	background: #FFDDDD;
}

.errorRed, .errorMessage {
    color:#CC0000;
}

input.error {
	background: #FFDDDD; /*light red background*/
}

select.error {
	background-color: #FFDDDD; /*light red background*/
}

textarea.error {
	background: #FFDDDD; /*light red background*/
}

ul.errorMessage {
	margin-bottom:  15px;
}

.warningMessage {
    color:#CC0000;
    font-style: italic;
    margin: 0 0 8px 0;
}

.strongWarningMessage {
    color:#CC0000;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.flashMessage {
    font-weight: bold;
    margin: 15px auto 15px 45px;
    padding: 8px;
    border-left: 5px solid #ccc;
}

.disabledAction, .subtleGray {
    color:#777777;
}

table.compactResultsTable th img.logoImage {
    vertical-align: bottom;
}

table.compactResultsTable tr.undoRow {
    background-color:#EFEFEF;
    border-top: 2px solid #ccc;
}

table.compactResultsTable tr.undoRow td {
    text-align: center;
    vertical-align: middle;
}

table.compactResultsTable td.checkBox {
    vertical-align: middle;
}

span.undoRemoveBtn {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

table.collectionActionAlignment > tbody > tr > td {
    vertical-align: top;
} 

table.collectionActionCellPadding td {
    padding-right: 30px;
}

/*Default Progress Bar classes - start */
div.progressBar .box {
    margin-right: 5px;
}
div.progressBarBorder {
    height: 12px;
    width: 102px;
    border: 1px solid black;
    background-color: #ECECEC;
}
div.progressBarInnerSuccess,
div.progressBarInnerFailure {
    position: absolute;
}
div.progressBarInner,
div.progressBarInnerSuccess,
div.progressBarInnerFailure {
    height: 12px;
    width: 0px;
}
div.progressBarInner,
div.progressBarInnerSuccess {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#529252', endColorstr='#3A7448'); /*for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#3A7448), color-stop(0.1, #529252), color-stop(0.50, #3A7448), color-stop(0.90, #529252), to(#3A7448)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #3A7448, #3A7448 10%, #529252, #3A7448 50%, #529252 90%, #3A7448); /* for firefox 3.6+ */
}
div.progressBarInnerFailure {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BF0F12', endColorstr='#8C0C10'); /*for IE*/
    background: -webkit-gradient(linear, left top, left bottom, from(#8C0C10), color-stop(0.1, #BF0F12), color-stop(0.50, #8C0C10), color-stop(0.90, #BF0F12), to(#8C0C10)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #8C0C10, #8C0C10 10%, #BF0F12, #8C0C10 50%, #BF0F12 90%, #8C0C10); /* for firefox 3.6+ */
}
div.progressBarPercentComplete,
div.progressBarCompletedCount {
    font-size: 11px;
}
/*Default Progress Bar classes - end */

/* Custom Progress Bar classes - start*/
div.progressBar div.scheduledRequestProgressBarBorder {
    width: 55px;
}
/* Custom Progress Bar classes - end*/

h3.indentedElementHeading {
    margin: 15px 0 0 0;
}

h3.indentedElementHeading + * {
    margin: 0 0 0 12px;
}

/* dialog action area */
.actionArea {
	margin-top: 15px;
	text-align: right;
}

/* widget action area */
.widgetActionArea {
    text-align: right;
    padding-top: 5px;
}

.pageActionArea {
	margin-top: 15px;
}

.actionArea input.notButton {
	width: auto;
}

table.actionArea {
	width: 100%;
    font-size: 12px;
}

table.actionArea td.leftActions {
	text-align: left;
}

#confirmDialog {
	width: auto;
}

#ajaxDialog, #ajaxDialog .nameValueTable {
    width: auto;
}

#ajaxDialog .nameValueTable td.name {
	white-space: nowrap;
}

a.simpleLink, span.simpleLink a,
label.simpleLink {
    text-decoration: none;
    color: black;
}

span.simpleLink > a:hover > span,
a.simpleLink:hover > span,
label.simpleLink:hover > span {
    text-decoration: underline;
}

span.footerLink {
    font-size:12px;
}

span.simpleLink span {
	vertical-align: middle;
}

a.imgLink {
    text-decoration: none;
}

table.rowHighlighting tr:hover td {
    background-color: yellow;
}

.editable:hover {
    background-color: lemonchiffon;
    cursor: text;
}

#startMultipleProgramsOverridePrograms .override {
	white-space: nowrap;
}

h1.dialogQuestion {
	padding-bottom: 10px;
}

h3.dialogQuestion {
    padding-bottom: 10px;
}

.CONTROLAREA_STATE_ACTIVE, .CONTROLAREA_STATE_PARTIALLY_ACTIVE,
.CONTROLAREA_STATE_MANUAL_ACTIVE,
.PROGRAM_STATE_ACTIVE, .PROGRAM_STATE_PARTIALLY_ACTIVE,
.PROGRAM_STATE_MANUAL_ACTIVE, .PROGRAM_STATE_TIMED_ACTIVE,
.LOADGROUP_STATE_ACTIVE {
    color: green;
}

.CONTROLAREA_STATE_INACTIVE,
.PROGRAM_STATE_INACTIVE, .PROGRAM_STATE_NON_CONTROL,
.LOADGROUP_STATE_INACTIVE {
    color: black;
}
.CONTROLAREA_STATE_CONTROL_ATTEMPT,
.PROGRAM_STATE_STOPPING,
.LOADGROUP_STATE_ACTIVE_PENDING {
	color: #993;
}

.PROGRAM_STATE_SCHEDULED, .PROGRAM_STATE_CONTROL_ATTEMPT {
    color: orange;
}

.PROGRAM_STATE_NOTIFIED,
.LOADGROUP_STATE_INACTIVE_PENDING {
    color: cyan;
}

.drDisabled {
    color: red;
}

.smallDialogScrollArea {
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
}

.dialogScrollArea {
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
}

.largeDialogScrollArea {
    max-height: 350px;
    overflow: auto;
    padding: 5px 0;
}

div.padded {
	padding: 5px;
}

.favoritesColumn {
	width: 20px;
}

/* the following was pulled from http://www.hedgerwow.com/360/bugs/css-select-free.html */
/* if this needs to be reused, consider making a generic class selector in one of the common css files */
/* This can be removed when support for IE 6 is dropped. */
.simplePopup iframe
{
    display:none;/*sorry for IE5*/
    display/**/:block;/*sorry for IE5*/
    position:absolute;/*must have*/
    top:0;/*must have*/
    left:0;/*must have*/
    z-index:-1;/*must have*/
    filter:mask();/*must have*/
    width:3000px;/*must have for any big value*/
    height:3000px/*must have for any big value*/;
}

.i18nInline {
    outline: red dotted thin;
}

.i18nInline .i18nInlineDebug {
    display: none;
}

.i18nInline:hover .i18nInlineDebug {
    display: inline;
    position: absolute;
    background: white;
    border: thin #eee solid;
    padding: 4px;
}

.i18nBlock {
}

.i18nBlock .i18nBlockDebug {
    display: none;
}

.i18nBlock:hover .i18nBlockDebug {
    display: block;
    position: absolute;
    background: white;
    border: thin #eee solid;
    padding: 4px;
}

.busyBox {
	position: absolute;
	left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    top: 33%;
	width: 32px;
	height: 32px;
    z-index: 101;
    background-image: url('/WebConfig/yukon/Icons/busy_rotation.gif');
    background-repeat: no-repeat;
}

div.userMessage {

	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	margin-bottom: 12px;
	background-position: 8px 4px;
	background-repeat:no-repeat;
}

.userMessage ul {
	padding-left: 15px;
}

.userMessage li {
	list-style-type: disc;
}

div.userMessage.CONFIRM {

	outline: #006633 solid thin;
	background-color: #C3FDB8;
	background-image: url(../Icons/enable.gif);
}

div.userMessage.WARNING {

	outline: #FBB117 solid thin;
	background-color: #FFFFDA;
	background-image: url(../Icons/warning.gif);
	
}

div.userMessage.ERROR {

	outline: #CC0000 solid thin;
	background-color: #FFDDDD;
	background-image: url(../Icons/error.gif);
}

div.ecInfoFragment {
	margin-top:8px;
	font-size:11px;
}

div.accountInfoFragment {

	margin-top:8px;
	font-size:11px;
}

span.radioLabel,
span.checkBoxLabel,
span.textFieldLabel {
    padding-left: 5px;
}

input.calendarInput {
    width: 70px;
}

input.formSubmit,
button.formSubmit,
.actionArea input,
.actionArea button {
    padding-left: 10px;
    padding-right: 10px;
}

button.formSubmit img {
	padding-right: 3px;
	vertical-align: top;
}

.ajaxBusy {
    padding-right: 0px;
}

.ajaxBusy img {
    padding-left: 5px;
}

.formSubmit {
    white-space: nowrap;
}

#logOutput { 
	font-family: Courier, Courier, monospace; 
	font-size: 12px;
	white-space: pre; 
}

div.compactResultsFooter {
	padding : 3px 2px 2px;
}

span.dateRangeInputField {
    white-space: nowrap;
}

div.mediumContainer {
    margin-top: 15px;
    width: 50%;
}

div.fixedMediumWidth {
    max-width: 550px;
    width: 100%;
}

div.boxContainer .boxContainer_titleBar img {
    vertical-align: top;
}

.usingDefaultValue {
    color: #ccc;
}

.focusedFieldDescription {
    display: none;
}

.childHasFocus .focusedFieldDescription {
    display: inline;
    font-size: .8em;
}

.csrfPasswordPrompt {
    display: inline-block;
    background-color: #eee;
    border: 1px red solid;
    padding: 5px;
}

.reportHeader {
    text-align: right;
    width: 95%;
    padding-bottom: 5px;
}

span.leftOfImageLabel {
    padding-right: 5px;
}

span.rightOfImageLabel {
    padding-left: 5px;
}

/* Input focus glow */
input[type='text'],
input[type='password'],
textarea,
select {
    border:1px solid #777777;
}

input[type='text']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
    box-shadow: 0 0 2px #FF9900;
    -webkit-box-shadow: 0 0 2px #FF9900; 
    -moz-box-shadow: 0 0 2px #FF9900;
    border:1px solid #FF9900; 
}

.pipes { overflow:hidden; display:inline-block;}
.pipes li { 
    margin-left: -1px;
    border-left: solid 1px;
    float: left;
    padding: 1px 10px;
}

.icon {
    overflow:hidden;
    float:left;
    position:relative;
    width: 16px;
    height: 1px;
    padding-top: 16px;
    border: none;               /* mainly for inputs */
    background: transparent;    /* mainly for inputs */
    cursor: pointer;
}

.labeled_icon {
    padding: 0 0 0 20px;
    overflow:hidden;
    float:left;
    line-height: 16px; /* since the 'icon' will be positioned top left */
    min-height: 16px; /* don't cut off the 'icon' */
}

.search_button {
    background: transparent url(../Buttons/GoButtonGray.gif) top left no-repeat;
    padding-top: 20px;
    width: 23px;
}

.search_button:hover, .search_button:active {
    background: transparent url(../Buttons/GoButton.gif) top left no-repeat;
}

.ENABLED {
    background: transparent url(../Icons/enable.gif) top left no-repeat;
}

.DISABLED {
    background: transparent url(../Icons/disable.gif) top left no-repeat;
}

.icon_remove {
    background: transparent url(../Icons/delete.png) top left no-repeat;
}

.icon_remove:hover {
    background: transparent url(../Icons/delete_over.png) top left no-repeat;
}

.icon_remove_disabled {
    background: transparent url(../Icons/delete_disabled_gray.gif) top left no-repeat;
    cursor: not-allowed;
}

.ex_large_icon {
    padding-top: 64px;
    width: 64px;
}

.alert {
    background: url("http://cdn4.iconfinder.com/data/icons/softwaredemo/PNG/64x64/Warning.png") no-repeat scroll left top transparent;
}

.loading { background: transparent url(../Icons/indicator_arrows.gif) top left no-repeat; }

.bn {
    border:none;
}

.di {
    display: inline;
}

.dib {display:inline-block;}

ul.buttonStack li {
    padding-bottom: 2px;
}

button.naked,
button.image {
    padding: 0px !important;
}

button.naked {
    border: none;
    background: transparent;
}

button.labeledImage {
    font-size: 15.2px;
}

button.labeledImage[disabled]:hover span {
    text-decoration: none;
}

button.labeledImage:hover span {
    text-decoration: underline;
}

th.actions, td.actions {
    width: 1px;
    white-space: nowrap;
}

td.actions {
    text-align: left;
}

button.image {
    padding: 0px !important;
    width: 16px;
    height: 16px;
}