th {  
	text-align: left;
	font-size: 11px; 
}

td {  
	font-size: 11px; 
}

.pickerLink a {
	color: #FC6;
}

div.simplePopup {
  padding: 3px;
  position: absolute;
  border: 3px solid #888;
  width: auto;
  height: 50%;
  background-color: #eee;
  left: 25%;
  right: 25%;
  top: 30%
}

div.simplePopup h2 {
  margin: 0;
  padding: 0;
  font-size: 1.4em
}

table.resultsTable {
	width: 95%;	
  	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.resultsTable th {
	background: #E5E5E5;
	padding: .3em .5em;
  	border: 1px solid #ccc;
	color: 	#06C;
	font-size: 16px;
}

table.resultsTable td {
  padding: .4em .5em;
  border: 1px solid #ccc;
}

table.resultsTable th a {
	text-decoration: none !important;
}

table.resultsTable tr:hover td, table.resultsTable tr.hover {
	background-color: yellow;
	cursor: pointer;
}

table.resultsTable th a:active, span.navLink a:active {color: #06C}
table.resultsTable th a:visited, span.navLink a:visited {color: #06C}
table.resultsTable th a:link, span.navLink a:link {color: #06C}
table.resultsTable th a:hover, span.navLink a:hover {color: #06C}