th {  
	text-align: left;
	font-size: 11px; 
}

td {  
	font-size: 11px; 
}

.pickerLink a {
	color: #FC6;
}

div.simplePopup {
  padding: 3px;
  position: absolute;
  border: 3px solid #888;
  width: auto;
  height: 50%;
  background-color: #eee;
  left: 25%;
  right: 25%;
  top: 30%
}

div.ccPFPopup {
  padding: 3px;
  position: absolute;
  border: 1px solid #000000;
  width: 85px;
  height: 12px;
  background-color: #eee;
  left: 25%;
  right: 25%;
  top: 30%;
}

div.ccVarLoadPopup {
  padding: 3px;
  position: absolute;
  border: 1px solid #000000;
  width: 160px;
  height: 12px;
  background-color: #eee;
  left: 25%;
  right: 25%;
  top: 30%;
}

div.simplePopup h2 {
  margin: 0;
  padding: 0;
  font-size: 1.4em
}

/* Data results table styles */
table.resultsTable {
	width: 95%;	
  	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.resultsTable th {
	background: #E5E5E5;
	padding: .3em .5em;
  	border: 1px solid #ccc;
	color: 	#06C;
	font-size: 14px;
}

table.resultsTable td {
  padding: .4em .5em;
  border: 1px solid #ccc;
}

table.resultsTable th a {
	text-decoration: none !important;
}

table.activeResultsTable tr.hover {
	background-color: yellow;
	cursor: pointer;
}

table.resultsTable tr.noPointer {
	cursor: default !important;
}

table.resultsTable th a:active, span.navLink a:active {color: #06C}
table.resultsTable th a:visited, span.navLink a:visited {color: #06C}
table.resultsTable th a:link, span.navLink a:link {color: #06C}
table.resultsTable th a:hover, span.navLink a:hover {color: #06C}


/* Data results table styles */
table.miniResultsTable {
	width: 95%;	
  	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.miniResultsTable th {
	background: #E5E5E5;
	padding: .2em .5em;
  	border: 1px solid #ccc;
	color: 	#06C;
	font-size: 12px;
}

table.miniResultsTable td {
  text-align: left;
  padding: .3em .5em;
  border: 1px solid #ccc;
}

/* Name value pair styles */
table.nameValueTable {
	border: none;
	border-collapse: collapse; 
	width: 100%;
}

table.nameValueTable td.name {
	width: 40%;
	vertical-align: top;
	font-weight: bold;
}

table.nameValueTable td.value {
	width: 60%;
}

tr.altRow {
	background-color: #f6f6f6; 
}

/* Titled Container styles */
div.titledContainer{ 
	width: 100%;
	position: relative;
}
div.titledContainer .content {
	padding: 4px;
	border-left: 1px solid #0066CC;
	border-right: 1px solid #0066CC;
}

div.titledContainer .title table {
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
}

div.titledContainer .title {
	padding: 0px 9px 6px 9px;
	background: #0066CC;
	font-weight: bold;
    font-size: 12px;
    color: white;
}

div.titledContainer .lbottom {
	display: block;
	position: absolute;
	left: 0;
	width: 6px;
}

div.titledContainer .rbottom {
	position: absolute;
	right: 0;
	width: 6px;
}
	
div.titledContainer .top span, div.titledContainer .lbottom span, 
div.titledContainer .rbottom span {
	display: block;
	height: 1px;
    overflow: hidden; 
    background: #0066CC;
}

div.titledContainer .content .makesNoSense {
	padding: 0;
	margin: 0;
	height: 0;
	font-size: 0em;
}

div.titledContainer .t1{margin: 0 5px}
div.titledContainer .t2{margin: 0 3px}
div.titledContainer .t3{margin: 0 2px}
div.titledContainer .t4{margin: 0 1px;height: 1px;}
div.titledContainer .t5{margin: 0 1px;height: 1px;}
div.titledContainer .t6{margin: 0 0px;height: 1px;}

div.titledContainer .lbottom span.l1{margin: 0 1px 0 3px; width: 2px; height: 1px;}
div.titledContainer .l2{margin: 0 3px 0 2px; width: 1px;}
div.titledContainer .l3{margin: 0 4px 0 1px; width: 1px;}
div.titledContainer .l4{margin: 0 4px 0 1px; width: 1px;}
div.titledContainer .l5{margin: 0 5px 0 0px; width: 1px;}

div.titledContainer .r1{margin: 0 3px 0 1px; width: 2px; height: 2px}
div.titledContainer .r2{margin: 0 2px 0 3px; width: 1px;}
div.titledContainer .r3{margin: 0 1px 0 4px; width: 1px;}
div.titledContainer .r4{margin: 0 1px 0 4px; width: 1px;}
div.titledContainer .r5{margin: 0 0px 0 5px; width: 1px;}

div.titledContainer .bottomBar{
	position: relative;
	margin-bottom: 5px;
	top: 5px;
	left: 5px;
	right: 5px;
	margin-right: 10px;
	padding: 0;
	height: 1px;
    overflow: hidden; 
    background: #0066CC;
}

div.styledContainer .title, div.styledContainer .rop span, div.styledContainer .lbottom span, 
div.styledContainer .rbottom span {
	background-color: #06C !important;
	color: #fff !important;
}

div.styledContainer .content
{
	border-color: #06C !important;
}

/* Widget styles */

.widgetText {
	font-size: .75em;
}

.widgetColumns {
	width: 900px;
}

.widgetColumns .left {
	float: left; 
	width: 425px; 
}

.widgetColumns .right {
	float: right; 
	width: 425px; 
}

.widgetColumns .left div.section, .widgetColumns .right div.section {
}

.widgetColumns div.titledContainer {
	margin-bottom: 16px;
	font-size: .75em;
}

div.widgetInternalSectionHeader {
	font-weight: bold;
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-left: 5px;
}

span.widgetInternalSectionHeader {
	font-weight: bold;
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-left: 5px;
}

div.widgetInternalSection {
    margin-top: 5px;
	margin-left: 20px;
}

div.widgetPopup {
	position: absolute;
	top: 50px; 
	right: 0px; 
	margin: 15px;
	padding: 5px;
	background-color: #FFF68F;
	border: 1px solid black;
	width: 350px;
}

.highlighted {
	background-color: yellow;	
}

.popUpDiv {
    position: absolute;
    z-index: 100;
    overflow: hidden;
}

.popUpDiv iframe
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
}

#timestampHelper, #valueHelper {
	top:325px;
	left:50px;
	width: 50%;
	background-color:#FFFFCC;
}

th.widgetInternalSectionSubHeader {
	background: #F0F0F0 ! important;
	font-weight: lighter ! important; 
	font-size: 12px ! important;
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-left: 5px;
	
}