h2 { /*Page Header*/
  margin: 0;
}

.pickerLink a {
	color: #FC6;
}

.titledContainer .content h4 {
  margin-bottom: 2px;
  margin-top: 8px;
  font-size: .9em;
}

form {
  margin: 0;
  padding: 0;
}

div.simplePopup {
  position: fixed;
  width: 800px;
  border: 12px solid #666;
  background-color: white;
  left: 75px;
  top: 150px;
}

#alertSpan a {
  color: #FF4B4F !important;
}

#alertView {
  font-size: .8em;
}

#alertBody {
  width: 785px;
  overflow: auto; 
  height: 230px
}

#alertView table {
  border-collapse: collapse;
  width: 765px;
}

#alertView table tbody tr td {
  border-bottom: 1px solid #ccc;
}

#alertView th {
  border-bottom: 2px solid #bbb;
  font-size: 1.2em;
  text-align: left;
}

div.ccPFPopup {
  padding: 3px;
  position: absolute;
  border: 1px solid #000000;
  width: 85px;
  height: 12px;
  background-color: #eee;
  left: 25%;
  right: 25%;
  top: 30%;
}

div.ccVarLoadPopup {
  padding: 3px;
  position: absolute;
  border: 1px solid #000000;
  width: 160px;
  height: 12px;
  background-color: #eee;
  left: 25%;
  right: 25%;
  top: 30%;
}


div.internalSectionHeader {
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-left: 5px;
}

span.internalSectionHeader {
	padding-top: 5px; 
	padding-bottom: 5px; 
}

/* Data results table styles */
/* if you dont want a table embedded within a styled table to inherit parent's style */
/* add to the elements as needed */
table.noStyle {
}

table.noStyle th {
}

table.noStyle td {
    border: 0px !important;
}

/* Data results table styles */
table.resultsTable {
	width: 95%;	
  	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size:.8em;
}

table.resultsTable th {
	background: #F7F7F7;
	padding: .3em .5em;
  	border: 1px solid #ccc;
	color: 	#06C;
	font-size: 14px;
	background-image: url(../Icons/boxContainerBg26px.gif);
	background-position: left bottom;
	background-repeat:repeat-x;
}

table.resultsTable td {
  padding: .4em .5em;
  border: 1px solid #ccc;
}

table.resultsTable th a {
	text-decoration: none !important;
}

table.activeResultsTable tr.hover {
	background-color: yellow;
	cursor: pointer;
}

table.resultsTable tr.noPointer {
	cursor: default !important;
}

table.resultsTable th a:active, span.navLink a:active {color: #06C}
table.resultsTable th a:visited, span.navLink a:visited {color: #06C}
table.resultsTable th a:link, span.navLink a:link {color: #06C}
table.resultsTable th a:hover, span.navLink a:hover {color: #06C}


/* Data results table styles */
table.miniResultsTable {
	width: 95%;	
  	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.miniResultsTable th {
	background: #F8F8F8;
	padding: .2em .5em;
  	border: 1px solid #ccc;
	color: 	#06C;
	font-size: 12px;
	background-image: url(../Icons/boxContainerBg19px.gif);
	background-position: left bottom;
	background-repeat:repeat-x;
}

table.miniResultsTable td {
  text-align: left;
  padding: .3em .5em;
  border: 1px solid #ccc;
}

/* Data results table styles */
table.miniResultsTableLeft {
	width: 95%;	
  	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.miniResultsTableLeft td.label {
    background: #E5E5E5;
	padding: .2em .5em;
  	border: 1px solid #ccc;
	color: 	#06C;
	font-size: 12px;
	font-weight: bold;
}

table.miniResultsTableLeft td {
    text-align: left;
    padding: .3em .5em;
    border: 1px solid #ccc;
}




/* Compact Result Table - TOP*/
table.compactResultsTable {
	width: 95%;
	border-collapse: collapse;
}

table.compactResultsTable th {
	border-bottom: 1px solid #CCCCCC;
	color: 	#000000;
	font-size: 14px;
	font-weight: 600;
	text-align:left;
	vertical-align:bottom;
	
}

table.compactResultsTable td {
    padding: 2px 2px;
    font-size: 11px;
    padding-top:3px;
}

table.compactResultsTable td.label {
    padding: 2px 2px;
    font-size: 11px;
    font-weight: 600;
}

.compactResultTableDescription{
	font-size: 11px;
	font-weight: bold;
	display:inline;
}




/* Name value pair styles */
table.nameValueTable {
	border: none;
	border-collapse: collapse; 
	width: 100%;
}

table.nameValueTable td {
	padding-top:5px;
}

table.nameValueTable td.name {
	vertical-align: top;
	font-weight: bold;
	padding-right:10px;
}

.altRow {
	background-color: #f6f6f6; 
}

/* Titled Container styles */
div.roundedContainer { 
	width: 100%;
	position: relative;
}
div.roundedContainer .roundedContainer_content {
	padding: 4px;
	border-left: 1px solid #0066CC;
	border-right: 1px solid #0066CC;
}

div.roundedContainer .roundedContainer_title table {
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
}

div.roundedContainer .roundedContainer_titleBar {
	padding: 0px 9px 6px 9px;
	background: #0066CC;
	font-weight: bold;
    font-size: 12px;
    color: white;
}

div.roundedContainer .lbottom {
	display: block;
	position: absolute;
	left: 0;
	width: 6px;
}

div.roundedContainer .rbottom {
	position: absolute;
	right: 0;
	width: 6px;
}
	
div.roundedContainer .top span, div.roundedContainer .lbottom span, 
div.roundedContainer .rbottom span {
	display: block;
	height: 1px;
    overflow: hidden; 
    background: #0066CC;
}

div.roundedContainer .roundedContainer_content .makesNoSense {
	padding: 0;
	margin: 0;
	height: 0;
	font-size: 0em;
}

div.roundedContainer .t1{margin: 0 5px}
div.roundedContainer .t2{margin: 0 3px}
div.roundedContainer .t3{margin: 0 2px}
div.roundedContainer .t4{margin: 0 1px;height: 1px;}
div.roundedContainer .t5{margin: 0 1px;height: 1px;}
div.roundedContainer .t6{margin: 0 0px;height: 1px;}

div.roundedContainer .lbottom span.l1{margin: 0 1px 0 3px; width: 2px; height: 1px;}
div.roundedContainer .l2{margin: 0 3px 0 2px; width: 1px;}
div.roundedContainer .l3{margin: 0 4px 0 1px; width: 1px;}
div.roundedContainer .l4{margin: 0 4px 0 1px; width: 1px;}
div.roundedContainer .l5{margin: 0 5px 0 0px; width: 1px;}

div.roundedContainer .r1{margin: 0 3px 0 1px; width: 2px; height: 2px}
div.roundedContainer .r2{margin: 0 2px 0 3px; width: 1px;}
div.roundedContainer .r3{margin: 0 1px 0 4px; width: 1px;}
div.roundedContainer .r4{margin: 0 1px 0 4px; width: 1px;}
div.roundedContainer .r5{margin: 0 0px 0 5px; width: 1px;}

div.roundedContainer .bottomBar{
	position: relative;
	margin-bottom: 5px;
	top: 5px;
	left: 5px;
	right: 5px;
	margin-right: 10px;
	padding: 0;
	height: 1px;
    overflow: hidden; 
    background: #0066CC;
}

/* Widget styles */

.widgetText {
	font-size: .75em;
}

.widgetColumns {
    border-collapse: collapse; /* removes an extra pixel from the center */
}

.widgetColumns td.widgetColumnCell .widgetContainer {
  padding: 9px;
}
.widgetColumns td.widgetColumnCell {
  padding: 0;
  width: 50%;
}

.widgetColumns {
  margin: auto 0;
  width: 100%;
}

div.widgetInternalSectionHeader {
	font-weight: bold;
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-left: 5px;
}

span.widgetInternalSectionHeader {
	font-weight: bold;
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-left: 5px;
}

div.widgetInternalSection {
    margin-top: 5px;
	margin-left: 20px;
}

div.widgetPopup {
	position: absolute;
	top: 0px; 
	right: 0px; 
	margin: 15px;
	padding: 5px;
	background-color: #FFF68F;
	border: 1px solid black;
	width: 350px;
}

.highlighted {
	background-color: yellow;	
}

.disabled {
	background-color: #F0F0F0;
	color: gray;
}

.disabled a:link {
	color: gray;
}

.popUpDiv {
    position: absolute;
    z-index: 100;
    overflow: hidden;
}

.popUpDiv iframe
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
}

#timestampHelper, #valueHelper {
	background-color:#FFFFCC;
}

th.widgetInternalSectionSubHeader {
	background: #F0F0F0 ! important;
	font-weight: lighter ! important; 
	font-size: 12px ! important;
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-left: 5px;
	
}

div.triangleContainer .triangleContainer_titleBar .controls { 
    cursor: pointer;
}

div.boxContainer .boxContainer_titleBar, table.boxContainer td.boxContainer_titleBar { 
	background-color: #F7F7F7;
	border: 1px solid #BBBBBB;
	padding: .25em .5em; 
	background-image: url(../Icons/boxContainerBg26px.gif);
	background-position: left bottom;
	background-repeat:repeat-x;
	text-align: left;
}

div.boxContainer .boxContainer_titleBar .boxContainer_title { 
	color: #0066CC;
	line-height: 1.5em;
	font-weight: bold;
    font-size: 12px;
    height: 100%;
}

div.boxContainer .boxContainer_titleBar .controls { 
	float: right;
	padding-top: 1px;
	text-align: center;
	cursor: pointer;
}

div.boxContainer .boxContainer_titleBar .controls .minMax { 
	background-color: #BBBBBB;
  	border: none;
	height: 16px;
	width: 16px;
  	background-repeat: no-repeat;
  	/*background-image: url(../Icons/clearbits/bg_rounded.gif);*/
	cursor: pointer;
}

div.boxContainer .boxContainer_content { 
	padding: .5em;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
}

table.boxContainer {
    border: 1px solid #BBBBBB; 
    border-collapse: collapse;
}

table.boxContainer td.boxContainer_content {
    padding: 10px 10px;
}

/* SECTION CONTAINER */
div.sectionContainer .sectionContainer_titleBar {
  padding-bottom:5px;
}

div.sectionContainer .sectionContainer_titleBar .sectionContainer_title {
   color:#0066CC;
   font-size:16px;
   font-weight:bold;
}

div.sectionContainer .sectionContainer_titleBar .sectionContainer_blackTitle {
   color:#000000;
   font-size:16px;
   font-weight:bold;
}

div.sectionContainer .sectionContainer_content {
   padding: .5em;
   border-top:1px #CCCCCC solid;
}

.widgetColumns td.widgetColumnCell .titledContainerOverride {
  margin: 0px 0px;
}

.pointer {
	cursor: pointer;
}

.simpleReportHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000}
.simpleReportSubHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #000000}

.notAuthorized {
	color:red;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}

#cannonUpdaterErrorDiv {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
    background: red; 
    color: white; 
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

.okGreen {
    color:#006633;
}

.errorRed {
    color:#CC0000;
}

.subtleGray {
    color:#777777;
}

div.progressBarBorder {
    height:12px; width:100px; border:1px solid black; padding:0px; background-color:#CCCCCC;
}
div.progressBarInner {
    height: 10px; width: 0px; padding:1px; overflow:hidden; background-color:#006633;
}
span.progressBarPercentComplete {
    padding-left:6px;padding-right:10px;display:inline;font-size:11px;
}
span.progressBarCompletedCount {
    font-size:11px;display:inline;
}

