<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dbeditor/src/com/cannontech/dbeditor/DatabaseEditor.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cannontech.dbeditor.DatabaseEditor"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dbeditor"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcom.cannontech.yukon.forceRemoteLogin=false&#13;&#10;-Dcom.cooperindustries.dev.wsdir=&quot;${workspace_loc}&quot;"/>
</launchConfiguration>
