@import url("../CannonStyle.css");
a.Link3:active {color: #00ffcc}
a.Link3:visited {color: #00ffcc}
a.Link3:link {color: #00ffcc}
a.Link3:hover {color: #00ffcc}
a.Link4:active {color: #007687}
a.Link4:visited {color: #007687}
a.Link4:link {color: #007687}
a.Link4:hover {color: #007687}

.NavHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ffff99; font-style: italic}
.PageHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #00ffcc; font-style: italic}

.Nav {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #00ffcc}
.Background {  background-color: #007687}
.tooltip { position:absolute; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; background-color: #007687; border: 3px #007687 outset; visibility: hidden; clip:  rect(   ); padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px}

.tempText2 {  font-family: Arial, Helvetica, sans-serif; font-size: 35px; font-style: normal; color: #FF0000}
.optmenu2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; background-color: #007687; color: #FFFFFF;   border: 1px #007687; cursor:default; width:120 px;}
.SchedText { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #007687 }

.cal_day_header {  background-color: #007687; height: 14px; width: 20px; font-size: 9px; font-weight: bold; color: #FFFFFF; text-align: center; cursor: default; border: 1px #FFFFFF outset; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
.cal_day_mouseover { font-size: 9px; font-weight: bold; color:#007687; background-color: buttonface; height: 14px; width: 20px; text-align: center; cursor: default; border: 1px #FFFFFF outset; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
.cal_day_selected {  font-size: 9px; font-weight: bold; background-color: #ffff99; height: 12px; width: 18px; text-align: center; cursor: default; border: 1px #CCCCCC inset; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
