body {
    background: #eee;
}

img {
	border: none;
}
#error {
    background: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    border: solid 2px #888;
}
  
#errorMain {
    font-weight: bold;
    font-size: 150%;
}
  
#errorFriendly {
    font-weight: bold;
    font-size: 130%;
    color: #D14836;
}
  
#stackTrace {
    text-align: left;
    font-size: 11px;
}
