<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <description>
      Web specific beans could be placed here.
      Currently, beans are loaded via a parent context specified in web.xml.
    </description>
    
    <bean id="yukonLoginCheckInterceptor" class="com.cannontech.web.util.YukonLoginInterceptor"/>
    
    <bean id="localMasterConfig" class="com.cannontech.common.config.MasterConfigHelper"
          factory-method="getLocalConfiguration">
    </bean>

    <bean id="timerTaskUtil" class="com.cannontech.stars.web.util.TimerTaskUtil">
      <property name="timer" ref="globalScheduledExecutor"/>
    </bean>
    
    <bean id="checkLoginIntercepter" class="com.cannontech.web.util.CheckLoginIntercepter"/>
  
    <bean id="menuBuilder" class="com.cannontech.web.menu.CommonModuleBuilder" init-method="processConfigFile">
      <constructor-arg value="/WEB-INF/module_config.xml"/>
      <property name="userCheckerFactory" ref="rolePropertyUserCheckerFactory"/>
    </bean>
    
    <bean id="widgetInput.deviceId" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="deviceId"/>
        <property name="description" value="the id of the Yukon device"/>
        <property name="required" value="true"/>
    </bean>
    
    <bean id="widgetInput.pointId" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="pointId"/>
        <property name="description" value="the id of the Yukon point"/>
        <property name="required" value="true"/>
    </bean>

    <bean id="accountInformationWidget"
    	class="com.cannontech.web.widget.AccountInformationWidget">
    	<property name="identityPath" value="common/deviceIdentity.jsp" />
    	<property name="title" value="Account Information" />
    	<property name="lazyLoad" value="true" />
    	<property name="inputs">
    		<set>
    			<ref local="widgetInput.deviceId" />
    		</set>
    	</property>
    	<property name="accountInfoDao">
    		<ref bean="mspAccountInfoDao" />
    	</property>
    </bean>

	<bean id="deviceGroupWidget"
    	class="com.cannontech.web.widget.DeviceGroupWidget">
    	<property name="title" value="Device Groups"/>
    	<property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="deviceGroupDao" ref="deviceGroupDao"/>
        <property name="deviceGroupEditorDao" ref="deviceGroupEditorDao"/>
        <property name="deviceGroupMemberEditorDao" ref="deviceGroupMemberEditorDao"/>
        <property name="meterDao" ref="meterDao"/>
    </bean>

	<bean id="touWidget"
    	class="com.cannontech.web.widget.TouWidget">
    	<property name="title" value="TOU"/>
    	<property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="attributeService" ref="attributeService"/>
        <property name="meterDao" ref="meterDao"/>
        <property name="meterReadService" ref="meterReadService"/>
        <property name="touDao" ref="touDao"/>
    </bean>

    <bean id="readCurrentTimeWidget"
    	class="com.cannontech.web.widget.ReadCurrentTimeWidget">
    	<property name="title" value="Get Current Time"/>
    </bean>
    
    <bean id="pointValueDisplayWidget"
    	class="com.cannontech.web.widget.PointValueDisplayWidget">
    	<property name="title" value="Point Value Widget"/>
        <property name="identityPath" value="common/pointIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.pointId"/>
           </set>
        </property>
        <property name="pointDao" ref="pointDao"/>
    </bean>

    <bean id="disconnectMeterWidget"
    	class="com.cannontech.web.widget.DisconnectMeterWidget">
    	<property name="title" value="Disconnect"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
		<property name="meterReadService" ref="meterReadService"/>
        <property name="attributeService" ref="attributeService"/>
        <property name="meterDao" ref="meterDao"/>
        <property name="stateDao" ref="stateDao"/>
        <property name="dynamicDataSource" ref="dynamicDataSource"/>
        <property name="commandRequestExecutor" ref="commandRequestExecutor"/>
    </bean>
    
    <bean id="meterOutagesWidget"
    	class="com.cannontech.web.widget.MeterOutagesWidget">
    	<property name="title" value="Outages"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="meterReadService" ref="meterReadService"/>
        <property name="attributeService" ref="attributeService"/>
        <property name="meterDao" ref="meterDao"/>
        <property name="pointFormattingService" ref="pointFormattingService"/>
        <property name="commandRequestExecutor" ref="commandRequestExecutor"/>
    </bean>
    
    <bean id="meterInformationWidget"
    	class="com.cannontech.web.widget.MeterInformationWidget">
    	<property name="title" value="Meter Information"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="meterDao" ref="meterDao"/>
        <property name="paoGroupsWrapper" ref="paoGroupsWrapper"/>
    </bean>
    
    <bean id="meterReadingsWidget"
    	class="com.cannontech.web.widget.MeterReadingsWidget">
    	<property name="title" value="Meter Readings"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
              <bean class="com.cannontech.web.widget.support.SimpleWidgetInput">
                  <property name="name" value="startOffset"/>
                  <property name="description" value="the number of prior day's of point history to display"/>
                  <property name="required" value="false"/>
              </bean>
           </set>
        </property>
        <property name="meterReadService" ref="meterReadService"/>
        <property name="attributeService" ref="attributeService"/>
        <property name="meterDao" ref="meterDao"/>
        <property name="rphDao" ref="rphDao"/>
        <property name="attributesToShow">
          <list>
            <value>USAGE</value>
            <value>PEAK_DEMAND</value>
            <value>DEMAND</value>
            <value>VOLTAGE</value>
          </list>
        </property>
        <property name="defaultStartDaysOffset">
        	<value>93</value>
        </property>
    </bean>
    
    <bean id="profilePeakWidget"
    	class="com.cannontech.web.widget.ProfilePeakWidget">
    	<property name="title" value="Profile Period"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="commandRequestExecutor" ref="commandRequestExecutor" />
        <property name="profilePeakDao" ref="profilePeakDao" />
        <property name="meterDao" ref="meterDao"/>
        <property name="dateFormattingService" ref="dateFormattingService"/>
    </bean>
    
    <bean id="miniTdcWidget"
    	class="com.cannontech.web.widget.MiniTdcWidget">
    	<property name="title" value="Mini TDC"/>
        <property name="identityPath" value="miniTdcWidget/identity.jsp" />
        <property name="inputs">
           <set>
                <bean class="com.cannontech.web.widget.support.SimpleWidgetInput">
                    <property name="name" value="displayNumber"/>
                    <property name="description" value="the number of a TDC display"/>
                    <property name="required" value="true"/>
                </bean>
           </set>
        </property>
        <property name="jdbcTemplate" ref="simpleJdbcTemplate"/>
        <property name="pointDao" ref="pointDao"/>
        <property name="paoDao" ref="paoDao"/>
    </bean>
    
    <!-- Update Service -->
        
    <bean id="dataUpdaterService" class="com.cannontech.web.updater.DefaultDataUpdaterService"
        abstract="false" singleton="true" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="timeSource">
            <ref bean="timeSource" />
        </property>
        <property name="backs">
            <map>
                <entry key="POINT">
                    <ref local="pointUpdateBackingService" />
                </entry>
            </map>
        </property>
    </bean>
    
    <bean id="pointUpdateBackingService"
        class="com.cannontech.web.updater.point.PointUpdateBackingService" abstract="false"
        singleton="true" lazy-init="default" autowire="default" dependency-check="default">
        <property name="maxCacheSize">
            <value type="int">1000</value>
        </property>
        <property name="asyncDataSource">
            <ref bean="asyncDynamicDataSource" />
        </property>
        <property name="pointFormattingService">
            <ref bean="pointFormattingService" />
        </property>
        <property name="timeSource">
            <ref bean="timeSource" />
        </property>
        <property name="maxOverSize">
            <value type="int">100</value>
        </property>
    </bean>
    
    <bean id="pointDataUpdateRegistrationService"
        class="com.cannontech.web.updater.point.PointDataRegistrationServiceImpl" abstract="false"
        singleton="true" lazy-init="default" autowire="default" dependency-check="default">
        <property name="updaterService">
            <ref local="dataUpdaterService" />
        </property>
    </bean>
    
    <bean id="pointValueTagPrototype" class="com.cannontech.web.updater.point.PointValueTag"
        abstract="false" singleton="true" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="registrationService" ref="pointDataUpdateRegistrationService"/>
    </bean>

    <bean id="deviceNameTagPrototype" class="com.cannontech.web.amr.taglib.DeviceNameTag"
        abstract="false" singleton="true" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="meterDao" ref="meterDao"/>
    </bean>

    <bean id="dataUpdaterCallbackTagPrototype" class="com.cannontech.web.updater.DataUpdaterCallbackTag"
        abstract="false" singleton="true" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="registrationService" ref="dataUpdaterService"/>
    </bean>

    <bean id="pointValueFormatterTagPrototype" class="com.cannontech.web.util.PointValueFormatterTag"
        abstract="false" singleton="true" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="pointFormattingService" ref="pointFormattingService"/>
    </bean>

    <bean id="trendWidget"
    	class="com.cannontech.web.widget.TrendWidget">
    	<property name="title" value="Trend"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="deviceDao" ref="deviceDao" />
        <property name="attributeService" ref="attributeService" />
        <property name="dateFormattingService" ref="dateFormattingService" />
        <property name="supportedAttributeGraphSet">
			<set>
				<bean class="com.cannontech.common.chart.model.AttributeGraphType">
					<property name="attribute" value="USAGE"/>
					<property name="graphType" value="COLUMN"/>
					<property name="converterType" value="NORMALIZED_DELTA"/>
					<property name="label" value="Usage (Normalized)"/>
					<property name="description">
						<value>
							<![CDATA[The <b>Normalized Usage</b> graph is a normalized view of the usage data.<br><br>  Each
							point on the graph is generated using the following formula: (reading - 
							previousReading) / (days between readings)]]>
						</value>
					</property>
					
				</bean>
				<bean class="com.cannontech.common.chart.model.AttributeGraphType">
					<property name="attribute" value="DEMAND"/>
					<property name="graphType" value="LINE"/>
					<property name="converterType" value="RAW"/>
					<property name="label" value="Demand"/>
					<property name="description">
						<value>
							<![CDATA[Graph of raw Demand data.]]>
						</value>
					</property>
				</bean>
				<bean class="com.cannontech.common.chart.model.AttributeGraphType">
					<property name="attribute" value="LOAD_PROFILE"/>
					<property name="graphType" value="LINE"/>
					<property name="converterType" value="RAW"/>
					<property name="label" value="Load Profile"/>
					<property name="description">
						<value>
							<![CDATA[Graph of raw Load Profile data.]]>
						</value>
					</property>
				</bean>
        	</set>
        </property>
    </bean>

    <bean id="attributeResolverTagPrototype" class="com.cannontech.web.util.AttributeResolverTag"
        abstract="false" singleton="true" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="deviceDao" ref="deviceDao" />
        <property name="attributeService" ref="attributeService"/>
    </bean>
    
    <bean id="formatDateTagPrototype" class="com.cannontech.web.util.FormatDateTag"
    	abstract="false" singleton="false" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="dateFormattingService" ref="dateFormattingService"/>
    </bean>	
    
</beans>