<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <tx:annotation-driven/>

    <bean id="localMasterConfig" class="com.cannontech.common.config.MasterConfigHelper"
          factory-method="getLocalConfiguration">
    </bean>

    <bean id="timerTaskUtil" class="com.cannontech.stars.web.util.TimerTaskUtil">
      <property name="timer" ref="globalScheduledExecutor"/>
    </bean>
    
    <bean id="menuBuilder" class="com.cannontech.web.menu.CommonModuleBuilder" init-method="processConfigFile">
      <constructor-arg value="/WEB-INF/module_config.xml"/>
      <property name="userCheckerFactory" ref="rolePropertyUserCheckerFactory"/>
    </bean>
    
    <bean id="widgetInput.deviceId" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="deviceId"/>
        <property name="description" value="the id of the Yukon device"/>
        <property name="required" value="true"/>
    </bean>
    
    <bean id="widgetInput.pointId" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="pointId"/>
        <property name="description" value="the id of the Yukon point"/>
        <property name="required" value="true"/>
    </bean>

    <bean id="widgetInput.constraint" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="constraint"/>
        <property name="description" value="a FQN for a lucene searcher constaint"/>
        <property name="required" value="true"/>
    </bean>

    <bean id="widgetInput.permission" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="permission"/>
        <property name="description" value="the name of one of the Permission enums"/>
        <property name="required" value="true"/>
    </bean>

    <bean id="widgetInput.permissionAllow" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="allow"/>
        <property name="description" value="whether this permission is being allowed or denied"/>
        <property name="required" value="true"/>
    </bean>

    <bean id="widgetInput.groupId" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="groupId"/>
        <property name="description" value="the id of ta Yukon user group"/>
        <property name="required" value="true"/>
    </bean>

    <bean id="widgetInput.userId" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="userId"/>
        <property name="description" value="the id of a Yukon user"/>
        <property name="required" value="true"/>
    </bean>

    <bean id="accountInformationWidget"
    	class="com.cannontech.web.widget.AccountInformationWidget">
    	<property name="identityPath" value="common/deviceIdentity.jsp" />
    	<property name="title" value="Account Information" />
    	<property name="lazyLoad" value="true" />
    	<property name="inputs">
    		<set>
    			<ref local="widgetInput.deviceId" />
    		</set>
    	</property>
    	<property name="accountInfoDao">
    		<ref bean="mspAccountInfoDao" />
    	</property>
    </bean>

	<bean id="deviceGroupWidget"
    	class="com.cannontech.web.widget.DeviceGroupWidget">
    	<property name="title" value="Device Groups"/>
    	<property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="deviceGroupDao" ref="deviceGroupDao"/>
        <property name="deviceGroupEditorDao" ref="deviceGroupEditorDao"/>
        <property name="deviceGroupMemberEditorDao" ref="deviceGroupMemberEditorDao"/>
        <property name="meterDao" ref="meterDao"/>
        <property name="deviceGroupService" ref="deviceGroupService"/>
    </bean>

	<bean id="touWidget"
    	class="com.cannontech.web.widget.TouWidget">
    	<property name="title" value="TOU"/>
    	<property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="attributeService" ref="attributeService"/>
        <property name="meterDao" ref="meterDao"/>
        <property name="meterReadService" ref="meterReadService"/>
        <property name="touDao" ref="touDao"/>
    </bean>

    <bean id="readCurrentTimeWidget"
    	class="com.cannontech.web.widget.ReadCurrentTimeWidget">
    	<property name="title" value="Get Current Time"/>
    </bean>
    
    <bean id="pointValueDisplayWidget"
    	class="com.cannontech.web.widget.PointValueDisplayWidget">
    	<property name="title" value="Point Value Widget"/>
        <property name="identityPath" value="common/pointIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.pointId"/>
           </set>
        </property>
        <property name="pointDao" ref="pointDao"/>
    </bean>

    <bean id="disconnectMeterWidget"
    	class="com.cannontech.web.widget.DisconnectMeterWidget">
    	<property name="title" value="Disconnect"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
		<property name="meterReadService" ref="meterReadService"/>
        <property name="attributeService" ref="attributeService"/>
        <property name="meterDao" ref="meterDao"/>
        <property name="stateDao" ref="stateDao"/>
        <property name="dynamicDataSource" ref="dynamicDataSource"/>
        <property name="commandRequestExecutor" ref="commandRequestExecutor"/>
        <property name="commandAuthorizationService" ref="paoCommandAuthorizationService" />
    </bean>
    
    <bean id="meterOutagesWidget"
    	class="com.cannontech.web.widget.MeterOutagesWidget">
    	<property name="title" value="Outages"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="meterReadService" ref="meterReadService"/>
        <property name="attributeService" ref="attributeService"/>
        <property name="meterDao" ref="meterDao"/>
        <property name="pointFormattingService" ref="pointFormattingServiceForRequest"/>
    </bean>
    
    <bean id="meterInformationWidget"
    	class="com.cannontech.web.widget.MeterInformationWidget">
    	<property name="title" value="Meter Information"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="meterDao" ref="meterDao"/>
        <property name="paoGroupsWrapper" ref="paoGroupsWrapper"/>
        <property name="commandRequestExecutor" ref="commandRequestExecutor"/>
    </bean>
    
    <bean id="meterReadingsWidget"
    	class="com.cannontech.web.widget.MeterReadingsWidget">
    	<property name="title" value="Meter Readings"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
              <bean class="com.cannontech.web.widget.support.SimpleWidgetInput">
                  <property name="name" value="startOffset"/>
                  <property name="description" value="the number of prior day's of point history to display"/>
                  <property name="required" value="false"/>
              </bean>
           </set>
        </property>
        <property name="meterReadService" ref="meterReadService"/>
        <property name="attributeService" ref="attributeService"/>
        <property name="meterDao" ref="meterDao"/>
        <property name="rphDao" ref="rphDao"/>
        <property name="attributesToShow">
          <list>
            <value>USAGE</value>
            <value>PEAK_DEMAND</value>
            <value>DEMAND</value>
            <value>VOLTAGE</value>
          </list>
        </property>
    </bean>
    
    <bean id="profilePeakWidget"
    	class="com.cannontech.web.widget.ProfilePeakWidget">
    	<property name="title" value="Profile Period"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="peakReportService" ref="peakReportService" />
        <property name="dateFormattingService" ref="dateFormattingService"/>
        <property name="meterDao" ref="meterDao"/>
        <property name="commandAuthorizationService" ref="paoCommandAuthorizationService" />
    </bean>
    
    <bean id="miniTdcWidget"
    	class="com.cannontech.web.widget.MiniTdcWidget">
    	<property name="title" value="Mini TDC"/>
        <property name="identityPath" value="miniTdcWidget/identity.jsp" />
        <property name="inputs">
           <set>
                <bean class="com.cannontech.web.widget.support.SimpleWidgetInput">
                    <property name="name" value="displayNumber"/>
                    <property name="description" value="the number of a TDC display"/>
                    <property name="required" value="true"/>
                </bean>
           </set>
        </property>
        <property name="jdbcTemplate" ref="simpleJdbcTemplate"/>
        <property name="pointDao" ref="pointDao"/>
        <property name="paoDao" ref="paoDao"/>
    </bean>
    
    <bean id="profileWidget"
    	class="com.cannontech.web.widget.ProfileWidget">
    	<property name="title" value="Profile"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="loadProfileService" ref="longLoadProfileService" />
        <property name="emailService" ref="emailService"/>
        <property name="paoDao" ref="paoDao"/>
        <property name="deviceDao" ref="deviceDao"/>
        <property name="meterDao" ref="meterDao"/>
        <property name="dbPersistentDao" ref="dbPersistentDao"/>
        <property name="dateFormattingService" ref="dateFormattingService"/>
        <property name="deviceErrorTranslatorDao" ref="deviceErrorTranslator"/>
        <property name="attributeService" ref="attributeService"/>
        <property name="yukonUserDao" ref="yukonUserDao"/>
        <property name="contactDao" ref="contactDao"/>
        <property name="simpleReportService" ref="simpleReportService"/>
        
    </bean>
    
    <bean id="userPermissionEditorWidget"
    	class="com.cannontech.web.widget.UserPermissionEditorWidget">
    	<property name="title" value="User Permission Editor"/>
        <property name="identityPath" value="common/userPermissionIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.constraint"/>
              <ref local="widgetInput.permission"/>
              <ref local="widgetInput.permissionAllow"/>
              <ref local="widgetInput.userId"/>
           </set>
        </property>
        <property name="yukonUserDao" ref="yukonUserDao"/>
        <property name="paoDao" ref="paoDao"/>
        <property name="paoGroups" ref="paoGroupsWrapper"/>
        <property name="editorService" ref="userEditorService"/>
    </bean>
    
    <bean id="groupPermissionEditorWidget"
    	class="com.cannontech.web.widget.GroupPermissionEditorWidget">
    	<property name="title" value="Group Permission Editor"/>
        <property name="identityPath" value="common/groupPermissionIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.constraint"/>
              <ref local="widgetInput.permission"/>
              <ref local="widgetInput.permissionAllow"/>
              <ref local="widgetInput.groupId"/>
           </set>
        </property>
        <property name="yukonGroupDao" ref="yukonGroupDao"/>
        <property name="paoDao" ref="paoDao"/>
        <property name="paoGroups" ref="paoGroupsWrapper"/>
        <property name="editorService" ref="groupEditorService"/>
    </bean>

    <bean id="peakReportWidget"
    	class="com.cannontech.web.widget.PeakReportWidget">
    	<property name="title" value="Peak Summary Report"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="peakReportService" ref="peakReportService" />
        <property name="meterDao" ref="meterDao"/>
        <property name="dateFormattingService" ref="dateFormattingService"/>
        <property name="attributeService" ref="attributeService"/>
        <property name="commandAuthorizationService" ref="paoCommandAuthorizationService" />
    </bean>
    
    <!-- Update Service -->
        
    <bean id="dataUpdaterService" class="com.cannontech.web.updater.DefaultDataUpdaterService"
        abstract="false" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="timeSource">
            <ref bean="timeSource" />
        </property>
        <property name="backs">
            <map>
                <entry key="POINT">
                    <ref local="pointUpdateBackingService" />
                </entry>
            </map>
        </property>
    </bean>
    
    <bean id="pointFormattingServiceForRequest" factory-bean="pointFormattingService"
        factory-method="getCachedInstance" scope="request">
        <!--  <aop:scoped-proxy proxy-target-class="false"/> after Spring 2.0.3 -->
        <aop:scoped-proxy />
    </bean>
    
    <bean id="pointUpdateBackingService"
        class="com.cannontech.web.updater.point.PointUpdateBackingService">
        <property name="maxCacheSize">
            <value type="int">1000</value>
        </property>
        <property name="asyncDataSource">
            <ref bean="asyncDynamicDataSource" />
        </property>
        <property name="pointFormattingService">
            <ref bean="pointFormattingServiceForRequest" />
        </property>
        <property name="timeSource">
            <ref bean="timeSource" />
        </property>
        <property name="maxOverSize">
            <value type="int">100</value>
        </property>
    </bean>
    
    <bean id="pointDataUpdateRegistrationService"
        class="com.cannontech.web.updater.point.PointDataRegistrationServiceImpl" abstract="false">
        <property name="updaterService">
            <ref local="dataUpdaterService" />
        </property>
    </bean>
    
    <bean id="pointValueTagPrototype" class="com.cannontech.web.updater.point.PointValueTag">
        <property name="registrationService" ref="pointDataUpdateRegistrationService"/>
    </bean>

    <bean id="deviceNameTagPrototype" class="com.cannontech.web.amr.taglib.DeviceNameTag">
        <property name="meterDao" ref="meterDao"/>
        <property name="paoDao" ref="paoDao" />
    </bean>

    <bean id="dataUpdaterCallbackTagPrototype" class="com.cannontech.web.updater.DataUpdaterCallbackTag">
        <property name="registrationService" ref="dataUpdaterService"/>
    </bean>

    <bean id="pointValueFormatterTagPrototype" class="com.cannontech.web.util.PointValueFormatterTag">
        <property name="pointFormattingService" ref="pointFormattingServiceForRequest"/>
    </bean>
    
    <bean id="simpleReportLinkFromNameTagPrototype" class="com.cannontech.web.reports.SimpleReportLinkFromNameTag">
        <property name="reportDefinitionFactory" ref="yukonReportModelDefinitionFactory"/>
        <property name="simpleReportService" ref="simpleReportService"/>
    </bean>
    
    <bean id="simpleReportLinkFromModelTagPrototype" class="com.cannontech.web.reports.SimpleReportLinkFromModelTag">
        <property name="reportDefinitionFactory" ref="yukonReportModelDefinitionFactory"/>
    </bean>

    <bean id="trendWidget"
    	class="com.cannontech.web.widget.TrendWidget">
    	<property name="title" value="Trend"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="deviceDao" ref="deviceDao" />
        <property name="attributeService" ref="attributeService" />
        <property name="dateFormattingService" ref="dateFormattingService" />
        <property name="supportedAttributeGraphSet">
			<set>
				<bean class="com.cannontech.common.chart.model.AttributeGraphType">
					<property name="attribute" value="USAGE"/>
					<property name="graphType" value="COLUMN"/>
					<property name="converterType" value="NORMALIZED_DELTA"/>
					<property name="label" value="Usage (Normalized)"/>
					<property name="description">
						<value>
							<![CDATA[The <b>Normalized Usage</b> graph is a normalized view of the usage data.<br><br>  Each
							point on the graph is generated using the following formula: (reading - 
							previousReading) / (days between readings)]]>
						</value>
					</property>
					
				</bean>
				<bean class="com.cannontech.common.chart.model.AttributeGraphType">
					<property name="attribute" value="DEMAND"/>
					<property name="graphType" value="LINE"/>
					<property name="converterType" value="RAW"/>
					<property name="label" value="Demand"/>
					<property name="description">
						<value>
							<![CDATA[Graph of raw Demand data.]]>
						</value>
					</property>
				</bean>
				<bean class="com.cannontech.common.chart.model.AttributeGraphType">
					<property name="attribute" value="LOAD_PROFILE"/>
					<property name="graphType" value="LINE"/>
					<property name="converterType" value="RAW"/>
					<property name="label" value="Load Profile"/>
					<property name="description">
						<value>
							<![CDATA[Graph of raw Load Profile data.]]>
						</value>
					</property>
				</bean>
        	</set>
        </property>
    </bean>

    <bean id="attributeResolverTagPrototype" class="com.cannontech.web.util.AttributeResolverTag">
        <property name="deviceDao" ref="deviceDao" />
        <property name="attributeService" ref="attributeService"/>
    </bean>
    
    <bean id="formatDateTagPrototype" class="com.cannontech.web.util.FormatDateTag">
        <property name="dateFormattingService" ref="dateFormattingService"/>
    </bean>
    
    
    <bean id="friendlyExceptionResolver" class="com.cannontech.common.util.FriendlyExceptionResolver">
        
        <property name="exceptionStrings" ref="friendlyExceptionsProperties" />
        
        <property name="knownExceptions">
            <list>
                 <bean class="com.cannontech.common.util.KnownExceptionType">
                    <property name="exceptionClass" value="com.cannontech.message.util.ConnectionException" />
                    <property name="friendlyExceptionPropertyKey" value="ConnectionException" />
                </bean>
                <bean class="com.cannontech.common.util.KnownExceptionType">
                	<property name="exceptionClass" value="com.cannontech.core.dynamic.exception.DynamicDataAccessException" />
                	<property name="friendlyExceptionPropertyKey" value="DispatchInvalid" />
                </bean>
                <bean class="com.cannontech.common.util.KnownExceptionType">
                    <property name="exceptionClass" value="com.cannontech.common.exception.InitiateLoadProfileRequestException" />
                    <property name="friendlyExceptionPropertyKey" value="LoadProfileException" />
                </bean>
                <bean class="com.cannontech.common.util.KnownExceptionType">
                    <property name="exceptionClass" value="com.cannontech.common.exception.PingMeterException" />
                    <property name="friendlyExceptionPropertyKey" value="PingMeterException" />
                </bean>
                <bean class="com.cannontech.common.util.KnownExceptionType">
                    <property name="exceptionClass" value="com.cannontech.common.exception.PeakSummaryReportRequestException" />
                    <property name="friendlyExceptionPropertyKey" value="PeakReportException" />
                </bean>
                <bean class="com.cannontech.common.util.KnownExceptionType">
                    <property name="exceptionClass" value="com.cannontech.common.exception.MeterReadRequestException" />
                    <property name="friendlyExceptionPropertyKey" value="MeterReadException" />
                </bean>
            </list>
        </property>
    
    </bean>	
    
    <bean id="friendlyExceptionsProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    	<property name="location">
    		<value>/WEB-INF/friendlyExceptions.properties</value>
    	</property>
    </bean>

    <bean id="loginService"
        class="com.cannontech.web.login.impl.LoginServiceImpl">
        <property name="authenticationService" ref="authenticationService"/>
        <property name="authDao" ref="authDao" />
        <property name="contactDao" ref="contactDao" />
        <property name="yukonUserDao" ref="yukonUserDao" />
        <property name="sessionInitializers">
            <list>
                <ref bean="starsSessionInitializer"/>   
            </list>
        </property>
    </bean>
    
    <bean id="loginCookieHelper" class="com.cannontech.web.login.impl.LoginCookieHelperImpl">
        <property name="cryptoService" ref="cryptoService"/>    
    </bean>
    
    <bean id="starsSessionInitializer" class="com.cannontech.web.login.impl.StarsSessionInitializer">
        <property name="starsDatabaseCache" ref="starsDatabaseCache"/>
    </bean>

</beans>