<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

   <bean id="loadControlClientConnectionFactory" class="com.cannontech.loadcontrol.LoadControlClientConnectionFactory" />
   <bean id="loadControlClientConnection" factory-bean="loadControlClientConnectionFactory" 
         factory-method="createConnection" scope="singleton" />
         
   <bean id="loadManagementService" class="com.cannontech.loadcontrol.LoadManagementProxy" 
         scope="singleton">
        <property name="loadControlClientConnection" ref="loadControlClientConnection" />
        <property name="serverRequest" ref="serverRequest" />
   </bean>
   
   <bean id="loadControlProgramDao" class="com.cannontech.loadcontrol.dao.impl.LoadControlProgramDaoImpl">
   </bean>
    
   <bean id="loadControlService" class="com.cannontech.loadcontrol.service.impl.LoadControlServiceImpl">
   </bean>
   
   <bean id="loadControlCommandService" class="com.cannontech.loadcontrol.service.impl.LoadControlCommandServiceImpl">
   </bean>
    
   <bean id="overrideService" class="com.cannontech.loadcontrol.service.impl.OverrideServiceImpl">
   </bean>
   
<!-- 
   <bean id="loadManagementService" class="com.cannontech.loadcontrol.LoadManagementStub" 
         singleton="true">
   </bean>
-->

</beans>
