<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="yukon.web.menu.module"></entry>
<entry key="yukon.web.menu.locationSelect">Select a location...</entry>
<entry key="yukon.web.menu.home">Home</entry>
<entry key="yukon.web.menu.home.title">Return to the home page</entry>
<entry key="yukon.web.menu.logout">Logout</entry>
<entry key="yukon.web.menu.logout.title">Logout of Yukon</entry>
<entry key="yukon.web.menu.backToEc">Back to ({0})</entry>
<entry key="yukon.web.menu.backToEc.title">Logout as member operator and login as previous user.</entry>
<entry key="yukon.web.menu.alertBeforeNum">Alerts (</entry>
<entry key="yukon.web.menu.alertAfterNum">)</entry>

<!-- Consumer Account Information -->
<entry key="yukon.web.menu.portal.consumerAccountInformation">Consumer Account Information</entry>
<entry key="yukon.web.menu.portal.consumerAccountInformation.newAccount">New Account</entry>
<entry key="yukon.web.menu.portal.consumerAccountInformation.optOutAdmin">Opt Out Administration</entry>
<entry key="yukon.web.menu.portal.consumerAccountInformation.commercialcurtailment">C&amp;I Curtailment</entry>
<entry key="yukon.web.menu.portal.consumerAccountInformation.commander">Commander</entry>
<entry key="yukon.web.menu.portal.consumerAccountInformation.reporting">Reporting</entry>

<!-- Metering -->
<entry key="yukon.web.menu.portal.metering">Metering</entry>
<entry key="yukon.web.menu.portal.metering.allTrends">All Trends</entry>
<entry key="yukon.web.menu.portal.metering.bulkImporter">Bulk Importer</entry>
<entry key="yukon.web.menu.portal.metering.metering">Metering</entry>
<entry key="yukon.web.menu.portal.metering.bulkOperations">Bulk Operations</entry>

<!-- Client Launcher -->
<entry key="yukon.web.menu.portal.clientLauncher">Client Launcher</entry>
<entry key="yukon.web.menu.portal.clientLauncher.databaseEditor">Database Editor</entry>
<entry key="yukon.web.menu.portal.clientLauncher.tabularDataConsole">Tabular Data Console</entry>
<entry key="yukon.web.menu.portal.clientLauncher.trending">Trending</entry>
<entry key="yukon.web.menu.portal.clientLauncher.esubstationEditor">Esubstation Editor</entry>
<entry key="yukon.web.menu.portal.clientLauncher.commander">Commander</entry>

<!-- Load Response -->
<entry key="yukon.web.menu.portal.loadResponse">Load Response</entry>
<entry key="yukon.web.menu.portal.loadResponse.direct">Direct</entry>
<entry key="yukon.web.menu.portal.loadResponse.ciCurtailment">CI Curtailment</entry>
<entry key="yukon.web.menu.portal.loadResponse.oddsForControl">Odds for Control</entry>
<entry key="yukon.web.menu.portal.loadResponse.demandResponse">Demand Response</entry>

<!-- Distribution Automation -->
<entry key="yukon.web.menu.portal.distributionAutomation">Distribution Automation</entry>
<entry key="yukon.web.menu.portal.distributionAutomation.capControl">Volt/Var Management</entry>
<entry key="yukon.web.menu.portal.distributionAutomation.eSub">eSubstation</entry>

<!-- Hardware Inventory -->
<entry key="yukon.web.menu.portal.hardwareInventory">Hardware Inventory</entry>
<entry key="yukon.web.menu.portal.hardwareInventory.inventory">Inventory</entry>
<entry key="yukon.web.menu.portal.hardwareInventory.purchasing">Purchasing</entry>
<entry key="yukon.web.menu.portal.hardwareInventory.deviceReconfig">Inventory Operations</entry>

<!-- Work Orders -->
<entry key="yukon.web.menu.portal.workOrders">Work Orders</entry>
<entry key="yukon.web.menu.portal.workOrders.serviceOrderList">Service Order List</entry>

<!-- Analysis -->
<entry key="yukon.web.menu.portal.analysis">Analysis</entry>
<entry key="yukon.web.menu.portal.analysis.reporting">Reporting</entry>
<entry key="yukon.web.menu.portal.analysis.commander">Commander</entry>
<entry key="yukon.web.menu.portal.analysis.visualDisplays">Power Supplier Loads</entry>
<entry key="yukon.web.menu.portal.analysis.surveys">Surveys</entry>

<!-- Administration -->
<entry key="yukon.web.menu.portal.administration">Administration</entry>
<entry key="yukon.web.menu.portal.administration.systemAdministration">System Administration</entry>
<entry key="yukon.web.menu.portal.administration.memberManagement">Member Management</entry>
<entry key="yukon.web.menu.portal.administration.viewBatchCommands">View Batch Commands</entry>
<entry key="yukon.web.menu.portal.administration.viewScheduledOptOutEvents">View Scheduled Opt Out Events</entry>
<entry key="yukon.web.menu.portal.administration.support">Support</entry>
<entry key="yukon.web.menu.portal.administration.viewLogs">View Logs</entry>
<entry key="yukon.web.menu.portal.administration.manageIndexes">Manage Indexes</entry>
<entry key="yukon.web.menu.portal.administration.deviceConfiguration">Device Configuration</entry>

<!-- TODO: remove this since it now lives in system administration -->
<entry key="yukon.web.menu.portal.administration.configEnergyCompany">Config Energy Company</entry>

<entry key="yukon.web.menu.subMenuDefaultTitle">Display Menu for {0}</entry>
<entry key="yukon.web.menu.simpleMenuDefaultTitle">Goto {0}</entry>

<!-- Any of the following menu items can be suffixed with a ".title" to set the tooltip.
     If the tooltip isn't specifically set, the yukon.web.menu.topMenuDefaultTitle or
     yukon.web.menu.subMenuDefaultTitle will be used with the name of the menu (as 
     configured below) passed in. -->
     
<!-- AMR Module -->
<entry key="yukon.web.menu.config.amr.meters">Metering</entry>
<entry key="yukon.web.menu.config.amr.billing">Billing</entry>
<entry key="yukon.web.menu.config.amr.billing.generation">Billing Generation</entry>
<entry key="yukon.web.menu.config.amr.billing.setup">Billing Setup</entry>
<entry key="yukon.web.menu.config.amr.scheduler">Scripts</entry>
<entry key="yukon.web.menu.config.amr.devicegroups">Device Groups</entry>
<entry key="yukon.web.menu.config.amr.devicegroups.home">Editor</entry>
<entry key="yukon.web.menu.config.amr.devicegroups.commander">Commander</entry>
<entry key="yukon.web.menu.config.amr.devicegroups.groupMeterRead">Group Attribute Read</entry>
<entry key="yukon.web.menu.config.amr.devicegroups.scheduledGroupRequestExecution">Scheduled Request</entry>
<entry key="yukon.web.menu.config.amr.devicegroups.updater">Upload</entry>
<entry key="yukon.web.menu.config.amr.commandRequestExecution">Schedules</entry>
<entry key="yukon.web.menu.config.amr.commandRequestExecution.scheduleLogs">All</entry>
<entry key="yukon.web.menu.config.amr.commandRequestExecution.createSchedule">Create</entry>

<!-- Demand Response module -->
<entry key="yukon.web.menu.config.dr.home">Demand Response</entry>
<entry key="yukon.web.menu.config.dr.home.controlareas">Control Areas</entry>
<entry key="yukon.web.menu.config.dr.home.scenarios">Scenarios</entry>
<entry key="yukon.web.menu.config.dr.home.programs">Programs</entry>
<entry key="yukon.web.menu.config.dr.home.loadgroups">Load Groups</entry>
<entry key="yukon.web.menu.config.dr.optout">Opt Out</entry>
<entry key="yukon.web.menu.config.dr.optout.admin">Admin</entry>
<entry key="yukon.web.menu.config.dr.optout.scheduledevents">Scheduled Events</entry>
<entry key="yukon.web.menu.config.dr.optout.surveyList">Opt Out Surveys</entry>

<!-- Survey module -->
<entry key="yukon.web.menu.config.survey.list">Surveys</entry>

<!-- Energy Company Admin module -->
<entry key="yukon.web.menu.config.energyCompanyAdmin.configEnergyCompany">Config Energy Company</entry>

<!-- Capcontrol Module -->
<entry key="yukon.web.menu.config.capcontrol.create">Create</entry>
<entry key="yukon.web.menu.config.capcontrol.create.area">Area</entry>
<entry key="yukon.web.menu.config.capcontrol.create.specialarea">Special Area</entry>
<entry key="yukon.web.menu.config.capcontrol.create.substation">Substation</entry>
<entry key="yukon.web.menu.config.capcontrol.create.substationbus">Substation Bus</entry>
<entry key="yukon.web.menu.config.capcontrol.create.feeder">Feeder</entry>
<entry key="yukon.web.menu.config.capcontrol.create.capbank">CapBank</entry>
<entry key="yukon.web.menu.config.capcontrol.create.cbc">CBC</entry>
<entry key="yukon.web.menu.config.capcontrol.create.schedule">Schedule</entry>
<entry key="yukon.web.menu.config.capcontrol.create.strategy">Strategy</entry>
<entry key="yukon.web.menu.config.capcontrol.create.voltageregulator">Regulator</entry>
<entry key="yukon.web.menu.config.capcontrol.view">View</entry>
<entry key="yukon.web.menu.config.capcontrol.view.oneline">OneLine</entry>
<entry key="yukon.web.menu.config.capcontrol.view.schedules">Schedules</entry>
<entry key="yukon.web.menu.config.capcontrol.view.scheduleassignment">Schedule Assignment</entry>
<entry key="yukon.web.menu.config.capcontrol.view.strategies">Strategies</entry>
<entry key="yukon.web.menu.config.capcontrol.view.recentcapbankmoves">Recent Cap Bank Moves</entry>
<entry key="yukon.web.menu.config.capcontrol.view.specialareas">Special Areas</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans">Orphans</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans.orphanedsubstations">Substations</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans.orphanedsubstationbuses">Substation Buses</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans.orphanedfeeders">Feeders</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans.orphanedcapbanks">Cap Banks</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans.orphanedcbcs">CBCs</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans.orphanedregulators">Regulators</entry>

<!-- Commercial Curtailment Module -->
<entry key="yukon.web.menu.config.commercialcurtailment.ccurt_events">Events</entry>
<entry key="yukon.web.menu.config.commercialcurtailment.ccurt_setup">Setup</entry>
<entry key="yukon.web.menu.config.commercialcurtailment.ccurt_setup.ccurt_programs">Programs</entry>
<entry key="yukon.web.menu.config.commercialcurtailment.ccurt_setup.ccurt_groups">Groups</entry>
<entry key="yukon.web.menu.config.commercialcurtailment.ccurt_setup.ccurt_customers">Customers</entry>

<entry key="yukon.web.menu.config.commercialcurtailment_user.control">Control</entry>
<entry key="yukon.web.menu.config.commercialcurtailment_user.trending">Trending</entry>
<entry key="yukon.web.menu.config.commercialcurtailment_user.profile">Profile</entry>

<!-- Reporting Module -->
<entry key="yukon.web.menu.config.reporting.reports">Reports</entry>
<entry key="yukon.web.menu.config.reporting.reports.administrator">Administrator</entry>
<entry key="yukon.web.menu.config.reporting.reports.metering">Metering</entry>
<entry key="yukon.web.menu.config.reporting.reports.capcontrol">CapControl</entry>
<entry key="yukon.web.menu.config.reporting.reports.statistical">Statistical</entry>
<entry key="yukon.web.menu.config.reporting.reports.database">Database</entry>
<entry key="yukon.web.menu.config.reporting.reports.management">Load Management</entry>
<entry key="yukon.web.menu.config.reporting.reports.stars">STARS</entry>
<entry key="yukon.web.menu.config.reporting.reports.cni">C&amp;I</entry>
<entry key="yukon.web.menu.config.reporting.reports.settlement">Settlement</entry>

<!-- Support Module -->
<entry key="yukon.web.menu.config.support.information">Information</entry>
<entry key="yukon.web.menu.config.support.information.system">System</entry>
<entry key="yukon.web.menu.config.support.information.deviceDef">Device Definitions</entry>
<entry key="yukon.web.menu.config.support.information.errorCodes">Error Codes</entry>
<entry key="yukon.web.menu.config.support.information.supportBundle">Support Bundle</entry>

<entry key="yukon.web.menu.config.support.logs">Logs</entry>

<entry key="yukon.web.menu.config.support.database">Database</entry>
<entry key="yukon.web.menu.config.support.database.info">Information</entry>
<entry key="yukon.web.menu.config.support.database.compare">Validate</entry>
<entry key="yukon.web.menu.config.support.database.migration">Migration</entry>

<entry key="yukon.web.menu.config.support.scheduler">Jobs</entry>
<entry key="yukon.web.menu.config.support.scheduler.active">Active</entry>
<entry key="yukon.web.menu.config.support.scheduler.status">Status</entry>
<entry key="yukon.web.menu.config.support.scheduler.jobs">All</entry>

<entry key="yukon.web.menu.config.support.events">Events</entry>
<entry key="yukon.web.menu.config.support.events.byCategory">Category</entry>
<entry key="yukon.web.menu.config.support.events.byType">Type</entry>

<entry key="yukon.web.menu.config.support.development">Development</entry>
<entry key="yukon.web.menu.config.support.development.pointInjection">Point Injection</entry>
<entry key="yukon.web.menu.config.support.development.bulkPointInjection">Bulk Point Injection</entry>
<entry key="yukon.web.menu.config.support.development.pickerTest">Picker Test</entry>
<entry key="yukon.web.menu.config.support.development.i18nDemo">I18N Demo</entry>
<entry key="yukon.web.menu.config.support.development.uiToolkitDemo">UI Toolkit Demo</entry>
<entry key="yukon.web.menu.config.support.development.uiDemos">UI Demos</entry>
<entry key="yukon.web.menu.config.support.development.setupDatabase">Setup Database</entry>
<entry key="yukon.web.menu.config.support.development.miscellaneousMethods">Miscellaneous Methods</entry>
<entry key="yukon.web.menu.config.support.development.rfn">RFN Test</entry>

<entry key="yukon.web.menu.config.support.webServices">Web Services</entry>
<entry key="yukon.web.menu.config.support.webServices.eimTest">Web Services</entry>
<entry key="yukon.web.menu.config.support.webServices.loadControl">Load Control Service</entry>
<entry key="yukon.web.menu.config.support.webServices.account">Account Service</entry>

<entry key="yukon.web.menu.config.support.other">Other</entry>
<entry key="yukon.web.menu.config.support.other.threadDump">Thread Dump</entry>
<entry key="yukon.web.menu.config.support.other.routeUsage">Route Usage</entry>

<!-- Commander Module -->
<entry key="yukon.web.menu.config.commander.deviceselection">Device Selection</entry>

<!-- Commander Select Module -->
<entry key="yukon.web.menu.config.commanderSelect.devices">Devices</entry>
<entry key="yukon.web.menu.config.commanderSelect.devices.mct">MCT</entry>
<entry key="yukon.web.menu.config.commanderSelect.devices.ied">IED</entry>
<entry key="yukon.web.menu.config.commanderSelect.devices.rtu">RTU</entry>
<entry key="yukon.web.menu.config.commanderSelect.devices.transmitter">Transmitter</entry>
<entry key="yukon.web.menu.config.commanderSelect.devices.group">Group</entry>
<entry key="yukon.web.menu.config.commanderSelect.lm">Load Management</entry>
<entry key="yukon.web.menu.config.commanderSelect.lm.group">Group</entry>
<entry key="yukon.web.menu.config.commanderSelect.lm.xcom">Expresscom</entry>
<entry key="yukon.web.menu.config.commanderSelect.lm.vcom">Versacom</entry>
<entry key="yukon.web.menu.config.commanderSelect.lm.205serial">DCU-205 Serial</entry>
<entry key="yukon.web.menu.config.commanderSelect.lm.305serial">DCU-305 Serial</entry>
<entry key="yukon.web.menu.config.commanderSelect.capcontrol">Cap Control</entry>
<entry key="yukon.web.menu.config.commanderSelect.capcontrol.capcontrolsub">Cap Control</entry>

<!-- Consumer Module -->
<entry key="yukon.web.menu.config.consumer.account">Account</entry>
<entry key="yukon.web.menu.config.consumer.account.general">General</entry>
<entry key="yukon.web.menu.config.consumer.account.contacts">Contacts</entry>
<entry key="yukon.web.menu.config.consumer.thermostat">Thermostat</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.all">All</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.all.select">Select Thermostats</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.all.schedule">Schedule</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.all.manual">Manual</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.name">{0}</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.changeLabel">Change Label</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.schedule">Schedule</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.manual">Manual</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.savedSchedules">Schedules</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.history">History</entry>
<entry key="yukon.web.menu.config.consumer.programs">Programs</entry>
<entry key="yukon.web.menu.config.consumer.programs.controlHistory">Control History</entry>
<entry key="yukon.web.menu.config.consumer.programs.enrollment">Enrollment</entry>
<entry key="yukon.web.menu.config.consumer.programs.optOut">Opt Out</entry>
<entry key="yukon.web.menu.config.consumer.trending">Trending</entry>
<entry key="yukon.web.menu.config.consumer.trending.name">{0}</entry>
<entry key="yukon.web.menu.config.consumer.questions">Questions</entry>
<entry key="yukon.web.menu.config.consumer.questions.contactUs">Contact Us</entry>
<entry key="yukon.web.menu.config.consumer.questions.faq">FAQ</entry>
<entry key="yukon.web.menu.config.consumer.administration">Administration</entry>
<entry key="yukon.web.menu.config.consumer.administration.changeLogin">Change Login</entry>
<entry key="yukon.web.menu.config.consumer.leftMenu.expandIcon">/WebConfig/yukon/Icons/triangle-right_white.gif</entry>
<entry key="yukon.web.menu.config.consumer.leftMenu.collapseIcon">/WebConfig/yukon/Icons/triangle-down_white.gif</entry>

<!-- Visual Displays Module -->
<entry key="yukon.web.menu.config.visualDisplays.loadManagement">Load Management</entry>
<entry key="yukon.web.menu.config.visualDisplays.probabilityForPeakLoad">Probability For Peak Load</entry>

<!-- "Monitors" -->
<entry key="yukon.web.menu.config.monitors.validation">Validation</entry>
<entry key="yukon.web.menu.config.monitors.validation.review">Review</entry>
<entry key="yukon.web.menu.config.monitors.validation.helper">Advanced</entry>

<!-- Operator -->
<entry key="yukon.web.menu.config.operator.account">Accounts</entry>
<entry key="yukon.web.menu.config.operator.account.accounts">List</entry>
<entry key="yukon.web.menu.config.operator.inventory">Inventory</entry>
<entry key="yukon.web.menu.config.operator.faq">FAQ</entry>

<!-- Administration Setup -->
<entry key="yukon.web.menu.config.adminSetup.energyCompanySetup">Energy Company</entry>
<entry key="yukon.web.menu.config.adminSetup.energyCompanySetup.home"></entry>
<entry key="yukon.web.menu.config.adminSetup.multispeak">MultiSpeak</entry>
<entry key="yukon.web.menu.config.adminSetup.multispeak.interfaces">Interfaces</entry>
<entry key="yukon.web.menu.config.adminSetup.multispeak.lm_mappings">LM Mappings</entry>
<entry key="yukon.web.menu.config.adminSetup.multispeak.synchronization">Synchronization</entry>
<entry key="yukon.web.menu.config.adminSetup.userGroupEditor">User/Group</entry>
<entry key="yukon.web.menu.config.adminSetup.userGroupEditor.home"></entry>
<entry key="yukon.web.menu.config.adminSetup.encryption">Encryption</entry>
<entry key="yukon.web.menu.config.adminSetup.encryption.home"></entry>
<entry key="yukon.web.menu.config.adminSetup.maintenance.VIEW">Maintenance</entry>

</properties>