<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- NEW KEYS -->
<entry key="yukon.web.menu.import">Import</entry>
<entry key="yukon.web.menu.reports">Reports</entry>
<entry key="yukon.web.menu.pointImport">Point Import</entry>
<entry key="yukon.web.menu.update">Bulk Update</entry>

<!-- Assets (STARS) -->
<entry key="yukon.web.menu.assets">Assets</entry>
<entry key="yukon.web.menu.assets.dashboard">Dashboard</entry>
<entry key="yukon.web.menu.assets.gateways">Gateways</entry>
<entry key="yukon.web.menu.assets.relays">Relays</entry>
<entry key="yukon.web.menu.assets.rtus">RTUs</entry>
<entry key="yukon.web.menu.assets.optouts">Opt Out Status</entry>
<entry key="yukon.web.menu.assets.workorders">Work Orders</entry>
<entry key="yukon.web.menu.assets.purchasing">Purchasing</entry>
<entry key="yukon.web.menu.assets.batchCommands">Batch Commands</entry>
<entry key="yukon.web.menu.assets.surveys">Surveys</entry>

<!-- AMI -->
<entry key="yukon.web.menu.ami">AMI</entry>
<entry key="yukon.web.menu.ami.dashboard">Dashboard</entry>
<entry key="yukon.web.menu.ami.billing">Billing</entry>
<entry key="yukon.web.menu.ami.meterProgramming">Meter Programming</entry>
<entry key="yukon.web.menu.ami.import">Bulk Import</entry>
<entry key="yukon.web.menu.ami.legacyImport">Legacy Importer</entry>

<!-- Demand Response -->
<entry key="yukon.web.menu.dr">Demand Response</entry>
<entry key="yukon.web.menu.dr.dashboard">Dashboard</entry>
<entry key="yukon.web.menu.dr.scenarios">Scenarios</entry>
<entry key="yukon.web.menu.dr.controlAreas">Control Areas</entry>
<entry key="yukon.web.menu.dr.nestSync">Nest Sync</entry>
<entry key="yukon.web.menu.dr.programs">Programs</entry>
<entry key="yukon.web.menu.dr.loadGroups">Load Groups</entry>
<entry key="yukon.web.menu.dr.estimatedLoad">Estimated Load</entry>
<entry key="yukon.web.menu.dr.setup">Setup</entry>
<entry key="yukon.web.menu.dr.ci">C&amp;I Curtailment</entry>

<!-- Volt/Var (IVVC and Cap Control) -->
<entry key="yukon.web.menu.vv">Volt/Var</entry>
<entry key="yukon.web.menu.vv.dashboard">Dashboard</entry>
<entry key="yukon.web.menu.vv.areas">Areas</entry>
<entry key="yukon.web.menu.vv.schedules">Schedules</entry>
<entry key="yukon.web.menu.vv.strategies">Strategies</entry>
<entry key="yukon.web.menu.vv.movedBanks">Recent Temp Moves</entry>
<entry key="yukon.web.menu.vv.orphans">Orphans</entry>
<entry key="yukon.web.menu.vv.regulatorSetup">Regulator Setup</entry>
<entry key="yukon.web.menu.vv.dmvTest">DMV Test</entry>
<entry key="yukon.web.menu.vv.fdrTranslations">Manage FDR Translations</entry>

<!-- Admin -->
<entry key="yukon.web.menu.admin">Admin</entry>
<entry key="yukon.web.menu.admin.configuration">Configuration</entry>
<entry key="yukon.web.menu.admin.energyCompany">Energy Company</entry>
<entry key="yukon.web.menu.admin.jobs">Jobs</entry>
<entry key="yukon.web.menu.admin.maintenance">Maintenance</entry>
<entry key="yukon.web.menu.admin.multispeak">MultiSpeak</entry>
<entry key="yukon.web.menu.admin.security">Security</entry>
<entry key="yukon.web.menu.admin.substations">Substations</entry>
<entry key="yukon.web.menu.admin.usersAndGroups">Users and Groups</entry>

<!-- Tools -->
<entry key="yukon.web.menu.tools">Tools</entry>
<entry key="yukon.web.menu.tools.collectionActions">Collection Actions</entry>
<entry key="yukon.web.menu.tools.commander">Commander</entry>
<entry key="yukon.web.menu.tools.dataExport">Data Export</entry>
<entry key="yukon.web.menu.tools.dataStreaming">Data Streaming</entry>
<entry key="yukon.web.menu.tools.deviceConfiguration">Device Configuration</entry>
<entry key="yukon.web.menu.tools.deviceConfigurationSummary">Device Configuration Summary</entry>
<entry key="yukon.web.menu.tools.deviceGroups">Device Groups</entry>
<entry key="yukon.web.menu.tools.schedules">Schedules</entry>
<entry key="yukon.web.menu.tools.scripts">Scripts</entry>
<entry key="yukon.web.menu.tools.tdc">Data Viewer</entry>
<entry key="yukon.web.menu.tools.trends">Trends</entry>

<entry key="yukon.web.menu.home">Home</entry>
<entry key="yukon.web.menu.logout">Logout</entry>

<!-- OLD KEYS -->
     
<!-- AMR Module -->
<entry key="yukon.web.menu.config.amr.meters">Metering</entry>
<entry key="yukon.web.menu.config.amr.billing">Billing</entry>
<entry key="yukon.web.menu.config.amr.billing.generation">Billing Generation</entry>
<entry key="yukon.web.menu.config.amr.billing.setup">Billing Setup</entry>
<entry key="yukon.web.menu.config.amr.billing.schedules">Billing Schedules</entry>
<entry key="yukon.web.menu.config.amr.scheduler">Scripts</entry>
<entry key="yukon.web.menu.config.amr.devicegroups">Device Groups</entry>
<entry key="yukon.web.menu.config.amr.devicegroups.home">Editor</entry>
<entry key="yukon.web.menu.config.amr.devicegroups.commander">Commander</entry>
<entry key="yukon.web.menu.config.amr.devicegroups.groupMeterRead">Group Attribute Read</entry>
<entry key="yukon.web.menu.config.amr.devicegroups.scheduledGroupRequestExecution">Scheduled Request</entry>
<entry key="yukon.web.menu.config.amr.devicegroups.updater">Upload</entry>
<entry key="yukon.web.menu.config.amr.commandRequestExecution">Schedules</entry>
<entry key="yukon.web.menu.config.amr.commandRequestExecution.scheduleLogs">All</entry>
<entry key="yukon.web.menu.config.amr.commandRequestExecution.createSchedule">Create</entry>

<!-- Demand Response module -->
<entry key="yukon.web.menu.config.dr.home">Demand Response</entry>
<entry key="yukon.web.menu.config.dr.home.controlareas">Control Areas</entry>
<entry key="yukon.web.menu.config.dr.home.scenarios">Scenarios</entry>
<entry key="yukon.web.menu.config.dr.home.programs">Programs</entry>
<entry key="yukon.web.menu.config.dr.home.loadgroups">Load Groups</entry>
<entry key="yukon.web.menu.config.dr.optout">Opt Out</entry>
<entry key="yukon.web.menu.config.dr.optout.admin">Admin</entry>
<entry key="yukon.web.menu.config.dr.optout.scheduledevents">Scheduled Events</entry>
<entry key="yukon.web.menu.config.dr.optout.surveyList">Opt Out Surveys</entry>

<!-- Energy Company Admin module -->
<entry key="yukon.web.menu.config.energyCompanyAdmin.configEnergyCompany">Config Energy Company</entry>

<!-- Capcontrol Module -->
<entry key="yukon.web.menu.config.capcontrol.create">Create</entry>
<entry key="yukon.web.menu.config.capcontrol.create.area">Area</entry>
<entry key="yukon.web.menu.config.capcontrol.create.specialarea">Special Area</entry>
<entry key="yukon.web.menu.config.capcontrol.create.substation">Substation</entry>
<entry key="yukon.web.menu.config.capcontrol.create.substationbus">Substation Bus</entry>
<entry key="yukon.web.menu.config.capcontrol.create.feeder">Feeder</entry>
<entry key="yukon.web.menu.config.capcontrol.create.capbank">CapBank</entry>
<entry key="yukon.web.menu.config.capcontrol.create.cbc">CBC</entry>
<entry key="yukon.web.menu.config.capcontrol.create.schedule">Schedule</entry>
<entry key="yukon.web.menu.config.capcontrol.create.strategy">Strategy</entry>
<entry key="yukon.web.menu.config.capcontrol.create.voltageregulator">Regulator</entry>
<entry key="yukon.web.menu.config.capcontrol.view">View</entry>
<entry key="yukon.web.menu.config.capcontrol.view.schedules">Schedules</entry>
<entry key="yukon.web.menu.config.capcontrol.view.scheduleassignment">Schedule Assignment</entry>
<entry key="yukon.web.menu.config.capcontrol.view.strategies">Strategies</entry>
<entry key="yukon.web.menu.config.capcontrol.view.recentcapbankmoves">Recent Temp Cap Bank Moves</entry>
<entry key="yukon.web.menu.config.capcontrol.view.specialareas">Special Areas</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans">Orphans</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans.orphanedsubstations">Substations</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans.orphanedsubstationbuses">Substation Buses</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans.orphanedfeeders">Feeders</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans.orphanedcapbanks">Cap Banks</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans.orphanedcbcs">CBCs</entry>
<entry key="yukon.web.menu.config.capcontrol.orphans.orphanedregulators">Regulators</entry>
<entry key="yukon.web.menu.config.capcontrol.import">Import</entry>

<!-- Commercial Curtailment Module -->
<entry key="yukon.web.menu.config.commercialcurtailment.ccurt_events">Events</entry>
<entry key="yukon.web.menu.config.commercialcurtailment.ccurt_setup">Setup</entry>
<entry key="yukon.web.menu.config.commercialcurtailment.ccurt_setup.ccurt_programs">Programs</entry>
<entry key="yukon.web.menu.config.commercialcurtailment.ccurt_setup.ccurt_groups">Groups</entry>
<entry key="yukon.web.menu.config.commercialcurtailment.ccurt_setup.ccurt_customers">Customers</entry>

<entry key="yukon.web.menu.config.commercialcurtailment_user.control">Control</entry>
<entry key="yukon.web.menu.config.commercialcurtailment_user.trending">Trending</entry>
<entry key="yukon.web.menu.config.commercialcurtailment_user.profile">Profile</entry>

<!-- Reporting Module -->
<entry key="yukon.web.menu.config.reporting.reports">Reports</entry>
<entry key="yukon.web.menu.config.reporting.reports.administrator">Administrator Reports</entry>
<entry key="yukon.web.menu.config.reporting.reports.metering">Metering Reports</entry>
<entry key="yukon.web.menu.config.reporting.reports.capcontrol">CapControl Reports</entry>
<entry key="yukon.web.menu.config.reporting.reports.statistical">Statistical Reports</entry>
<entry key="yukon.web.menu.config.reporting.reports.database">Database Reports</entry>
<entry key="yukon.web.menu.config.reporting.reports.management">Load Management Reports</entry>
<entry key="yukon.web.menu.config.reporting.reports.stars">STARS Reports</entry>
<entry key="yukon.web.menu.config.reporting.reports.cni">C&amp;I Reports</entry>
<entry key="yukon.web.menu.config.reporting.reports.settlement">Settlement Reports</entry>

<!-- Support Module -->
<entry key="yukon.web.menu.config.support.information">Information</entry>
<entry key="yukon.web.menu.config.support.information.system">System</entry>
<entry key="yukon.web.menu.config.support.information.deviceDef">Device Definitions</entry>
<entry key="yukon.web.menu.config.support.information.errorCodes">Error Codes</entry>
<entry key="yukon.web.menu.config.support.information.supportBundle">Support Bundle</entry>
<entry key="yukon.web.menu.config.support.information.localization">Localization</entry>

<entry key="yukon.web.menu.config.support.logs">Logs</entry>
<entry key="yukon.web.menu.config.support.dataStreaming">Data Streaming Support</entry>

<entry key="yukon.web.menu.config.support.database">Database</entry>
<entry key="yukon.web.menu.config.support.database.info">Information</entry>
<entry key="yukon.web.menu.config.support.database.compare">Validate</entry>
<entry key="yukon.web.menu.config.support.database.migration">Migration</entry>

<entry key="yukon.web.menu.config.support.events">Events</entry>
<entry key="yukon.web.menu.config.support.events.byCategory">Category</entry>
<entry key="yukon.web.menu.config.support.events.byType">Type</entry>

<entry key="yukon.web.menu.config.support.webServices">Web Services</entry>
<entry key="yukon.web.menu.config.support.webServices.eimTest">Web Services</entry>
<entry key="yukon.web.menu.config.support.webServices.loadControl">Demand Response Service</entry>
<entry key="yukon.web.menu.config.support.webServices.account">Account Service</entry>

<entry key="yukon.web.menu.config.support.fileExportHistory">File Export History</entry>

<entry key="yukon.web.menu.config.support.other">Other</entry>
<entry key="yukon.web.menu.config.support.other.threadDump">Thread Dump</entry>
<entry key="yukon.web.menu.config.support.other.routeUsage">Route Usage</entry>

<!-- Consumer Module -->
<entry key="yukon.web.menu.config.consumer.account">Account</entry>
<entry key="yukon.web.menu.config.consumer.account.general">General</entry>
<entry key="yukon.web.menu.config.consumer.account.contacts">Contacts</entry>
<entry key="yukon.web.menu.config.consumer.thermostat">Thermostat</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.all">All</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.all.select">Select Thermostats</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.all.schedule">Schedule</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.all.manual">Manual</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.name">{0}</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.changeLabel">Change Label</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.schedule">Schedule</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.manual">Manual</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.savedSchedules">Schedules</entry>
<entry key="yukon.web.menu.config.consumer.thermostat.history">History</entry>
<entry key="yukon.web.menu.config.consumer.programs">Programs</entry>
<entry key="yukon.web.menu.config.consumer.programs.controlHistory">Control History</entry>
<entry key="yukon.web.menu.config.consumer.programs.enrollment">Enrollment</entry>
<entry key="yukon.web.menu.config.consumer.programs.alternateEnrollment">Alternate Enrollment</entry>
<entry key="yukon.web.menu.config.consumer.programs.optOut">Opt Out</entry>
<entry key="yukon.web.menu.config.consumer.programs.seasonalOverride">Seasonal Override</entry>
<entry key="yukon.web.menu.config.consumer.trending">Trending</entry>
<entry key="yukon.web.menu.config.consumer.trending.name">{0}</entry>
<entry key="yukon.web.menu.config.consumer.questions">Questions</entry>
<entry key="yukon.web.menu.config.consumer.questions.contactUs">Contact Us</entry>
<entry key="yukon.web.menu.config.consumer.questions.faq">FAQ</entry>
<entry key="yukon.web.menu.config.consumer.administration">Administration</entry>
<entry key="yukon.web.menu.config.consumer.administration.changeLogin">Change Login</entry>
<entry key="yukon.web.menu.config.consumer.leftMenu.expandIcon">/WebConfig/yukon/Icons/triangle-right_white.gif</entry>
<entry key="yukon.web.menu.config.consumer.leftMenu.collapseIcon">/WebConfig/yukon/Icons/triangle-down_white.gif</entry>

<!-- "Monitors" -->
<entry key="yukon.web.menu.config.monitors.validation">Validation</entry>
<entry key="yukon.web.menu.config.monitors.validation.review">Review</entry>
<entry key="yukon.web.menu.config.monitors.validation.helper">Advanced</entry>

<!-- Operator -->
<entry key="yukon.web.menu.config.operator.account">Accounts</entry>
<entry key="yukon.web.menu.config.operator.account.accounts">List</entry>
<entry key="yukon.web.menu.config.operator.inventory">Inventory</entry>
<entry key="yukon.web.menu.config.operator.faq">FAQ</entry>

<!-- Administration Setup -->
<entry key="yukon.web.menu.config.adminSetup.energyCompanySetup">Energy Company</entry>
<entry key="yukon.web.menu.config.adminSetup.energyCompanySetup.home"></entry>
<entry key="yukon.web.menu.config.adminSetup.multispeak">MultiSpeak</entry>
<entry key="yukon.web.menu.config.adminSetup.multispeak.interfaces">Interfaces</entry>
<entry key="yukon.web.menu.config.adminSetup.multispeak.lm_mappings">LM Mappings</entry>
<entry key="yukon.web.menu.config.adminSetup.multispeak.synchronization">Synchronization</entry>
<entry key="yukon.web.menu.config.adminSetup.usersEditor">Users</entry>
<entry key="yukon.web.menu.config.adminSetup.system">System</entry>
<entry key="yukon.web.menu.config.adminSetup.system.config">Configuration</entry>
<entry key="yukon.web.menu.config.adminSetup.maintenance">Maintenance</entry>

<entry key="yukon.web.menu.config.adminSetup.jobsscheduler">Jobs</entry>
<entry key="yukon.web.menu.config.adminSetup.jobsscheduler.active">Active</entry>
<entry key="yukon.web.menu.config.adminSetup.jobsscheduler.status">Status</entry>
<entry key="yukon.web.menu.config.adminSetup.jobsscheduler.all">All</entry>

<!-- Dashboards -->
<entry key="yukon.web.menu.dashboard">Dashboard</entry>

<!-- Dashboards -->
<entry key="yukon.web.menu.smartnotifications">Notifications</entry>
</properties>