<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<points xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../points.xsd">
    <highestOffsets>
        <analog offset="1031"/>
    </highestOffsets>
    <!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -Analog- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <point offset="1007" type="Analog">
        <name>Porter CPU Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="PERCENT"/>
        <decimalplaces value="2"/>
    </point>
    <point offset="1008" type="Analog">
        <name>Dispatch CPU Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="PERCENT"/>
        <decimalplaces value="2"/>
    </point>
    <point offset="1009" type="Analog">
        <name>Scanner CPU Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="PERCENT"/>
        <decimalplaces value="2"/>
    </point>
    <point offset="1010" type="Analog">
        <name>Calc CPU Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="PERCENT"/>
        <decimalplaces value="2"/>
    </point>
    <point offset="1011" type="Analog">
        <name>CapControl CPU Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="PERCENT"/>
        <decimalplaces value="2"/>
    </point>
    <point offset="1012" type="Analog">
        <name>FDR CPU Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="PERCENT"/>
        <decimalplaces value="2"/>
    </point>
    <point offset="1013" type="Analog">
        <name>MACS CPU Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="PERCENT"/>
        <decimalplaces value="2"/>
    </point>
    <point offset="1014" type="Analog">
        <name>Notification Server CPU Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="PERCENT"/>
        <decimalplaces value="2"/>
    </point>
    <point offset="1015" type="Analog">
        <name>Service Manager CPU Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="PERCENT"/>
        <decimalplaces value="2"/>
    </point>
    <point offset="1016" type="Analog">
        <name>Web Service CPU Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="PERCENT"/>
        <decimalplaces value="2"/>
    </point>
    <point offset="1017" type="Analog">
        <name>Porter Memory Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="MEGABYTES"/>
        <decimalplaces value="0"/>
    </point>
    <point offset="1018" type="Analog">
        <name>Dispatch Memory Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="MEGABYTES"/>
        <decimalplaces value="0"/>
    </point>
    <point offset="1019" type="Analog">
        <name>Scanner Memory Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="MEGABYTES"/>
        <decimalplaces value="0"/>
    </point>
    <point offset="1020" type="Analog">
        <name>Calc Memory Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="MEGABYTES"/>
        <decimalplaces value="0"/>
    </point>
    <point offset="1021" type="Analog">
        <name>CapControl Memory Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="MEGABYTES"/>
        <decimalplaces value="0"/>
    </point>
    <point offset="1022" type="Analog">
        <name>FDR Memory Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="MEGABYTES"/>
        <decimalplaces value="0"/>
    </point>
    <point offset="1023" type="Analog">
        <name>MACS Memory Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="MEGABYTES"/>
        <decimalplaces value="0"/>
    </point>
    <point offset="1024" type="Analog">
        <name>Notification Server Memory Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="MEGABYTES"/>
        <decimalplaces value="0"/>
    </point>
    <point offset="1025" type="Analog">
        <name>Service Manager Memory Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="MEGABYTES"/>
        <decimalplaces value="0"/>
    </point>
    <point offset="1026" type="Analog">
        <name>Web Service Memory Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="MEGABYTES"/>
        <decimalplaces value="0"/>
    </point>
    <point offset="1028" type="Analog">
        <name>Load Management CPU Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="PERCENT"/>
        <decimalplaces value="2"/>
    </point>
    <point offset="1029" type="Analog">
        <name>Load Management Memory Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="MEGABYTES"/>
        <decimalplaces value="0"/>
    </point>
    <point offset="1030" type="Analog">
        <name>Message Broker CPU Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="PERCENT"/>
        <decimalplaces value="2"/>
    </point>
    <point offset="1031" type="Analog">
        <name>Message Broker Memory Utilization</name>
        <multiplier value="1"/>
        <unitofmeasure value="MEGABYTES"/>
        <decimalplaces value="0"/>
    </point>
</points>
