<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
    <bean id="webSecurityInterceptor" class="com.cannontech.web.security.WebSecurityInterceptor"/>

    <bean id="webSecurityAnnotationProcessor" class="com.cannontech.web.security.WebSecurityAnnotationProcessor"/>
    
    <bean id="webSecurityChecker" class="com.cannontech.web.security.WebSecurityChecker"/>
    
    <bean id="userContextResolver" class="com.cannontech.web.util.YukonUserContextConstructor">
        <property name="authDao" ref="authDao"/>
        <property name="defaultThemeResolver" ref="themeResolver"/>
    </bean>
    
    <bean class="com.cannontech.web.security.csrf.impl.CsrfTokenServiceImpl"/>
    
    <bean id="themeResolver" class="org.springframework.web.servlet.theme.FixedThemeResolver">
        <property name="defaultThemeName" value="default"/>
    </bean>
</beans>
