trunk/yukon-build/bin
trunk/yukon-build/build
trunk/yukon-client/.metadata
trunk/yukon-client/.recommenders
trunk/yukon-client/FDEmulator/bin
trunk/yukon-client/api-web/bin
trunk/yukon-client/api-web/build
trunk/yukon-client/api/bin
trunk/yukon-client/api/build
trunk/yukon-client/billing/.cvsignore
trunk/yukon-client/billing/bin
trunk/yukon-client/billing/build
trunk/yukon-client/build/dist
trunk/yukon-client/build/lib
trunk/yukon-client/cbc/.cvsignore
trunk/yukon-client/cbc/bin
trunk/yukon-client/cbc/build
trunk/yukon-client/commander/.cvsignore
trunk/yukon-client/commander/bin
trunk/yukon-client/commander/build
trunk/yukon-client/common/.cvsignore
trunk/yukon-client/common/bin
trunk/yukon-client/common/build
trunk/yukon-client/common/test/build
trunk/yukon-client/common/test/testResults
trunk/yukon-client/custom/.cvsignore
trunk/yukon-client/custom/bin
trunk/yukon-client/custom/build
trunk/yukon-client/dbeditor/.cvsignore
trunk/yukon-client/dbeditor/bin
trunk/yukon-client/dbeditor/build
trunk/yukon-client/export/.cvsignore
trunk/yukon-client/export/bin
trunk/yukon-client/export/build
trunk/yukon-client/lib
trunk/yukon-client/macs/.cvsignore
trunk/yukon-client/macs/bin
trunk/yukon-client/macs/build
trunk/yukon-client/multispeak/bin
trunk/yukon-client/multispeak/build
trunk/yukon-client/notification/activemq-data
trunk/yukon-client/notification/bin
trunk/yukon-client/notification/build
trunk/yukon-client/openadr-web/build/classes
trunk/yukon-client/report/bin
trunk/yukon-client/report/build
trunk/yukon-client/resource/master.cfg
trunk/yukon-client/sensus-jms/bin
trunk/yukon-client/sensus-jms/build
trunk/yukon-client/services/activemq-data
trunk/yukon-client/services/bin
trunk/yukon-client/services/build
trunk/yukon-client/services/test/build
trunk/yukon-client/services/test/testResults
trunk/yukon-client/simulators/activemq-data
trunk/yukon-client/simulators/bin
trunk/yukon-client/simulators/build
trunk/yukon-client/tdc/.cvsignore
trunk/yukon-client/tdc/TDCDisplaySettings.DAT
trunk/yukon-client/tdc/TDCOut.DAT
trunk/yukon-client/tdc/bin
trunk/yukon-client/tdc/build
trunk/yukon-client/tools/.cvsignore
trunk/yukon-client/tools/bin
trunk/yukon-client/tools/build
trunk/yukon-client/trending/.cvsignore
trunk/yukon-client/trending/bin
trunk/yukon-client/trending/build
trunk/yukon-client/web-common/bin
trunk/yukon-client/web-common/build
trunk/yukon-client/yukon-message-broker/activemq-data
trunk/yukon-client/yukon-message-broker/bin
trunk/yukon-client/yukon-message-broker/build
trunk/yukon-client/yukon-watchdog-service/bin
trunk/yukon-client/yukon-watchdog-service/build
trunk/yukon-client/yukon-web/.tomcatplugin
trunk/yukon-client/yukon-web/WebContent/WEB-INF/classes
trunk/yukon-client/yukon-web/WebContent/capcontrol/_notes
trunk/yukon-client/yukon-web/WebContent/capcontrol/temp
trunk/yukon-client/yukon-web/WebContent/test.html
trunk/yukon-client/yukon-web/WebContent_merged
trunk/yukon-client/yukon-web/WebContent_temp
trunk/yukon-client/yukon-web/_notes
trunk/yukon-client/yukon-web/build
trunk/yukon-client/yukon-web/build_jsp
trunk/yukon-client/yukon-web/build_jsp_std
trunk/yukon-client/yukon-web/build_src
trunk/yukon-client/yukon-web/deploy
trunk/yukon-client/yukon-web/fragment_web.xml
trunk/yukon-client/yukon-web/generated_web.xml
trunk/yukon-client/yukon-web/jspbuild
trunk/yukon-client/yukon-web/srcbuild
trunk/yukon-client/yukon-web/temp
trunk/yukon-client/yukon-web/test/build
trunk/yukon-client/yukon-web/test/testResults
trunk/yukon-client/yukon-web/work
trunk/yukon-client/yukonappserver/bin
trunk/yukon-client/yukonappserver/build
trunk/yukon-install/build
trunk/yukon-server/.git
trunk/yukon-server/.vs
trunk/yukon-server/COMMON/*.vcxproj.user
trunk/yukon-server/COMMON/Debug
trunk/yukon-server/COMMON/Release
trunk/yukon-server/COMMON/include/version.h
trunk/yukon-server/Calc/*.vcxproj.user
trunk/yukon-server/Calc/Debug
trunk/yukon-server/Calc/Release
trunk/yukon-server/CapControl/*.vcxproj.user
trunk/yukon-server/CapControl/Debug
trunk/yukon-server/CapControl/Release
trunk/yukon-server/Database/Debug
trunk/yukon-server/Database/Release
trunk/yukon-server/Debug
trunk/yukon-server/DeviceConfiguration/*.vcxproj.user
trunk/yukon-server/DeviceConfiguration/Debug
trunk/yukon-server/DeviceConfiguration/Release
trunk/yukon-server/Dispatch/*.vcxproj.user
trunk/yukon-server/Dispatch/Debug
trunk/yukon-server/Dispatch/Release
trunk/yukon-server/Fdr/*.vcxproj.user
trunk/yukon-server/Fdr/Debug
trunk/yukon-server/Fdr/Release
trunk/yukon-server/LoadManagement/*.vcxproj.user
trunk/yukon-server/LoadManagement/Debug
trunk/yukon-server/LoadManagement/Release
trunk/yukon-server/Macs/Debug
trunk/yukon-server/Macs/Release
trunk/yukon-server/Message/*.vcxproj.user
trunk/yukon-server/Message/Debug
trunk/yukon-server/Message/Release
trunk/yukon-server/Message/Static_Debug
trunk/yukon-server/Message/Static_Release
trunk/yukon-server/PORTER/*.vcxproj.user
trunk/yukon-server/PORTER/Debug
trunk/yukon-server/PORTER/Release
trunk/yukon-server/Pil/Debug
trunk/yukon-server/Pil/Release
trunk/yukon-server/Protocol/Debug
trunk/yukon-server/Protocol/Release
trunk/yukon-server/RTDB/*.vcxproj.user
trunk/yukon-server/RTDB/Debug
trunk/yukon-server/RTDB/Release
trunk/yukon-server/Release
trunk/yukon-server/Resource/Debug
trunk/yukon-server/Resource/Release
trunk/yukon-server/Resource/autogen_resource.rc
trunk/yukon-server/Resource/include/autogen_resource_ids.h
trunk/yukon-server/Resource/resource_hashes.txt
trunk/yukon-server/Resource/resource_index.xml
trunk/yukon-server/SCANNER/*.vcxproj.user
trunk/yukon-server/SCANNER/Debug
trunk/yukon-server/SCANNER/Release
trunk/yukon-server/Server/Debug
trunk/yukon-server/Server/Release
trunk/yukon-server/Service/*.vcxproj.user
trunk/yukon-server/Service/Debug
trunk/yukon-server/Service/Release
trunk/yukon-server/Simulator/*.vcxproj.user
trunk/yukon-server/Simulator/Debug
trunk/yukon-server/Simulator/Release
trunk/yukon-server/SimulatorMemoryMaps
trunk/yukon-server/bin
trunk/yukon-server/bin-debug
trunk/yukon-server/ipch
trunk/yukon-server/lib
trunk/yukon-server/lib-debug
trunk/yukon-server/logic/Debug
trunk/yukon-server/logic/Release
trunk/yukon-server/pdb
trunk/yukon-server/pdb-debug
trunk/yukon-server/test_base/Debug
trunk/yukon-server/test_base/Release
trunk/yukon-server/yukon-server.VC.VC.opendb
trunk/yukon-server/yukon-server.VC.db
trunk/yukon-server/yukon-server.log
trunk/yukon-shared/build/classes
yukon-build/bin
yukon-build/build
yukon-client/.metadata
yukon-client/.recommenders
yukon-client/FDEmulator/bin
yukon-client/api-web/bin
yukon-client/api-web/build
yukon-client/api/bin
yukon-client/api/build
yukon-client/billing/.cvsignore
yukon-client/billing/bin
yukon-client/billing/build
yukon-client/build/dist
yukon-client/build/lib
yukon-client/cbc/.cvsignore
yukon-client/cbc/bin
yukon-client/cbc/build
yukon-client/commander/.cvsignore
yukon-client/commander/bin
yukon-client/commander/build
yukon-client/common/.cvsignore
yukon-client/common/bin
yukon-client/common/build
yukon-client/common/test/build
yukon-client/common/test/testResults
yukon-client/custom/.cvsignore
yukon-client/custom/bin
yukon-client/custom/build
yukon-client/dbeditor/.cvsignore
yukon-client/dbeditor/bin
yukon-client/dbeditor/build
yukon-client/export/.cvsignore
yukon-client/export/bin
yukon-client/export/build
yukon-client/lib
yukon-client/macs/.cvsignore
yukon-client/macs/bin
yukon-client/macs/build
yukon-client/multispeak/bin
yukon-client/multispeak/build
yukon-client/notification/activemq-data
yukon-client/notification/bin
yukon-client/notification/build
yukon-client/openadr-web/build/classes
yukon-client/report/bin
yukon-client/report/build
yukon-client/resource/master.cfg
yukon-client/sensus-jms/bin
yukon-client/sensus-jms/build
yukon-client/services/activemq-data
yukon-client/services/bin
yukon-client/services/build
yukon-client/services/test/build
yukon-client/services/test/testResults
yukon-client/simulators/activemq-data
yukon-client/simulators/bin
yukon-client/simulators/build
yukon-client/tdc/.cvsignore
yukon-client/tdc/TDCDisplaySettings.DAT
yukon-client/tdc/TDCOut.DAT
yukon-client/tdc/bin
yukon-client/tdc/build
yukon-client/tools/.cvsignore
yukon-client/tools/bin
yukon-client/tools/build
yukon-client/trending/.cvsignore
yukon-client/trending/bin
yukon-client/trending/build
yukon-client/web-common/bin
yukon-client/web-common/build
yukon-client/yukon-message-broker/activemq-data
yukon-client/yukon-message-broker/bin
yukon-client/yukon-message-broker/build
yukon-client/yukon-watchdog-service/bin
yukon-client/yukon-watchdog-service/build
yukon-client/yukon-web/.tomcatplugin
yukon-client/yukon-web/WebContent/WEB-INF/classes
yukon-client/yukon-web/WebContent/capcontrol/_notes
yukon-client/yukon-web/WebContent/capcontrol/temp
yukon-client/yukon-web/WebContent/test.html
yukon-client/yukon-web/WebContent_merged
yukon-client/yukon-web/WebContent_temp
yukon-client/yukon-web/_notes
yukon-client/yukon-web/build
yukon-client/yukon-web/build_jsp
yukon-client/yukon-web/build_jsp_std
yukon-client/yukon-web/build_src
yukon-client/yukon-web/deploy
yukon-client/yukon-web/fragment_web.xml
yukon-client/yukon-web/generated_web.xml
yukon-client/yukon-web/jspbuild
yukon-client/yukon-web/srcbuild
yukon-client/yukon-web/temp
yukon-client/yukon-web/test/build
yukon-client/yukon-web/test/testResults
yukon-client/yukon-web/work
yukon-client/yukonappserver/bin
yukon-client/yukonappserver/build
yukon-install/build
yukon-server/.git
yukon-server/.vs
yukon-server/COMMON/*.vcxproj.user
yukon-server/COMMON/Debug
yukon-server/COMMON/Release
yukon-server/COMMON/include/version.h
yukon-server/Calc/*.vcxproj.user
yukon-server/Calc/Debug
yukon-server/Calc/Release
yukon-server/CapControl/*.vcxproj.user
yukon-server/CapControl/Debug
yukon-server/CapControl/Release
yukon-server/Database/Debug
yukon-server/Database/Release
yukon-server/Debug
yukon-server/DeviceConfiguration/*.vcxproj.user
yukon-server/DeviceConfiguration/Debug
yukon-server/DeviceConfiguration/Release
yukon-server/Dispatch/*.vcxproj.user
yukon-server/Dispatch/Debug
yukon-server/Dispatch/Release
yukon-server/Fdr/*.vcxproj.user
yukon-server/Fdr/Debug
yukon-server/Fdr/Release
yukon-server/LoadManagement/*.vcxproj.user
yukon-server/LoadManagement/Debug
yukon-server/LoadManagement/Release
yukon-server/Macs/Debug
yukon-server/Macs/Release
yukon-server/Message/*.vcxproj.user
yukon-server/Message/Debug
yukon-server/Message/Release
yukon-server/Message/Static_Debug
yukon-server/Message/Static_Release
yukon-server/PORTER/*.vcxproj.user
yukon-server/PORTER/Debug
yukon-server/PORTER/Release
yukon-server/Pil/Debug
yukon-server/Pil/Release
yukon-server/Protocol/Debug
yukon-server/Protocol/Release
yukon-server/RTDB/*.vcxproj.user
yukon-server/RTDB/Debug
yukon-server/RTDB/Release
yukon-server/Release
yukon-server/Resource/Debug
yukon-server/Resource/Release
yukon-server/Resource/autogen_resource.rc
yukon-server/Resource/include/autogen_resource_ids.h
yukon-server/Resource/resource_hashes.txt
yukon-server/Resource/resource_index.xml
yukon-server/SCANNER/*.vcxproj.user
yukon-server/SCANNER/Debug
yukon-server/SCANNER/Release
yukon-server/Server/Debug
yukon-server/Server/Release
yukon-server/Service/*.vcxproj.user
yukon-server/Service/Debug
yukon-server/Service/Release
yukon-server/Simulator/*.vcxproj.user
yukon-server/Simulator/Debug
yukon-server/Simulator/Release
yukon-server/SimulatorMemoryMaps
yukon-server/bin
yukon-server/bin-debug
yukon-server/ipch
yukon-server/lib
yukon-server/lib-debug
yukon-server/logic/Debug
yukon-server/logic/Release
yukon-server/pdb
yukon-server/pdb-debug
yukon-server/test_base/Debug
yukon-server/test_base/Release
yukon-server/yukon-server.VC.VC.opendb
yukon-server/yukon-server.VC.db
yukon-server/yukon-server.log
yukon-shared/build/classes
