.ccPFPopup, .ccVarLoadPopup {padding: 3px;position: absolute;border: 1px solid #000000;background-color: #eee;left: 25%;right: 25%;top: 30%;height: 12px;}
.ccPFPopup {width: 85px;}
.ccVarLoadPopup {width: 160px;}

div.systemCommands {width: 400px;}

#alertMessageContainer {position: fixed;width: 200px;bottom: 1%;left: 1%;background: white;border: 2px solid #444;z-index: 1000;}
#alertMessageContents {font-size: 12px;padding: 5px;font-weight: bold;text-align: center;}

table.cbcPointTable td {width: 33%;}