.errorIndicator {color: pink;}

.disabledRow {font-style: italic;}

.ivvcContainer {width: auto;vertical-align: top;}

.ivvcChart {width: 100%;vertical-align: top;}

div.zoneHierarchy li {list-style-type: none;margin: 6px 0;}

table.zoneListTable th.zoneName,table.zoneListTable td.zoneName {width: 50%;}

table.zoneListTable td.zoneType {width: 95px;}
table.zoneListTable .tapContainer {width: 97px;}
table.zoneListTable .tapContainer > span {width: 33px;text-align: left;display: inline-block;}
table.zoneListTable .tapContainer > span .lastOpLeft {width: 16px;text-align: center;display: inline-block;}
table.zoneListTable .tapContainer .phaseLetter {font-weight: bold;}
table.zoneListTable th.lastOperation {padding-left: 5px;}
table th.rightActionColumn {text-align: right;padding-right: 10px;}
table td.rightActionColumn {text-align: right;padding-right: 15px;}

.regulatorModeRemote {display: none;}
.regulatorModeLocal,
.regulatorModeLocalWarning {display: inline;font-weight: bold;}
.regulatorModeLocalWarning {color: #EE8800;}

div.historyContainer {max-height: 98px;overflow: auto;overflow-x: hidden;}

table.ivvcGridLayout {width: 100%;}
table.ivvcGridLayout td {white-space: nowrap;}
table.ivvcGridLayout td.first, table.ivvcGridLayout td.middle {padding-right: 10px;}
table.ivvcGridLayout td.first, table.ivvcGridLayout td.middle, table.ivvcGridLayout td.last {width: 50%;}
table.ivvcGridLayout td.last {padding-left: 15px;}
table.ivvcGridLayout tr {vertical-align: top;}

.zoneWizardTableScrollArea {height: 97px;overflow: auto;}

.zoneWizardVoltagePoints, .zoneWizardCapBanks {height: auto;overflow: auto;}

.regulatorAttributeRow {height: 21px;}

.graph_message_container {height: 10px;font-size: 10px;}

form#deltaForm tr {height: 25px;}
form#deltaForm label.staticChangedLabel {background-color: orange;padding-top: 4px;}

table.zoneVoltagePoints .gutter {display: inline-block;width: 60px;text-align: right;}