/* CONTENTS */

/*
VARIABLES
BUTTON
BUTTON LABEL
DROPDOWN MENU
*/

/* VARIABLES */
@primary-button-color: #777;
@primary-button-color-border: #666;
@primary-button-color-hover: #888;

/* BUTTON */
button, .button, input[type=submit], input[type=button], input[type=reset] {
    background: #F3F3F3;
    border: solid 1px #bbb;
    border-radius: 2px;
    color: #444;
    display: inline-block;
    float: left;
    font: bold 12px Helvetica, Arial, sans-serif;
    font-smoothing: antialiased;
    height: 26px;
    line-height: 16px;
    margin: 0 5px;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    transition: border-color .20s;
}
button, input[type=submit], input[type=button] {
    height: 26px !important;
    cursor: pointer;
}
button.naked, .button.naked {
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 16px !important;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
button.naked .label, .button.naked .label {color: #06C;font-weight: normal;}
button.naked:not([disabled]):hover .label, .button.naked:not([disabled]):hover .label {color: #06C;text-decoration: underline}

button[disabled], .button[disabled] {border-color: #d6d6d6}
button[disabled] .label, .button[disabled] .label,
button[disabled] .ui-button-text, .button[disabled] .ui-button-text {color: #888;}
button[disabled] .icon, .button[disabled] .icon {background-image: url(/WebConfig/yukon/Icons/icons-disabled.png);}

button.action[disabled], .button.action[disabled] {filter: alpha(opacity=50);opacity: .5;}

button.left, .button.left, input.left, select.left {
    margin: 0 0 0 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.middle, .button.middle, input.middle, select.middle {
    margin: 0;
    border-left: 0;
    border-radius: 0;
}
button.right, .button.right, input.right, select.right {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0 5px 0 0;
}

button:not([disabled]):not(.naked):not(.action):hover, .button:not([disabled]):not(.naked):not(.action):hover {
    background: #F4F4F4;
    border-color: #aaa;
    box-shadow:0 0 10px #D4D4D4;
    color: #333;
}

button:not([disabled]):active, .button:not([disabled]):active {
    border-color: #aaa;
    box-shadow:inset 0 0 10px #D4D4D4;
}

button.on, button.on:hover, .button.on, .button.on:hover {
    border-color: #bbb;
    box-shadow:inset 0 0 10px #bbb !important;
}

button.action, .button.action {
    background: #F2F2F2;
    border: 1px solid #D8D8D8 !important;
    transition: border .20s;
}
button.action:hover, .button.action:hover {
    background: #F3F3F3;
    border: 1px solid #C6C6C6 !important;
}
button.blue, .button.blue {
    background: #4B8DF8;
    border: 1px solid #3079ED !important;
    transition: border .20s;
}
button.blue:hover, .button.blue:hover {
    background: #3F83F1;
    border: 1px solid #2F5BB7 !important;
}
button.green, .button.green {
    background: #3A8E00;
    border: 1px solid #29691D !important;
    transition: border .20s;
}
button.green:hover, .button.green:hover {
    background: #3F83F1;
    border: 1px solid #2D6200 !important;
}
button.red, .button.red {
    background: #D64937;
    border: 1px solid #D14836 !important;
    transition: border .20s;
}
button.red:hover, .button.red:hover {
    background: #D14130;
    border: 1px solid #B0281A !important;
}
button.orange, .button.orange {
    background: #FF9900;
    border: 1px solid #EF8900 !important;
    transition: border .20s;
}
button.orange:hover, .button.orange:hover {
    background: #FF9900;
    border: 1px solid #EF8900 !important;
}

button.grey, .button.grey {
    background: #777;
    border: 1px solid #666 !important;
    transition: border .20s;
}
button.grey:hover, .button.grey:hover {
    background: #777;
    border: 1px solid #666 !important;
}

button.action:hover, .button.action:hover {
    box-shadow: 0 1px 0px #DDD;
}
button.action:active, .button.action:active {
    box-shadow: none !important;
    border-color: #C6C6C6 !important;
}
button.blue:active, .button.blue:active {
    border-color: #2F5BB7 !important;
}
button.green:active, .button.green:active {
    border-color: #2D6200 !important;
}
button.red:active, .button.red:active {
    border-color: #B0281A !important;
}
button.orange:active, .button.orange:active {
    border-color: #EF8900 !important;
}
button.grey:active, .button.grey:active {
    border-color: #666 !important;
}

/* BUTTON LABEL */
.label, .ui-button-text {
    color: #444;
    display: inline-block;
    float: left;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    padding: 0 1px;
    transition: color .20s;
} 

button:not([disabled]):hover .label, 
.button:not([disabled]):hover .label,
button:not([disabled]):hover .ui-button-text, 
.button:not([disabled]):hover .ui-button-text {
    color: #333;
}
button:hover .label.red, .button:hover .label.red,
button:hover .ui-button-text.red, .button:hover .ui-button-text.red {
    color: #DB4A37;
}
button:hover .label.blue, .button:hover .label.blue,
button:hover .ui-button-text.blue, .button:hover .ui-button-text.blue {
    color: #7090C8;
}
button:hover .label.green, .button:hover .label.green,
button:hover .ui-button-text.green, .button:hover .ui-button-text.green {
    color: #42B449;
}
button:hover .label.yellow, .button:hover .label.yellow,
button:hover .ui-button-text.yellow, .button:hover .ui-button-text.yellow {
    color: #F7CB38;
}

button.blue .label, .button.blue .label,
button.blue .ui-button-text, .button.blue .ui-button-text {
    color: #FFF !important;
    text-shadow: 0 1px 0 #2F5BB7 !important;
}
button.green .label, .button.green .label,
button.green .ui-button-text, .button.green .ui-button-text {
    color: #FFF !important;
    text-shadow: 0 1px 0 #2D6200 !important;
}
button.red .label, .button.red .label,
button.red .ui-button-text, .button.red .ui-button-text {
    color: #FFF !important;
    text-shadow: 0 1px 0 #B0281A !important;
}
button.orange .label, .button.orange .label,
button.orange .ui-button-text, .button.orange .ui-button-text {
    color: #FFF !important;
    text-shadow: 0 1px 0 #EF8900 !important;
}
button.grey .label, .button.grey .label,
button.grey .ui-button-text, .button.grey .ui-button-text {
    color: #FFF !important;
    text-shadow: 0 1px 0 #777 !important;
}

button.action:active .label, .button.action:active .label,
button.action:active .ui-button-text, .button.action:active .ui-button-text {
    color: #333 !important;
}

button.blue:active .label, 
button.green:active .label, 
button.red:active .label, 
button.orange:active .label, 
button.grey:active .label, 
button.primary:active .label, 
button.blue:active .ui-button-text, 
button.green:active .ui-button-text, 
button.red:active .ui-button-text, 
button.orange:active .ui-button-text, 
button.grey:active .ui-button-text, 
button.primary:active .ui-button-text, 
.button.blue:active .label, 
.button.green:active .label, 
.button.red:active .label, 
.button.orange:active .label, 
.button.grey:active .label,
.button.primary:active .label,
.button.blue:active .ui-button-text, 
.button.green:active .ui-button-text, 
.button.red:active .ui-button-text, 
.button.orange:active .ui-button-text, 
.button.grey:active .ui-button-text,
.button.primary:active .ui-button-text {
    color: #FFF !important;
}

/* DROPDOWN MENU */
div.dropdown {
    float: left;
    position: relative;
}

div.dropdown span.toggle {
    background: url(../images/toggle.png) top right no-repeat;
    border-left: 1px solid #D9D9D9;
    float: right;
    height: 16px;
    margin-left: 7px;
    margin-top: 1px;
    margin-right: 2px;
    padding-left: 8px;
    transition: border-color .20s;
    width: 27px;
}
div.dropdown span.toggle.active {
    background: url(../images/toggle.png) bottom right no-repeat;
}
div.dropdown button:hover span.toggle, .button:hover span.toggle {
    border-color: #bbb;
}

div.dropdown-slider {
    display: none;
    overflow: hidden;
    
    margin: 0 7px 5px 7px;
    position: absolute;
    top: 26px;
    right: 0;
    
    background: #F2F2F2;
    
    border-right: solid 1px #D9D9D9;
    border-bottom: solid 1px #D9D9D9;
    border-left: solid 1px #D9D9D9;
    
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    
    transition: border-color .20s;
    
    z-index: 206; /* To stay above menus */
}
.left div.dropdown-slider {
    margin: 0 1px 5px 7px;
}
.middle div.dropdown-slider {
    margin: 0 1px 5px 1px;
}
.right div.dropdown-slider {
    margin: 0 7px 5px 1px;
}
div.dropdown-slider .ddm {
    display: block;
    background: #fff;
    color: #585858;
    
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font: bold 11px Helvetica, Arial, sans-serif;
    line-height: 16px;
    height: 26px;
    
    margin: 0;
    padding: 4px 6px;
    width: 100%;
    float: left;
    
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #D9D9D9;
}
div.dropdown-slider .ddm:hover {
    background: whiteSmoke;
}
div.dropdown-slider .ddm:hover .label {color: #06C;}
div.dropdown-slider .ddm:active {
    border-bottom-color: #4D90FE;
    color: #4D90FE;
    box-shadow:inset 0 0 10px #D4D4D4;
}
div.dropdown-slider .ddm:last-child {
    border-bottom: none;
}

/* primary button */
button.primary, .button.primary {
    background: @primary-button-color;
    border: 1px solid @primary-button-color-border !important;
    transition: border .20s;
}
button.primary:hover, .button.primary:hover,
button.primary:active, .button.primary:active {
    background: @primary-button-color-hover !important;
    border: 1px solid @primary-button-color-border !important;
    box-shadow:0 0 10px #bbb;
}

button.primary .label, .button.primary .label, 
button.primary .ui-button-text, .button.primary .ui-button-text {
    color: #FFF !important;
    text-shadow: 0 1px 0 @primary-button-color !important;
}

/* delete button */
button.delete .label, .button.delete .label {color: #DB4A37;}

button .icon, .button .icon {margin: 0;}
button .icon:not(.busy) + .label, .button .icon:not(.busy) + .label, 
button.busy .label, .button.busy .label {margin-left: 5px;}

button .busy, .button .busy {background-image: url(/WebConfig/yukon/Icons/spinner.gif) !important; display: none;}
button.action .busy, .button.action .busy {background-image: url(/WebConfig/yukon/Icons/spinner-white.gif) !important;}
button.busy .busy, .button.busy .busy {display: inline-block;}
