/**
 * CONTENTS
 * 
 * Variables...............Colors mostly.
 * Button..................The default look of a button.
 * Naked Button........... Button that looks and acts like a link.
 * Disabled Button.........What a button should look like when disabled.
 * Action Button...........A button that looks more intense, used as a call to action.
 * Button Group............Buttons grouped together, that touch eachother, like toggle buttons.
 * Button Label............The container element inside a button to hold the button text.
 * Primary Button..........Action button used as the primary call to action.
 * Delete Button...........Button used to signifies a destructive delete will happen.
 * Busy Button.............Button that shows a spinner icon inside it to indicate activity.
 */

/* Variables */

@red: #d14836;

@primary-color: #06c;
@primary-button-color: #777;
@primary-button-color-border: #444;
@primary-button-color-hover: #888;

@secondary-button-color-hover: #f2f8fc;
@toggle-button-color-hover: #f5f5f5;
@toggle-button-color-selected: #ebebeb;
@toggle-button-color-border: #cbcbcb;

@form-control-height: 26px;


/* Button */

button, .button, input[type=submit], input[type=button], input[type=reset] {
    background-color: #fff;
    border: solid 1px @primary-button-color;
    border-radius: 4px;
    color: @primary-button-color;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    float: left;
    font-size: 0.875rem !important;
    font-weight: 600 !important;
    line-height: 1.75;
    margin: 0;
    margin-right: 16px;
    padding: 5px 15px;
    text-decoration: none;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    
    &:focus { outline: none; }

	&:not(.naked):not(.image-btn):not(.yes):not(.no):not(.button-group-toggle .button) .icon svg {
		fill: @primary-button-color;
	}
}

button .icon, .button .icon { margin: 0; }

.dropdown-trigger button .icon svg {
	fill: @primary-button-color;
}

/* Naked Button (look like links) */

button.naked, .button.naked {
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 16px !important;
    padding: 0;
    margin: 0 5px;
}

button.naked .b-label, .button.naked .b-label {
    color: @primary-color;
    font-weight: normal;
}

button.naked.form-control
.button.naked.form-control {
    line-height: @form-control-height !important;
}

button.naked:not([disabled]):hover .b-label, 
.button.naked:not([disabled]):hover .b-label {
    color: @primary-color;
    text-decoration: underline;
}



/* Disabled Button */

button[disabled], .button[disabled] {
    cursor: default;
    opacity: 0.3;
}

button[disabled] .b-label, 
.button[disabled] .b-label,
button[disabled] .ui-button-text, 
.button[disabled] .ui-button-text { 
    color: #888;
}

button[disabled] .icon, .button[disabled] .icon {
    opacity: .3;
}

button.action[disabled], .button.action[disabled] {
    filter: alpha(opacity=50);
    opacity: .5;
}

/* Image Buttons */
.image-btn {
	border: 1px solid @toggle-button-color-border;
	padding: 7px;
	height: 36px;
}

.image-btn.on {
    background-color: @toggle-button-color-selected;
}

.image-btn:hover {
    text-decoration: none;
    background-color: @secondary-button-color-hover;
}



/* Button Group */

.button-group {
    display: inline-block;
    vertical-align: top;
}

button.left, .button.left, 
input.left, select.left, 
.button-group button:first-of-type,
.button-group .radio-btn:first-child .button,
.button-group .switch-btn:first-child .button  {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin: 0 0 0 5px;
}

button.middle, .button.middle, 
input.middle, select.middle, 
.button-group button:not(:first-of-type):not(:last-of-type),
.button-group .radio-btn:not(:first-child):not(:last-child) .button,
.button-group .switch-btn:not(:first-child):not(:last-child) .button {
    border-left: 0;
    border-radius: 0;
    margin: 0;
}

button.right, .button.right, 
input.right, select.right, 
.button-group button:last-of-type,
.button-group .radio-btn:last-child .button,
.button-group .switch-btn:last-child .button {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0 5px 0 0;
}

button:not([disabled]):not(.naked):not(.action):hover, .button:not([disabled]):not(.naked):not(.action):hover {
    background-color: @secondary-button-color-hover;
}

button.yes, button.no, .button.yes, .button.no, 
.button-group .button,
.radio-btn .button {
	padding: 7px;
	border-color: @toggle-button-color-border;
	height: 36px;
}

button.yes .b-label, button.no .b-label, .button.yes .b-label, .button.no .b-label,
.button-group .button .b-label,
.radio-btn .button .b-label {
	color: #727e84;
	font-size: 0.8125rem;
}

button.yes:enabled:hover, button.no:enabled:hover, .button.yes:enabled:hover, .button.no:enabled:hover,
.button-group .button:enabled:hover,
.radio-btn .button:enabled:hover {
	background-color: @toggle-button-color-hover !important;
}

button.on, {
	background-color: @toggle-button-color-selected;
}


button.blue, .button.blue {
    background-color: #4B8DF8;
    border: 1px solid #3079ed !important;
    transition: border .20s;
}
button.blue:hover, .button.blue:hover {
    background-color: #3f83f1;
    border: 1px solid #2f5bb7 !important;
}
button.blue:active, .button.blue:active,
button.blue:focus, .button.blue:focus {
    border-color: #2f5bb7 !important;
}

button.green, .button.green {
    background-color: #3a8e00;
    border: 1px solid #29691d !important;
    transition: border .20s;
}
button.green:hover, .button.green:hover {
    background-color: #3f83f1;
    border: 1px solid #2d6200 !important;
}
button.green:active, .button.green:active,
button.green:focus, .button.green:focus {
    border-color: #2d6200 !important;
}

button.red, .button.red {
    background-color: #d64937;
    border: 1px solid @red !important;
    transition: border .20s;
}
button.red:hover, .button.red:hover {
    background-color: #d14130;
    border: 1px solid #b0281a !important;
}
button.red:active, .button.red:active,
button.red:focus, .button.red:focus {
    border-color: #b0281a !important;
}

button.orange, .button.orange {
    background-color: #ff9900;
    border: 1px solid #ef8900 !important;
    transition: border .20s;
}
button.orange:hover, .button.orange:hover {
    background-color: #ff9900;
    border: 1px solid #ef8900 !important;
}
button.orange:active, .button.orange:active,
button.orange:focus, .button.orange:focus {
    border-color: #ef8900 !important;
}

button.grey, .button.grey {
    background-color: #777;
    border: 1px solid #666 !important;
    transition: border .20s;
}
button.grey:hover, .button.grey:hover {
    background-color: #777;
    border: 1px solid #666 !important;
}
button.grey:active, .button.grey:active,
button.grey:focus, .button.grey:focus {
    border-color: #666 !important;
}



/* Button Label */

.b-label, .ui-button-text {
    color: @primary-button-color;
    display: inline-block;
    float: left;
    line-height: 1.75;
    overflow: hidden;
    padding: 0 1px;
    transition: color .20s;
}

button:hover .b-label.red, .button:hover .b-label.red,
button:hover .ui-button-text.red, .button:hover .ui-button-text.red {
    color: @red;
}
button:hover .b-label.blue, .button:hover .b-label.blue,
button:hover .ui-button-text.blue, .button:hover .ui-button-text.blue {
    color: #7090c8;
}
button:hover .b-label.green, .button:hover .b-label.green,
button:hover .ui-button-text.green, .button:hover .ui-button-text.green {
    color: #42b449;
}
button:hover .b-label.yellow, .button:hover .b-label.yellow,
button:hover .ui-button-text.yellow, .button:hover .ui-button-text.yellow {
    color: #f7cb38;
}

button.blue .b-label, .button.blue .b-label,
button.blue .ui-button-text, .button.blue .ui-button-text {
    color: #fff !important;
    text-shadow: 0 1px 0 #2f5bb7 !important;
}
button.green .b-label, .button.green .b-label,
button.green .ui-button-text, .button.green .ui-button-text {
    color: #fff !important;
    text-shadow: 0 1px 0 #2d6200 !important;
}
button.red .b-label, .button.red .b-label,
button.red .ui-button-text, .button.red .ui-button-text {
    color: #fff !important;
    text-shadow: 0 1px 0 #b0281a !important;
}
button.orange .b-label, .button.orange .b-label,
button.orange .ui-button-text, .button.orange .ui-button-text {
    color: #fff !important;
    text-shadow: 0 1px 0 #ef8900 !important;
}
button.grey .b-label, .button.grey .b-label,
button.grey .ui-button-text, .button.grey .ui-button-text {
    color: #fff !important;
    text-shadow: 0 1px 0 #777 !important;
}

button.action:active .b-label, .button.action:active .b-label,
button.action:active .ui-button-text, .button.action:active .ui-button-text {
    color: #333 !important;
}

button.blue:active .b-label, 
button.green:active .b-label, 
button.red:active .b-label, 
button.orange:active .b-label, 
button.grey:active .b-label, 
button.primary:active .b-label, 
button.blue:active .ui-button-text, 
button.green:active .ui-button-text, 
button.red:active .ui-button-text, 
button.orange:active .ui-button-text, 
button.grey:active .ui-button-text, 
button.primary:active .ui-button-text, 
.button.blue:active .b-label, 
.button.green:active .b-label, 
.button.red:active .b-label, 
.button.orange:active .b-label, 
.button.grey:active .b-label,
.button.primary:active .b-label,
.button.blue:active .ui-button-text, 
.button.green:active .ui-button-text, 
.button.red:active .ui-button-text, 
.button.orange:active .ui-button-text, 
.button.grey:active .ui-button-text,
.button.primary:active .ui-button-text {
    color: #fff !important;
}



/* Primary Button */

button.primary, .button.primary {
    background-color: @primary-button-color;
    border: 1px solid @primary-button-color-border !important;
    transition: border .20s;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
	.icon svg {
		fill: #fff;
	}
}

button.primary:hover, .button.primary:hover,
button.primary:active, .button.primary:active {
    background-color: @primary-button-color-hover !important;
    border: 1px solid @primary-button-color-hover !important;
    box-shadow : 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    
}

button.primary:focus, .button.primary:focus {
    background-color: @primary-button-color-hover !important;
    border: 1px solid @primary-button-color-border !important;
    box-shadow: 0 0 4px #bbb;
}

button.primary .b-label, .button.primary .b-label, 
button.primary .ui-button-text, .button.primary .ui-button-text {
    color: #fff !important;
}



/* Delete Button */

button.delete:not([disabled]) .b-label,
.button.delete:not([disabled]) .b-label,
.ui-dialog-buttonpane .ui-dialog-buttonset button.delete:not([disabled]) { color: @red; }

button.delete:not([disabled]),
.ui-dialog-buttonpane .ui-dialog-buttonset button.delete:not([disabled]) { 
    border: 1px solid @red;
}



/* Busy Button */

button .icon:not(.busy) + .b-label, .button .icon:not(.busy) + .b-label, 
button.busy .b-label, .button.busy .b-label { 
    margin-left: 5px;
}

button .busy, .button .busy {
    background-image: url(../Icons/spinner.gif) !important;
    display: none;
}

button.action .busy, .button.action .busy {
    background-image: url(../Icons/spinner-white.gif) !important;
}

button.busy .busy, .button.busy .busy {
    display: inline-block;
}

button.arrows {
    margin: 0 3px;
}
