/*
    This file defines the basic layout of a page in Yukon.
    
    TABLE OF CONTENTS:
    VARIABLES
    MIXINS
    BASE
    HEADER
    CONTENT
    FOOTER
    LOGIN PAGE
    GRID
*/

/* VARIABLES */
@page-width: 988px;
@page-background: #6e6d71;
@page-background-font-color: white;
@content-background: white;

@nav-background: whiteSmoke;
@nav-shadow: #5a595d;
@nav-border: #ddd;

@primary-color: #06C;
@font-color: #555;

@login-font-color: #fff;
@login-font-shadow: rgba(0,0,0,0.5);
@login-background-url: '../../common/images/2';
@tagline-margin: 35px;

@logo-url: '../../common/images/1';
@logo-left: 0px;
@logo-top: 17px;
@logo-width: 163px;

@footer-logo-url: '../layout/powered_by_yukon.png';
@footer-logo-white-url: '../layout/powered_by_yukon_white.png';

//FONTS
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* MIXINS */

// Constrict to a fixed width
.page-fixed-width() {
    margin: 0 auto;
    overflow: visible;
    width: @page-width;
}

/* BASE */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    background-color: @page-background;
    display: block;
    overflow-y: auto;
    
    head { display: none; }
    body {
        background-color: @page-background;
        color: @font-color;
        display:block;
        font: 14px/1.3 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
           -moz-font-smoothing: antialiased;
                font-smoothing: antialiased;
        margin: 0;
        padding:0;
    }
}

.yukon-page { min-width: @page-width; }

/* HEADER */
.yukon-header .toolbar-outer { height: 50px; }

.yukon-header .toolbar-inner { .page-fixed-width; }
.yukon-header .nav-inner { .page-fixed-width; }

.yukon-header .toolbar {
    float: right;
    margin-top: 8px;
}
.yukon-header .toolbar .button:hover { box-shadow: none !important; }
.yukon-header .b-user-menu > .button { margin-right: 0; }
.yukon-header .yukon-search-form {
    float: left;
    margin-right: 6px;
}
.yukon-header .search-field { 
	min-width: 240px;
	border-radius: 4px;
	padding: 8px !important;
	background-color: white !important;
}
.yukon-header .yukon-alert-button { padding: 4px 10px; }
.yukon-header .yukon-alert-button .b-label {
    font-size: 14px;
    padding: 0 !important;
}

.yukon-header .nav-outer {
    background-color: @nav-background;
    border-bottom: 1px solid @nav-border;
    box-shadow: 0 -5px 5px @nav-shadow;
    height: 72px;
}

.yukon-header .bars { background-color: @content-background; }
.yukon-header .bc-bar { padding-bottom: 0; padding-top: 5px; }
.yukon-header .page-title-bar { padding-bottom: 10px; }
.yukon-header .bc-bar,
.yukon-header .page-title-bar {
    .page-fixed-width;
    background-color: @content-background;
    font-size: .9em;
    line-height: 26px;
}

.yukon-header .page-heading,
.yukon-header .page-actions { display: inline-block; }
.yukon-header .page-heading { float: left; }
.yukon-header .page-actions { float: right; }
.yukon-header .page-actions .button { margin-right: 0; }

.yukon-header a {
    cursor: pointer;
    &:hover { text-decoration: none; }
}

.yukon-header .menus,
.yukon-header .menu-options {
    margin: 0;
    padding: 0;
    z-index: 400;
}

.yukon-header .menu,
.yukon-header .menu-title { background: url(../layout/sprite_nav.png) right 0 no-repeat; }

.yukon-header .menu,
.yukon-header .menu-option { list-style: none; }

.yukon-header .menu {
    background-position: 0 0;
    float: left;
    margin: 0 -7px 0 0;
    padding: 0 0 0 1px;
    position: relative;
    z-index: 2;
}
// Show dropdown menus when hovered, focused
.yukon-header .menu.dropdown:hover,
.yukon-header .menu.dropdown:focus {
    background-position: 0 -100px;
    z-index: 205;
}
.yukon-header .menu.dropdown:hover .menu-options ,
.yukon-header .menu.dropdown:focus .menu-options {
    display: block;
    left: 3px;
}
.yukon-header .menu.dropdown:hover .menu-title,
.yukon-header .menu.dropdown:focus .menu-title {
    background-position: right -100px;
    margin-left: 3px;
    padding-left: 17px;
    z-index: 205;
}

.yukon-header .menu-title {
    background-position: right 0;
    color: @primary-color;
    display: block;
    font-size: 1.077em;
    font-weight: bold;
    line-height: 72px;
    padding: 0 44px 0 20px;
    text-shadow: 0 1px 1px white;
}

.yukon-header .menu-options {
    background: white;
    border: 1px solid #d6d6d6;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 1px 2px #ccc;
    display: none;
    left: -9999px;
    margin-top: -17px;
    min-width: 100%;
    padding: 5px 0;
    position: absolute;
    top: 66px;
    white-space: nowrap;
    z-index: -1;
}

.yukon-header .menu-option {
    background: 0;
    float: none;
    font-weight: normal;
    line-height: 28px;
    margin: 0;
    padding: 0;
    position: relative;
    
    &:first-child { padding-top: 10px; }
}
.yukon-header .menu-option.common-section { border-top: 1px solid #ddd; }

.yukon-header .menu-option-link {
    background: 0;
    color: @font-color;
    display: block;
    font-size: 1em;
    padding-left: 17px;
    padding-right: 17px;
    &:hover {
        background: @nav-background;
        color: @primary-color;
    }
}

.yukon-header .logo,
.yukon-header .logo:hover { background: none; }
.yukon-header .logo a {
    display: inline-block;
    min-height: 68px;
    background: url(@logo-url) @logo-left @logo-top no-repeat;
    width: @logo-width;
}

/* CONTENT */
.yukon-content {
    background-color: @content-background;
    border-bottom: 1px solid @nav-border;
    clear: both;
    margin: 0;
    min-height: 500px;
    min-width: @page-width;
    outline: 0;
    padding: 0;
    width: 100%;
}
.yukon-content .main-container { padding-bottom: 10px; }

/* FOOTER */ 
.yukon-footer {
    margin: 0 auto;
    
    ul, ul li {
        margin: 0;
        padding: 0;
    }
    
    ul li { display: inline-block; }
    
    .utility {
        background-color: @nav-background;
        box-shadow: 0 6px 4px @nav-shadow;
        
        nav {
            margin: 0 auto;
            overflow: auto;
            width: @page-width;
            
            ul  {
                
                li {
                    float:right;
                    margin-right: 25px;
                }
                
                a {
                    color: @primary-color;
                    display: inline-block;
                    font-size: .923em;
                    font-weight: bold;
                    line-height: 4.16em;
                    padding: 0;
                    text-shadow: 1px 1px white;
                    
                    &:hover, &:focus {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    .footer {
        color: @page-background-font-color;
        font-size: .846em;
        margin: 0 auto;
        oveflow: auto;
        width: @page-width;
        
        .content {
            width: 100%;
            
            .right {
                float: right;
                width: 28%;
                
                .branding .footer-logo {
                    background: url(@footer-logo-white-url) 0 0 no-repeat;
                    display: inline-block;
                    float: right;
                    height: 29px;
                    margin-top:16px;
                    width: 245px;
                }
            }
            .left {
                float: left;
                width: 72%;
                
                ul {
                    clear: left;
                    float: left;
                    margin: 0 0 10px 0;
                    width: auto;
                    
                    a {
                        color: @page-background-font-color;
                        line-height: 1em; 
                        text-decoration: underline;
                    }
                    
                    li {
                        padding-left: 9px;
                        margin: 0 0 0 9px;
                        
                        &:first-child {
                            border-left: 0;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
                
                .legal .copyright {
                    clear: both;
                    float: left;
                    margin: 0 0 10px 0;
                    padding: 0 10px 0 0;
                }
            }
            
            .left .legal, .right .branding {
                overflow: auto;
                margin-top: 30px;
                padding-bottom: 32px;
                clear: both;
            }
        }
    }
}

/* LOGIN PAGE */
.login-content {
    background: url(@login-background-url) no-repeat scroll center top #fff;
    min-height: 420px;
    position: relative;
    
    .tagline {
        color:@login-font-color;
        font-size: 24px;
        font-weight: bold;
        margin-top: @tagline-margin;
        text-shadow: 1px 1px 2px @login-font-shadow !important;
    }
    
    .faded-round-box {
        background-color: rgba(200, 200, 200, 0.2);
        border-color: rgba(200, 200, 200, 0.2);
        border-style: solid;
        border-radius: 5px;
        border-width: 1px;
        box-shadow: 0 0 4px 0 inset;
        padding: 20px;
        width: auto !important;
    }
    
    .login-form {
        margin-left: 90px;
        margin-top: 45px;
        
        .remember-me {
            color: @login-font-color;
            text-shadow: 1px 1px 2px @login-font-shadow;
        }
        
        .login-error-msg {
            background-color: #efefef;
            border: 1px solid #bbb;
            color: #c44;
            margin-bottom: 10px;
            padding: 4px;
            text-align: center;
        }
        
    }
}

/* GRID */
.column {
    float: left;
    margin-right: 2.0242914979757085020242914979757%;
    vertical-align: top;
}

.column > h1:first-child, 
.column > h2:first-child, 
.column > h3:first-child, 
.column > h4:first-child, 
.column > p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.column.nogutter,.nogutter { margin-right: 0; }

.column-24,
.column-4-20,
.column-6-18,
.column-7-17,
.column-8-16,
.column-10-14,
.column-12-12,
.column-14-10,
.column-16-8,
.column-18-6,
.column-21-3,
.column-3-18-3,
.column-4-8-12,
.column-4-10-10,
.column-4-12-8,
.column-4-14-6,
.column-6-8-10,
.column-6-10-8,
.column-6-12-6,
.column-6-15-3,
.column-8-8-8,
.column-8-10-6,
.column-8-13-3,
.column-10-4-10,
.column-10-8-6,
.column-10-11-3,
.column-12-9-3,
.column-6-6-6-6,
.column-10-7-7,
.column-12-6-6 {
    margin:0 auto;
    max-width: @page-width;
}

.column-24 > .one { width: 100%; }
.column-4-20 > .one { width: 14.97975709%; }
.column-4-20 > .two { width: 82.99595142%; }
.column-6-18 > .one { width: 23.48178138%; }
.column-6-18 > .two { width: 74.49392713%; }
.column-7-17 > .one { width: 28.57624831%; }
.column-7-17 > .two { width: 69.39946018%; }
.column-8-16 > .one { width: 31.98380567%; }
.column-8-16 > .two { width: 65.9919028340081%; }
.column-10-14 > .one { width: 40.48582996%; }
.column-10-14 > .two { width: 57.48987854%; }
.column-12-12 > .one { width: 48.98785425%; }
.column-12-12 > .two { width: 48.98785425%; }
.column-14-10 > .one { width: 57.48987854%; }
.column-14-10 > .two { width: 40.48582996%; }
.column-16-8 > .one { width: 65.99190283%; }
.column-16-8 > .two { width: 31.98380567%; }
.column-18-6 > .one { width: 74.49392713%; }
.column-18-6 > .two { width: 23.48178138%; }
.column-19-5 > .one { width: 77.56410256%; }
.column-19-5 > .two { width: 20.41160594%; }
.column-20-4 > .one { width: 82.99595142%; }
.column-20-4 > .two { width: 14.97975709%; }
.column-21-3 > .one { width: 87.24696356%; }
.column-21-3 > .two { width: 10.72874494%; }
.column-3-18-3 > .one { width: 10.72874494%; }
.column-3-18-3 > .two { width: 74.49392713%; }
.column-3-18-3 > .three { width: 10.72874494%; }
.column-4-8-12 > .one { width: 14.97975709%; }
.column-4-8-12 > .two { width: 31.98380567%; }
.column-4-8-12 > .three { width: 48.98785425%; }
.column-4-10-10 > .one { width: 14.97975709%; }
.column-4-10-10 > .two { width: 40.48582996%; }
.column-4-10-10 > .three { width: 40.48582996%; }
.column-4-12-8 > .one { width: 14.97975709%; }
.column-4-12-8 > .two { width: 48.98785425%; }
.column-4-12-8 > .three { width: 31.98380567%; }
.column-4-14-6 > .one { width: 14.97975709%; }
.column-4-14-6 > .two { width: 57.48987854%; }
.column-4-14-6 > .three { width: 23.48178138%; }
.column-6-6-12 > .one { width: 23.48178138%; }
.column-6-6-12 > .two { width: 23.48178138%; }
.column-6-6-12 > .three { width: 48.98785425%; }
.column-6-8-10 > .one { width: 23.48178138%; }
.column-6-8-10 > .two { width: 31.98380567%; }
.column-6-8-10 > .three { width: 40.48582996%; }
.column-6-10-8 > .one { width: 23.48178138%; }
.column-6-10-8 > .two { width: 40.48582996%; }
.column-6-10-8 > .three { width: 31.98380567%; }
.column-6-12-6 > .one { width: 23.48178138%; }
.column-6-12-6 > .two { width: 48.98785425%; }
.column-6-12-6 > .three { width: 23.48178138%; }
.column-6-15-3 > .one { width: 23.48178138%; }
.column-6-15-3 > .two { width: 61.74089069%; }
.column-6-15-3 > .three { width: 10.72874494%; }
.column-8-8-8 > .one { width: 31.98380567%; }
.column-8-8-8 > .two { width: 31.98380567%; }
.column-8-8-8 > .three { width: 31.98380567%; }
.column-8-10-6 > .one { width: 31.98380567%; }
.column-8-10-6 > .two { width: 40.48582996%; }
.column-8-10-6 > .three { width: 23.48178138%; }
.column-8-13-3 > .one { width: 31.98380567%; }
.column-8-13-3 > .two { width: 53.2388664%; }
.column-8-13-3 > .three { width: 10.72874494%; }
.column-10-4-10 > .one { width: 40.48582996%; }
.column-10-4-10 > .two { width: 14.97975709%; }
.column-10-4-10 > .three { width: 40.48582996%; }
.column-10-7-7 > .one { width: 40.48582996%; }
.column-10-7-7 > .two { width: 27.73279352%; }
.column-10-7-7 > .three { width: 27.73279352%; }
.column-10-8-6 > .one { width: 40.48582996%; }
.column-10-8-6 > .two { width: 31.98380567%; }
.column-10-8-6 > .three { width: 23.48178138%; }
.column-10-11-3 > .one { width: 40.48582996%; }
.column-10-11-3 > .two { width: 44.73684211%; }
.column-10-11-3 > .three { width: 10.72874494%; }
.column-12-6-6 > .one { width: 48.98785425%; }
.column-12-6-6 > .two { width: 23.48178138%; }
.column-12-6-6 > .three { width: 23.48178138%; }
.column-12-9-3 > .one { width: 48.98785425%; }
.column-12-9-3 > .two { width: 36.23481781%; }
.column-12-9-3 > .three { width: 10.72874494%; }
.column-6-6-6-6 > .one { width: 23.48178138%; }
.column-6-6-6-6 > .two { width: 23.48178138%; }
.column-6-6-6-6 > .three { width: 23.48178138%; }
.column-6-6-6-6 > .four { width: 23.48178138%; }
.wide .column-24 { max-width: 99%; }

/* dev only stuff */
.dev-module {
    background-image: url(../../../resources/images/textures/bright-squares.png);
}