/* VARIABLES */
@primary-color: #06C;
@font-color: #555;
@visited-color: #04A;

@red: #D14836;
@green: #093;
@orange: #FB8521;

@form-control-height: 26px;

/* Functional Overrides */
.box {overflow: hidden;display: block;position: relative;zoom: 1;}

.B0 {bottom: 0px;}
.bn {border: none; border-style: none;}
.cl {clear: left;}
.clear {clear: both;}
.cp {cursor: pointer;}
.cr {clear: right;}
.db {display: block;}
.di {display: inline;}
.dib {display: inline-block;}
.dn {display: none;}
.fl {float: left !important;}
.fn {float: none !important;}
.fr {float: right !important;}
.fwb {font-weight: bold;}
.fwn {font-weight: normal;}
.L0 {left: 0px;}
.M0 {margin: 0;}
.ma {margin: auto;}
.oa {overflow: auto;}
.oh {overflow: hidden;}
.ov {overflow: visible;}
.P0 {padding: 0px;}
.pa {position: absolute;}
.pf {position: fixed;}
.pr {position: relative;}
.R0 {right: 0px;}
.scroll_x {overflow-x: auto;}
.scroll_y {overflow-y: auto;}
.T0 {top: 0px;}
.tac {text-align: center;}
.tal {text-align: left;}
.tar {text-align: right;}
.usn {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.vab {vertical-align: bottom;}
.vam {vertical-align: middle;}
.vat {vertical-align: top !important;}
.vatt {vertical-align: text-top;}
.vh {visibility: hidden;}
.vv {visibility: visible;}
.wrbw {word-wrap: break-word;}
.wrn {word-wrap: normal;}
.wsn {white-space: normal;}
.wsnw {white-space: nowrap;}
.wsp {white-space: pre;}
.z1 {zoom: 1;}
.zN {zoom: normal;}

/* Tipsy Overrides */
.tipsy-inner {background-color: #FFF; color: #000; max-width: 600px; padding: 5px 8px 4px 8px; text-align: left;}
.tipsy-inner {box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000;}
.tipsy-inner {border-radius: 2px;}
.tipsy {font-size: 14px;}
.tipsy-arrow-n {border-bottom-color: #665;}
.tipsy-arrow-s {border-top-color: #665;}
.tipsy-arrow-e {border-left-color: #665;}
.tipsy-arrow-w {border-right-color: #665;}

/* DynaTree Overrides */
ul.dynatree-container {
    font-family: helvetica, sans-serif;
    font-size: 11px;
    border: none;
}
span.dynatree-icon {background-image:url("/WebConfig/yukon/styles/lib/dynatree/tree/folder.gif"); background-position: 0 0 !important; background-repeat:no-repeat; background-color:transparent;}
.dynatree-expanded span.dynatree-icon {background-image:url("/WebConfig/yukon/styles/lib/dynatree/tree/folder-open.gif"); background-position: 0 0 !important; background-repeat:no-repeat; background-color:transparent;}

ul.dynatree-container a:hover {
    color: @primary-color;
    text-decoration: none;
}
span.dynatree-node a {
    font-size: 11px;
    line-height: 15px; /* 2 down from 17px to allow for 2px's of border (1 top, 1 bottom) */
}
span.dynatree-active a {
    background-color: transparent !important;
    color: @font-color !important;
}
span.dynatree-selected a {
    color: @font-color;
    font-style: normal;
}
span.dynatree-selected .dynatree-title {
    background-color:#FFF465 !important;
    color: @font-color !important;
}

.inline-tree {
    border: solid 1px #ccc;
}

.inline-tree.bn, .popupTree, .inline-tree.contained{
    border: none;
}

.inline-tree .treeCanvas {
    background: white;
}

.tree_helper_controls {
    background: #efefef;
    border-bottom: 1px dotted #ccc;
    padding: 2px 10px;
    overflow:hidden;
    font-size: 12px;
}
.tree_helper_controls a {
    margin: 3px 4px 0 0;
}
.tree_helper_controls .open_all, .tree_helper_controls .close_all {
    width: 16px;
    height: 1px;
    padding-top: 15px;
    float: left;
    overflow:hidden;
    background-position: left top;
    background-color: transparent;
}
.tree_helper_controls .open_all {
    background-image: url('/WebConfig/yukon/styles/lib/dynatree/tree/expand.png');
}
.tree_helper_controls .close_all {
    background-image: url('/WebConfig/yukon/styles/lib/dynatree/tree/collapse.png');
}

.dynatree-title {border-radius: 2px;border: 1px solid white;}
.dynatree-selected .dynatree-title {border: 1px solid #EFE455;}
.static-mode .dynatree-selected .dynatree-title {border: 1px solid #bbb;}

.contained .tree_helper_controls {background: white;}

.static-mode .dynatree-selected .dynatree-title {background-color: white !important;}
.static-mode .dynatree-title {cursor: default;}
.static-mode a.dynatree-title:hover {color: black;}
.static-mode .dynatree-focused a:link, span.dynatree-active a {color: black;background: white;}

.static-mode span.dynatree-checkbox, .static-mode span.dynatree-checkbox:hover {background-position: 0px -160px;}
.static-mode span.dynatree-selected span.dynatree-checkbox, .static-mode .dynatree-selected span.dynatree-checkbox:hover {background-position: -32px -160px;}
.static-mode span.dynatree-partsel span.dynatree-checkbox, .static-mode .dynatree-partsel span.dynatree-checkbox:hover {background-position: -64px -160px;}

.static-mode span.dynatree-selected .dynatree-title {background-color:#ddd !important;color: @font-color !important;}

/* jQuery UI Overrides */
.ui-widget {
    
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0;
    font: inherit;
    
    input, select, textarea, button {
        font: inherit;
    }
    button, .button, input[type=submit], input[type=button], input[type=reset] {
        font: bold 12px Helvetica,Arial,sans-serif;
    }
    
    .ui-widget-header {
        padding: 5px 10px;
        border: none;
        border-radius: 2px 2px 0 0;
        text-shadow: 1px 1px 0 white;
        background: whitesmoke;
        color: @font-color;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    > .ui-widget-content {
        color: @font-color;
        background: #fff;
        border-top: 1px solid #ccc;
        padding: 10px;
        
        a {
            color: @primary-color;
        }
    }
}
.ui-widget-content {
    background: #fff;
    
    .ui-state-focus, .ui-state-hover {
        background: #f3f3f3;
    }
} /* need this since outside the one above */

.ui-dialog {
    background: #fff;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    -webkit-transition: margin-top 0.25s ease-in-out;
    -moz-transition: margin-top 0.25s ease-in-out;
    transition: margin-top 0.25s ease-in-out;
    z-index: 1000;
    
    .ui-dialog-titlebar {
    
        .ui-dialog-title {
            margin: 0;
        }
    
        .ui-dialog-titlebar-close {
            border: none;
            height: 16px !important;
            width: 16px !important;
            top: 16px;
            right: 11px;
            
            .ui-icon {
                background-image: url(../Icons/icons.png);
                background-position: -352px -400px;
                background-repeat: no-repeat;
            }
        }
    }
    
    .ui-dialog-content {
        box-sizing: content-box;-moz-box-sizing: content-box;
    }
    
    .ui-dialog-buttonpane {
        border: none;
        margin-top: 4px;
        padding: 0;
        
        .ui-dialog-buttonset {
            
            margin-right: 10px;
            
            button {
                background: #F3F3F3;
                border: solid 1px #bbb;
                border-radius: 2px;
                color: #444;
                display: inline-block;
                float: left;
                font: bold 12px Helvetica, Arial, sans-serif;
                font-smoothing: antialiased;
                height: 26px;
                line-height: 16px;
                margin: 5px;
                padding: 4px 8px;
                text-decoration: none;
                text-shadow: 0 1px 0 #fff;
                transition: border-color .20s;
                
                .ui-button-text {
                    padding: 0;
                }
            }
            
            button.action {
                background: #f2f2f2;
                border: 1px solid #d8d8d8!important;
                transition: border .20s;
                padding: 4px 12px;
            }
            
            button.primary {
                background: #777;
                border: 1px solid #666!important;
                transition: border .20s;
            }
        }
    }
}

.ui-widget-overlay {
    background: #fff;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
}

.ui-tabs {
    
    border: 0;
    
    .ui-tabs-nav {
        background: none;
        padding: 0 0 0 5px;
        
        li {
            background: whitesmoke; 
            border: 1px solid #ccc;
            border-bottom-width: 0;
            border-radius: 2px 2px 0 0;
            margin: 0 -1px 0 0;
            
            &.ui-tabs-active {
                background: #fff;
            }
            
            &:not(.ui-tabs-active):hover {
                background: #fff;
                a {
                    color: @primary-color;
                }
            }
            
            a {
                color: @font-color;
                padding: 5px 8px !important;
            }
        }
    }
    .ui-tabs-active > .ui-tabs-anchor {
        font-weight: bold !important;
    }
}
.link-tabbed-container .ui-tabs-nav {border-bottom: 1px solid #ccc;}

.ui-tooltip {border-radius: 2px;}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {background-color: #eee;}
.ui-progressbar {max-height: 26px; padding: 2px;}
.ui-progressbar .ui-progressbar-value {background-color: #ddd;margin: 0;}

.ui-slider {
    border: 1px solid #bbb;
    border-radius: 3px;
    .ui-slider-handle {
        border: 1px solid #bbb;
        background-color: #f3f3f3;
        &:focus {box-shadow: 0 0 3px @primary-color;}
    }
}
.ui-datepicker {z-index: 1001 !important;}

/** Bootstrap Overrides */
.progress {background-color: #e8e8e8;border-radius: 3px;height: 18px;margin-bottom: 0px;}
.breadcrumb {
    background-color: white;
    margin: 0;
    padding: 5px 0;
    .active {color: @font-color;}
}
.breadcrumb > li + li:before {padding: 0 2px 0 6px;}