/*
    This file defines the basic look and feel of Yukon.
    This file can be included on consumer pages to reuse container styles.
    
    TABLE OF CONTENTS:
    VARIABLES
    HEADINGS
    LINKS
    COLORS
    FORM FIELDS
    VERTICAL MENUS
    TABLES
    PROGRESS BARS
    LISTS
    CONTAINERS
    FLASHSCOPES
    PIPES
    COLOR CODING
    DIALOGS
    FIELD HELPER
    SCROLLING
    CATEGORIES AND SETTINGS
    MISC
    YUKON PICKER
    COLOR PICKER
    IMAGE PICKER
    DATE/TIME PICKER
    DROPDOWN MENUS
    MODAL/BLOCKING GLASS
    CONNECTION WARNING
    FAVORITES
    ANIMATIONS
    JUNK TO FIX
*/

/* VARIABLES */
@primary-color: #06c;
@font-color: #555;
@visited-color: #04a;

@red: #d14836;
@green: #093;
@blue: #1f4cff;
@orange: #fb8521;

@form-control-height: 26px;

/* HEADINGS */
.page-heading {
    display: inline-block;
    float: left; 
    margin: 0;
}

h1 { font-size: 1.3em; }
h2 { font-size: 1.17em; }
h3 { font-size: 1.0em; }
h4 { font-size: .95em; }
h5 { font-size: .9em; }
h6 { font-size: .8em; }
h1, h2, h3, h4, h5, h6 { margin: .3em 0; }

/* LINKS */
a {
    text-decoration: none;
    outline: none;
    
    &:link, 
    &:visited {
        color: @primary-color;
    }
    &:hover, 
    &:focus {
        text-decoration: underline;
        outline: none;
    }
    &:link.subtle-link, 
    &:visited.subtle-link {
        color: @font-color;
    }
    &:link.subtle-link:hover, 
    &:visited.subtle-link:hover {
        color: @primary-color; 
        cursor: pointer;
    }
}
.show-visited, 
.compact-results-table, 
.results-table, 
.name-value-table {
    a:visited { color: @visited-color; }
}
a.show-visited:visited { color: @visited-color; }
.vertical-menu a:hover { text-decoration: none; }

/* COLORS */
a, 
.primary-color, 
.vertical-menu li.selected a, 
.vertical-menu a:hover, 
.ui-widget-content a, 
#subMenu a:visited, 
.page-size a:visited {
    color: @primary-color;
}
.primary-background {
    background-color: @primary-color; 
    color: white;
}

/** 
 * IE 9 does not support pseudo element selector '::selection' 
 * and will ignore the entire rule, therefore it must be in it's own rule.
 */
::-moz-selection, 
     ::selection {
    background-color: @primary-color; 
    color: white;
}
.primary-background a, 
.primary-background a:visited {
    color: white;
}
.highlight, 
.primary-background .highlight {
    color: @orange;
}
.alert { background-color: #ffcccc !important; }

/* FORM FIELDS */
label { cursor: pointer;}

input[type=email], 
input[type=number], 
input[type=password], 
input[type=tel], 
input[type=text], 
input[type=url], 
select, 
textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 2px;
    margin: 0;
    padding: 2px 5px;
    transition: border .1s ease-in-out,background-color .1s ease-in-out;
    
    &:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }
    
    &:focus {
        border: 1px solid @primary-color;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        outline: none;
    }
    
    &.left, &.middle {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    
    &.right, &.middle {
        border-left: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

input[disabled], 
select[disabled], 
textarea[disabled] {
    background: #f1f1f1 !important;
    border: 1px solid #e5e5e5;
}

input[type=email], 
input[type=number], 
input[type=password], 
input[type=tel], 
input[type=text], 
input[type=url], 
select:not([multiple]):not([size]) {
    height: @form-control-height;
    line-height: normal !important;
}

input[type=checkbox], 
input[type=radio] {
    margin: 3px;
}

/* hack to achieve webkit only css */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select:not([multiple]):not([size]), 
    select[size="1"] {
        background-image: url('../Icons/bullet_arrow_down.png');
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 16px;
    }
}

.placeholder { color: #aaa; }

/** Styles for a 'toggle switch' checkbox **/
.checkbox input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.checkbox-value {
    background-color: #ddd;
    border: 0.1em solid #bbb;
    border-radius: 0.75em;
    box-shadow: inset 0 0.1em 0 0.1em rgba(0,0,0,0.075);
    display: inline-block;
    height: 1.5em;
    margin: 0 0.2em;
    position: relative;
    transition: all 120ms;
    vertical-align: -0.5em;
    width: 2.5em;
}
.checkbox-value::before {
    background-color: #fff;
    border: 0.1em solid;
    border-color: inherit;
    border-radius: 50%;
    box-shadow: 0 0.0625em 0 0.0625em rgba(0,0,0,0.075);
    content: '';
    display: block;
    height: 1.5em;
    left: 25%;
    margin-left: -0.9375em;
    margin-top: -0.15em;
    position: absolute;
    top: 0;
    transition: all 120ms ease-in;
    width: 1.5em;
}
input:checked + .checkbox-value {
    background-color: #70C765;
    border-color: #5A9E51;
}
input:checked + .checkbox-value::before { left: 75%; }
.with-form-controls .checkbox-value::before { top: 1px; }

/** Styles for a 'toggle button' checkbox **/
.switch-btn .switch-btn-checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.switch-btn:not(.inverse) .switch-btn-checkbox:checked ~ .yes,
.switch-btn.inverse .switch-btn-checkbox:not(:checked) ~ .yes {
    border-color: #bbb;
    box-shadow: inset 0 0 10px #bbb !important;
    
    .b-label { color: @green; }
}
.switch-btn:not(.inverse) .switch-btn-checkbox:not(:checked) ~ .no,
.switch-btn.inverse .switch-btn-checkbox:checked ~ .no  {
    border-color: #bbb;
    box-shadow: inset 0 0 10px #bbb !important;
    
    .b-label { color: @red; }
}

/* VERTICAL MENUS */
#LeftColumn .info-fragment, #LeftColumn .bumper {border-right: 1px solid #ccc;}
#LeftColumn .bumper {min-height: 120px;}
#LeftColumn .info-fragment {padding-bottom: 10px;font-size: .9em;}
.vertical-menu {background:#EEE; border:solid 1px #ccc;border-style:solid none solid solid;overflow: hidden;z-index: 100;border-radius: 2px 0 0 2px;}
.vertical-menu ul {margin: 0;padding: 0; list-style-type: none;}
.vertical-menu li {border: solid 1px #ccc;border-style: solid solid none none;margin-top: -1px;padding: 3px 1px 3px 8px;}
.vertical-menu li.selected, .vertical-menu li:hover, .vertical-menu li:focus {background: white;border-right: solid 1px white;}
.vertical-menu li.selected {border-left: solid 5px #ccc;}
.vertical-menu a {color: inherit;display: block;word-wrap: break-word;text-shadow: 1px 1px 0 white;}

.side-tabs {
    list-style: none;
    padding-left: 0;
    text-shadow: 1px 1px 0 white;
    
    li {padding: 5px;}
    li:not(:last-child) {border-bottom: 1px dashed #ccc;}
    li.selected a {color: #555;cursor: default;}
    li:not(.selected):hover {background-color: #fff;border-right: none;}
}

.side-nav {
    min-height: 400px;
    vertical-align: top;
    ul {
        font-size: 14px;
        line-height: 1.3em;
        margin: 0;
        padding: 0;
        
        li {
            display: block;
            list-style: none;
            margin-bottom: 7px;
            padding-left: 10px;
            &.selected {
                border-left: 3px solid @primary-color;
                font-weight: bold;
                padding-left: 7px;
            }
            
            a {
                -webkit-transition: all 0.15s;
                -moz-transition: all 0.15s;
                -ms-transition: all 0.15s;
                -o-transition: all 0.15s;
                transition: all 0.15s;
                color: @font-color;
                display: inline-block;
                padding: 3px 0;
                text-decoration: none;
                &:hover {color: @primary-color;}
            }
        }
    }
}

/* TABLES */
table {
    width: auto;
    border-collapse: collapse;
}

table td, 
table th {
    padding: 3px 5px;
    vertical-align: top;
}

table th, 
.title-header, 
.column-header {
    background: white;
    text-align: left;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
}
table.dashed th, 
.title-header.dashed, 
.column-header.dashed { 
    border-bottom-style: dashed;
}

table.natural-width { width: auto; }

table.nowrap th, 
table.nowrap td { 
    white-space: nowrap;
}

.link-table {
    td {
        padding-top: 6px;
        padding-bottom: 6px;
        &:first-child { padding-right: 25px; }
    }
}

.compact-results-table, 
.results-table, 
.name-value-table {
    width: 100%;
    border-collapse: collapse;
    
    td { border: none; }
}
.compact-results-table:not(.manual-striping):not(.no-stripes) tr:nth-child(even), 
.results-table:not(.manual-striping):not(.no-stripes) tr:nth-child(even), 
.striped-list > div:nth-child(even), 
.striped-list > li:nth-child(even), 
.striped tr:nth-child(even), 
.alt-row { 
    background-color: #f6f6f6;
}

.compact-results-table {
    font-size: 13px;
    
    td, th { 
        line-height: 18px;
    }
    
    tr.focused, 
    tr.focused:nth-child(2n) { 
        background-color: #dae2ff;
    }
    
    &.separated tr:not(:last-child) {
        border-bottom: 1px dashed #ccc;
    }
}

.compact-results-paging {
    border-top: 1px solid #ccc;
    
    .paging-area {
        float: right;
        margin: 0 50px 0 0;
        padding: 5px 10px;
        background-color: white;
        
        .button:focus { outline: none; }
    }
    
    span { line-height: 16px; }
    .page-num-text { margin: 0 10px; }
}

.name-value-table, 
.property-list {
    
    .name {
        min-width: 140px;
        color: #777;
    }
    &.name-collapse .name { min-width: inherit; }
    
    .value { color: #333; }
}
.name { color: #777; }

.row-highlighting tr:hover, 
.highlighted, 
.undo-row {
    background-color: #dedede !important;
}
.undo-row {
    text-align: center;
    
    .undo { float: right; }
}

/* Use the class when there will be elements before the first icon in a row */
.row-icon, 
.compact-results-table tr td:first-child .icon:first-child { margin: 0px; }

.has-alerts td:first-child { width: 24px; }

.with-form-controls tbody td, 
.form-control {
    line-height: @form-control-height;
}
.with-form-controls tbody td select,
.with-form-controls tbody td .datetimeEntry_wrap {
    line-height: normal; 
}
.with-form-controls td button.naked, 
.with-form-controls td .button.naked {
    margin-top: 6px;
}

.three-column-table td { width: 33%; }
.four-column-table td { width: 25%; }

.two-column-table { width:100%; }
.two-column-table th, 
.two-column-table td { 
    width:50%;
}

.remove-column button, 
.remove-column .button {
    float:right;
    margin-right:0;
}

.sortable {
    color: @font-color;
    
    &:hover {
        color: @primary-color;
        cursor: pointer;
        text-decoration: none;
    }
    
    .icon {
        margin: 0;
        float: none;
        background-position: 16px 16px;
    }
    
    &.asc .icon { background-position: -208px -48px; }
    
    &.desc .icon,
    &:hover:not(.asc) .icon { background-position: -176px -48px; }
}

/* PROGRESS BARS */
.progress-bar-container {
    display: inline-block;
    margin-right: 5px;
}
.progressbar-percent-complete, 
.progressbar-completed-count, 
.progressbar-total {
    display: inline-block;
}

.progress-bar-container.scheduled-request .progress { width: 62px; }

.action-area .progress-bar-container .progress, 
.page-action-area .progress-bar-container .progress {
    margin-top:2px;
}

.result-bar {height: 14px;border: 1px solid #bbb;overflow: hidden;box-sizing: content-box;-moz-box-sizing: content-box;}
.result-bar > .result {display: inline-block;position: relative;float: left;height: 100%;}
.result-bar .DATA_PRESENT {background-color: #228855;}
.result-bar .DATA_MISSING {background: white;}

/* LISTS */
ul.disc li {list-style-type: disc; margin-left: 25px;}

.button-stack {padding: 0; list-style-type: none; margin: 0;}
.button-stack li {margin-bottom: 5px;}
.button-stack li:after {clear: both;content: ".";display: block;height: 0;line-height: 0;visibility: hidden;}

.grouped-list {padding-left: 0;}
.grouped-list > li {list-style: none;}
.grouped-list .group {font-weight: bold;}
.grouped-list .groupedItem {list-style: none;}

.simple-list, .labeled-image-stack, .editable-list, .property-list {padding: 0;margin:0;list-style: none;}

.property-list li {float:left; margin-right: 5px;}

.tree-list li li {margin-left: 15px;}
.tree-list li li li {margin-left: 30px;}

.labeled-image-stack li {display:block; padding-bottom: 10px;}

.editable-list li {padding:4px;cursor: pointer;}
.editable-list li:hover {background-color: #efefef;}
.editable-list li .remove-item {visibility: hidden;}
.editable-list li:hover .remove-item {visibility: visible;}

/* CONTAINERS */
.toggle-title {cursor: pointer; background: white url('../Icons/icon_blockexpanded.png') no-repeat scroll 0 8px; padding-left: 14px; display: inline;}
.collapsed .toggle-title {background: url('../Icons/icon_blockcollapsed.png') no-repeat scroll 3px 5px #FFFFFF;}
.collapsed .content {display: none;}
.title-bar .title {margin: 0;float: left;}
.titled-container .controls, .paged-container .controls {float: right;cursor: pointer;}
.controls .icon {margin: 0;}
.titled-container .content {padding: 10px;} 
.titled-container .controls .show-hide { background-position: -368px -400px; }
.titled-container.collapsed .controls .show-hide { background-position: -384px -400px; }
.titled-container.form-controls > .title-bar {line-height: @form-control-height;} 

.box-container, .box-container-footer, .paged-container, .tabbed-container {margin-bottom: 20px;}
.paged-container, .section-container, .box-container, .results-table, .lite-container {border:solid 1px #ccc; border-radius:2px;}
.paged-container > .title, .results-table th {border-radius: 2px 2px 0 0;}
.results-table th {border-bottom: solid 1px #ccc;}
.titled-container > .title-bar, .paged-container > .footer, .box-container-footer {padding: 5px 10px;}
.paged-container > .title-bar, .paged-container > .footer, .box-container > .title-bar, .box-container-footer, .results-table th {background-color:whiteSmoke;}
.titled-container > .content, .paged-container > .content, .paged-container > .footer, .section-container > .content, .section-container > .footer {border-top: solid 1px #ccc;}
.titled-container > .title-bar, .paged-container > .title, .paged-container > .footer {text-shadow:1px 1px 0 white;}
.titled-container > .title-bar, .paged-container > .title {border-radius: 2px 2px 0 0;}
.paged-container > .footer, .section-container > .footer {border-radius: 0 0 2px 2px;}
.titled-container > .title-bar .title {display: inline-block;}
.section-container.dashed > .content {border-top: 1px dashed #ccc;}

.action-area {margin-top: 20px;}
.action-area:before, .action-area:after {content: " ";display: table;}
.action-area:after {clear: both;}
.action-area, .page-action-area, .button-stack li {line-height: @form-control-height;}
.action-area select:not([multiple]), .page-action-area select:not([multiple]) {height: @form-control-height;} 
.action-area input[type=text], .page-action-area input[type=text] {line-height: 22px;}
.action-area button, .action-area .button, .action-area select:not([multiple]) {float: right;}
.ui-dialog .action-area {padding: 0 10px;}

.page-action-area {margin-top: 20px;}
.page-action-area:before, .page-action-area:after {content: " ";display: table;}
.page-action-area:after {clear: both;}

.titled-container .filter-settings, .paged-container .filter-settings, .section-container .filter-settings {border-bottom: 1px dashed #ccc; margin: 0 0 6px; padding: 0 0 6px;}
.titled-container .filter-settings a:hover, .titled-container .filter-settings a:focus, .paged-container .filter-settings a:hover, .paged-container .filter-settings a:focus {background: #ddd}
.titled-container .filter-settings a , .paged-container .filter-settings a , .section-container .filter-settings a {border: solid 1px #ccc; background: #EEEEEE; border-radius: 2px; color: @font-color; font-size: 10px; padding:2px; margin: 0 5px 5px;} 
.titled-container .filter-settings .value , .paged-container .filter-settings .value , .section-container .filter-settings .value {color: #444; font-weight: bold;}

.hide-reveal-container {margin-bottom: 0px;}
.hide-reveal-container h3.toggle-title{color: @font-color;}

.section-container {border:none;}
.section-container > .title-bar {background: transparent;border-top: 1px solid transparent;}
.section-container .controls {display: inline-block;float: right}

.lite-container {border-style: solid none;}
.lite-container.dashed {border-style: dashed none;}

.paged-container .contextArea {margin: 0 20px 0 0;}
.paged-container .contextArea .navLink {position: relative;}
.paging-area {min-width: 250px; white-space: nowrap; display: inline-block; float: right;}
.paging-area .page-num-text, .paging-area .next-page, .paging-area .previous-page {padding-left: 10px; line-height: 16px;display: inline-block;float: left;}

.box-container.with-footer {border-radius: 2px 2px 0 0;margin-bottom: 0;}
.box-container-footer {border:1px solid #ccc;border-radius: 0 0 2px 2px;border-top: none;}
.flyover, .tooltip {background-color: white; padding: 2px; border: 2px solid #666;box-shadow: 9px;}

.i18n-inline {outline: red dotted thin;}
.i18n-inline .i18n-inline-debug {display: none;}
.i18n-inline:hover .i18n-inline-debug {display: inline;position: absolute;background: white;border: thin #eee solid;padding: 4px;}

.button-container button, .button-container .button {margin-right: 4px;} /* may not need now */

.tiles .column.one {clear:left;}

.separated-sections .section {border-bottom: 1px dashed #bbb; padding-bottom:10px;margin-bottom: 10px;}
.separated-sections .section:first-child {padding-top:10px;}
.separated-sections .section:last-child {border-bottom: none; padding-bottom:10px;margin-bottom: 0;}
.separated-sections.no-lines .section {border: none;} 

.simple-input-image {display: inline-block;border: 2px solid transparent;}
.simple-input-image:hover {border-color: @primary-color;}
.simple-input-image a {display: inline-block;}
.simple-input-image a img {max-width: 200px;padding: 4px;}

/* PIPES */
ul.pipes {overflow:hidden; display:inline-block;}
ul.pipes li {display:inline; border-left:solid 1px #ccc; margin:0 0 0 -1px; padding:2px 7px 2px 5px;}
ul.pipes li.first {padding-left:0;}

/* used to diplay a pipe next to something when that thing is selected */
.pipe-selector {position: relative;}
.pipe-selector .pipe {position: absolute; width:2px; background-color: @primary-color;height: 100%;visibility: hidden;}
.pipe-selector.selected .pipe {position: absolute; width:2px; background-color: @primary-color;height: 100%;visibility: visible;}
a.pipe-selector {color: @font-color;}
a.pipe-selector:not(.selected):hover {color: @primary-color;}
a.pipe-selector.selected {color: @font-color; cursor: default;}
.pipe-selector .pipe + * {margin-left: 5px;}

/* COLOR CODING */
.red, 
.error{ color: @red !important }
.error[type=checkbox] { outline: 2px solid @red; }
ol.error{ list-style-type: none; }
.green, 
.success { color: @green !important; }
.blue { color: @blue !important; }
.orange, 
.warning { color: @orange !important; }

.gray, 
.grey, 
.disabled, 
.disabled a { 
    color:#888 !important; 
    cursor:default;
}

.disabled, 
.disabled a,
.disabled:hover, 
.disabled a:hover { text-decoration: none; }

.setting .detail > span { color: @font-color; }

/* FLASH SCOPES */
.page-help, 
.page-warning, 
.page-error {
    line-height: 1.3em; 
    font-size: 12px; 
    padding: 5px 10px 5px 25px; 
    border-radius: 2px; 
    border-width: 1px; 
    border-style: solid; 
    margin-bottom: 10px;
}
.page-help ul, 
.page-warning ul, 
.page-error ul { list-style: disc inside none; }
.page-help {
    border-color: #ccf; 
    background: #eaf1fd url('../Icons/information.gif') 5px 4px no-repeat;
}
.page-warning {
    line-height: 1.3em; 
    border-color: #fbb117; 
    background: #ffffda url('../Icons/warning.gif') 5px 4px no-repeat;
}
.page-error {
    border-color: @red; 
    background: #ffdddd url('../Icons/error.gif') 5px 4px no-repeat;
}

.user-message {
    position: relative;
    padding: 5px 10px 5px 30px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
    line-height: normal;
}
.user-message:before {
    content: '';
    position: absolute;
    left: 7px;
    top: 5px;
    width: 16px;
    height: 16px;
    background-image: url('../Icons/icons.png');
}

.user-message.error {
    background: pink;
    border-color:@red;
}
.user-message.error:before {
    background-position: -512px -144px;
}

.user-message.success {
    background: #c3fdb8;
    border-color: @green;
}

.user-message.info, .user-message.pending {
    background: #dde5ff;
    border-color: #849ddf;
}
.user-message.info:before {
    background-position: -96px -192px;
}
.user-message.pending:before {
    background-image: url(../Icons/spinner.gif);
    background-position: 0px, 0px;
}

.user-message.warning {
    background: #ffffda; 
    border-color: @orange;
}
.user-message.warning:before {
    background-position: -448px -144px;
}

input.error,
select.error {
    background-color: #ffeeee;
    border-color: @red;
}

.state-box {
    display: inline-block !important;
    vertical-align: top;
    height: 1em;
    width: 1em;
    border: 1px solid white;
    margin: 1px 0 0 0;
    
    &.green {background-color: @green;}
    &.red {background-color: @red;}
    &.white {background-color: white;}
    &.yellow {background-color: yellow;}
    &.blue {background-color: blue;}
    &.cyan {background-color: cyan;}
    &.black {background-color: black;}
    &.orange {background-color: @orange;}
    &.magenta {background-color: magenta;}
    &.gray {background-color: gray;}
    &.pink {background-color: pink;}
}
.ie .state-box { outline: 1px solid #bbb; }
.no-ie .state-box { box-shadow: 0px 0px 0px 1px #bbb; }

/* DIALOGS */
.old-popup {
    background: white;
    position: fixed;
    box-shadow: 0 10px 30px #444;
    border: solid 1px #bbb;
    border-radius: 2px;
    z-index: 1000;
    .controls {float: right;cursor: pointer;}
    > .titled-container {margin-bottom: 0;}
} 

/* FIELD HELPER (yukon.field.helper.js) */
.pointing-popup-container {height: 100px; position: absolute; right: 168px; top: 188px; width: 300px; z-index: 1007; }
.pointing-popup-content {background: none repeat scroll 0 0 white; border: 3px solid #CCCCCC;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); float: right; min-height: 2em; padding: 5px; width: 290px; font-size: 12px;}
.pointing-popup-chevron {border-top: 10px solid transparent; border-bottom: 10px solid transparent;  border-right: 10px solid #CCCCCC; float: left; font-size: 0; line-height: 0; margin-top: 5px; width: 0;}
.focused-field-description {display:none;}

/* SCROLLING */
.scroll-xl, .scroll-lg, .scroll-md, .scroll-sm {overflow-y: auto;}
.scroll-xl {max-height:600px;}
.scroll-lg {max-height:350px;}
.scroll-md {max-height:200px;}
.scroll-sm {max-height:160px;}

/* CATEGORIES AND SETTINGS  */
.dashboard .category {width: 440px; margin: 0 30px 10px 0; float:left; overflow:hidden;}
.dashboard .category > img {float:left; margin: 0 10px 20px; border-radius: 5px; padding: 5px; border:solid 1px #ccc; box-shadow: 0 5px 10px rgba(0,0,0,0.2)}
.dashboard .subcategory {overflow:hidden; float:left; margin: 0 10px;}
.dashboard .subcategory li {margin: 0 0 10px;}
.dashboard .legend {float: right;position: absolute;bottom: 5px;right: 0;}
.category .icon-32 {margin: 5px 15px 15px 5px;}
.category .meta {margin-top: 5px;}
.setting {border-top: dashed 1px #ccc; margin-top: -1px; padding: 10px 0;}
.setting:first-child {border-top: none;}
.setting .comments textArea {resize:none;width: 100%;}
.setting .default-indicator {display: inline-block;float:left;min-height:1px;min-width:30px;width: 8%;}
.setting .value-description {display: inline-block;float:left;width: 92%;}
.setting .value-description .default {font-weight: bold;}

/* MISC */
// clear fix rule
.clearfix:before,
.button-group:before, 
.clearfix:after,
.button-group:after {
    content: " ";
    display: table;
}
.clearfix:after,
.button-group:after { clear: both; }

.code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    margin-bottom: 20px;
    word-break: break-word;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.full-width { width: 100%; }
.half-width { width: 50%; }
.short-width { max-width: 200px; }

.fade-half { opacity: 0.5; }
.fade-full { opacity: 0; }
.fade-none { opacity: 1; }

/* Soley for spacing vertically stacked elements */
.stacked { margin-bottom: 10px; }
.stacked-md { margin-bottom: 20px; }
.stacked-lg { margin-bottom: 30px; }
.buffered { 
    margin-bottom: 10px;
    margin-top: 10px;
}

.wall-of-text .value { max-width: 300px; }
.title-bar-tool {
    float:right !important;
    margin-right: 10px;
}

/* buffer to get content (like scroll bar) from running into drag handle in dialogs with no button bar */
.dialog-no-buttons { margin-bottom: 20px; }

.detail, 
.subtle { 
    color: #888;
}
.notes, 
.strong-label-small,
.detail {
    font-size: 12px;
}
.hint { font-style: italic; }

strong, 
.strong-label-small, 
.grouped-list .group {
    font-weight: bold;
}

.block-label {
    display: block;
    padding: 4px 0px;
}

.monospace {
    font-family: Courier, monospace; 
    font-size: 12px;
    white-space: pre;
}

hr, 
.divider {
    clear: both;
    height: 1px;
    border-top: 1px solid #ccc;
    border-style: solid none none none;
}
hr.dashed, 
.divider.dashed { 
    border-style: dashed none none none;
}

.empty-list {
    font-style: italic; 
    color: #676767;
}
.editable:hover {
    background-color: LemonChiffon; 
    cursor: text;
}

.front { z-index: 9999; }

.button-group-toggle .button:focus { outline: none; }
.button-group-toggle .yes.on .b-label, 
.button-group-toggle .yes.on:hover .b-label { 
    color: @green;
}
.button-group-toggle .no.on .b-label, 
.button-group-toggle .no.on:hover .b-label {
    color: @red;
}
/* Pulls icon down towards middle of the container/tr instead of the top */
.pull-icon-down { margin-bottom: -3px; }

/* Custom bootstrap label */
.label-attr { 
    border: 1px solid #ccc;
    background-color: #efefef;
    color: inherit;
    padding: 2px;
}

/* YUKON PICKER */
.picker-results-table tbody tr {
    &:focus, &:hover {
        outline: none;
        .focus-indicator { background-color: #ccc; }
    }
    &:hover {
        cursor: pointer;
    }
    .focus-indicator {
        width: 4px;
        padding: 0;
    }
}

/* COLOR PICKER */
.color-picker {
    &.sp-container, &.sp-replacer {
        border: 1px solid #bbb;border-radius: 2px;
    }
    
    .sp-palette {width: 180px;}
    .sp-picker-container {
        width: 200px;
        .sp-input-container {width: 100%;}
    }
    .sp-slider {height: 5px;}
    .sp-button-container {
        width: 100%;
        .sp-cancel {display: none;}
        .sp-choose {
            background: #F3F3F3;
            border: solid 1px #bbb;
            border-radius: 2px;
            color: #444;
            display: inline-block;
            float: right;
            font: bold 12px Helvetica, Arial, sans-serif;
            font-smoothing: antialiased;
            height: @form-control-height;
            line-height: 16px;
            margin: 3px 5px;
            padding: 4px 8px;
            text-decoration: none;
            text-shadow: 0 1px 0 #fff;
            transition: border-color 0.2s;
        }
    }
}

/* IMAGE PICKER */
.image-picker {
    .image {
        border: 2px solid transparent;
        &.selected, &:hover {cursor: pointer; border-color: @primary-color}
    }
    .simple-input-image {border-color: transparent;}
    .upload-percent, .upload-progress {display: inline-block; float: left;}
    .upload-progress {width: 200px;}
    .upload-percent {line-height: @form-control-height; margin-left: 15px;}
}

/* DATE/TIME PICKER */
.datetimeEntry_wrap {
    display: inline-block;
    overflow: hidden;
    background: #ccc;
    border-radius: 2px;
    float: left;
    margin-right: 5px;
    border: 1px solid #aaa;
    height: 26px;
}
.datetimeEntry_wrap.date { width: 147px; }
.datetimeEntry_wrap.dateTime { min-width: 182px; }
.datetimeEntry_wrap.time { width: 107px; }
.datetimeEntry_wrap input {
    padding: 2px;
    float: left;
    height: 24px;
    border: solid 1px white;
    font-size:14px !important; /* jquery ui is messing up the font-size */
}
.datetimeEntry_wrap img { margin: 5px; }
.datetimeEntry_wrap .datetimeEntry_control { display: none !important; }

.datetimeEntry_wrap input[disabled] { color: #999; }
.datetimeEntry_wrap input[disabled] + .ui-datepicker-trigger { cursor: auto; }

.ui-datepicker.hide_minutes .ui_tpicker_minute_label,
.ui-datepicker.hide_minutes .ui_tpicker_minute{
    display: none;
}
.datetimeEntry_wrap .timezone_container {
    line-height: 24px;
    margin-left: -31px;
    float: left;
    color: #999;
    font-size: 13px;
    padding-right: 5px;
}
input.datePicker, 
input.timePicker, 
input.dateTimePicker {
    border-radius: 2px 0 0 2px;
}
input.datePicker { width: 114px ;}
input.timePicker { width: 74px; }
input.dateTimePicker { width: 150px; }

.ui-datepicker-trigger:hover { cursor: pointer; }

/* DROPDOWN MENUS */
.dropdown-trigger { 
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.dropdown-trigger > a > .icon:first-child { margin-right: 0; }
.dropdown-trigger > a > .icon:nth-child(2) { margin-left: 0; }

.has-actions .dropdown-trigger, 
.show-on-hover { visibility: hidden; }

.has-actions tr:hover .dropdown-trigger, 
.has-actions li:hover .dropdown-trigger, 
.has-actions .dropdown-trigger.menu-open, 
tr:hover .show-on-hover,
.title-bar:hover .show-on-hover, 
.has-show-on-hover:hover .show-on-hover,
li:hover .show-on-hover {
    visibility: visible;
}

/* Only use when you need the action icon to have it's own column;
 * ie: you don't know which column would be the last column.
 */
.has-actions .action-column { width:42px; } 

.dropdown-menu {
    display: none;
    position: absolute;
    left: auto;
    top: 100%;
    text-align: left;
    z-index: 1000;
    float: left;
    min-width: 130px;
    padding: 4px 0;
    margin: 1px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    font-size: 13px;
}

.dropdown-trigger a { cursor: pointer; }

.dropdown-menu.long-menu-list { font-size: 11px; }
.dropdown-menu.no-icons .icon { display: none; }
.dropdown-menu li { margin-top: 3px; }
.dropdown-menu li .icon {
    float: none;
    vertical-align: text-top;
    margin-left: 0;
}
.dropdown-menu a, 
.dropdown-menu .button.naked {
    display: block;
    padding: 0 15px;
    clear: both; 
    font-weight: normal; 
    line-height: 18px; 
    color: @font-color; 
    white-space: nowrap; 
    text-decoration: none; 
    cursor: pointer;
}
.dropdown-menu li a:hover, 
.dropdown-menu li .button.naked:hover, 
.dropdown-menu .active a, 
.dropdown-menu .active .button.naked, 
.dropdown-menu .active a:hover, 
.dropdown-menu .active .button.naked:hover {
    color: @primary-color; 
    text-decoration: none; 
    background-color: whiteSmoke;
}
.dropdown-menu .divider {
    height: 1px; 
    margin: 3px 1px; 
    overflow: hidden; 
    background-color: #E5E5E5; 
    border-bottom: 1px solid white;
}

.dropdown-menu .dropdown-option .dropdown-option-label {
    display: inline-block;
}

/* CRITERIA BUTTON */
.criteria-button {text-align: left;position: relative;}
.criteria-button > .criteria-wrap {display: inline-block;float: left;max-width: 200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.criteria-button .criteria-label {color: #777;}
.criteria-button .criteria-value {display: inline;}
.criteria-menu a {padding: 3px 15px;}
.criteria-menu .criteria-option {cursor: pointer; display: block;margin: 0;max-width: 230px;overflow: hidden;padding: 0;text-overflow: ellipsis;white-space: nowrap;width: auto;}
.criteria-menu .criteria-option input {margin-right: 10px;}

/* MODAL/BLOCKING GLASS */
#modal-glass {padding-bottom: 100px; text-align:center;}
#modal-glass, #modal-glass .tint {position: fixed; top:0; left:0; z-index:100000; height: 100%; width: 100%;}
#modal-glass .loading {padding: 20px 20px 20px 40px;display: inline-block;border: solid 1px #CCCCCC;background: #FFF url('../Icons/busy_rotation.gif') 14px center no-repeat;margin: 70px auto 0;box-shadow: 0 0 100px #666;opacity: 1;filter:alpha(opacity=100);z-index:100001;position: relative;font-size: 16px;color: #666;}
.glass {background: #fff url('../Icons/busy_rotation.gif') center no-repeat; opacity: 0.7; filter: alpha(opacity=70); position: absolute;}
.loading .load-message {padding: 0 0 0 20px; border: none;}

/* CONNECTION WARNING */
#data-updater-error {position: fixed;bottom: 0;left: 0;right: 0;background: @red;color: white;font-weight: bold;text-align: center;padding: 3px;}
#data-updater-error .alert {padding-top: 64px;width: 64px;position: absolute;bottom: 0;left: 10px;}

/* FAVORITES */
.b-favorite {margin-right: 5px !important;}
.favorites .favorite .b-favorite, .monitor .b-subscribe {visibility: hidden;}
.favorites .favorite:hover .b-favorite, .monitor:hover .b-subscribe {visibility: visible;}
.page-title-bar .b-favorite {margin-top: 3px !important;}

/* ANIMATIONS */
@-webkit-keyframes pulse-opacity {
    from { opacity: 0.3; } to { opacity: 1.0; }
}
@keyframes pulse-opacity {
    from { opacity: 0.3; } to { opacity: 1.0; }
}
.pulse-opacity {
    -webkit-animation-name: pulse-opacity;
            animation-name: pulse-opacity;
            
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
            
   -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;
           
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}
@-webkit-keyframes blink-shadow {
    0% { box-shadow: 0 0 15px @red; }
    25% { box-shadow: 0 0 15px transparent; }
    50% { box-shadow: 0 0 15px @red; }
    75% { box-shadow: 0 0 15px transparent; }
    100% { box-shadow: 0 0 15px @red; }
}
@keyframes blink-shadow {
    0% { box-shadow: 0 0 15px @red; }
    25% { box-shadow: 0 0 15px transparent; }
    50% { box-shadow: 0 0 15px @red; }
    75% { box-shadow: 0 0 15px transparent; }
    100% { box-shadow: 0 0 15px @red; }
}
.blink-shadow {
    box-shadow: 0 0 15px @red;
    
    -webkit-animation-name: blink-shadow;
            animation-name: blink-shadow;
            
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    
    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite; 
}
.md-no-cssanimations .pulse-opacity, 
.md-no-cssanimations .blink-shadow {
    border: 2px solid @red;
}

@-webkit-keyframes shake-subtle {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-2px, 0, 0);
                transform: translate3d(-2px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
                transform: translate3d(2px, 0, 0);
    }
}

@keyframes shake-subtle {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-2px, 0, 0);
                transform: translate3d(-2px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
                transform: translate3d(2px, 0, 0);
    }
}

.shake-subtle {
    -webkit-animation-name: shake-subtle;
            animation-name: shake-subtle;
}

/* JUNK TO FIX */
.CONTROLAREA_STATE_ACTIVE, .CONTROLAREA_STATE_PARTIALLY_ACTIVE, .CONTROLAREA_STATE_MANUAL_ACTIVE, .PROGRAM_STATE_ACTIVE, .PROGRAM_STATE_PARTIALLY_ACTIVE, .PROGRAM_STATE_MANUAL_ACTIVE, .PROGRAM_STATE_TIMED_ACTIVE, .LOADGROUP_STATE_ACTIVE {color: @green;}
.CONTROLAREA_STATE_INACTIVE,.PROGRAM_STATE_INACTIVE, .PROGRAM_STATE_NON_CONTROL, .LOADGROUP_STATE_INACTIVE {color: #555;}
.CONTROLAREA_STATE_CONTROL_ATTEMPT, .PROGRAM_STATE_STOPPING, .LOADGROUP_STATE_ACTIVE_PENDING {color: #993;}
.PROGRAM_STATE_SCHEDULED, .PROGRAM_STATE_CONTROL_ATTEMPT, .CONTROLAREA_STATE_FULLY_SCHEDULED, .CONTROLAREA_STATE_PARTIALLY_SCHEDULED {color: @orange;}
.PROGRAM_STATE_NOTIFIED, .LOADGROUP_STATE_INACTIVE_PENDING {color: cyan;}
.drDisabled {color: @red;}
.eventStatusCleared, .eventStatusGood {color:@green;}
.eventStatusQuestionable {color:@orange;}
.eventStatusActive,.eventStatusBad {color:@red;}
#alert-message-container {position: fixed;width: 200px;bottom: 1%;left: 1%;background: white;border: 2px solid #444;z-index: 1000;}
#alert-message-contents {font-size: 12px;padding: 5px;font-weight: bold;text-align: center;}
