/*
    This file defines the basic look and feel of Yukon.
    This file can be included on consumer pages to reuse container styles.
    
    TABLE OF CONTENTS:
    VARIABLES
    HEADINGS
    LINKS
    COLORS
    FORM FIELDS
    VERTICAL MENUS
    TABLES
    PROGRESS BARS
    LISTS
    CONTAINERS
    FLASHSCOPES
    PIPES
    COLOR CODING
    DIALOGS
    FIELD HELPER
    SCROLLING
    WIDGETS
    CATEGORIES AND SETTINGS
    MISC
    DATE/TIME PICKER
    COLOR PICKER
    IMAGE PICKER
    DROPDOWN MENUS
    MODAL/BLOCKING GLASS
    CONNECTION WARNING
    FAVORITES
    JUNK TO FIX
*/

/* VARIABLES */
@primary-color: #0066CC;
@primary-font-color: #555;

@red: #D14836;
@green: #009933;
@orange: #FB8521;

/* HEADINGS */
.page-heading {display: inline-block; float:left; margin: 0;}
h1{font-size: 1.3em;}
h2{font-size: 1.17em;}
h3{font-size: 1.0em;}
h4{font-size: .95em;}
h5{font-size: .9em;}
h6{font-size: .8em;}
h1, h2, h3, h4, h5, h6 {margin: .3em 0;}

/* LINKS */
a, .vertical_menu a:hover {text-decoration:none;}
a:hover, a:focus {text-decoration:underline;outline:0;}
a:link,a:visited {color: @primary-color;text-decoration: none;}
a.described {margin-right: 10px;}
a:link.subtle-link, a:visited.subtle-link {color: @primary-font-color;}
a:link.subtle-link:hover, a:visited.subtle-link:hover {color: @primary-color; cursor: pointer;}

/* COLORS */
a, .primary_color, .vertical_menu li.selected a, .vertical_menu a:hover, .ui-widget-content a, #subMenu a:visited, .perPageArea a:visited {color:@primary-color;}
.primary_background {background-color:@primary-color; color:white;}
::-moz-selection, ::selection {background-color:@primary-color; color:white;} /* IE 9 does not support pseudo element selector '::selection' and will ignore the entire rule, therefore it must be in it's own rule */
.primary_background a, .primary_background a:visited {color:white}
.highlight, .primary_background .highlight {color: @orange;}
.alert {background-color: #FFE6E6 !important;}

/* FORM FIELDS */
input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 2px;
    display: inline-block;
    margin: 0;
    padding: 2px 5px;
    transition: border .1s ease-in-out,background-color .1s ease-in-out;
}
input[disabled], select[disabled] {
    background: #f1f1f1 !important;
    border: 1px solid #e5e5e5;}

input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], select:not([multiple]):not([size]) {height: 26px;}
input[type=email]:hover, input[type=number]:hover, input[type=password]:hover, input[type=tel]:hover, input[type=text]:hover, input[type=url]:hover, select:not([multiple]):hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus, select:not([multiple]):focus {
    border: 1px solid @primary-color;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    outline: none;
}
input[type=email].left, input[type=number].left, input[type=password].left, input[type=tel].left, input[type=text].left, input[type=url].left, select.left,
input[type=email].middle, input[type=number].middle, input[type=password].middle, input[type=tel].middle, input[type=text].middle, input[type=url].middle, select.middle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
input[type=email].right, input[type=number].right, input[type=password].right, input[type=tel].right, input[type=text].right, input[type=url].right, select.right,
input[type=email].middle, input[type=number].middle, input[type=password].middle, input[type=tel].middle, input[type=text].middle, input[type=url].middle, select.middle {
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

input[type=checkbox], input[type=radio] {margin: 3px;}
input[type=radio]:focus {outline:none;}

/* hack to achieve webkit only css */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select:not([multiple]):not([size]), select[size="1"] {background: white url(/WebConfig/yukon/Icons/bullet_arrow_down.png) right no-repeat;padding-right: 16px;}
}
.placeholder {color: #aaa;}

/* VERTICAL MENUS */
#LeftColumn .info-fragment, #LeftColumn .bumper {border-right: 1px solid #ccc;}
#LeftColumn .bumper {min-height: 120px;}
#LeftColumn .info-fragment {padding-bottom: 10px;font-size: .9em;}
.vertical_menu {background:#EEE; border:solid 1px #ccc;border-style:solid none solid solid;overflow: hidden;z-index: 100;border-radius: 2px 0 0 2px;}
.vertical_menu ul {margin: 0;padding: 0; list-style-type: none;}
.vertical_menu li {border: solid 1px #ccc;border-style: solid solid none none;margin-top: -1px;padding: 3px 1px 3px 8px;}
.vertical_menu li.selected, .vertical_menu li:hover, .vertical_menu li:focus {background: white;border-right: solid 1px white;}
.vertical_menu li.selected {border-left: solid 5px #ccc;}
.vertical_menu a {color: inherit;display: block;word-wrap: break-word;text-shadow: 1px 1px 0 white;}

.side-tabs {
    list-style: none;
    padding-left: 0;
    text-shadow: 1px 1px 0 white;
    
    li {padding: 5px;}
    li:not(:last-child) {border-bottom: 1px dashed #ccc;}
    li.selected a {color: #555;cursor: default;}
    li:not(.selected):hover {background-color: #fff;border-right: none;}
}

/* TABLES */
table {width: auto;border-collapse: collapse;}
table td, table th {padding: 3px 5px;vertical-align: top;}
table th, .TitleHeader, .columnHeader {background: white;text-align: left;font-weight: bold;border-bottom: solid 1px #ccc;}
table.dashed th, .TitleHeader.dashed, .columnHeader.dashed {border-bottom-style: dashed;}
table.naturalWidth {width: auto;}

table.nowrap th, table.nowrap td {white-space: nowrap;}

.compactResultsTable, .resultsTable, .nameValueTable {width: 100%;border-collapse: collapse;}
.compactResultsTable tr.focused, .compactResultsTable tr.focused:nth-child(2n) {background-color: #DAE2FF;}
.compactResultsTable {font-size: 0.9em;}
.compactResultsTable tr:nth-child(even), .resultsTable tr:nth-child(even), .striped-list > div:nth-child(even), .striped tr:nth-child(even) {background-color: #f6f6f6;}
.compactResultsTable td, .resultsTable td, .nameValueTable td {border: none;}
.compactResultsTable td > .icon {margin-left: 0;}
.compactResultsTable td > .naked .icon {margin-right: 5px;}
.compactResultsTable.with-footer {border-bottom: 1px solid #ccc}
.compactResultsTable.separated tr:not(:last-child) {border-bottom: 1px dashed #ccc;}
.compactResultsTable.no-stripes tr {background-color: white;}
.compactResultsPaging {border-top: 1px solid #ccc;}
.compactResultsPaging .pagingArea {float: right;margin: -1px 50px 0 0;border: 1px solid #ccc;border-style: none solid solid solid;padding: 5px 10px;background-color: white;}
.compactResultsPaging span {line-height: 16px;}
.compactResultsPaging .pageNumText {margin: 0 10px;}
.nameValueTable .name, .property-list .name {color: #777;}
.nameValueTable .value, .property-list .value {color: #333;}

.rowHighlighting tr:hover, .highlighted, .undo-row {background-color:#dedede !important;}
.undo-row {text-align: center;}
.undo-row .undo {float: right;}
.aligned_4_actions .first, .aligned_4_actions .middle {width: 30%;}
.aligned_4_actions .last {width: 10%;}

/*Use the class when there will be elements before the first icon in a row */
.row-icon, .compactResultsTable tr td:first-child i.icon:first-child {
margin: 0px;
}

.two-column-split {width:100%;}
.two-column-split th, .two-column-split td {width:50%;}
.removeColumn button, .removeColumn .button {float:right;margin-right:0;}

.sortable-table thead th a {color: @primary-font-color;}
.sortable-table thead th a:hover {color: @primary-color;cursor: pointer;}
.sortable-table thead th a i {visibility: hidden;margin: 0;}
.sortable-table thead th a.sorted i, .sortable-table thead th a:hover i {visibility: visible;}
.sortable-table thead th a.sorted.asc i {background-position: -208px -48px;}
.sortable-table thead th a.sorted.desc i {background-position: -176px -48px;}

/* PROGRESS BARS */
.progressBar {display: inline-block;margin-right: 5px;height: 16px;position: relative;}
.progressBarBorder {display: inline-block;height: 16px;width: 100px;border: 1px solid #555;background-color: #efefef;}
.progressBarInner, div.progressBarInnerSuccess, div.progressBarInnerFailure {display: inline-block;float: left;height:14px;width: 0px;}
.progressBarInner, div.progressBarInnerSuccess {background: @green;}
.progressBarInnerFailure {background: @red;}

.progressBarPercentComplete, .progressBarCompletedCount, .progressBarTotal {font-size: 11px; display: inline-block;}
.progressBar .scheduledRequestProgressBarBorder {width: 62px;}
.actionArea .progressBar .progressBarBorder, .pageActionArea .progressBar .progressBarBorder {margin-top:2px;}

.result-bar {height: 14px;border: 1px solid #bbb;overflow: hidden;box-sizing: content-box;-moz-box-sizing: content-box;}
.result-bar > .result {display: inline-block;position: relative;float: left;height: 100%;}
.result-bar .DATA_PRESENT {background-color: #228855;}
.result-bar .DATA_MISSING {background: white;}

/* LISTS */
ul.disc li {list-style-type: disc; margin-left: 25px;}

.buttonStack {padding: 0; list-style-type: none; margin: 0;}
.buttonStack li {margin-bottom: 5px;}
.buttonStack li:after {clear: both;content: ".";display: block;height: 0;line-height: 0;visibility: hidden;}

.groupedList {padding-left: 0;}
.groupedList > li {list-style: none;}
.groupedList .group {font-weight: bold;}
.groupedList .groupedItem {list-style: none;}

.simple-list, .resultList, .labeledImageStack, .editable-list, .property-list {padding: 0;margin:0;list-style: none;}

.property-list li {float:left; margin-right: 5px;}

.tree-list li li {margin-left: 15px;}
.tree-list li li li {margin-left: 30px;}

.labeledImageStack li {display:block; padding-bottom: 10px;}

.editable-list li {padding:4px;cursor: pointer;}
.editable-list li:hover {background-color: #efefef;}
.editable-list li .remove-item {visibility: hidden;}
.editable-list li:hover .remove-item {visibility: visible;}

/* CONTAINERS */
.toggle-title {cursor: pointer; background: white url(../Icons/icon_blockexpanded.png) no-repeat scroll 0 8px; padding-left: 14px; display: inline;}
.collapsed .toggle-title {background: url("../Icons/icon_blockcollapsed.png") no-repeat scroll 3px 5px #FFFFFF;}
.collapsed .content {display: none;}
.title-bar .title {margin: 0;float: left;}
.controls .icon {margin: 0;}
.titledContainer .content {padding: 10px;} 

.boxContainer, .boxContainerFooter, .pagedBox, .tabbedContainer {margin-bottom: 20px;}
.pagedBox, .sectionContainer, .boxContainer, .inlineTree, .resultsTable, .liteContainer {border:solid 1px #ccc; border-radius:2px;}
.pagedBox > .title, .inlineTree > .tree_helper_controls, .resultsTable th {border-radius:2px 2px 0 0;}
.resultsTable th {border-bottom: solid 1px #ccc;}
.titledContainer > .title-bar, .pagedBox > .footer, .boxContainerFooter {padding: 5px 10px;}
.pagedBox > .title-bar, .pagedBox > .footer, .boxContainer > .title-bar, .boxContainerFooter, .resultsTable th {background-color:whiteSmoke;}
.titledContainer > .content, .pagedBox > .content, .pagedBox > .footer, .sectionContainer > .content, .sectionContainer > .footer {border-top: solid 1px #ccc;}
.titledContainer > .title-bar, .pagedBox > .title, .pagedBox > .footer, .ui-dialog .ui-dialog-title {text-shadow:1px 1px 0 white;}
.titledContainer > .title-bar, .pagedBox > .title, .ui-dialog .ui-dialog-title {border-radius: 2px 2px 0 0;}
.pagedBox > .footer, .sectionContainer > .footer {border-radius: 0 0 2px 2px;}
.titledContainer > .titleBar .title, .ui-dialog .ui-dialog-title h3 {display: inline-block;}

.actionArea {margin-top: 20px;}
.actionArea:before, .actionArea:after {content: " ";display: table;}
.actionArea:after {clear: both;}
.actionArea, .pageActionArea, .buttonStack li {line-height: 26px;}
.actionArea select:not([multiple]), .pageActionArea select:not([multiple]) {height: 26px;} 
.actionArea input[type=text], .pageActionArea input[type=text] {line-height: 22px;}
.actionArea button, .actionArea .button, .actionArea select:not([multiple]) {float: right;}
.ui-dialog .actionArea {padding: 0 10px;}

.pageActionArea {margin-top: 20px;}
.pageActionArea:before, .pageActionArea:after {content: " ";display: table;}
.pageActionArea:after {clear: both;}

.titledContainer .filter_container, .pagedBox .filter_container, .sectionContainer .filter_container {border-bottom: 1px dashed #ccc; margin: 0 0 6px; padding: 0 0 6px;}
.titledContainer .filter_container a:hover, .titledContainer .filter_container a:focus, .pagedBox .filter_container a:hover, .pagedBox .filter_container a:focus {background: #ddd}
.titledContainer .filter_container a , .pagedBox .filter_container a , .sectionContainer .filter_container a {border: solid 1px #ccc; background: #EEEEEE; border-radius: 2px; color: @primary-font-color; font-size: 10px; padding:2px; margin: 0 5px 5px;} 
.titledContainer .filter_container .value , .pagedBox .filter_container .value , .sectionContainer .filter_container .value {color: #444; font-weight: bold;}

.triangleContainer {margin-bottom: 0px;}
.triangleContainer h3.toggle-title{color: @primary-font-color;}

.sectionContainer {border:none;}
.sectionContainer > .titleBar {background:transparent;}
.sectionContainer .controls {display: inline-block;float: right}

.liteContainer {border-style:solid none;}

.pagedBox .contextArea {margin: 0 20px 0 0;}
.pagedBox .contextArea .navLink {position: relative;}
.pagingArea {min-width: 250px; white-space: nowrap; display: inline-block; float: right;}
.pagingArea .pageNumText, .pagingArea .nextLink, .pagingArea .previousLink {padding-left: 10px; line-height: 16px;display: inline-block;float: left;}

.boxContainer.with_footer {border-radius: 2px 2px 0 0;margin-bottom: 0;}
.boxContainerFooter {border:1px solid #ccc;border-radius: 0 0 2px 2px;border-top: none;}
.flyover, .tooltip {background-color: white; padding: 2px; border: 2px solid #666;box-shadow: 9px;}

.i18nInline {outline: red dotted thin;}
.i18nInline .i18nInlineDebug {display: none;}
.i18nInline:hover .i18nInlineDebug {display: inline;position: absolute;background: white;border: thin #eee solid;padding: 4px;}

.button-container button, .button-container .button {margin-right: 4px;} /* may not need now */

.ui-tabs-active > .ui-tabs-anchor {font-weight: bold !important;}

.tiles .column.one {clear:left;}

.separated-sections .section {border-bottom: 1px dashed #bbb; padding-bottom:10px;margin-bottom: 10px;}
.separated-sections .section:first-child {padding-top:10px;}
.separated-sections .section:last-child {border-bottom: none; padding-bottom:10px;margin-bottom: 0;}
.separated-sections.no-lines .section {border: none;} 

.simple-input-image {display: inline-block;border: 2px solid transparent;}
.simple-input-image:hover {border-color: @primary-color;}
.simple-input-image a {display: inline-block;}
.simple-input-image a img {max-width: 200px;padding: 4px;}

/* FLASH SCOPES */
.page_help,.page_warning,.page_error {line-height: 1.3em; font-size: 12px; padding: 5px 10px 5px 25px; border-radius: 2px; border-width: 1px; border-style: solid; margin-bottom: 10px;}
.page_help ul,.page_warning ul,.page_error ul {list-style: disc inside none;}
.page_help {border-color: @primary-color; background: #EAF1FD url('/WebConfig/yukon/Icons/information.gif') 5px 4px no-repeat;}
.page_warning {line-height: 1.3em; border-color: #FBB117; background: #FFFFDA url('/WebConfig/yukon/Icons/warning.gif') 5px 4px no-repeat;}
.page_error {border-color: @red; background: #FFDDDD url('/WebConfig/yukon/Icons/error.gif') 5px 4px no-repeat;}

/* PIPES */
ul.pipes {overflow:hidden; display:inline-block;}
ul.pipes li {display:inline; border-left:solid 1px #ccc; margin:0 0 0 -1px; padding:2px 7px 2px 5px;}
ul.pipes li.first {padding-left:0;}

/* used to diplay a pipe next to something when that thing is selected */
.pipe-selector {position: relative;}
.pipe-selector .pipe {position: absolute; width:2px; background-color: @primary-color;height: 100%;visibility: hidden;}
.pipe-selector.selected .pipe {position: absolute; width:2px; background-color: @primary-color;height: 100%;visibility: visible;}
a.pipe-selector {color: @primary-font-color;}
a.pipe-selector:not(.selected):hover {color: @primary-color;}
a.pipe-selector.selected {color: @primary-font-color; cursor: default;}
.pipe-selector .pipe + * {margin-left: 5px;}

/* COLOR CODING */
.red, .error, .errorMessage {color: @red !important}
.error[type=checkbox] {outline: 2px solid @red;}
ol.error{list-style-type: none;}
.green, .success, .successMessage {color: @green !important;}
.orange, .warn, .warning, .warningMessage {color: @orange !important;}
.grey, .disabled, .disabled a {color:#888 !important; cursor:default; }
.disabled, .disabled a, .disabled:hover, .disabled a:hover {text-decoration: none;}
.subtle, .setting .detail > span {color: @primary-font-color;}
/* used on consumer pages, delete during consumer overhaul */
div.message, div.userMessage {border-radius:2px; padding: 2px 30px; border-style:solid; border-width:1px; margin-bottom: 10px;}
.userMessage.error, .userMessage.ERROR {background:pink url(../Icons/error.gif) 5px no-repeat; border-color:@red;}
.userMessage.success, .userMessage.CONFIRM {background:#C3FDB8 url("../Icons/enable.gif") 5px no-repeat;padding-left: 30px;border-color: @green;color: #333;}
.userMessage.info {background:lightBlue url(../Icons/information.gif) 5px no-repeat;border-color: @primary-color;}
.userMessage.warn, .userMessage.WARNING {color:#333;background:#FFFFDA url(../Icons/warning.gif) 5px no-repeat; border-color:@orange;}
input.error {background: pink;border-color: @red;}
.stateBox.green {background-color: green;}
.stateBox.red {background-color: red;}
.stateBox.white {background-color: white;}
.stateBox.yellow {background-color: yellow;}
.stateBox.blue {background-color: blue;}
.stateBox.cyan {background-color: cyan;}
.stateBox.black {background-color: black;}
.stateBox.orange {background-color: orange;}
.stateBox.magenta {background-color: magenta;}
.stateBox.gray {background-color: gray;}
.stateBox.pink {background-color: pink;}

/* DIALOGS */
.popUpDiv, .widgetPopup, .ui-dialog {background:white;position:fixed;box-shadow:0 10px 30px #444; border:solid 1px #bbb; border-radius:2px; z-index: 1000;} 
.widgetPopup {padding: 10px 20px;}
.simplePopup {left:75px;top:15%;}
.popUpDiv .controls, .titledContainer .controls, .pagedBox .controls {float:right;cursor:pointer;}
.popUpDiv > .titledContainer {margin-bottom: 0;}

/* FIELD HELPER (fieldHelper.js) */
.pointingPopup_container {height: 100px; position: absolute; right: 168px; top: 188px; width: 300px; z-index: 1007; }
.pointingPopup_content {background: none repeat scroll 0 0 white; border: 3px solid #CCCCCC;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); float: right; min-height: 2em; padding: 5px; width: 290px; font-size: 12px;}
.pointingPopup_chevron {border-top: 10px solid transparent; border-bottom: 10px solid transparent;  border-right: 10px solid #CCCCCC; float: left; font-size: 0; line-height: 0; margin-top: 5px; width: 0;}

/* SCROLLING */
.scrollingContainer_350, .scrollingContainer_large, .largeDialogScrollArea, .inlineTree.scroll-large .treeCanvas {overflow: auto; overflow-x: hidden; max-height:350px;}
.scrollingContainer_350 td.last, .scrollingContainer_large td.last, .largeDialogScrollArea {padding-right: 20px !important;} /* make sure scrollbar does not hide content */
.scrollingContainer_200, .scrollingContainer_medium, .dialogScrollArea {overflow: auto; overflow-x: hidden; max-height:200px;}
.scrollingContainer_200 td.last, .scrollingContainer_medium td.last, .dialogScrollArea td.last {padding-right: 20px !important;} /* make sure scrollbar does not hide content */
.scrollingContainer_160, .scrollingContainer_small, .smallDialogScrollArea {overflow: auto; overflow-x: hidden; max-height:160px;}
.scrollingContainer_160 td.last, .scrollingContainer_small td.last, .smallDialogScrollArea td.last {padding-right: 20px !important;} /* make sure scrollbar does not hide content */

body ::-webkit-scrollbar {background: transparent;border: rgba(0, 0, 0, 0.2) solid;border-width: 0;}
body ::-webkit-scrollbar:vertical {width: 15px;}
body ::-webkit-scrollbar-corner {background: transparent;}
body ::-webkit-scrollbar-thumb {border: 2px solid white;background-color: rgba(0, 0, 0, 0.2);}
body ::-webkit-scrollbar-thumb:hover {background-color: rgba(0, 0, 0, 0.3);}
body ::-webkit-scrollbar-thumb:active {background-color: rgba(0, 0, 0, 0.5);}
body ::-webkit-scrollbar-button{display:none}

/* WIDGETS */
.input_button {display:inline-block;overflow:hidden;}
.input_button input {float:left; border-radius: 2px 0 0 2px;}
.input_button button {float:left; border-radius: 0 2px 2px 0;margin-left: -1px; padding-top: 18px; width: 30px;}

/* CATEGORIES AND SETTINGS  */
.dashboard .category {width: 440px; margin: 0 30px 10px 0; float:left; overflow:hidden;}
.dashboard .category > img {float:left; margin: 0 10px 20px; border-radius: 5px; padding: 5px; border:solid 1px #ccc; box-shadow: 0 5px 10px rgba(0,0,0,0.2)}
.dashboard .subcategory {overflow:hidden; float:left; margin: 0 10px;}
.dashboard .subcategory li {margin: 0 0 10px;}
.dashboard .legend {float: right;position: absolute;bottom: 5px;right: 0;}
.category .icon-32 {margin: 5px 15px 15px 5px;}
.category .meta {margin-top: 5px;}
.setting {border-top: dashed 1px #ccc; margin-top: -1px; padding: 10px 0;}
.setting:first-child {border-top: none;}
.setting .comments textArea {resize:none;width: 100%;}
.setting .comments .button, .setting .updated {float:right;margin-bottom: 5px;}
.setting .default-indicator {display: inline-block;float:left;min-height:1px;min-width:30px;width: 8%;}
.setting .value-description {display: inline-block;float:left;width: 92%;}
.setting .value-description .default {font-weight: bold;}

/* MISC */
.clearfix:before, .clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.code {font-color: #333; background-color: #eee; border: dashed 1px #bbb; padding: 4px 8px; overflow-x: auto; margin: 10px;}
.code .console {border-bottom: 1px dashed #bbb;}
.no_padding {padding:0;}
.no_margin {margin:0;}
.full_width {width: 100%}
.half_width {width: 50%}
.stacked {margin-bottom: 10px;} /*  Soley for spacing vertically stacked elements */
.wall_of_text .value {max-width: 300px;}
.title-bar-tool {float:right !important;margin-right: 10px;}
.dialog-no-buttons {margin-bottom: 20px;} /* buffer to get content (like scroll bar) from running into drag handle in dialogs with no button bar */
.detail {color: #777; font-size: .9em;}
strong, .smallBoldLabel, .groupedList .group {font-weight: bold;}

.notes, .smallBoldLabel {font-size: 12px;}
.monospace, .code {font-family: Courier,monospace; font-size: 12px;}
.monospace {white-space: pre;}
.focusedFieldDescription {display:none;}
.inlineTree {overflow:hidden;}
.short-width {max-width: 200px;} /* :( */
hr, .divider {border-top: 1px solid #ccc;border-style: solid none none none;clear: both;}
hr.dashed, .divider.dashed {border-style: dashed none none none;}
.empty-list {font-style: italic; color: #676767;}
.hint {font-style: italic;}
.editable:hover {background-color: LemonChiffon; cursor: text;}
.stateBox {width: 14px;height: 14px;border: 1px solid #555;display: inline-block !important;margin: 1px 0 0 0;}
.front {z-index: 9999;}
.with-form-controls {line-height: 26px;}
.with-form-controls td button.naked, .with-form-controls td .button.naked {margin-top: 5px;}
@-webkit-keyframes pulse-opacity { from {opacity: 0.3;} to {opacity: 1.0;}}
.pulse-opacity {-webkit-animation-name: pulse-opacity;-webkit-animation-duration: 1s;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: ease-in-out;-webkit-animation-direction: alternate;}

@-webkit-keyframes blink-shadow {
    0% {box-shadow: 0 0 15px @red;}
    25% {box-shadow: 0 0 15px transparent;}
    50% {box-shadow: 0 0 15px @red;}
    75% {box-shadow: 0 0 15px transparent;}
    100% {box-shadow: 0 0 15px @red;}
}
.blink-shadow {
    -webkit-animation-name: blink-shadow;
    -webkit-animation-duration: 1s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite; 
}

 /* DATE/TIME PICKER */
.datetimeEntry_wrap {display: inline-block; overflow: hidden; background: #ccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; float: left; margin-right: 5px;border: 1px solid #aaa;height: 22px;}
.datetimeEntry_wrap.date {width: 144px;}
.datetimeEntry_wrap.dateTime {min-width: 171px;}
.datetimeEntry_wrap.time {width: 102px;}
.datetimeEntry_wrap input { padding: 2px; float: left; height: 20px; border: solid 1px white;}
.datetimeEntry_wrap img {margin: 3px;}
.datetimeEntry_wrap .datetimeEntry_control {display: none !important;}
.datetimeEntry_wrap input[disabled] {color: #999;}
.datetimeEntry_wrap input[disabled] + .ui-datepicker-trigger {cursor: auto;} 
.ui-datepicker.hide_minutes .ui_tpicker_minute_label,.ui-datepicker.hide_minutes .ui_tpicker_minute{display: none;}
.datetimeEntry_wrap .timezone_container {line-height: 23px; margin-left: -31px; float: left; color: #999; font-size: 13px; padding-right: 5px;}
input.datePicker, input.timePicker, input.dateTimePicker {border-radius: 2px 0 0 2px;}
input.datePicker {width: 114px;}
input.timePicker {width: 74px;}
input.dateTimePicker {margin: 0;}
.ui-datepicker-trigger:hover {cursor: pointer;}

/* COLOR PICKER */
.color-picker {
    &.sp-container, &.sp-replacer {
        border: 1px solid #bbb;border-radius: 2px;
    }
    
    .sp-palette {width: 180px;}
    .sp-picker-container {
        width: 200px;
        .sp-input-container {width: 100%;}
    }
    .sp-slider {height: 5px;}
    .sp-button-container {
        width: 100%;
        .sp-cancel {display: none;}
        .sp-choose {
            background: #F3F3F3;
            border: solid 1px #bbb;
            border-radius: 2px;
            color: #444;
            display: inline-block;
            float: right;
            font: bold 12px Helvetica, Arial, sans-serif;
            font-smoothing: antialiased;
            height: 26px;
            line-height: 16px;
            margin: 3px 5px;
            padding: 4px 8px;
            text-decoration: none;
            text-shadow: 0 1px 0 #fff;
            transition: border-color 0.2s;
        }
    }
}

/* IMAGE PICKER */
.image-picker {
    .image {
        border: 2px solid transparent;
        &.selected, &:hover {cursor: pointer; border-color: #bbb}
    }
    .upload-percent, .upload-progress {display: inline-block; float: left;}
    .upload-progress {width: 200px;}
    .upload-percent {line-height: 26px; margin-left: 15px;}
}

/* DROPDOWN MENUS */
.dropdown-container {display: inline-block; position: relative;}
.dropdown-container > a > .icon:first-child {margin-right: 0;}
.dropdown-container > a > .icon:nth-child(2) {margin-left: 0;}

.has-actions .dropdown-container, .show-on-hover {visibility: hidden;}
.has-actions tr:hover .dropdown-container, .has-actions li:hover .dropdown-container, .has-actions .dropdown-container.menu-open, tr:hover .show-on-hover, li:hover .show-on-hover {visibility: visible;}
.has-actions .action-column {width:56px;} /* only use when you need the action icon to have it's own column, ie: you don't know which column would be the last column */

.ui-datepicker::before,
.dropdown-menu::before {position: absolute; top: -7px; display: inline-block; border-right: 7px solid transparent; border-bottom: 7px solid #ccc; border-left: 7px solid transparent; border-bottom-color: rgba(0, 0, 0, 0.2); content: '';}
.ui-datepicker::after, .dropdown-menu::after {position: absolute; top: -6px; display: inline-block; border-right: 6px solid transparent; border-bottom: 6px solid #ffffff; border-left: 6px solid transparent; content: '';}
.dropdown-menu.menu-left::before {right: 14px; left: auto;}
.ui-datepicker::after, .dropdown-menu.menu-left::after {right: 15px; left: auto;}
.dropdown-menu.menu-right::before {left: 14px; right: auto;}
.dropdown-menu.menu-right::after {left: 15px; right: auto;}
.ui-datepicker::before {left:3.5em;right:auto;border-bottom-color: #999;}
.dropdown-menu {display: none;position: absolute;left: auto;top: 100%;text-align: left;z-index: 1000;float: left;min-width: 200px;padding: 4px 0;margin: 1px 0 0;list-style: none;background-color: #fff;border: 1px solid #ccc;border-radius: 2px;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);background-clip: padding-box;font-size: 13px;}
.dropdown-menu.long-menu-list {font-size: 11px;}
.dropdown-menu li {margin-top: 3px;}
.dropdown-menu a, .dropdown-menu .button.naked {display: block; padding: 0 15px; clear: both; font-weight: normal; line-height: 18px; color: @primary-font-color; white-space: nowrap; text-decoration: none; cursor: pointer;}
.dropdown-menu li a:hover, .dropdown-menu li .button.naked:hover, .dropdown-menu .active a, .dropdown-menu .active .button.naked, .dropdown-menu .active a:hover, .dropdown-menu .active .button.naked:hover {color: @primary-color; text-decoration: none; background-color: whiteSmoke;}
.dropdown-menu .divider {height: 1px; margin: 3px 1px; overflow: hidden; background-color: #E5E5E5; border-bottom: 1px solid white;}
.dropdown-container a {cursor: pointer;}

.criteria-button {text-align: left;position: relative;}
.criteria-button > .criteria-wrap {display: inline-block;float: left;max-width: 200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.criteria-button .criteria-label {color: #777;}
.criteria-button .criteria-value {display: inline;}
.criteria-menu a {padding: 3px 15px;}
.criteria-menu .criteria-option {cursor: pointer; display: block;margin: 0;max-width: 230px;overflow: hidden;padding: 0;text-overflow: ellipsis;white-space: nowrap;width: auto;}
.criteria-menu .criteria-option input {margin-right: 10px;}

/* MODAL/BLOCKING GLASS */
#modal_glass {padding-bottom: 100px; text-align:center;}
#modal_glass, #modal_glass .tint {position: fixed; top:0; left:0; z-index:100000; height: 100%; width: 100%;}
#modal_glass .loading {padding: 20px 20px 20px 40px;display: inline-block;border: solid 1px #CCCCCC;background: #FFF url(../Icons/busy_rotation.gif) 14px center no-repeat;margin: 70px auto 0;box-shadow: 0 0 100px #666;opacity: 1;filter:alpha(opacity=100);z-index:100001;position: relative;font-size: 16px;color: #666;}
.glass {background: #000 url(../Icons/busy_rotation.gif) center no-repeat; opacity: 0.1; filter: alpha(opacity=10); position: absolute;}
.message {padding: 5px 20px;}
.loading .message {padding: 0 0 0 20px; border: none;}

/* CONNECTION WARNING */
#dataUpdaterErrorDiv {position: fixed;bottom: 0;left: 0;right: 0;background: @red;color: white;font-weight: bold;text-align: center;padding: 3px;}
#dataUpdaterErrorDiv .alert {padding-top: 64px;width: 64px;position: absolute;bottom: 0;left: 10px;}

/* FAVORITES */
.b-favorite {margin-right: 5px !important;}
.favorites .favorite .b-favorite, .monitor .b-subscribe {visibility: hidden;}
.favorites .favorite:hover .b-favorite, .monitor:hover .b-subscribe {visibility: visible;}
.page-title-bar .b-favorite {margin-top: 3px !important;}

/* JUNK TO FIX */
.CONTROLAREA_STATE_ACTIVE, .CONTROLAREA_STATE_PARTIALLY_ACTIVE, .CONTROLAREA_STATE_MANUAL_ACTIVE, .PROGRAM_STATE_ACTIVE, .PROGRAM_STATE_PARTIALLY_ACTIVE, .PROGRAM_STATE_MANUAL_ACTIVE, .PROGRAM_STATE_TIMED_ACTIVE, .LOADGROUP_STATE_ACTIVE {color: @green;}
.CONTROLAREA_STATE_INACTIVE,.PROGRAM_STATE_INACTIVE, .PROGRAM_STATE_NON_CONTROL, .LOADGROUP_STATE_INACTIVE {color: #555;}
.CONTROLAREA_STATE_CONTROL_ATTEMPT, .PROGRAM_STATE_STOPPING, .LOADGROUP_STATE_ACTIVE_PENDING {color: #993;}
.PROGRAM_STATE_SCHEDULED, .PROGRAM_STATE_CONTROL_ATTEMPT, .CONTROLAREA_STATE_FULLY_SCHEDULED, .CONTROLAREA_STATE_PARTIALLY_SCHEDULED {color: @orange;}
.PROGRAM_STATE_NOTIFIED, .LOADGROUP_STATE_INACTIVE_PENDING {color: cyan;}
.drDisabled {color: @red;}
.eventStatusCleared, .eventStatusGood {color:@green;}
.eventStatusQuestionable {color:@orange;}
.eventStatusActive,.eventStatusBad {color:@red;}
