<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="notificationServer" class="com.cannontech.notif.server.NotificationServer" />

    <bean id="standardEmailHandler" class="com.cannontech.notif.outputs.StandardEmailHandler" />
    <bean id="smsEmailHandler" class="com.cannontech.notif.outputs.SmsEmailHandler" />
    <bean id="voiceHandler" class="com.cannontech.notif.outputs.VoiceHandler" />

    <bean id="outputHandlerHelper" class="com.cannontech.notif.outputs.OutputHandlerHelper" />

    <bean id="notificationQueue" class="com.cannontech.notif.voice.NotificationQueue" scope="prototype" />
    <bean id="callPoolFactory" class="com.cannontech.notif.voice.CallPoolFactory" />
    <bean id="urlDialerFactory" class="com.cannontech.notif.voice.UrlDialerFactory" />

    <bean id="notificationMessageHandler" class="com.cannontech.notif.server.NotificationMessageHandler" />
    <bean id="loadManagementMessageHandler" class="com.cannontech.notif.handler.LoadManagementMessageHandler"/>
    <bean id="alarmMessageHandler" class="com.cannontech.notif.handler.AlarmMessageHandler"/>
    <bean id="completedMessageHandler" class="com.cannontech.notif.handler.CompletedMessageHandler"/>
    <bean id="voiceDataRequestMessageHandler" class="com.cannontech.notif.handler.VoiceDataRequestMessageHandler"/>
    <bean id="curtailmentEventMessageHandler" class="com.cannontech.notif.handler.CurtailmentEventMessageHandler"/>
    <bean id="curtailmentEventDeleteMessageHandler" class="com.cannontech.notif.handler.CurtailmentEventDeleteMessageHandler"/>
    <bean id="economicEventDeleteMessageHandler" class="com.cannontech.notif.handler.EconomicEventDeleteMessageHandler"/>
    <bean id="economicEventMessageHandler" class="com.cannontech.notif.handler.EconomicEventMessageHandler" />
    <bean id="notifEmailMessageHandler" class="com.cannontech.notif.handler.NotifEmailMessageHandler" autowire="byType"/>
    <bean id="customerEmailMessageHandler" class="com.cannontech.notif.handler.CustomerEmailMessageHandler"/>
    <bean id="programActionMessageHandler" class="com.cannontech.notif.handler.ProgramActionMessageHandler"/>
    <bean class="com.cannontech.notif.handler.EmailMessageHandler"/>

    <bean id="economicEventScheduler" class="com.cannontech.notif.handler.EconomicEventScheduler"
        abstract="false" scope="singleton" autowire="byType"/>

    <bean id="curtailmentEventScheduler" class="com.cannontech.notif.handler.CurtailmentEventScheduler"
        abstract="false" scope="singleton" autowire="byType"/>

    <bean id="systemMetrics" class="com.cannontech.common.systemMetrics.SystemMetricsImpl"
        init-method="init" destroy-method="destroy">
        <property name="loadAverageAttribute" value="NOTIFICATION_SERVER_CPU_UTILIZATION" />
        <property name="memoryAttribute" value="NOTIFICATION_SERVER_MEMORY_UTILIZATION" />
    </bean>
    
</beans>
