<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumTestNG suite">
	<listeners>
        <listener class-name="com.eaton.screenshotutils.TestListener"></listener>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      	<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Selenium Tests">
		<classes>
			<class name="com.eaton.tests.ami.MeterCommonEditTests">
      		</class>
		</classes>
    </test>
</suite>