div.membersContainer {
    min-width: 400px;
}

div.ecContainer {
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

ul.groupLists li {
    list-style: disc;
}

div.notes {
    padding-bottom: 5px;
}

#applianceCategoryPrograms {
    margin-top: 20px;
}

table.userGroupHomeLayout {
    width: 100%;
}

table.userGroupHomeLayout td {
    width: 50%;
}

div.rolesContainer {
    font-size: 12px;
    overflow: auto;
    max-height: 400px;
    min-width: 400px;
}

ul.category {
    padding-top: 5px;
}

ul.role li {
    padding-left: 10px;
    padding-top: 2px;
}

span.categoryLabel {
    font-weight: bold;
}

.search_list {
    height: 8em;
    width: 150px;
    margin: 10px 0;
    border: solid 1px #CCCCCC;
    overflow-y:scroll;
}

.search_list li {
    padding: 2px 5px;
}

.search_list li:hover {
    background: #EFEFEF;
}

ul.filtering li {
    color: #AAAAAA;
}

ul.filtering li.filtered {
    color: inherit;
    background-color: lightBlue;
}

input.found {
    background-color: lightBlue;
}

input.notFound {
    background-color: pink;
}

input.default {
    color: #AAAAAA;
}

#findDesignationCode {
    border: solid 1px #CCCCCC;
    padding: 2px;
    font-size: 14px;
    width: 146px;
}

div.groupsContainer,
div.usersContainer {
    max-width: 800px;
    min-width: 500px;
}

div.permissionsContainer {
    max-height: 500px;
    overflow: auto;
}

table.listTable td,
table.listTable th {
    width: 90%;
}

table.listTable td.removeColumn,
table.listTable th.removeColumn {
    width: 10%;
}

table.energyCompaniesTable {
    width: 100%;
    border-collapse: collapse;
}

table.energyCompaniesTable tr {
    height: 25px;
}

table.energyCompaniesTable td.buttonColumn {
    text-align: right;
}

button.loginButton {
    float: right;
}

table.energyCompanyHomeLayout {
    width: 100%;
}

table.energyCompanyHomeLayout td.first,
table.energyCompanyHomeLayout td.last {
    vertical-align: top;
    width: 50%;
}

table.energyCompanyHomeLayout td.last {
    padding-left: 30px;
}

div.ecContainer {
    max-height: 193px;
    overflow: auto;
    overflow-x: hidden;
}

ul.groupLists li {
    list-style: disc;
}

div.membersContainer {
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
}

div.membersContainer ul li {
    padding-bottom: 2px;
}

.notes {
    font-size: 11px;
    padding-bottom: 5px;
}

tr.pickerRow td.value span[id^='picker_'] {
    vertical-align: top;
}

#applianceCategoryPrograms {
    margin-top: 20px;
}

/* Route and Substation Layout Settings */
table.routeAndSubstationLayout {
    width: 100%;
}

table.routeAndSubstationLayout td.first, td.last {
    vertical-align: top;
    width: 50%;
}

table.routeAndSubstationLayout td.last {
    padding-left: 30px;
}

.operatorLogins {
    min-width: 300px;
}

div.listContainer {
    max-width: 400px;
}

#selectionListList {
    width: 100%;
}

#selectionListList td {
    vertical-align: top;
    width: 50%;
}

#selectionListList h3 {
    margin-top: 10px;
}

#selectionListList .notesCell {
    padding-left: 15px;
}

#selectionListEntries {
    margin-top: 15px;
}

#editListForm input[type='text'] {
    width: 300px;
}

#operatorLoginList {
    max-height: 300px;
}

.pointingPopup_container {
    position: absolute;
    right:168px;
    top:188px;
    width:300px;
    height: 100px;
}

.pointingPopup_content {
    float: right;
    width:274px;
    min-height: 2em;
    border: 3px solid #ccc;
    background: white;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.pointingPopup_chevron {
    float: left;
    font-size: 0px; line-height: 0%; width: 0px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-left: none;
    border-right: 10px solid #ccc;
    margin-top: 20px;
}