table.energyCompanyHomeLayout {
    width: 100%;
}

table.energyCompanyHomeLayout td.first,
table.energyCompanyHomeLayout td.last {
    vertical-align: top;
    width: 50%;
}

table.energyCompanyHomeLayout td.last {
    padding-left: 30px;
}

div.ecContainer {
    max-height: 193px;
    overflow: auto;
    overflow-x: hidden;
}

ul.groupLists li {
    list-style: disc;
}

div.membersContainer {
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
}

div.membersContainer ul li {
    padding-bottom: 2px;
}

div.notes {
    padding-bottom: 5px;
}

tr.pickerRow td.value span[id^='picker_'] {
    vertical-align: top;
}

.search_list {
    height: 8em;
    width: 150px;
    margin: 10px 0;
    border: solid 1px #CCCCCC;
    overflow-y:scroll;
}

.search_list li {
    padding: 2px 5px;
}

.search_list li:hover {
    background: #EFEFEF;
}

ul.filtering li {
    color: #AAAAAA;
}

ul.filtering li.filtered {
    color: inherit;
    background-color: lightBlue;
}

input.found {
    background-color: lightBlue;
}

input.notFound {
    background-color: pink;
}

input.default {
    color: #AAAAAA;
}

#findDesignationCode {
    border: solid 1px #CCCCCC;
    padding: 2px;
    font-size: 14px;
    width: 150px;
}

#applianceCategoryPrograms {
    margin-top: 20px;
}

