<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <bean id="loadControlClientConnectionFactory" class="com.cannontech.loadcontrol.LoadControlClientConnectionFactory"/>
    <bean id="loadControlClientConnection" factory-bean="loadControlClientConnectionFactory" 
         factory-method="createConnection" scope="singleton"/>
         
    <bean id="loadManagementService" class="com.cannontech.loadcontrol.LoadManagementProxy" 
        scope="singleton">
        <property name="loadControlClientConnection" ref="loadControlClientConnection"/>
        <property name="serverRequest" ref="serverRequest"/>
    </bean>

    <bean id="loadGroupDao" class="com.cannontech.loadcontrol.loadgroup.dao.impl.LoadGroupDaoImpl"/>
   
    <bean id="loadControlProgramDao" class="com.cannontech.loadcontrol.dao.impl.LoadControlProgramDaoImpl"/>
    
    <bean id="loadControlService" class="com.cannontech.loadcontrol.service.impl.LoadControlServiceImpl"/>
   
    <bean id="loadControlCommandService" class="com.cannontech.loadcontrol.service.impl.LoadControlCommandServiceImpl"/>

    <bean id="drControlAreaDao" class="com.cannontech.dr.controlarea.dao.impl.ControlAreaDaoImpl"/>
    <bean id="drScenarioDao" class="com.cannontech.dr.scenario.dao.impl.ScenarioDaoImpl"/>

    <bean id="drService" class="com.cannontech.dr.service.impl.DemandResponseServiceImpl"/>
    
    <bean class="com.cannontech.dr.service.impl.ControlHistoryServiceImpl"/>

    <bean id="drControlAreaService" class="com.cannontech.dr.controlarea.service.impl.ControlAreaServiceImpl"/>
    <bean id="drControlAreaFieldService" class="com.cannontech.dr.controlarea.service.impl.ControlAreaFieldServiceImpl"/>
    <bean id="drControlAreaNameField" class="com.cannontech.dr.controlarea.model.ControlAreaNameField"/>
    <bean id="drControlAreaStateField" class="com.cannontech.dr.controlarea.model.ControlAreaStateField"/>
    <bean id="drControlAreaStateClassnameField" class="com.cannontech.dr.controlarea.model.ControlAreaStateClassnameField"/>
    <bean id="drControlAreaEnabledField" class="com.cannontech.dr.controlarea.model.ControlAreaEnabledField"/>
    <bean id="drControlAreaEnabledClassnameField" class="com.cannontech.dr.controlarea.model.ControlAreaEnabledClassnameField"/>
    <bean id="drControlAreaPriorityField" class="com.cannontech.dr.controlarea.model.ControlAreaPriorityField"/>
    <bean id="drControlAreaStartField" class="com.cannontech.dr.controlarea.model.ControlAreaStartField"/>
    <bean id="drControlAreaStopField" class="com.cannontech.dr.controlarea.model.ControlAreaStopField"/>
    <bean id="drControlAreaShowActionField" class="com.cannontech.dr.controlarea.model.ControlAreaShowActionField"/>

    <bean id="drTriggerFieldService" class="com.cannontech.dr.controlarea.service.impl.TriggerFieldServiceImpl"/>
    <bean id="drTriggerValueThresholdField" class="com.cannontech.dr.controlarea.model.TriggerValueThresholdField"/>
    <bean id="drTriggerPeakProjectionField" class="com.cannontech.dr.controlarea.model.TriggerPeakProjectionField"/>
    <bean id="drTriggerATKUField" class="com.cannontech.dr.controlarea.model.TriggerATKUField"/>

    <bean id="drScenarioService" class="com.cannontech.dr.scenario.service.impl.ScenarioServiceImpl"/>
    <bean id="drScenarioFieldService" class="com.cannontech.dr.scenario.service.impl.ScenarioFieldServiceImpl"/>
    <bean id="drScenarioShowActionField" class="com.cannontech.dr.scenario.model.ScenarioShowActionField"/>

    <bean id="drProgramService" class="com.cannontech.dr.program.service.impl.ProgramServiceImpl"/>
    <bean id="drProgramFieldService" class="com.cannontech.dr.program.service.impl.ProgramFieldServiceImpl"/>
    <bean id="drProgramNameField" class="com.cannontech.dr.program.model.ProgramNameField"/>
    <bean id="drProgramStateField" class="com.cannontech.dr.program.model.ProgramStateField"/>
    <bean id="drProgramStartField" class="com.cannontech.dr.program.model.ProgramStartField"/>
    <bean id="drProgramStartTimeField" class="com.cannontech.dr.program.model.ProgramStartTimeField"/>
    <bean id="drProgramStopField" class="com.cannontech.dr.program.model.ProgramStopField"/>
    <bean id="drProgramStopTimeField" class="com.cannontech.dr.program.model.ProgramStopTimeField"/>
    <bean id="drProgramReductionField" class="com.cannontech.dr.program.model.ProgramReductionField"/>
    <bean id="drProgramCurrentGearField" class="com.cannontech.dr.program.model.ProgramCurrentGearField"/>
    <bean id="drProgramStateClassnameField" class="com.cannontech.dr.program.model.ProgramStateClassnameField"/>
    <bean id="drProgramEnabledField" class="com.cannontech.dr.program.model.ProgramEnabledField"/>
    <bean id="drProgramEnabledClassnameField" class="com.cannontech.dr.program.model.ProgramEnabledClassnameField"/>
    <bean id="drProgramShowAction" class="com.cannontech.dr.program.model.ProgramShowActionField"/>
    <bean id="drProgramPriority" class="com.cannontech.dr.program.model.ProgramPriorityField"/>
    
    <bean class="com.cannontech.dr.program.service.impl.DisconnectStatusServiceImpl"/>

    <bean id="drLoadGroupService" class="com.cannontech.dr.loadgroup.service.impl.LoadGroupServiceImpl"/>
    <bean id="drLoadGroupFieldService" class="com.cannontech.dr.loadgroup.service.impl.LoadGroupFieldServiceImpl"/>
    <bean id="drLoadGroupNameField" class="com.cannontech.dr.loadgroup.model.LoadGroupNameField"/>
    <bean id="drLoadGroupStateField" class="com.cannontech.dr.loadgroup.model.LoadGroupStateField"/>
    <bean id="drLoadGroupLastActionField" class="com.cannontech.dr.loadgroup.model.LoadGroupLastActionField"/>
    <bean id="drLoadGroupControlStatisticsField" class="com.cannontech.dr.loadgroup.model.LoadGroupControlStatisticsField"/>
    <bean id="drLoadGroupReductionField" class="com.cannontech.dr.loadgroup.model.LoadGroupReductionField"/>
    <bean id="drLoadGroupLoadCapacityField" class="com.cannontech.dr.loadgroup.model.LoadGroupLoadCapacityField"/>
    <bean id="drLoadGroupStateClassnameField" class="com.cannontech.dr.loadgroup.model.LoadGroupStateClassnameField"/>
    <bean id="drLoadGroupEnabledField" class="com.cannontech.dr.loadgroup.model.LoadGroupEnabledField"/>
    <bean id="drLoadGroupEnabledClassnameField" class="com.cannontech.dr.loadgroup.model.LoadGroupEnabledClassnameField"/>
    <bean id="drLoadGroupShowAction" class="com.cannontech.dr.loadgroup.model.LoadGroupShowActionField"/>

    <bean class="com.cannontech.dr.assetavailability.service.impl.AssetAvailabilityServiceImpl"/>
    <bean class="com.cannontech.dr.assetavailability.dao.impl.AssetAvailabilityDaoImpl"/>
    <bean class="com.cannontech.dr.assetavailability.dao.impl.DRGroupDeviceMappingDaoImpl"/>
    <bean class="com.cannontech.dr.assetavailability.dao.impl.DynamicLcrCommunicationsDaoImpl"/>
    <bean class="com.cannontech.dr.estimatedload.service.impl.EstimatedLoadServiceImpl"/>
    <bean class="com.cannontech.dr.estimatedload.service.impl.EstimatedLoadBackingServiceHelperImpl"/>
    <bean class="com.cannontech.dr.estimatedload.service.impl.FormulaServiceImpl"/>
    <bean class="com.cannontech.dr.estimatedload.dao.impl.EstimatedLoadDaoImpl"/>
    <bean class="com.cannontech.dr.estimatedload.dao.impl.FormulaDaoImpl"/>
    
    <bean class="com.cannontech.common.weather.impl.WeatherDataServiceImpl"/>
    <bean class="com.cannontech.common.weather.impl.NoaaWeatherDataServiceImpl"/>
    
    <bean class="com.cannontech.dr.ecobee.service.impl.EcobeeReconciliationServiceImpl"/>
    <bean class="com.cannontech.dr.ecobee.dao.impl.EcobeeReconciliationReportDaoImpl"/>
    <bean class="com.cannontech.dr.ecobee.dao.impl.EcobeeGroupDeviceMappingDaoImpl"/>
    <bean class="com.cannontech.dr.ecobee.dao.impl.EcobeeQueryCountDaoImpl"/>

    <bean class="com.cannontech.dr.ecobee.service.impl.EcobeeCommunicationServiceImpl"/>
    <bean class="com.cannontech.dr.ecobee.service.impl.EcobeeCommunicationServiceHelper"/>
    <bean class="com.cannontech.dr.ecobee.service.impl.EcobeePointUpdateServiceImpl"/>

    <bean class="com.cannontech.dr.recenteventparticipation.dao.impl.RecentEventParticipationDaoImpl"/>
    <bean class="com.cannontech.dr.recenteventparticipation.service.impl.RecentEventParticipationServiceImpl"/>

    <bean id="ecobeeRestProxyFactory" class="com.cannontech.dr.ecobee.service.impl.EcobeeRestProxyFactory">
        <constructor-arg name="proxiedTemplate">
            <bean class="org.springframework.web.client.RestTemplate">
                <property name="messageConverters">
                    <list>
                        <ref bean="jacksonHttpMessageConverter"/>
                    </list>
                </property>
                <property name="errorHandler">
                    <bean class="com.cannontech.dr.ecobee.service.EcobeeErrorHandler"/>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <bean class="com.cannontech.dr.ecobee.service.impl.EcobeeRestProxyFactory"
            factory-bean="ecobeeRestProxyFactory"
            factory-method="createInstance">
        <qualifier value="ecobee"/>
    </bean>
    
    <bean class="com.cannontech.dr.service.impl.RuntimeCalcServiceImpl" />
    
    <!-- Honeywell Wifi -->
    <bean class="com.cannontech.dr.honeywell.service.impl.HoneywellCommunicationServiceImpl"/>

    <bean id="honeywellRestProxyFactory" class="com.cannontech.dr.honeywell.service.impl.HoneywellRestProxyFactory">
        <constructor-arg name="proxiedTemplate">
            <bean class="org.springframework.web.client.RestTemplate">
                <property name="messageConverters">
                    <list>
                        <bean class = "org.springframework.http.converter.StringHttpMessageConverter"/>
                        <bean class="org.springframework.http.converter.support.AllEncompassingFormHttpMessageConverter"/>
                        <ref bean="jacksonHttpMessageConverter"/>
                    </list>
                </property>
            </bean>
        </constructor-arg>
    </bean>
    
    <bean class="com.cannontech.dr.honeywell.service.impl.HoneywellRestProxyFactory"
            factory-bean="honeywellRestProxyFactory"
            factory-method="createInstance">
        <qualifier value="honeywell"/>
    </bean>
    
    <bean class="com.cannontech.dr.nest.service.impl.NestCommunicationServiceImpl"/>
    <bean class="com.cannontech.dr.nest.service.impl.NestSyncServiceImpl"/>
    <bean class="com.cannontech.dr.nest.service.impl.NestSimulatorServiceImpl"/>
    <bean class="com.cannontech.dr.nest.service.impl.NestServiceImpl"/>
    <bean class="com.cannontech.dr.nest.dao.impl.NestDaoImpl"/>

    <bean class="com.cannontech.dr.pxwhite.service.impl.PxWhiteCommunicationServiceImpl"/>
    
    <bean class="com.cannontech.dr.itron.dao.impl.ItronDaoImpl"/>
</beans>
