.schedules {margin-bottom: 45px; overflow:hidden;}
ul.schedules > li {position: relative; float: left; display: block; clear: both; margin-bottom: 20px; padding: 10px 10px 0;}

.schedule {display: inline-block;overflow: hidden; float: left; clear: both;min-width: 740px;}
.schedule .heading {border-bottom: 1px solid #ccc;}
.schedule .heading h4 {margin-bottom: 5px;}

.row {clear: both; display: block; overflow:hidden;margin:3px 0;}

.periods, .labels {overflow:hidden; float: left;}
.labels {margin: 5px 0  0 40px;}
.row-label {font-style: italic;padding: 0;text-align:right;width: 35px;background-color: #fff;padding-right: 5px;}
.time-label, .temp-label, .info.time {float:left; text-align: center;}
.time-label {font-weight:bold;}
.time-label, .info.time {width:85px;}
.temp-label {width:45px;}

.period {width: 175px;}
.period, .info {float: left;height: 24px;}
.info .time, .row-label {line-height: 24px;}
.row-label {margin-right: 5px;}

.temp {float: left; padding: 2px; border: solid 1px #CCC; color: #fff; text-align: center; width: 45px;}
.temp.heat {border-radius: 5px 0 0 5px;-moz-border-radius: 5px 0 0 5px;-webkit-border-radius: 5px 0 0 5px;}
.temp.cool {border-radius: 0 5px 5px 0;-moz-border-radius: 0 5px 5px 0;-webkit-border-radius: 0 5px 5px 0;}

.tempControls {padding: 5px;}
.tempControls label {margin-left: 5px;}

.F span.C, .C span.F {display: none;}

.actions button.naked {margin-right:15px;}

/* Editor Mode */
.schedule.editor .info.time, .schedule.editor .temp {border: 1px solid #ccc;padding: 2px;}
.schedule.editor .info.time {border-radius: 5px 0 0 5px;border-right: none;}
.schedule.editor .temp.heat {border-radius: 0;}
.schedule.editor .info.time input[type=text], .schedule.editor .temp input[type=text] {border: none;padding: 0;height:18px;text-align: center;}
.schedule.editor .info.time input[type=text] {width:60px;}
.schedule.editor .temp input[type=text] {width:30px;}
.schedule.editor .labels {margin-left: 30px;}
.tempLabel {border: none; color: #333;float: right;}

/* Slider */
.slider {position: fixed;width: 250px;height: 40px;background: white;border: solid 2px #666;box-shadow: 0 0 5px rgba(0,0,0,0.5);z-index: 2000;left: -999em;border-radius: 3px;}
.slider .track {width: 230px; height: 1px; border: solid 1px #666; background-color: #999; position: absolute; left: 9px; top: 24px;}
.slider .ui-slider-handle {height: 20px;width: 20px;margin-top: -5px;margin-left: -10px;}
.slider .row-label {margin: 0 5px;}
.slider .startLabel, .slider .endLabel {margin: 0 5px;}
.chevron {font-size: 0;height: 0;line-height: 0;border-style: solid;border-color: transparent;border-bottom-color: #666;border-width: 0 10px 9px;float: left;margin: -11px 115px;}

/* Random Stuff for the Page */
.pad {padding: 15px;}

.help ol {list-style: decimal; padding-left: 20px;}
.help ol li {margin: 0 0 15px;}

/* Manual Thermostat Adjustment Widget */
.manualThermostat {margin-right: 20px;}
.manualThermostat ul {padding: 0; margin: 0; line-height: 1.1em;}
.manualThermostat .temperatureDisplay .temperature {height: 1.3em;width: 3em;}
.manualThermostat input:disabled {background-color: #f0f0f0; color: #ccc;}
.manualThermostat .thermostatModes {margin: 0 18px;}
.manualThermostat h2 {font-weight: bold;}
.manualThermostat li {padding-left: 20px; cursor: pointer; list-style: none;}
.manualThermostat .list-piped li {padding-left: 8px;}
.manualThermostat .mode.selected, .manualThermostat .state.selected {background: transparent url(../../Icons/triangle-right.gif) 5px 3px no-repeat;}
.manualThermostat .temperature {border-radius: 8px;}
.manualThermostat .unit.selected {color: black; text-decoration: none; cursor: default;}
.manualThermostat .unit{color: #0000EE; text-decoration: underline;}