<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    
    <bean class="com.cannontech.message.service.BrokerService"/>
    
    <bean id="systemMetrics" class="com.cannontech.common.systemMetrics.SystemMetricsImpl"
           init-method="init" destroy-method="destroy">
        <property name="loadAverageAttribute" value="MESSAGE_BROKER_CPU_UTILIZATION" />
        <property name="memoryAttribute" value="MESSAGE_BROKER_MEMORY_UTILIZATION" />
    </bean>
    
</beans>