<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    
    <bean id="yukonDataSource" class="com.cannontech.database.PoolManager" factory-method="getYukonDataSource"/>
    
    <bean class="com.cannontech.database.YukonJdbcTemplate">
        <constructor-arg>
            <bean class="com.cannontech.spring.LoggingJdbcTemplate">
                <property name="dataSource" ref="yukonDataSource" />
            </bean>
        </constructor-arg>
    </bean>
    
    <bean id="configurationSource" class="com.cannontech.common.config.MasterConfigHelper" factory-method="getConfiguration"/>
    <bean id="globalSettingDao" class="com.cannontech.system.dao.impl.GlobalSettingDaoImpl"/>
    <bean class="com.cannontech.broker.logging.YukonBrokerLoggingReloader"/>
    
    <bean id="connectionFactoryTarget" class="com.cannontech.services.jms.YukonJmsConnectionFactory" lazy-init="true" autowire-candidate="false"/>
        
    <bean id="connectionFactory" class="org.springframework.aop.framework.ProxyFactoryBean">
      <property name="targetSource">
        <bean class="org.springframework.aop.target.LazyInitTargetSource">
          <property name="targetBeanName"><idref bean="connectionFactoryTarget"/></property>
        </bean>
      </property>
    </bean>
    
    <bean class="com.cannontech.message.service.BrokerService"/>
    
    <bean id="brokerSystemMetrics" class="com.cannontech.broker.systemMetrics.BrokerSystemMetricsImpl"
           init-method="init"  destroy-method="destroy">
        <property name="loadAverageAttribute" value="MESSAGE_BROKER_CPU_UTILIZATION" />
        <property name="memoryAttribute" value="MESSAGE_BROKER_MEMORY_UTILIZATION" />
    </bean>
     
</beans>