<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


    <!-- Event Log Arg Annotation i18n keys -->
    <entry key="yukon.common.events.accountNumber">Account Number</entry>
    <entry key="yukon.common.events.applianceType">Appliance Type</entry>
    <entry key="yukon.common.events.commandRequestExecutionContextId">Command Request Execution Context Id</entry>
    <entry key="yukon.common.events.commandRequestExecutionId">Command Request Execution Id</entry>
    <entry key="yukon.common.events.commandRequestExecutionType">Command Request Execution Type</entry>
    <entry key="yukon.common.events.contactName">Contact Name</entry>
    <entry key="yukon.common.events.controlAreaName">Control Area Name</entry>
    <entry key="yukon.common.events.deviceLabel">Device Label</entry>
    <entry key="yukon.common.events.deviceName">Device Name</entry>
    <entry key="yukon.common.events.energyCompanyName">Energy Company Name</entry>
    <entry key="yukon.common.events.fileName">File Name</entry>
    <entry key="yukon.common.events.gearName">Gear Name</entry>
    <entry key="yukon.common.events.loadGroupName">Load Group Name</entry>
    <entry key="yukon.common.events.meterName">Meter Name</entry>
    <entry key="yukon.common.events.paoId">Pao Id</entry>
    <entry key="yukon.common.events.paoName">Pao Name</entry>
    <entry key="yukon.common.events.paoType">Pao Type</entry>
    <entry key="yukon.common.events.pointDate">Point Date</entry>
    <entry key="yukon.common.events.pointId">Point Id</entry>
    <entry key="yukon.common.events.pointOffset">Point Offset</entry>
    <entry key="yukon.common.events.pointType">Point Type</entry>
    <entry key="yukon.common.events.pointValue">Point Value</entry>
    <entry key="yukon.common.events.programName">Program Name</entry>
    <entry key="yukon.common.events.remoteAddress">Remote Address</entry>
    <entry key="yukon.common.events.routeId">Route Id</entry>
    <entry key="yukon.common.events.scenarioName">Scenario Name</entry>
    <entry key="yukon.common.events.scheduleName">Schedule Name</entry>
    <entry key="yukon.common.events.serialNumber">Serial Number</entry>
    <entry key="yukon.common.events.shedDuration">Shed Duration</entry>
    <entry key="yukon.common.events.tagSet">Tag Set</entry>
    <entry key="yukon.common.events.thermostatLabel">Thermostat Label</entry>
    <entry key="yukon.common.events.username">Username</entry>
    <entry key="yukon.common.events.workOrderNumber">Work Order Number</entry>
    
<!-- Event log message text and column names -->
<!-- Account -->
    <!-- Account -->
    <entry key="yukon.common.events.stars.account.accountCreationAttemptedThroughAccountImporter"> The user {1} is attempting to created a new account {2}.  They are attempting this through the account importer.</entry>
    <entry key="yukon.common.events.stars.account.accountCreationAttemptedThroughAPI"> The user {1} is attempting to created a new account {2}.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.account.accountUpdateCreationAttemptedThroughApi"> The user {1} is attempting to create a new account {2}.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.account.accountDeletionAttemptedThroughAccountImporter"> The user {1} is attempting to delete the account {2}.  They are attempting this through the account importer.</entry>
    <entry key="yukon.common.events.stars.account.accountDeletionAttemptedThroughAPI"> The user {1} is attempting to delete the account {2}.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.account.accountDeletionAttemptedByOperator"> The user {1} is attempting to delete the account {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.account.accountUpdateAttemptedThroughAccountImporter"> The user {1} is attempting to update the account {2}.  They are attempting this through the account importer.</entry>
    <entry key="yukon.common.events.stars.account.accountUpdateAttemptedThroughAPI"> The user {1} is attempting to update the account {2}.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.account.accountUpdateAttemptedByOperator"> The user {1} is attempting to update the account {2}.  They are attempting this through the operator pages.</entry>

    <!-- Account Service Level -->
    <entry key="yukon.common.events.stars.account.accountAdded">The account {2} was added by {1}</entry>
    <entry key="yukon.common.events.stars.account.accountUpdated">The account {2} was updated by {1}</entry>
    <entry key="yukon.common.events.stars.account.accountDeleted">The account {2} was removed by {1}</entry>
    <entry key="yukon.common.events.stars.account.accountNumberChanged"> The user {1} changed the account number from {2} to {3}.</entry>
    <entry key="yukon.common.events.stars.account.accountNumberChanged.2">Old Account Number</entry>
    <entry key="yukon.common.events.stars.account.accountNumberChanged.3">New Account Number</entry>

    <!-- Contact Info -->
    <entry key="yukon.common.events.stars.account.contactInfo.contactNameChanged">The user {1} changed the contact name from {2} to {3}.</entry>
    <entry key="yukon.common.events.stars.account.contactInfo.contactNameChanged.2">Old Contact Name</entry>
    <entry key="yukon.common.events.stars.account.contactInfo.contactNameChanged.3">New Contact Name</entry>
    
    <entry key="yukon.common.events.stars.account.contactInfo.customerTypeChanged"> The user {1} changed the customer type for the account {2} from {3} to {4}.</entry>
    <entry key="yukon.common.events.stars.account.contactInfo.customerTypeChanged.3"> Old Customer Type</entry>
    <entry key="yukon.common.events.stars.account.contactInfo.customerTypeChanged.4"> New Customer Type</entry>
    
    <entry key="yukon.common.events.stars.account.contactInfo.companyNameChanged">The user {1} changed the company name of the account {2} from {3} to {4}.</entry>
    <entry key="yukon.common.events.stars.account.contactInfo.companyNameChanged.3">Old Company Name</entry>
    <entry key="yukon.common.events.stars.account.contactInfo.companyNameChanged.4">New Company Name</entry>

    <!-- Contact Info Service Level -->
    <entry key="yukon.common.events.stars.account.contactInfo.contactAdded">The user {1} added the contact {3} to the account {2}.</entry>
    <entry key="yukon.common.events.stars.account.contactInfo.contactUpdated">The user {1} updated the contact {3} on the account {2}.</entry>
    <entry key="yukon.common.events.stars.account.contactInfo.contactRemoved">The user {1} removed the contact {3} on the account {2}.</entry>

    <!-- Account Enrollment -->
    <entry key="yukon.common.events.stars.account.enrollment.enrollmentModificationAttemptedByOperator">The user {1} is attempting to modify enrollments for the account {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.account.enrollment.enrollmentAttemptedByOperator">The user {1} is attempting to enroll the device {3} into {4} [{5}] for the account {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.account.enrollment.enrollmentAttemptedByConsumer">The user {1} is attempting to enroll the device {3} into {4} [{5}] for the account {2}.  They are attempting this through the consumer pages.</entry>
    <entry key="yukon.common.events.stars.account.enrollment.enrollmentAttemptedThroughAPI">The user {1} is attempting to enroll the device {3} into {4} [{5}] for the account {2}.  They are attempting this through the API.</entry>
    <entry key="yukon.common.events.stars.account.enrollment.unenrollmentAttemptedByOperator">The user {1} is attempting to unenroll the device {3} from {4} [{5}] for the account {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.account.enrollment.unenrollmentAttemptedByConsumer">The user {1} is attempting to unenroll the device {3} from {4} [{5}] for the account {2}.  They are attempting this through the consumer pages.</entry>
    <entry key="yukon.common.events.stars.account.enrollment.unenrollmentAttemptedThroughAPI">The user {1} is attempting to unenroll the device {3} from {4} [{5}] for the account {2}.  They are attempting this through the API.</entry>

    <!-- Account Enrollment Service Level -->
    <entry key="yukon.common.events.stars.account.enrollment.deviceEnrolled">The device {2} was enrolled in the program {4} and the load group {5} for the account {2} by {1}</entry>
    <entry key="yukon.common.events.stars.account.enrollment.deviceUnenrolled">The device {2} was unenrolled from the program {4} and the load group {5} for the account {2} by {1}</entry>

    <!-- Opt Outs -->
    <entry key="yukon.common.events.stars.account.optOut.optOutLimitReductionAttemptedThroughAPI">The user {1} is attempting to reduce the opt out limit for the device {3} on the account {2}.  They are attempting this through the API.</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutLimitIncreaseAttemptedByOperator">The user {1} is attempting to increase the opt out limit for the device {3} on the account {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutLimitReductionAttemptedByOperator">The user {1} is attempting to increase the opt out limit for the device {3} on the account {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutLimitResetAttemptedByOperator">The user {1} is attempting to reset the opt out limit for the device {3} on the account {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutLimitResetAttemptedThroughAPI">The user {1} is attempting to reset the opt out limit for the device {3} on the account {2}.  They are attempting this through the API.</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutResendAttemptedByOperator">The user {1} is attempting to resend an opt out command for the device {3} on the account {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutAttemptedByOperator">The user {1} is attempting to opt out the device {3} on the account {2} for the {11}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutAttemptedByOperator.11">Opt Out Start Date</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutAttemptedByConsumer">The user {1} is attempting to opt out the device {3} on account {2} for the {11}.  They are attempting this through the consumer pages.</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutAttemptedByConsumer.11">Opt Out Start Date</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutCancelAtteptedByConsumer">The user {1} is attempting to cancel an opt out for the device {3} on the account {2} for the {11} through the {12}.  They are attempting this through the consumer pages.</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutCancelAtteptedByConsumer.11">Opt Out Start Date</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutCancelAtteptedByConsumer.12">Opt Out Stop Date</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutCancelAtteptedByOperator">The user {1} is attempting to cancel an opt out for the device {3} on the account {2} for the {11} through the {12}.  They are attempting this through the consumer pages.</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutCancelAtteptedByOperator.11">Opt Out Start Date</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutCancelAtteptedByOperator.12">Opt Out Stop Date</entry>

    <entry key="yukon.common.events.stars.account.optOut.optOutLimitIncreased">{7} opt outs were added to the {2} account for the device {3} by {1}</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutLimitIncreased.7">Number of Added Opt Outs</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutLimitReset">The opt out limit for the device {3} on the account {2} has been reset by {1}</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutResent">The opt out command was resent for the device {3} on the account {2} has been reset by {1}</entry>
    <entry key="yukon.common.events.stars.account.optOut.deviceOptedOut">The device {3} on the account {2} was scheduled to be opted out from {11} to {12} by {1}</entry>
    <entry key="yukon.common.events.stars.account.optOut.deviceOptedOut.11">Opt Out Start Date</entry>
    <entry key="yukon.common.events.stars.account.optOut.deviceOptedOut.12">Opt Out Stop Date</entry>
    <entry key="yukon.common.events.stars.account.optOut.optOutCanceled">An opt out was canceled for the device {3} on the account {2} by {1}</entry>
    
    <!-- Account Appliances -->
    <entry key="yukon.common.events.stars.account.appliance.applianceAdditionAttemptedByOperator">The user {1} is attempting to add the appliance {3} [{5}] to the device {4} on the account {2}.</entry>
    <entry key="yukon.common.events.stars.account.appliance.applianceUpdateAttemptedByOperator">The user {1} is attempting to update the appliance {3} [{5}] on the device {4} for the account {2}.</entry>
    <entry key="yukon.common.events.stars.account.appliance.applianceDeletionAttemptedByOperator">The user {1} is attempting to delete the appliance {3} [{5}] on the device {4} for the account {2}.</entry>
    
    <entry key="yukon.common.events.stars.account.appliance.applianceAdded">The appliance {3} with the program {5} was added to the account {2} on device {4} by {1}</entry>
    <entry key="yukon.common.events.stars.account.appliance.applianceUpdated">The appliance {3} with the program {5} for device {4} and account {2} was updated by {1}</entry>
    <entry key="yukon.common.events.stars.account.appliance.applianceDeleted">The appliance {3} with the program {5} for device {4} and account {2} was removed by {1}</entry>

    <!-- Work Order -->
    <entry key="yukon.common.events.stars.account.workOrder.workOrderCreationAttemptedByOperator">The operator {1} is attempting to create the work order {3} which will be on the account {2}.</entry>
    <entry key="yukon.common.events.stars.account.workOrder.workOrderUpdateAttemptedByOperator">The operator {1} is attempting to update the work order {3} which is currently on the account {2}.</entry>
    <entry key="yukon.common.events.stars.account.workOrder.workOrderDeletionAttemptedByOperator">The operator {1} is attempting to delete the work order {3} which is currently on the account {2}.</entry>

    <entry key="yukon.common.events.stars.account.workOrder.workOrderCreated">The work order {3} was created on the the account {2} by {1}</entry>
    <entry key="yukon.common.events.stars.account.workOrder.workOrderUpdated">The work order {3}, which is on the account {2}, was updated by {1}</entry>
    <entry key="yukon.common.events.stars.account.workOrder.workOrderDeleted">The work order {3} was deleted from the account {2} by {1}</entry>

    <!-- Thermostat Schedule -->
    <entry key="yukon.common.events.stars.account.thermostat.thermostatScheduleSavingAttemptedByOperator">The user {1} is attempting to save the schedule {4} to the device {3} for the account {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.account.thermostat.thermostatScheduleSavingAttemptedByConsumer">The user {1} is attempting to save the schedule {4} to the device {3} for the account {2}.  They are attempting this through the consumer pages.</entry>
    <entry key="yukon.common.events.stars.account.thermostat.thermostatManualSetAttemptedByOperator">The user {1} is attempting to manual set the thermostat of the device {3} for the account {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.account.thermostat.thermostatManualSetAttemptedByConsumer">The user {1} is attempting to manual set the thermostat of the device {3} for the account {2}.  They are attempting this through the consumer pages.</entry>
    <entry key="yukon.common.events.stars.account.thermostat.thermostatLabelChangeAttemptedByOperator">The user {1} is attempting to change the thermostat label from {4} to {5} through the operator pages for the device {3} which is on the account {2}.</entry>
    <entry key="yukon.common.events.stars.account.thermostat.thermostatLabelChangeAttemptedByConsumer">The user {1} is attempting to change the thermostat label from {4} to {5} through the consumer pages for the device {3} which is on the account {2}.</entry>
    
    <!-- Thermostat Schedule Service Level -->
    <entry key="yukon.common.events.stars.account.thermostat.thermostatScheduleSaved">The schedule {2} has been saved on the account {1}.</entry>
    <entry key="yukon.common.events.stars.account.thermostat.thermostatManuallySet">The user {1} has manually set the device {3}, which is on the account {2}.</entry>
    <entry key="yukon.common.events.stars.account.thermostat.thermostatLabelChanged">The user {1} has changed the label of the device {3} from {4} to {5}, which is on the account {2}.</entry>
    <entry key="yukon.common.events.stars.account.thermostat.thermostatLabelChanged.4">Old Thermostat Label</entry>
    <entry key="yukon.common.events.stars.account.thermostat.thermostatLabelChanged.5">New Thermostat Label</entry>
    <entry key="yukon.common.events.stars.account.thermostat.thermostatScheduleNameChanged">The user {1} changed the schedule name from {2} to {3}</entry>
    <entry key="yukon.common.events.stars.account.thermostat.thermostatScheduleNameChanged.2">Old Schedule Name</entry>
    <entry key="yukon.common.events.stars.account.thermostat.thermostatScheduleNameChanged.3">New Schedule Name</entry>
    
    <!-- AMR -->
    <entry key="yukon.common.events.amr.meterReading.readNowPushedForReadingsWidget">Read Now button pressed for deviceId={7} by {1}</entry>
    
    <entry key="yukon.common.events.system.rfn.createdNewMeterAutomatically">New meter created from {2} for {1} with meter number of {3} based on archive request: {7}</entry>
    <entry key="yukon.common.events.system.rfn.createdNewMeterAutomatically.1">RFN ID</entry>
    <entry key="yukon.common.events.system.rfn.createdNewMeterAutomatically.2">Template</entry>
    <entry key="yukon.common.events.system.rfn.createdNewMeterAutomatically.3">Meter Number</entry>
    
    <entry key="yukon.common.events.system.rfn.receivedDataForUnkownMeterTemplate">Unable to create meter because template does not exist: {1}</entry>
    <entry key="yukon.common.events.system.rfn.receivedDataForUnkownMeterTemplate.1">Template Name</entry>
    
	<!-- Database Migration Tool -->
    <entry key="yukon.common.events.system.databaseMigration.startingExport">Database migration export file, {2}, was generated by {1}</entry>
    <entry key="yukon.common.events.system.databaseMigration.startingValidation">Database migration validation was done on {2}, by user {1}</entry>
    <entry key="yukon.common.events.system.databaseMigration.startingImport">Database migration import was done on {2}, by user {1}</entry>

<!-- Hardware -->
    <!-- Hardware -->
    <entry key="yukon.common.events.hardware.hardwareMeterCreationAttemptedByOperator">The user {1} is attempting to create the meter (2)</entry>
    <entry key="yukon.common.events.hardware.hardwareChangeOutForMeterAttemptedByOperator">The user {1} is attempting to change out {2} for the meter {3}.</entry>
    <entry key="yukon.common.events.hardware.hardwareChangeOutAttemptedByOperator">The user {1} is attempting to change out {2} for {3}.</entry>
    <entry key="yukon.common.events.hardware.hardwareCreationAttemptedByOperator">The user {1} is attempting to create the device {3} for the account {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.hardware.hardwareCreationAttemptedThroughAccountImporter">The user {1} is attempting to create the device {2}.  They are attempting this through the account importer.</entry>
    <entry key="yukon.common.events.hardware.twoWayHardwareCreationAttemptedByOperator">The user {1} is attempting to create the two way device {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.hardware.assigningHardwareAttemptedByOperator">The user {1} is attempting to assign the hardware {3} to the account {2}.</entry>
    <entry key="yukon.common.events.hardware.hardwareAdditionAttemptedThroughApi">The user {1} is attempting to add the device {3} to the account {2}.</entry>
    <entry key="yukon.common.events.hardware.hardwareUpdateAttemptedByOperator">The user {1} is attempting to update the device {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.hardware.hardwareUpdateAttemptedThroughAccountImporter">The user {1} is attempting to update the device {2} on the account {3}.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.hardware.hardwareDeletionAttemptedByOperator">The user {1} is attempting to delete the device {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.hardware.hardwareRemovalAttemptedThroughAccountImporter">The user {1} is attempting to delete the device {2}.  They are attempting this through the account importer.</entry>
    <entry key="yukon.common.events.hardware.hardwareUpdateAttemptedThroughApi">The user {1} is attempting to delete the device {3} from the account {2}.  They are attempting this through the api.</entry>
    
    <!-- Hardware Service Level -->
    <entry key="yukon.common.events.hardware.hardwareCreated">The user {1} has created the device {2}.</entry>
    <entry key="yukon.common.events.hardware.hardwareAdded">The user {1} has added the device {2} to the account {3}.</entry>
    <entry key="yukon.common.events.hardware.hardwareUpdated">The user {1} has updated the device {2}.</entry>
    <entry key="yukon.common.events.hardware.hardwareRemoved">The user {1} has removed the device {2} from the account {3}.</entry>
    <entry key="yukon.common.events.hardware.hardwareDeleted">The user {1} has deleted the device {2}.</entry>
    <entry key="yukon.common.events.hardware.serialNumberChanged">The user {1} has changed the serial number {2} to {3}.</entry>
    <entry key="yukon.common.events.hardware.serialNumberChanged.2">Old Serial Number</entry>
    <entry key="yukon.common.events.hardware.serialNumberChanged.3">New Serial Number</entry>

    <!-- Hardware Configuration -->
    <entry key="yukon.common.events.hardware.config.hardwareConfigAttemptedByOperator">The user {1} is attempting to configure the device {2} on the account {3}.</entry>
    <entry key="yukon.common.events.hardware.config.hardwareDisableAttemptedByOperator">The user {1} is attempting to disable the device {2} on the account {3}.</entry>
    <entry key="yukon.common.events.hardware.config.hardwareEnableAttemptedByOperator">The user {1} is attempting to enable the device {2} on the account {3}.</entry>
    
    <!-- Hardware Configuration Service Level -->
    <entry key="yukon.common.events.hardware.config.hardwareConfigUpdated">The user {1} has updated the configuration for the device {2} on the account {3}.</entry>
    <entry key="yukon.common.events.hardware.config.hardwareDisabled">The user {1} has disabled the device {2} on the account {3}.</entry>
    <entry key="yukon.common.events.hardware.config.hardwareEnabled">The user {1} has enabled the device {2} on the account {3}.</entry>

<!-- Demand Response -->
    <!-- Scenario -->
    <entry key="yukon.common.events.dr.scenario.threeTierScenarioStarted">Scenario {2} was started by {1}</entry>
    <entry key="yukon.common.events.dr.scenario.threeTierScenarioStopped">Scenario {2} was stopped by {1}</entry>
    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaStarted">Control area {2} was started by {1}</entry>
    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaStopped">Control area {2} was stopped by {1}</entry>
    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaTriggersChanged">Control area {2} had its triggers changed by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaTriggersChanged.7">First Threshold</entry>
    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaTriggersChanged.8">First Offset</entry>
    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaTriggersChanged.9">Second Threshold</entry>
    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaTriggersChanged.10">Second Offset</entry>
    
    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaTimeWindowChanged">Control area {2} had its time window changed to {7} - {8} (in seconds from midnight) by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaTimeWindowChanged.7">Control Window Start </entry>
    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaTimeWindowChanged.8">Control Window End</entry>

    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaEnabled">Control area {2} was enabled by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaDisabled">Control area {2} was disabled by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.controlArea.threeTierControlAreaPeakReset">Control area {2} had its triggers peak(s) reset by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaStarted">Control area {1} was started at {11}</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaStarted.11">Control Area Start Date</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaStopped">Control area {1} was stopped at {11}</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaStopped.11">Control Area Stop Date</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaTriggersChanged">Control area {1} had its triggers changed</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaTriggersChanged.7">First Threshold</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaTriggersChanged.8">First Offset</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaTriggersChanged.9">Second Threshold</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaTriggersChanged.10">Second Offset</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaTimeWindowChanged">Control area {1} had its time window changed to {7} - {8} (in seconds from midnight)</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaTimeWindowChanged.7">Control Window Start</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaTimeWindowChanged.8">Control Window End</entry>

    <entry key="yukon.common.events.dr.controlArea.controlAreaEnabled">Control area {1} was enabled</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaDisabled">Control area {1} was disabled</entry>
    <entry key="yukon.common.events.dr.controlArea.controlAreaPeakReset">Control area {1} had its triggers peak(s) reset</entry>

    <!-- Program -->
    <entry key="yukon.common.events.dr.program.threeTierProgramScheduled">Program {2} start scheduled at {11} by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.program.threeTierProgramScheduled.11">Scheduled Start Date</entry>
    
    <entry key="yukon.common.events.dr.program.threeTierProgramStopped">Program {2} was stopped at {11} by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.program.threeTierProgramStopped.11">Program Stop Date</entry>
    
    <entry key="yukon.common.events.dr.program.threeTierProgramStopScheduled">Program {2} was scheduled to stop at {11} by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.program.threeTierProgramStopScheduled.11">Scheduled Program Stop Date</entry>
    
    <entry key="yukon.common.events.dr.program.threeTierProgramChangeGear">Program {2} changed gears by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.program.threeTierProgramEnabled">Program {2} was enabled by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.program.threeTierProgramDisabled">Program {2} was disabled by user {1} via 3-Tier</entry>

    <entry key="yukon.common.events.dr.program.programScheduled">Program {1} start scheduled at {11} with gear {3}; stop scheduled {4}</entry>
    <entry key="yukon.common.events.dr.program.programScheduled.2">Override Constraints</entry>
    <entry key="yukon.common.events.dr.program.programScheduled.4">Stop Scheduled</entry>
    <entry key="yukon.common.events.dr.program.programScheduled.11">Scheduled Start Date</entry>
    <entry key="yukon.common.events.dr.program.programScheduled.12">Scheduled Stop Date</entry>

    <entry key="yukon.common.events.dr.program.programStopped">Program {1} was stopped at {11}</entry>
    <entry key="yukon.common.events.dr.program.programStopped.11">Program Stop Date</entry>
    
    <entry key="yukon.common.events.dr.program.programStopScheduled">Program {1} was scheduled to stop at {11}</entry>
    <entry key="yukon.common.events.dr.program.programStopScheduled.11">Scheduled Program Stop Date</entry>
    
    <entry key="yukon.common.events.dr.program.programChangeGear">Program {1} changed gears to {2}</entry>
    <entry key="yukon.common.events.dr.program.programEnabled">Program {1} was enabled</entry>
    <entry key="yukon.common.events.dr.program.programDisabled">Program {1} was disabled</entry>

    <!-- Load Group -->
    <entry key="yukon.common.events.dr.loadGroup.threeTierLoadGroupShed">Load group {2} was shed for {7} seconds by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.loadGroup.threeTierLoadGroupRestore">Load group {2} was restored by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.loadGroup.threeTierLoadGroupEnabled">Load group {2} was enabled by user {1} via 3-Tier</entry>
    <entry key="yukon.common.events.dr.loadGroup.threeTierLoadGroupDisabled">Load group {2} was disabled by user {1} via 3-Tier</entry>

    <entry key="yukon.common.events.dr.loadGroup.loadGroupShed">Load group {1} was shed for {7} seconds</entry>
    <entry key="yukon.common.events.dr.loadGroup.loadGroupRestore">Load group {1} was restored</entry>
    <entry key="yukon.common.events.dr.loadGroup.loadGroupEnabled">Load group {1} was enabled</entry>
    <entry key="yukon.common.events.dr.loadGroup.loadGroupDisabled">Load group {1} was disabled</entry>

    <!-- Inventory Configuration -->
    <entry key="yukon.common.events.dr.inventoryConfig.taskCreated">User {1} created task {2}</entry>
    <entry key="yukon.common.events.dr.inventoryConfig.taskDeleted">User {1} deleted task {2}</entry>
    <entry key="yukon.common.events.dr.inventoryConfig.itemConfigSucceeded">Config command sent to {2}</entry>
    <entry key="yukon.common.events.dr.inventoryConfig.itemConfigFailed">Config command to {2} failed (execution id {7})</entry>

    <!-- Command Request Executor -->
    <entry key="yukon.common.events.porterRequests.commandFailedToTransmit">Command failed to transmit: command={2} type={1} error={3} user={4} id={7} contextId={8} </entry>
    <entry key="yukon.common.events.porterRequests.commandFailedToTransmit.2">Command</entry>
    <entry key="yukon.common.events.porterRequests.commandFailedToTransmit.3">Error</entry>
    <entry key="yukon.common.events.porterRequests.foundFailedCre">Found IN_PROGRESS CommandRequestExecution during startup, set ExecutionStatus to FAILED. CommandRequestExecId = {7}</entry>
    
    <!-- VEE -->
    <entry key="yukon.common.events.system.rphValidation.helper.deletePointValue">Deleted point value: changeId={7} value={8} timestamp={11} paoName={1} paoType={2} pointId={9} pointType={3} pointOffset={10} user={4}</entry>
    <entry key="yukon.common.events.system.rphValidation.helper.acceptPointValue">Accepted point value: changeId={7} value={8} timestamp={11} paoName={1} paoType={2} pointId={9} pointType={3} pointOffset={10} user={4}</entry>
    <entry key="yukon.common.events.system.rphValidation.helper.updateQuestionableQuality">Updated point quality from Questionable to Normal: changeId={7} value={8} timestamp={11} paoName={1} paoType={2} pointId={9} pointType={3} pointOffset={10} user={4}</entry>
    
    <entry key="yukon.common.events.system.rphValidation.validator.unreasonableValueCausedReRead">Meter read submitted due to unreadable usage value: paoId={7} paoName={1} paoType={2} pointId={8} pointType={3} pointOffset={9}</entry>
    <entry key="yukon.common.events.system.rphValidation.validator.validationEngineStartup">Validation engine startup: lastChangeIdProcessed={7} tagsCleared={8}</entry>
    <entry key="yukon.common.events.system.rphValidation.validator.validationEngineStartup.7">Last ChangeId Processed</entry>
    <entry key="yukon.common.events.system.rphValidation.validator.validationEngineStartup.8">Tags Cleared</entry>
    <entry key="yukon.common.events.system.rphValidation.validator.changedQualityOnPeakedValue">Changed quality on peak value: changeId={7} paoId={8} paoName={1} paoType={2} pointId={9} pointType={3} pointOffset={10}</entry>
    <entry key="yukon.common.events.system.rphValidation.helper.acceptedAllTaggedRows">All rows tagged with {1} have been accepted by {2}</entry>
    <entry key="yukon.common.events.system.rphValidation.helper.deletedAllTaggedRows">All rows tagged with {1} have been deleted by {2}</entry>
    <entry key="yukon.common.events.system.rphValidation.helper.validationEngineReset">The Validation Engine has been reset to reprocess all rows</entry>
    <entry key="yukon.common.events.system.rphValidation.helper.validationEnginePartialReset">The Validation Engine has been reset to reprocess all rows since {11}</entry>
    
    <!-- Stars -->
    <entry key="yukon.common.events.stars.energyCompanySettings.energyCompanyDefaultRouteChanged">The user {1} changed the default route id from {7} to {8} for the energy company {2}.</entry>
    <entry key="yukon.common.events.stars.energyCompanySettings.energyCompanyDefaultRouteChanged.7">Previous Default Route Id</entry>
    <entry key="yukon.common.events.stars.energyCompanySettings.energyCompanyDefaultRouteChanged.8">New Default Route Id</entry>
    
    <entry key="yukon.common.events.stars.optOutAdmin.cancelCurrentOptOutsAttemptedByOperator">The user {1} is attempting to cancel all the opt outs in the system.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.cancelCurrentOptOutsAttemptedByApi">The user {1} is attempting to cancel all the opt outs in the system.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.cancelCurrentOptOutsByProgramAttemptedByOperator">The user {1} is attempting to cancel all the opt outs in the system for the program {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.cancelCurrentOptOutsByProgramAttemptedByApi">The user {1} is attempting to cancel all the opt outs in the system for the program {2}.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.enablingOptOutUsageForTodayAttemptedByOperator">The user {1} is attempting to enable the ability for customers to opt out.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.enablingOptOutUsageForTodayAttemptedByApi">The user {1} is attempting to enable the ability for customers to opt out.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.enablingOptOutUsageForTodayByProgramAttemptedByOperator">The user {1} is attempting to enable the ability for customers to opt out of the program {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.enablingOptOutUsageForTodayByProgramAttemptedByApi">The user {1} is attempting to enable the ability for customers to opt out of the program {2}.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.disablingOptOutUsageForTodayAttemptedByOperator">The user {1} is attempting to disable the ability for customers to opt out.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.disablingOptOutUsageForTodayAttemptedByApi">The user {1} is attempting to disable the ability for customers to opt out.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.disablingOptOutUsageForTodayByProgramAttemptedByOperator">The user {1} is attempting to disable the ability for customers to opt out of the program {2}.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.disablingOptOutUsageForTodayByProgramAttemptedByApi">The user {1} is attempting to disable the ability for customers to opt out of the program {2}.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.countTowardOptOutLimitTodayAttemptedByOperator">The user {1} is attempting to change the system to count opt outs for today.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.countTowardOptOutLimitTodayAttemptedByApi">The user {1} is attempting to change the system to count opt outs for today.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.countTowardOptOutLimitTodayByProgramAttemptedByOperator">The user {1} is attempting to change the system to count opt outs for the program {2} today.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.countTowardOptOutLimitTodayByProgramAttemptedByApi">The user {1} is attempting to change the system to count opt outs for the program {2} today.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.doNotCountTowardOptOutLimitTodayAttemptedByOperator">The user {1} is attempting to change the system to not count opt outs for today.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.doNotCountTowardOptOutLimitTodayAttemptedByApi">The user {1} is attempting to change the system to not count opt outs for today.  They are attempting this through the Api.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.doNotCountTowardOptOutLimitTodayByProgramAttemptedByOperator">The user {1} is attempting to change the system to not count opt outs for the program {2} today.  They are attempting this through the operator pages.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.doNotCountTowardOptOutLimitTodayByProgramAttemptedByApi">The user {1} is attempting to change the system to not count opt outs for the program {2} today.  They are attempting this through the Api.</entry>

    <entry key="yukon.common.events.stars.optOutAdmin.cancelCurrentOptOuts">The user {1} canceled all the opt outs in the system.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.cancelCurrentOptOutsByProgram">The user {1} canceled all the opt outs for the program {2}.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.optOutUsageEnabledToday">The user {1} changed the ability for customers to opt out for today to {2}.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.optOutUsageEnabledToday.2">Opt Out Enabled</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.optOutUsageEnabledTodayForProgram">The user {1} changed the ability for customers to opt out of the program {2} for today to {3}.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.optOutUsageEnabledTodayForProgram.3">Opt Out Enabled</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.countTowardOptOutLimitToday">The user {1} changed the system to count opt outs for today to {2}.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.countTowardOptOutLimitToday.2">Opt Out Counts</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.countTowardOptOutLimitTodayForProgram">The user {1} changed the system to count opt outs for the program {2} today to {3}.</entry>
    <entry key="yukon.common.events.stars.optOutAdmin.countTowardOptOutLimitTodayForProgram.3">Opt Out Counts</entry>

    <!-- System -->
    <entry key="yukon.common.events.system.login.loginWeb">User {1} logged in via Web from remote address {2}</entry>

    <entry key="yukon.common.events.system.login.loginClient">User {1} logged in via GUI Client from remote address {2}</entry>
    <entry key="yukon.common.events.system.login.loginInboundVoice">User {1} logged in via Inbound voice from remote address {2}</entry>
    <entry key="yukon.common.events.system.login.loginOutboundVoice">User {1} logged in via Outbound voice from remote address {2}</entry>    

<!--  Monitors -->
    <!-- Status Point Monitor -->
    <entry key="yukon.common.events.system.outageEvents.statusPointMonitor.statusPointMonitorCreated">Status Point Monitor Created with ID={7} name={1} groupName={2} attribute={3} stateGroup={4} evaluatorStatus={5} by user {6}</entry>
    <entry key="yukon.common.events.system.outageEvents.statusPointMonitor.statusPointMonitorUpdated">Status Point Monitor Updated with ID={7} name={1} groupName={2} attribute={3} stateGroup={4} evaluatorStatus={5} by user {6}</entry>
    <entry key="yukon.common.events.system.outageEvents.statusPointMonitor.statusPointMonitorDeleted">Status Point Monitor Deleted with ID={7} name={1} groupName={2} attribute={3} stateGroup={4} evaluatorStatus={5} by user {6}</entry>
    <entry key="yukon.common.events.system.outageEvents.statusPointMonitor.statusPointMonitorEnableDisable">Status Point Monitor with ID={7} set to {1} by user {2}</entry>
    
    <!-- Porter Response Monitor -->
    <entry key="yukon.common.events.system.outageEvents.porterResponseMonitor.porterResponseMonitorCreated">Porter Response Monitor Created with ID={7} name={1} attribute={2} stateGroup= {3} evaluatorStatus={4} by user {5}</entry>
    <entry key="yukon.common.events.system.outageEvents.porterResponseMonitor.porterResponseMonitorUpdated">Porter Response Monitor Updated with ID={7} name={1} attribute={2} stateGroup= {3} evaluatorStatus={4} by user {5}</entry>
    <entry key="yukon.common.events.system.outageEvents.porterResponseMonitor.porterResponseMonitorDeleted">Porter Response Monitor Deleted with ID={7} name={1} attribute={2} stateGroup= {3} evaluatorStatus={4} by user {5}</entry>
    <entry key="yukon.common.events.system.outageEvents.porterResponseMonitor.porterResponseMonitorEnableDisable">Porter Response Monitor with ID={7} set to {1} by user {2}</entry>

    <entry key="yukon.common.events.system.outageEvents.mspHandler.mspMessageSentToVendor">Status Point Monitor {1} sent OutageDetectionEvent with eventType={2} objectId={3} deviceType={4} to Multispeak vendor={5}</entry>
    <entry key="yukon.common.events.system.outageEvents.outageEventGenerated">OutageDetectionEvent generated with eventType={1} eventTime={11} deviceType={2} and objectId = {3}</entry>
    
</properties>
