/*
    YUKON UI STYLES
*/
#modal_glass {
    width: 100%;
    padding-bottom: 100px;
    text-align:center;
}
    
#modal_glass, #modal_glass .tint {
    position: fixed; 
    top:0; 
    left:0; 
    z-index:100000; /*hahah*/
    height: 100%;
}

#modal_glass .loading { 
    padding: 20px 20px 20px 40px;
    display:inline-block;
    border: solid 1px #CCCCCC; 
    background: #FFF url(../../Icons/busy_rotation.gif) 14px /* (padding - image.height)/2 */ center no-repeat; 
    margin: 70px auto 0;
    -moz-box-shadow: 0 0 100px #666; 
    -webkit-box-shadow: 0 0 100px #666;
    box-shadow: 0 0 100px #666;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px 8px 8px 8px; /* yea! IE9 support requires all corners be specified */ 
    opacity: 1;
    filter:alpha(opacity=100);
    z-index:100001; /*hahah*/
    position: relative;
    font-size: 16px;
    color: #666;
}

.glass {
    background: #000 url(../../Icons/busy_rotation.gif) center no-repeat;
    opacity: 0.1;
    filter: alpha(opacity=10);
    position: absolute;
}

.message {
    padding: 5px 20px;
}

.loading .message {
    padding: 0 0 0 20px;
    border: none;
}

div.toggle {
    padding-left: 30px;
}

div.disabled {
    color: #666;
}

span.info {
    font-size: 11px;
    color: #333;
    background: lightYellow;
    border: solid 1px orange;
    display:block;
    padding: 5px 10px;
    margin: 0 0 10px;
}