
/* all standard ext tree styles */
@import url('/JavaScript/extjs/resources/css/tree.css');

/* override tree node text font */
.x-tree-node{
	color: black;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	white-space: nowrap;
}

.x-tree .x-panel-body ul{margin:0;padding:0;list-style:none;}
.x-tree .x-panel-body ol{margin:0;padding:0;list-style:none;}
.x-tree .x-panel-body li{margin:0;padding:0;} 
