
ul.instructions {
	margin:0 0 0 1em;
	padding:4px;
	list-style-type:disc;font-size:11px;
}

ol.examples {
	margin:0 0 0 1em;
	padding:4px;
	list-style-type:decimal;
}

ul.instructions li {
	padding:4px;
}

ol.examples li {
	padding:4px;
}

table.homeLayout td {
	vertical-align:top;
}

table.homeLayout td.syncNow {
	width:30%;
	padding-right:40px;
}

table.homeLayout td.instructions {
	width:70%;
}

table.lastSync td.type {
	width:30%;
}