#Content { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

a.menuLink:active {
	color: #FF9900;
}

.submenuLink, a.submenuLink:active, a.submenuLink:visited, a.submenuLink:link,
a.submenuLink:hover, legend, .editorHeader, .legendLikeLabel {
	color: #003399;
}

.submenuLink {
	font-size: 11px;
	background-color: #EEEEEE;
	margin-left: 5px;
}

.main {
	color: #000000;
}

.tableHeader, .columnHeader, .staticLabel,
.staticNumberLabel, .medStaticLabel {
	font-weight: bold;
	background-color: #FFFFFF;
}

.medLabel, .medStaticLabel {
	font-size: 14px;
}

.percentLabel {
	width: 40px;
}

.char4Label {
	width: 33px;
}

.char8Label {
	width: 65px;
}

.char16Label, .char16PadLabel {
	width: 130px;
}

.char32Label {
	width: 260px;
}

.char64Label {
	width: 420px;
}

.editorHeader {
	font-size: 24px;
}

.scroller {
    padding-left: 20px;
}

.smallResults, .errorResults {
	overflow: auto;
	height: 32px;
	width: 100%;
	padding-left: 3px;
	padding-right: 3px;
}

.scrollSmall {
	overflow: scroll;
	height: 200px;
}

.widthSet,.scrollSmallWidthSet,.scrollVerySmall {
  width:  390px;  
}

.scrollSmallWidthSet {
	overflow: scroll;
	height: 200px;	
}

legend, .legendLikeLabel{
	font-size: 14px;
	background-color: #E7EFF7;
}

.pageLayout, .pageNavigation, .pageFooter,
.pageBody, .pageFooter, .gridLayout, .pageHeader {
	vertical-align: top;
	width: 100%;
}

	/*
.gridLayout, .pageLayout, .pageHeader,
.pageNavigation, .pageBody, .pageFooter {
*/

.stdButton {
	margin-left: 3px;
	margin-right: 3px;
}

.gridCell {
	margin-left: 30px;
	margin-right: 30px;
}

/* red */
.alert, .errorResults, .complete {
	color: #FF0000;
	font-weight: bold;
}

/* green */
.complete {
	color: green;
}

.scrollerTable, .fullTable {
    padding: 2;
    border-style: solid;
    border-width: 1px;
    width: 300px;
}

.fullTable {
	width: 100%;
}
.bigScrollerTable {
	padding: 2;
    border-style: solid;
    border-width: 1px;
	width: 100%;	
}


.scrollerCentered {
    text-align: center;
}

.scrollerLeft {
    text-align: left;
}

.scrollerTableHeader {
    background-color: #E7EFF7;
    padding: 3;
    text-align: center;
    border: none;
	font-weight: bold;
}

.tableRow {
}

.altTableRow {
	background-color: #eeeeee;
}

.gridColumn, .gridCell, .gridCellSmall, .gridCellMedium, .gridCellLarge {
	vertical-align: top;
	width: 50%;
}

.gridCellSmall {
	width: 10%;
}

.gridColumn{
	width: 	40%;
	padding-right: 105px;
}
.gridCellMedium {
	width: 30%;
}

.gridCellLarge {
	width: 60%;
}

#center {
	margin-left: 10px;
	margin-right: 10px;
	width: 95%;
}

.popupWin {
	font-size: 13px;
	background-color: #E7EFF7;
	font-weight: bold;
	border: solid;
	border-color: #003399;
}

.primeBGColor {
	background-color: #003399;
	height: 23px;
	width: 100%;
}

.trimBGColor {
	background-color: #888888;
	font-weight: bold;
	height: 1px;
	width: 100%;
}

.secondBGColor, #footer {
	background-color: #eeeeee;
	height: 20px;
	width: 100%;
}

.cellEditing {
	border-width: 1px;
	border-style: solid;
	border-color: #003399;
	background-color: #E7EFF7;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	
}



.listWithNoBullets { 
	list-style-type: none;
	margin-left: 5px;
	padding: 0;
	
	}
.bigFont {
    font-size: 20px;
}
.scrollVerySmall {
    height: 50px; 
}

.padlabel, .char16PadLabel {
    padding-right: 5px;
}

.myFaces_panelTabbedPane_activeHeaderCell input {
color: black;
padding: 2px 5px;
border: 2px solid;
border-color: white;
background-color: white;
display: block;
}
