<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="yukon.web.modules.operator.routes.list.pageName">Routes</entry>
    <entry key="yukon.web.modules.operator.routes.createCommRoute.create">Communication Route</entry>
    <entry key="yukon.web.modules.operator.routes.createObject.title">Create Route</entry>
    <entry key="yukon.web.modules.operator.routes.CREATE.pageName">Create Communication Route</entry>
    <entry key="yukon.web.modules.operator.routes.title">General</entry>
    <entry key="yukon.web.modules.operator.routes.defaultRoute">Default Route</entry>
    <entry key="yukon.web.modules.operator.routes.selectSignalTransmitter">Signal Transmitter</entry>
    <entry key="yukon.web.modules.operator.routes.retrieve.error">An error occurred in retrieving route.</entry>
    <entry key="yukon.web.modules.operator.routes.VIEW.pageHeading">Routes: {0}</entry>
    <entry key="yukon.web.modules.operator.routes.VIEW.crumbTitle">{0}</entry>
    <entry key="yukon.web.modules.operator.routes.VIEW.pageTitle">Routes: {0}</entry>
    <entry key="yukon.web.modules.operator.routes.EDIT.pageHeading">Routes: {0}</entry>
    <entry key="yukon.web.modules.operator.routes.EDIT.crumbTitle">Edit</entry>
    
    <!-- Macro routes entry -->
    <entry key="yukon.web.modules.operator.routes.createMacroRoute.create">Macro Route</entry>
    <entry key="yukon.web.modules.operator.routes.macroRoutes.retrieve.error">An error occurred in retrieving macro route.</entry>
    <entry key="yukon.web.modules.operator.routes.macroRoutes.CREATE.pageName">Create Macro Route</entry>
    <entry key="yukon.web.modules.operator.routes.macroRoutes.VIEW.pageHeading">Macro Routes: {0}</entry>
    <entry key="yukon.web.modules.operator.routes.macroRoutes.VIEW.crumbTitle">{0}</entry>
    <entry key="yukon.web.modules.operator.routes.macroRoutes.VIEW.pageTitle">Macro Routes: {0}</entry>
</properties>