<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

  <description>
    This file defines beans that live under the com.cannontech.core.dao
    package.
  </description>
  <bean id="alarmCatDao" class="com.cannontech.core.dao.impl.AlarmCatDaoImpl" >
  	<property name="databaseCache" ref="databaseCache"/>
  </bean>
  <bean id="alarmDao" class="com.cannontech.core.dao.impl.AlarmDaoImpl" >
  	<property name="pointDao" ref="pointDao"/>
  	<property name="dynamicDataSource" ref="dynamicDataSource"/>
  </bean>  
  <bean id="authDao" class="com.cannontech.core.dao.impl.AuthDaoImpl" >
  	<property name="yukonUserDao" ref="yukonUserDao" />
  	<property name="contactDao" ref="contactDao" />
  	<property name="databaseCache" ref="databaseCache" />
  	<property name="authenticationService" ref="authenticationService" />
  	<property name="systemDateFormattingService" ref="systemDateFormattingService"/>
  </bean>
  <bean id="capControlDao" class="com.cannontech.core.dao.impl.CapControlDaoImpl"/>
  <bean id="macScheduleDao" class="com.cannontech.core.dao.impl.MACScheduleDaoImpl" >
    <property name="jdbcOps" ref="jdbcTemplate"/> 
  </bean>
  <bean id="commandDao" class="com.cannontech.core.dao.impl.CommandDaoImpl" >
  	<property name="databaseCache" ref="databaseCache" />
  	<property name="paoCommandAuthorizationService" ref="paoCommandAuthorizationService" />
  </bean>
  <bean id="contactDao" class="com.cannontech.core.dao.impl.ContactDaoImpl" >
  	<property name="yukonListDao" ref="yukonListDao"/>
  	<property name="contactNotificationDao" ref="contactNotificationDao"/>
  	<property name="yukonUserDao" ref="yukonUserDao"/>
  	<property name="databaseCache" ref="databaseCache"/>
     <property name="nextValueHelper" ref="nextValueHelper" />
     <property name="dbPersistantDao" ref="dbPersistentDao" />
  </bean>
  <bean id="contactNotificationDao" class="com.cannontech.core.dao.impl.ContactNotificationDaoImpl" >
    <property name="databaseCache" ref="databaseCache"/>
    <property name="simpleJdbcTemplate" ref="simpleJdbcTemplate" />
    <property name="nextValueHelper" ref="nextValueHelper" />
  </bean>
  <bean id="customerDao" class="com.cannontech.core.dao.impl.CustomerDaoImpl" >
  	<property name="contactDao" ref="contactDao"/>
  	<property name="yukonUserDao" ref="yukonUserDao"/>
    <property name="databaseCache" ref="databaseCache"/>
  </bean>
  <bean id="demandResponseDao" class="com.cannontech.core.dao.impl.DemandResponseDaoImpl">
    <property name="yukonJdbcTemplate" ref="simpleJdbcTemplate" />
  </bean>
  <bean id="deviceCustomerListDao" class="com.cannontech.core.dao.impl.DeviceCustomerListDaoImpl" />
  <bean id="graphCustomerListDao" class="com.cannontech.core.dao.impl.GraphCustomerListDaoImpl" />
  <bean id="dbDeletionDao" class="com.cannontech.core.dao.impl.DBDeletionDaoImpl">
    <property name="macScheduleDao" ref="macScheduleDao"/>
  </bean>
  <bean id="dbPersistentDao" class="com.cannontech.core.dao.impl.DBPersistentDaoImpl" />	
  <bean id="deviceDao" class="com.cannontech.core.dao.impl.DeviceDaoImpl" >
    <property name="paoDao" ref="paoDao"/>
    <property name="jdbcOps" ref="jdbcTemplate"/>
    <property name="yukonJdbcTemplate" ref="simpleJdbcTemplate"/>
    <property name="databaseCache" ref="databaseCache"/>
    <property name="dbPersistantDao" ref="dbPersistentDao" />
    <property name="meterDao" ref="meterDao"/>
  </bean>
  <bean id="dynamicBillingFileDao" class="com.cannontech.common.dynamicBilling.dao.impl.DynamicBillingFileDaoImpl" >
   	<property name="simpleJdbcTemplate" ref="simpleJdbcTemplate" />
   	<property name="nextValueHelper" ref="nextValueHelper"/>
  </bean>
  <bean id="energyCompanyDao" class="com.cannontech.stars.energyCompany.dao.impl.EnergyCompanyDaoImpl" >
  	<property name="yukonUserDao" ref="yukonUserDao"/>
    <property name="databaseCache" ref="databaseCache"/>
  </bean>	
  <bean id="graphDao" class="com.cannontech.core.dao.impl.GraphDaoImpl" >
    <property name="paoDao" ref="paoDao"/>  
    <property name="databaseCache" ref="databaseCache"/>    
    <property name="simpleJdbcTemplate" ref="simpleJdbcTemplate" />
  </bean>
  <bean id="lmControlHistoryDao" class="com.cannontech.core.dao.impl.LMControlHistoryDaoImpl" >
    <property name="nextValueHelper" ref="nextValueHelper" />  
  </bean>
  <bean id="lmDao" class="com.cannontech.core.dao.impl.LMDaoImpl" >
    <property name="databaseCache" ref="databaseCache"/>    
    <property name="paoDao" ref="paoDao"/>   
    <property name="jdbcOps" ref="simpleJdbcTemplate"/>
  </bean>
  <bean id="lmDirectCustomerListDao" class="com.cannontech.core.dao.impl.LMDirectCustomerListDaoImpl" >
    <property name="jdbcOperations" ref="jdbcTemplate"/> 
    <property name="paoDao" ref="paoDao"/>    
    <property name="transactionTemplate" ref="transactionTemplate"/>    
  </bean>
  <bean id="notificationGroupDao" class="com.cannontech.core.dao.impl.NotificationGroupDaoImpl" >
    <property name="databaseCache" ref="databaseCache"/>    
  </bean>  
  <bean id="paoDao" class="com.cannontech.core.dao.impl.PaoDaoImpl" >
  	<property name="authDao" ref="authDao"/>
    <property name="jdbcOps" ref="jdbcTemplate"/> 
    <property name="databaseCache" ref="databaseCache"/>   
    <property name="nextValueHelper" ref="nextValueHelper"/>
  </bean>
  <bean id="pointDao" class="com.cannontech.core.dao.impl.PointDaoImpl"/>
  <bean id="roleDao" class="com.cannontech.core.dao.impl.RoleDaoImpl" />
  <bean id="globalSettingsDao" class="com.cannontech.system.dao.impl.GlobalSettingsDaoImpl"/>
  <bean id="GlobalSettingsUpdater" class="com.cannontech.system.dao.impl.GlobalSettingsUpdaterImpl"/>

  <bean id="simplePointAccessDao" class="com.cannontech.core.dao.impl.SimplePointAccessDaoImpl" >
    <property name="dynamicDataSource" ref="dynamicDataSource"/>
  </bean>
  <bean id="stateDao" class="com.cannontech.core.dao.impl.StateDaoImpl" >
    <property name="databaseCache" ref="databaseCache"/>      
  </bean>  
  <bean id="tagDao" class="com.cannontech.core.dao.impl.TagDaoImpl" >
    <property name="databaseCache" ref="databaseCache"/>      
  </bean>
  <bean id="unitMeasureDao" class="com.cannontech.core.dao.impl.UnitMeasureDaoCache" >
    <property name="delegate">
      <bean class="com.cannontech.core.dao.impl.UnitMeasureDaoImpl" />
    </property>
  </bean>
  <bean id="yukonImageDao" class="com.cannontech.core.dao.impl.YukonImageDaoImpl" >
     <property name="databaseCache" ref="databaseCache"/>      
  </bean>
  <bean id="yukonListDao" class="com.cannontech.core.dao.impl.YukonListDaoImpl" />
  <bean id="yukonUserDao" class="com.cannontech.core.dao.impl.YukonUserDaoImpl" >
     <property name="databaseCache" ref="databaseCache"/>
     <property name="userPaoPermissionDao" ref="userPaoPermissionDao" />
  </bean>
  <bean class="com.cannontech.core.service.impl.YukonUserServiceImpl"/>

  <bean id="userGroupDao" class="com.cannontech.core.users.dao.impl.UserGroupDaoImpl" />

  <bean id="yukonGroupDao" class="com.cannontech.core.dao.impl.YukonGroupDaoImpl" />

  <bean id="yukonGroupService" class="com.cannontech.core.service.impl.YukonGroupServiceImpl" />

  <bean id="rphDao" class="com.cannontech.core.dao.impl.RawPointHistoryDaoImpl" />
  <bean id="databaseManagementDao" class="com.cannontech.core.dao.impl.DatabaseManagementDaoImpl" />
  
  <bean id="addressDao" class="com.cannontech.core.dao.impl.AddressDaoImpl">
      <property name="simpleJdbcTemplate" ref="simpleJdbcTemplate" />
  </bean>
  
  <bean id="seasonScheduleDao" class="com.cannontech.core.dao.impl.SeasonScheduleDaoImpl">
      <property name="jdbcTemplate" ref="simpleJdbcTemplate"/>
  </bean>
  
  <bean id="holidayScheduleDao" class="com.cannontech.core.dao.impl.HolidayScheduleDaoImpl">
      <property name="jdbcTemplate" ref="simpleJdbcTemplate"/>
  </bean>
  
  <bean id="pointPropertyValueDao" class="com.cannontech.common.point.alarm.dao.impl.PointPropertyValueDaoImpl">
      <property name="simpleJdbcTemplate" ref="simpleJdbcTemplate"/>
  </bean> 
  
  <bean id="fdrTranslationDao" class="com.cannontech.core.dao.impl.FdrTranslationDaoImpl"/> 

  <bean id="sepLMGroupDeviceClassDao" class="com.cannontech.core.dao.impl.SepDeviceClassDaoImpl"/>
  <bean id="lmGroupDao" class="com.cannontech.core.dao.impl.LMGroupDaoImpl"/>
  
  <bean id="paoScheduleDao" class="com.cannontech.core.dao.impl.PaoScheduleDaoImpl"/>
  
  <bean id="strategyDao" class="com.cannontech.capcontrol.dao.impl.StrategyDaoImpl"/>
  
  <bean id="outageMonitorDao" class="com.cannontech.amr.outageProcessing.dao.impl.OutageMonitorDaoImpl"/>
  
  <bean id="tamperFlagMonitorDao" class="com.cannontech.amr.tamperFlagProcessing.dao.impl.TamperFlagMonitorDaoImpl"/>

  <bean id="statusPointMonitorDao" class="com.cannontech.amr.statusPointMonitoring.dao.impl.StatusPointMonitorDaoImpl"/>
  
  <bean id="porterResponseMonitorDao" class="com.cannontech.amr.porterResponseMonitor.dao.impl.PorterResponseMonitorDaoImpl"/>

  <bean id="persistedSystemValueDaoImpl" class="com.cannontech.core.dao.impl.PersistedSystemValueDaoImpl"/>

  <bean class="com.cannontech.common.survey.dao.impl.SurveyDaoImpl"/>
  <bean class="com.cannontech.common.survey.service.impl.SurveyServiceImpl"/>

  <bean id="favoritesDao" class="com.cannontech.common.favorites.dao.impl.FavoritesDaoImpl"/>
  <bean id="favoritesService" class="com.cannontech.common.favorites.service.impl.FavoritesServiceImpl"/>
  
  <bean id="paoPropertyDao" class="com.cannontech.core.dao.impl.PaoPropertyDaoImpl"/>
  
  <bean id="extraPaoPointAssignmentDao" class="com.cannontech.core.dao.impl.ExtraPaoPointAssignmentDaoImpl"/>

  <bean id="substationDao" class="com.cannontech.core.substation.dao.impl.SubstationDaoImpl"/>

  <bean id="substationToRouteMappingDao" class="com.cannontech.core.substation.dao.impl.SubstationToRouteMappingDaoImpl">
    <property name="simpleJdbcTemplate">
      <ref bean="simpleJdbcTemplate" />
    </property>
  </bean>
  
  <bean id="serviceCompanyDao" class="com.cannontech.core.dao.impl.ServiceCompanyDaoImpl"/>
  <bean id="designationCodeDao" class="com.cannontech.core.dao.impl.DesignationCodeDaoImpl"/>
  
  <bean id="inventoryIdentifierMapper" class="com.cannontech.common.inventory.InventoryIdentifierMapper"/>
  
  <bean id="lmGearDao" class="com.cannontech.core.dao.impl.LMGearDaoImpl"/>
  
</beans>