<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <description>
    This file defines beans that live under the com.cannontech.core.dao
    package.
  </description>
  
  <bean id="alarmCatDao" class="com.cannontech.core.dao.impl.AlarmCatDaoImpl"/>
  <bean id="alarmDao" class="com.cannontech.core.dao.impl.AlarmDaoImpl"/> 
  <bean id="authDao" class="com.cannontech.core.dao.impl.AuthDaoImpl"/>
  <bean id="capControlDao" class="com.cannontech.core.dao.impl.CapControlDaoImpl"/>
  <bean class="com.cannontech.core.dao.impl.MACScheduleDaoImpl"/>
  <bean id="commandDao" class="com.cannontech.core.dao.impl.CommandDaoImpl"/>
  <bean id="contactDao" class="com.cannontech.core.dao.impl.ContactDaoImpl"/>
  <bean id="contactNotificationDao" class="com.cannontech.core.dao.impl.ContactNotificationDaoImpl"/>
  <bean id="customerDao" class="com.cannontech.core.dao.impl.CustomerDaoImpl"/>
  <bean id="demandResponseDao" class="com.cannontech.core.dao.impl.DemandResponseDaoImpl"/>
  <bean id="deviceCustomerListDao" class="com.cannontech.core.dao.impl.DeviceCustomerListDaoImpl"/>
  <bean id="graphCustomerListDao" class="com.cannontech.core.dao.impl.GraphCustomerListDaoImpl"/>
  <bean id="dbDeletionDao" class="com.cannontech.core.dao.impl.DBDeletionDaoImpl"/>
  <bean id="dbPersistentDao" class="com.cannontech.core.dao.impl.DBPersistentDaoImpl"/>        
  <bean id="deviceDao" class="com.cannontech.core.dao.impl.DeviceDaoImpl"/>
  <bean id="dynamicBillingFileDao" class="com.cannontech.common.dynamicBilling.dao.impl.DynamicBillingFileDaoImpl"/>

  <bean id="graphDao" class="com.cannontech.core.dao.impl.GraphDaoImpl"/>
  
  <bean id="lmDao" class="com.cannontech.core.dao.impl.LMDaoImpl"/>
  <bean id="lmDirectCustomerListDao" class="com.cannontech.core.dao.impl.LMDirectCustomerListDaoImpl"/>
  <bean id="notificationGroupDao" class="com.cannontech.core.dao.impl.NotificationGroupDaoImpl"/>
  <bean id="paoDao" class="com.cannontech.core.dao.impl.PaoDaoImpl"/>
  <bean id="pointDao" class="com.cannontech.core.dao.impl.PointDaoImpl"/>
  <bean id="roleDao" class="com.cannontech.core.dao.impl.RoleDaoImpl"/>
  <bean id="globalSettingDao" class="com.cannontech.system.dao.impl.GlobalSettingDaoImpl"/>
  <bean class="com.cannontech.system.dao.impl.GlobalSettingEditorDaoImpl"/>
  <bean class="com.cannontech.system.dao.impl.GlobalSettingUpdateDaoImpl"/>
  
  <bean class="com.cannontech.stars.energyCompany.dao.impl.EnergyCompanySettingDaoImpl"/>

  <bean id="simplePointAccessDao" class="com.cannontech.core.dao.impl.SimplePointAccessDaoImpl"/>

  <bean id="stateGroupDao" class="com.cannontech.core.dao.impl.StateGroupDaoImpl"/>
  <bean id="tagDao" class="com.cannontech.core.dao.impl.TagDaoImpl"/>
  <bean id="unitMeasureDao" class="com.cannontech.core.dao.impl.UnitMeasureDaoImpl"/>
  <bean id="yukonImageDao" class="com.cannontech.core.image.dao.impl.YukonImageDaoImpl"/>
  <bean id="yukonListDao" class="com.cannontech.core.dao.impl.YukonListDaoImpl"/>
  <bean id="yukonUserDao" class="com.cannontech.core.dao.impl.YukonUserDaoImpl"/>

  <bean id="userGroupDao" class="com.cannontech.core.users.dao.impl.UserGroupDaoImpl"/>
  <bean class="com.cannontech.core.users.dao.impl.UserPreferenceDaoImpl"/>

  <bean id="yukonGroupDao" class="com.cannontech.core.dao.impl.YukonGroupDaoImpl"/>

  <bean id="yukonGroupService" class="com.cannontech.core.service.impl.YukonGroupServiceImpl"/>

  <bean id="rphDao" class="com.cannontech.core.dao.impl.RawPointHistoryDaoImpl"/>
  
  <bean id="mrphDao" class="com.cannontech.core.dao.impl.MspRawPointHistoryBaseDaoImpl"/>
  
  <bean id="databaseManagementDao" class="com.cannontech.core.dao.impl.DatabaseManagementDaoImpl"/>
  
  <bean id="pointDataPruningDaoImpl" class="com.cannontech.maintenance.task.dao.impl.PointDataPruningDaoImpl"/>

  <bean id="DrReconciliationDaoImpl" class="com.cannontech.maintenance.task.dao.impl.DrReconciliationDaoImpl"/>

  <bean id="maintenanceTaskDaoImpl" class="com.cannontech.maintenance.dao.impl.MaintenanceTaskDaoImpl"/>
  
  <bean id="addressDao" class="com.cannontech.core.dao.impl.AddressDaoImpl"/>

  <bean id="seasonScheduleDao" class="com.cannontech.core.dao.impl.SeasonScheduleDaoImpl"/>
  
  <bean id="holidayScheduleDao" class="com.cannontech.core.dao.impl.HolidayScheduleDaoImpl"/>
  
  <bean id="pointPropertyValueDao" class="com.cannontech.common.point.alarm.dao.impl.PointPropertyValueDaoImpl"/>
  
  <bean id="fdrTranslationDao" class="com.cannontech.core.dao.impl.FdrTranslationDaoImpl"/> 

  <bean id="sepLMGroupDeviceClassDao" class="com.cannontech.core.dao.impl.SepDeviceClassDaoImpl"/>
  <bean id="lmGroupDao" class="com.cannontech.core.dao.impl.LMGroupDaoImpl"/>
  
  <bean id="paoScheduleDao" class="com.cannontech.core.schedule.dao.impl.PaoScheduleDaoImpl"/>
  
  <bean id="strategyDao" class="com.cannontech.capcontrol.dao.impl.StrategyDaoImpl"/>
  <bean class="com.cannontech.capcontrol.dao.impl.RegulatorEventsDaoImpl"/>
  
  <bean id="outageMonitorDao" class="com.cannontech.amr.outageProcessing.dao.impl.OutageMonitorDaoImpl"/>
  
  <bean id="tamperFlagMonitorDao" class="com.cannontech.amr.tamperFlagProcessing.dao.impl.TamperFlagMonitorDaoImpl"/>

  <bean id="statusPointMonitorDao" class="com.cannontech.amr.statusPointMonitoring.dao.impl.StatusPointMonitorDaoImpl"/>
  
  <bean class="com.cannontech.amr.deviceDataMonitor.dao.impl.DeviceDataMonitorDaoImpl"/>

  <bean id="porterResponseMonitorDao" class="com.cannontech.amr.porterResponseMonitor.dao.impl.PorterResponseMonitorDaoImpl"/>

  <bean id="persistedSystemValueDaoImpl" class="com.cannontech.core.dao.impl.PersistedSystemValueDaoImpl"/>

  <bean class="com.cannontech.common.survey.dao.impl.SurveyDaoImpl"/>
  <bean class="com.cannontech.common.survey.service.impl.SurveyServiceImpl"/>

  <bean id="paoPropertyDao" class="com.cannontech.core.dao.impl.PaoPropertyDaoImpl"/>
  
  <bean id="extraPaoPointAssignmentDao" class="com.cannontech.core.dao.impl.ExtraPaoPointAssignmentDaoImpl"/>

  <bean id="substationDao" class="com.cannontech.core.substation.dao.impl.SubstationDaoImpl"/>

  <bean id="substationToRouteMappingDao" class="com.cannontech.core.substation.dao.impl.SubstationToRouteMappingDaoImpl"/>
  
  <bean id="serviceCompanyDao" class="com.cannontech.core.dao.impl.ServiceCompanyDaoImpl"/>
  <bean id="designationCodeDao" class="com.cannontech.core.dao.impl.DesignationCodeDaoImpl"/>
  
  <bean id="inventoryIdentifierMapper" class="com.cannontech.common.inventory.InventoryIdentifierMapper"/>
  
  <bean id="lmGearDao" class="com.cannontech.core.dao.impl.LMGearDaoImpl"/>
  
  <bean class="com.cannontech.common.pao.dao.impl.PaoLocationDaoImpl"/>
  
  <bean class="com.cannontech.common.device.data.collection.dao.impl.RecentPointValueDaoImpl"/>

  <bean class="com.cannontech.common.smartNotification.dao.impl.SmartNotificationSubscriptionDaoImpl" />
  <bean class="com.cannontech.common.smartNotification.service.impl.SmartNotificationSubscriptionServiceImpl" />
  <bean class="com.cannontech.common.smartNotification.service.impl.SmartNotificationEventCreationServiceImpl"/>
  <bean class="com.cannontech.common.smartNotification.dao.impl.SmartNotificationEventDaoImpl" />
  
  <bean class="com.cannontech.common.pao.notes.dao.impl.PaoNotesDaoImpl"/>
  <bean class="com.cannontech.common.pao.notes.service.impl.PaoNotesServiceImpl"/>
  <bean class="com.cannontech.system.GlobalSettingTypeValidators"/>
  
  <bean class="com.cannontech.dr.eatonCloud.service.impl.v1.EatonCloudDataReadServiceImpl "/>
</beans>