<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <description>
      Web specific beans could be placed here.
      Currently, beans are loaded via a parent context specified in web.xml.
    </description>
    
    <bean id="yukonLoginCheckInterceptor" class="com.cannontech.web.util.YukonLoginInterceptor"/>
    
    <bean id="localMasterConfig" class="com.cannontech.common.config.MasterConfigHelper"
          factory-method="getLocalConfiguration">
    </bean>

    <bean id="timerTaskUtil" class="com.cannontech.stars.web.util.TimerTaskUtil">
      <property name="timer" ref="globalScheduledExecutor"/>
    </bean>
    
    <bean id="checkLoginIntercepter" class="com.cannontech.web.util.CheckLoginIntercepter"/>
  
    <bean id="menuBuilder" class="com.cannontech.web.menu.CommonModuleBuilder" init-method="processConfigFile">
      <constructor-arg value="/WEB-INF/module_config.xml"/>
      <property name="userCheckerFactory" ref="rolePropertyUserCheckerFactory"/>
    </bean>
    
    <bean id="widgetInput.deviceId" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="deviceId"/>
        <property name="description" value="the id of the Yukon device"/>
        <property name="required" value="true"/>
    </bean>
    
    <bean id="widgetInput.pointId" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="pointId"/>
        <property name="description" value="the id of the Yukon point"/>
        <property name="required" value="true"/>
    </bean>

    <bean id="accountInformationWidget"
    	class="com.cannontech.web.widget.AccountInformationWidget">
    	<property name="identityPath" value="common/deviceIdentity.jsp" />
    	<property name="title" value="Account Information" />
    	<property name="lazyLoad" value="true" />
    	<property name="inputs">
    		<set>
    			<ref local="widgetInput.deviceId" />
    		</set>
    	</property>
    	<property name="accountInfoDao">
    		<ref bean="mspAccountInfoDao" />
    	</property>
    </bean>

    <bean id="readCurrentTimeWidget"
    	class="com.cannontech.web.widget.ReadCurrentTimeWidget">
    	<property name="title" value="Get Current Time"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
    </bean>
    
    <bean id="pointValueDisplayWidget"
    	class="com.cannontech.web.widget.PointValueDisplayWidget">
    	<property name="title" value="Point Value Widget"/>
        <property name="identityPath" value="common/pointIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.pointId"/>
           </set>
        </property>
        <property name="pointDao" ref="pointDao"/>
    </bean>
    
    <bean id="meterInformationWidget"
    	class="com.cannontech.web.widget.MeterInformationWidget">
    	<property name="title" value="Meter Information"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="paoDao" ref="paoDao"/>
        <property name="paoGroupsWrapper" ref="paoGroupsWrapper"/>
    </bean>
    
    <bean id="miniTdcWidget"
    	class="com.cannontech.web.widget.MiniTdcWidget">
    	<property name="title" value="Mini TDC"/>
        <property name="identityPath" value="miniTdcWidget/identity.jsp" />
        <property name="inputs">
           <set>
                <bean class="com.cannontech.web.widget.support.SimpleWidgetInput">
                    <property name="name" value="displayNumber"/>
                    <property name="description" value="the number of a TDC display"/>
                    <property name="required" value="true"/>
                </bean>
           </set>
        </property>
        <property name="jdbcTemplate" ref="simpleJdbcTemplate"/>
        <property name="pointDao" ref="pointDao"/>
        <property name="meterDao" ref="meterDao"/>
    </bean>
    
    <!-- Update Service -->
        
    <bean id="dataUpdaterService" class="com.cannontech.web.updater.DefaultDataUpdaterService"
        abstract="false" singleton="true" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="timeSource">
            <ref bean="timeSource" />
        </property>
        <property name="backs">
            <map>
                <entry key="POINT">
                    <ref local="pointUpdateBackingService" />
                </entry>
            </map>
        </property>
    </bean>
    
    <bean id="pointUpdateBackingService"
        class="com.cannontech.web.updater.point.PointUpdateBackingService" abstract="false"
        singleton="true" lazy-init="default" autowire="default" dependency-check="default">
        <property name="maxCacheSize">
            <value type="int">1000</value>
        </property>
        <property name="asyncDataSource">
            <ref bean="asyncDynamicDataSource" />
        </property>
        <property name="pointFormattingService">
            <ref bean="pointFormattingService" />
        </property>
        <property name="timeSource">
            <ref bean="timeSource" />
        </property>
        <property name="maxOverSize">
            <value type="int">100</value>
        </property>
    </bean>
    
    <bean id="pointDataUpdateRegistrationService"
        class="com.cannontech.web.updater.point.PointDataRegistrationServiceImpl" abstract="false"
        singleton="true" lazy-init="default" autowire="default" dependency-check="default">
        <property name="updaterService">
            <ref local="dataUpdaterService" />
        </property>
    </bean>
    
    <bean id="pointValueTagPrototype" class="com.cannontech.web.updater.point.PointValueTag"
        abstract="false" singleton="true" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="registrationService" ref="pointDataUpdateRegistrationService"/>
    </bean>

    <bean id="deviceNameTagPrototype" class="com.cannontech.web.amr.taglib.DeviceNameTag"
        abstract="false" singleton="true" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="meterDao" ref="meterDao"/>
    </bean>

    <bean id="trendWidget"
    	class="com.cannontech.web.widget.TrendWidget">
    	<property name="title" value="Trend"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.deviceId"/>
           </set>
        </property>
        <property name="paoDao" ref="paoDao" />
        <property name="attributeService" ref="attributeService" />
        <property name="unitMeasureDao" ref="unitMeasureDao" />
    </bean>

    <bean id="attributeResolverTagPrototype" class="com.cannontech.web.util.AttributeResolverTag"
        abstract="false" singleton="true" lazy-init="default" autowire="default"
        dependency-check="default">
        <property name="paoDao" ref="paoDao"/>
        <property name="attributeService" ref="attributeService"/>
    </bean>
    
</beans>