<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <description>
      Web specific beans could be placed here.
      Currently, beans are loaded via a parent context specified in web.xml.
    </description>
    
    <bean id="yukonLoginCheckInterceptor" class="com.cannontech.web.util.YukonLoginInterceptor"/>
    
    <bean id="localMasterConfig" class="com.cannontech.common.config.MasterConfigHelper"
          factory-method="getLocalConfiguration">
    </bean>

    <bean id="timerTaskUtil" class="com.cannontech.stars.web.util.TimerTaskUtil">
      <property name="timer" ref="globalScheduledExecutor"/>
    </bean>
    <bean id="timerTaskInitializer" class="com.cannontech.servlet.TimerTaskInitializer"/>
    
    <bean id="checkLoginIntercepter" class="com.cannontech.web.util.CheckLoginIntercepter"/>
  
    <bean id="menuBuilder" class="com.cannontech.web.menu.CommonModuleBuilder" init-method="processConfigFile">
      <constructor-arg value="/WEB-INF/module_config.xml"/>
      <property name="userCheckerFactory" ref="rolePropertyUserCheckerFactory"/>
    </bean>
</beans>