<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <description>
      Web specific beans could be placed here.
      Currently, beans are loaded via a parent context specified in web.xml.
    </description>
    
    <bean id="yukonLoginCheckInterceptor" class="com.cannontech.web.util.YukonLoginInterceptor"/>
    
    <bean id="localMasterConfig" class="com.cannontech.common.config.MasterConfigHelper"
          factory-method="getLocalConfiguration">
    </bean>

    <bean id="timerTaskUtil" class="com.cannontech.stars.web.util.TimerTaskUtil">
      <property name="timer" ref="globalScheduledExecutor"/>
    </bean>
    <bean id="timerTaskInitializer" class="com.cannontech.servlet.TimerTaskInitializer"/>
    
    <bean id="checkLoginIntercepter" class="com.cannontech.web.util.CheckLoginIntercepter"/>
  
    <bean id="menuBuilder" class="com.cannontech.web.menu.CommonModuleBuilder" init-method="processConfigFile">
      <constructor-arg value="/WEB-INF/module_config.xml"/>
      <property name="userCheckerFactory" ref="rolePropertyUserCheckerFactory"/>
    </bean>
    
    <bean id="widgetInput.deviceId" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="deviceId"/>
        <property name="description" value="the id of the Yukon device"/>
        <property name="required" value="true"/>
    </bean>
    
    <bean id="widgetInput.pointId" class="com.cannontech.web.widget.support.SimpleWidgetInput">
        <property name="name" value="pointId"/>
        <property name="description" value="the id of the Yukon point"/>
        <property name="required" value="true"/>
    </bean>
    <bean id="readCurrentTimeWidget"
    	class="com.cannontech.web.widget.ReadCurrentTimeWidget">
    	<property name="title" value="Get Current Time"/>
        <property name="identityPath" value="common/deviceIdentity.jsp" />
    </bean>
    
    <bean id="pointValueDisplayWidget"
    	class="com.cannontech.web.widget.PointValueDisplayWidget">
    	<property name="title" value="Point Value Widget"/>
        <property name="identityPath" value="common/pointIdentity.jsp" />
        <property name="inputs">
           <set>
              <ref local="widgetInput.pointId"/>
           </set>
        </property>
        <property name="pointDao" ref="pointDao"/>
    </bean>
    
</beans>