<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="voltageRegulatorService" class="com.cannontech.capcontrol.service.VoltageRegulatorService"/>

    <bean id="voltageRegulatorDao" class="com.cannontech.capcontrol.dao.impl.VoltageRegulatorDaoImpl"/>

	<bean id="substationBusDao" class="com.cannontech.capcontrol.dao.impl.SubstationBusDaoImpl"/>
	<bean id="ccSubstationDao" class="com.cannontech.capcontrol.dao.impl.SubstationDaoImpl"/>
	<bean id="feederDao" class="com.cannontech.capcontrol.dao.impl.FeederDaoImpl"/> 
	<bean id="capbankDao" class="com.cannontech.capcontrol.dao.impl.CapbankDaoImpl"/>
	<bean id="capbankControllerDao" class="com.cannontech.capcontrol.dao.impl.CapbankControllerDaoImpl"/>
	
	<bean class="com.cannontech.capcontrol.creation.service.impl.CapControlImportServiceImpl"/>
    <bean id="capControlCreationService" class="com.cannontech.capcontrol.creation.service.impl.CapControlCreationServiceImpl"/>
	<bean class="com.cannontech.capcontrol.dao.impl.CapControlImporterFileDaoImpl"/>
    <bean id="regulatorImportService" class="com.cannontech.capcontrol.creation.service.impl.RegulatorImportServiceImpl"/>
	
    <bean id="zoneDao" class="com.cannontech.capcontrol.dao.impl.ZoneDaoImpl"/>
    <bean id="ccMonitorBankListDao" class="com.cannontech.capcontrol.dao.impl.CcMonitorBankListDaoImpl"/>

    <bean id="ivvcAnalysisMessageListener" class="com.cannontech.capcontrol.service.impl.IvvcAnalysisMessageListener"/>
    <bean id="ivvcAnalysisScenarioProcessor" class="com.cannontech.capcontrol.service.impl.IvvcAnalysisScenarioProcessor"/>
    <bean id="ivvcAnalysisMessageService" class="com.cannontech.capcontrol.service.IvvcAnalysisMessageService"/>
</beans>
