a.BlackLink:active {color: #000000}
a.BlackLink:visited {color: #000000}
a.BlackLink:link {color: #000000}
a.BlackLink:hover {color: #000000}
.HeaderCell {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; background-color: #CCCCCC}
.TableCell {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: normal}
.Main {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold}


