a.Link2:active {color: #003366}
a.Link2:visited {color: #003366}
a.Link2:link {color: #003366}
a.Link2:hover {color: #003366}
a.Link3:active {color: #003366}
a.Link3:visited {color: #003366}
a.Link3:link {color: #003366}
a.Link3:hover {color: #003366}

.PageHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003366; font-style: italic}

.NavHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #CC0033; font-style: italic}
.NavGroup {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #003366; font-style: italic}
.Nav {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF}
.NavTextNoLink {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #003366}

.Background {  background-color: #99ccff}
.tooltip { position:absolute; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #FFFFFF; background-color: #99ccff; border: 3px #99ccff outset; visibility: hidden; clip:  rect(   ); padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px}
.bgmenu {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; text-decoration: none; background-color: #FFFFFF;  position:absolute; border: 1px #99ccff outset; visibility: hidden; cursor:default; width:120 px;}
.optmenu1 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; background-color: #FFFFFF; color: #000000;   border: 1px #99ccff; cursor:default; width:120 px;}
.optmenu2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; background-color: #99ccff; color: #FFFFFF;   border: 1px #99ccff; cursor:default; width:120 px;}
.navmenu1 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none; background-color: #CCCCCC; color: #000000;   border: 1px #99ccff; cursor:default; width:120 px;}
.navmenu2 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none; background-color: #99ccff; color: #FFFFFF;   border: 1px #99ccff; cursor:default; width:120 px;}
.SchedText { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #99ccff }

.cal_day_header {  background-color: #666699; height: 14px; width: 20px; font-size: 9px; font-weight: bold; color: #FFFFFF; text-align: center; cursor: default; border: 1px #FFFFFF outset; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
.cal_day_mouseover { font-size: 9px; font-weight: bold; color:#FFCC66; background-color: buttonface; height: 14px; width: 20px; text-align: center; cursor: default; border: 1px #FFFFFF outset; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
.cal_day_selected {  font-size: 9px; font-weight: bold; background-color: #99FFFF; height: 12px; width: 18px; text-align: center; cursor: default; border: 1px #CCCCCC inset; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
