#Content {
  position: relative;
}

div.leftColumn {
  position: absolute;
  top: 0;
  left: 15px;
  width: 150px;
  max-width: 150px;

  font-size: 9px;
}

div.centerColumn {
  /*margin:0px 25px 25px 165px; */
  margin-left: 175px;
}