#Content { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

table.tierTable {
	width: 100%;
	border-collapse: collapse;
}

table.tierTable td {
	padding: 2px 1px 1px;
	vertical-align: middle;
}

table.tierTable th {
	border-bottom:1px solid #CCCCCC;
	color:#000000;
	font-size:12px;
	font-weight:600;
	padding:3px;
	text-align:left;
	vertical-align:bottom;
	padding-left: 1px;
}

td.tableCellSnapShot {
    padding: 0px !important;
}

.altTableCell, .tableCell, .flyover {
	font-size: 10px;
}

a.tableCell:active, a.tableCell:visited, a.tableCell:link, a.tableCell:hover,
a.altTableCell:active, a.altTableCell:visited, a.altTableCell:link, a.altTableCell:link, a.altTableCell:hover {
	color: #003399;
}

.altTableCell {
	background-color: #eeeeee;
}

.tableCell {
	background-color: white;
}

.smallIndent {
    margin-left: 27px;
}
 
.mediumIndent {
    margin-left: 54px;
}

.boldLabel {
    font-weight: bold;
}

.snapShotSubLabel {
	text-decoration: underline;
	font-weight: bold;
}

.capbankTempMoveLink{
	margin-left: 65px;
	color: blue;
	cursor: hand;
}

.capbankMoved {
    text-align: center;
	width: 100%;
	height: 25px;
	font-weight: bold;
	color: black;
}

.scrollLarge {
	overflow: auto;
	height: 400px;
}

.flyover {
	color: black;
    background-color: white;
    padding: 2px;
    border: 2px solid #666666;
}

.optDeselect {
	text-decoration: none;
	background-color: white;
	border: 1px #0066CC;
	cursor:pointer;
	width: 120px;
}

.optSelect {
	color: white;
	text-decoration: none;
	background-color: #003399;
	border: 1px #0066CC;
	cursor:pointer;
	width: 120px;
}

.helpImg {
	cursor: help;
}

a.tierIconLink {
	text-decoration: none;
}

.tierImg, .tierCheckBox {
    vertical-align: middle;
}

.warningColor {
	color: #F09100;
}

.warning {
	color: #F09100;
}

#capBankTable tr.hover {
    background-color:yellow;
}

.hideElement {
	visibility: hidden;
}