.tableCell {
	font-size: 12px;
}

.altTableCell {
	font-size: 12px;
}

.errorIndicator {
	color:pink;
}

.disabledRow {
	font-style: italic;
}

.ivvcContainer {
	width:auto;
	vertical-align:top;
}

.ivvcChart {
	width:100%;
	vertical-align:top;
}

div.zoneHierarchy ul {
	padding-left:1em;
}

div.zoneHierarchy li {
	list-style-type:none;
	margin: 6px 0; 
}
div.zoneHierarchy li div {
	position: relative;
	border-bottom: 1px #CCCCCC solid;
	padding-bottom: 2px;
}

div.zoneHierarchy li div div {
	position: absolute;
	top: 0;
	right: 2%;
	border: none;
}

div.zoneHierarchy li div div div {
	position: absolute;
	top: 0;
	text-align:left;
	right: 200%;
	border: none;
}

div.historyContainer {
    max-height: 98px;
    overflow: auto;
    overflow-x: hidden;
}

table.ivvcGridLayout td.first,
table.ivvcGridLayout td.middle {
	padding-right: 10px;
	width: 20%;
}

table.ivvcGridLayout td.last {
	width: 20%;
}

table.ivvcGridLayout tr {
	vertical-align:top;
}
