.tableCell {
    font-size: 12px;
}

.altTableCell {
    font-size: 12px;
}

.errorIndicator {
    color: pink;
}

.disabledRow {
    font-style: italic;
}

.ivvcContainer {
    width: auto;
    vertical-align: top;
}

.ivvcChart {
    width: 100%;
    vertical-align: top;
}

span.leftIndent {
    margin-left: 1em;
}

div.zoneHierarchy li {
    list-style-type: none;
    margin: 6px 0;
}

table.zoneListTable th.zoneName,
table.zoneListTable td.zoneName {
    width: 50%;
}

table.zoneListTable td.zoneType {
    width: 95px;
}

table.zoneListTable .tapContainer {
    width: 97px;
}
table.zoneListTable .tapContainer > span {
    width: 33px;
    text-align: left;
    display: inline-block;
}
table.zoneListTable .tapContainer > span .lastOpLeft {
    width: 16px;
    text-align: center;
    display: inline-block;
}

table.zoneListTable .tapContainer .phaseLetter {
    font-weight: bold;
}

table.zoneListTable th.lastOperation {
    padding-left: 5px;
}

table th.rightActionColumn {
    text-align: right;
    padding-right: 10px;
}
table td.rightActionColumn {
    text-align: right;
    padding-right: 15px;
}

.regulatorModeRemote {
    display: none;
}
.regulatorModeLocal,
.regulatorModeLocalWarning {
    display: inline;
    font-weight: bold;
}
.regulatorModeLocalWarning {
    color: #EE8800;    
}

div.historyContainer {
    max-height: 98px;
    overflow: auto;
    overflow-x: hidden;
}

table.ivvcGridLayout {
    width: 100%;
}

table.ivvcGridLayout td {
    white-space: nowrap;
}

table.ivvcGridLayout td.first,
table.ivvcGridLayout td.middle {
    padding-right: 10px;
}
table.ivvcGridLayout td.first,
table.ivvcGridLayout td.middle,
table.ivvcGridLayout td.last {
    width: 50%;
}

table.ivvcGridLayout tr {
    vertical-align: top;
}

#zoneWizardPopup table.nameValueTable,
#zoneWizardPopup table.compactResultsTable {
    font-size: 14px;
}

.zoneWizardTableScrollArea {
    height: 97px;
    overflow: auto;
}

.zoneWizardVoltagePoints,
.zoneWizardCapBanks {
    width: 400px;
    height: auto;
    overflow: auto;
    padding-top: 5px;
}

.zoneWizardCapBanks {
    padding-right: 5px;
}

.regulatorActions button.labeledImage {
    font-size: 11px;
}

.regulatorAttributeRow {
    height: 21px;
}