<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
<description>Yukon Core Services</description>
  <bean id="pointService" class="com.cannontech.core.service.impl.PointServiceImpl" >
  </bean>
</beans>