<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

<description>Yukon Server Services</description>

  <tx:annotation-driven/>
	
  <bean id="emailService" class="com.cannontech.tools.email.impl.EmailServiceImpl">
    <property name="roleDao" ref="roleDao"/>
  </bean>
 
  <bean id="longLoadProfileService" class="com.cannontech.core.service.impl.LongLoadProfileServiceImpl" init-method="initialize">
    <property name="queueDataService" ref="porterQueueDataService"/>
    <property name="executor" ref="globalScheduledExecutor"/>
    <property name="porterConnection" ref="porterConnection"/>
    <property name="dbPersistentDao" ref="dbPersistentDao"/>
    <property name="dateFormattingService" ref="dateFormattingService"/>
    <property name="activityLoggerService" ref="activityLoggerService"/>
    <!-- <property name="porterConnection">
      <bean class="com.cannontech.core.service.MockPorterConnection"/>
    </property>
     -->
  </bean>

  <bean id="porterQueueDataService" class="com.cannontech.core.service.impl.PorterQueueDataServiceImpl">
    <property name="porterConnection" ref="porterConnection"/>
    <!-- <property name="porterConnection">
      <bean class="com.cannontech.core.service.MockPorterConnection"/>
    </property>
     -->
  </bean>
  
  <bean id="pointFormattingService"
      class="com.cannontech.core.service.impl.PointFormattingServiceImpl" abstract="false"
      scope="singleton" lazy-init="default" autowire="default" dependency-check="default">
      <property name="stateDao">
          <ref bean="stateDao" />
      </property>
      <property name="pointDao">
          <ref bean="pointDao" />
      </property>
      <property name="unitMeasureDao">
          <ref bean="unitMeasureDao" />
      </property>
      <property name="energyCompanyDao">
          <ref bean="energyCompanyDao" />
      </property>
  </bean>
  
  <bean id="activityLoggerService"
      class="com.cannontech.core.service.impl.ActivityLoggerServiceImpl" abstract="false"
      scope="singleton" lazy-init="default" autowire="default" dependency-check="default">
  </bean>
  
</beans>