<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

  <tx:annotation-driven transaction-manager="transactionManager"/>
  <context:annotation-config/>
  <aop:aspectj-autoproxy/>
    
  <bean id="emailService" class="com.cannontech.tools.email.impl.EmailServiceImpl"/>
 
  <bean id="loadProfileService" class="com.cannontech.core.service.impl.LoadProfileServiceImpl" init-method="initialize">
    <property name="executor" ref="globalScheduledExecutor"/>
    <property name="porterConnection" ref="porterConnection"/>
  </bean>

  <bean id="porterQueueDataService" class="com.cannontech.core.service.impl.PorterQueueDataServiceImpl">
    <property name="porterConnection" ref="porterConnection"/>
  </bean>
  
  <bean id="templateProcessorFactory" class="com.cannontech.common.util.TemplateProcessorFactory"/>
  
  <bean id="pointFormattingService"
      class="com.cannontech.core.service.impl.PointFormattingServiceImpl" abstract="false"
      scope="singleton" lazy-init="default" autowire="default">
      <property name="stateDao">
          <ref bean="stateDao" />
      </property>
      <property name="pointDao">
          <ref bean="pointDao" />
      </property>
      <property name="unitMeasureDao">
          <ref bean="unitMeasureDao" />
      </property>
  </bean>
  
  <bean id="activityLoggerService"
      class="com.cannontech.core.service.impl.ActivityLoggerServiceImpl" abstract="false"
      scope="singleton" lazy-init="default" autowire="default">
  </bean>

  <bean id="durationFormattingService" class="com.cannontech.core.service.impl.DurationFormattingServiceImpl"/>

  <bean id="phoneNumberFormattingService" class="com.cannontech.core.service.impl.PhoneNumberFormattingServiceImpl"/>
  
  <bean id="contactNotificationFormattingService" class="com.cannontech.core.service.impl.ContactNotificationFormattingServiceImpl"/>
  
</beans>