<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
<display-name>Esubstation</display-name>
 <description>Esubstation web application</description>
 
 
 
  <filter>
    <filter-name>timerFilter</filter-name>
    <filter-class>com.cannontech.esub.web.filter.TimerFilter</filter-class>
 </filter>
 
 <filter>
 	<filter-name>authFilter</filter-name>
 	<filter-class>com.cannontech.esub.web.filter.AuthFilter</filter-class>
 </filter>
 
 <filter>
 	<filter-name>jsFilter</filter-name>
 	<filter-class>com.cannontech.esub.web.filter.JSFilter</filter-class>
 </filter>

 <filter>
 	<filter-name>imageFilter</filter-name>
 	<filter-class>com.cannontech.esub.web.filter.ImageFilter</filter-class>
 </filter>
   
 <filter-mapping>
    <filter-name>timerFilter</filter-name>
    <url-pattern>/*</url-pattern>
 </filter-mapping>	


 <filter-mapping>
 	<filter-name>authFilter</filter-name>
 	<url-pattern>*.jsp</url-pattern>
 </filter-mapping>
 
 <filter-mapping>
 	<filter-name>authFilter</filter-name>
 	<url-pattern>*.svg</url-pattern>
 </filter-mapping> 
 
 <filter-mapping>
 	<filter-name>authFilter</filter-name>
 	<url-pattern>*.html</url-pattern>
 </filter-mapping>
 
 <filter-mapping>
 	<filter-name>jsFilter</filter-name>
 	<url-pattern>*.js</url-pattern>
 </filter-mapping> 
 
 <filter-mapping>
 	<filter-name>imageFilter</filter-name>
 	<url-pattern>*.gif</url-pattern>
 </filter-mapping>
 
 <filter-mapping>
 	<filter-name>imageFilter</filter-name>
 	<url-pattern>*.png</url-pattern>
 </filter-mapping>
 
 <filter-mapping>
 	<filter-name>imageFilter</filter-name>
 	<url-pattern>*.jpg</url-pattern>
 </filter-mapping>
 
  <servlet>
   <servlet-name>svgGenerator</servlet-name>
   <servlet-class>com.cannontech.esub.web.servlet.SVGGenerator</servlet-class>   
  </servlet>
 
  <servlet>
   <servlet-name>htmlGenerator</servlet-name>
   <servlet-class>com.cannontech.esub.web.servlet.HTMLGenerator</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DynamicTextServlet</servlet-name>
    <servlet-class>com.cannontech.esub.web.servlet.DynamicTextServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>StateImageServlet</servlet-name>
    <servlet-class>com.cannontech.esub.web.servlet.StateImageServlet</servlet-class>
  </servlet>
 
  <servlet>
  	<servlet-name>GraphGenerator</servlet-name>
  	<servlet-class>com.cannontech.servlet.GraphGenerator</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>UpdateAttribute</servlet-name>
  	<servlet-class>com.cannontech.esub.web.servlet.UpdateAttribute</servlet-class>
  </servlet>
       
  <servlet-mapping>
 	<servlet-name>svgGenerator</servlet-name>
 	<url-pattern>*.svg</url-pattern>
 </servlet-mapping>
  
 <servlet-mapping>
   <servlet-name>htmlGenerator</servlet-name>
   <url-pattern>*.html</url-pattern>
 </servlet-mapping>

 
  <session-config>
  <session-timeout>60</session-timeout>
 </session-config>

  <!--
  <mime-mapping>
  <extension>svg</extension>
  <mime-type>text/svg</mime-type>
 </mime-mapping> -->

 <mime-mapping>
  <extension>html</extension>
  <mime-type>text/html</mime-type>
 </mime-mapping>
 <welcome-file-list><welcome-file>login.jsp</welcome-file></welcome-file-list>
</web-app>
