<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans> 
   <bean id="cbcDao" class="com.cannontech.cbc.daoimpl.CBCDaoImpl" >
    <property name="pointDao" ref="pointDao" />
    <property name="paoDao" ref="paoDao" />
    <property name="authDao" ref="authDao" />
 </bean>
</beans>
