<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    
    <bean class="com.cannontech.simulators.service.SimulatorsService"/>
    
    <!-- Message handlers for simulator messaging -->
    <bean class="com.cannontech.simulators.handler.GatewaySimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.AmrCreationSimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.RfnLcrDataSimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.RfnMeterDataSimulatorMessageHandler"/>
    
    <!-- TODO: system metrics? Might be nice to have -->
    
</beans>