<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    
    <bean class="com.cannontech.simulators.service.SimulatorsService"/>
    
    <bean id="cbcCache" class="com.cannontech.cbc.cache.impl.CapControlCacheImpl"/>
    <alias alias="capControlCache" name="cbcCache"/>
    
    <bean id="zoneService" class="com.cannontech.capcontrol.service.impl.ZoneServiceImpl"/>
    <bean id="voltageRegulatorService" class="com.cannontech.capcontrol.service.VoltageRegulatorService"/>
    
    <!-- Message handlers for simulator messaging -->
    <bean class="com.cannontech.simulators.handler.IvvcSimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.GatewaySimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.AmrCreationSimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.RfnLcrDataSimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.RfnMeterDataSimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.RfnMeterReadAndControlSimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.DataStreamingSimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.NmNetworkSimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.SimulatorStartupSettingsMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.SmartNotificationSimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.StatusArchiveSimulatorMessageHandler"/>
    <bean class="com.cannontech.simulators.handler.DeviceArchiveSimulatorMessageHandler"/>
    
    <bean class="com.cannontech.dr.rfn.service.impl.RfnLcrDataSimulatorServiceImpl"/>
    <bean class="com.cannontech.dr.rfn.service.impl.RfnMeterDataSimulatorServiceImpl"/>
    <bean class="com.cannontech.dr.rfn.service.impl.RfnMeterReadAndControlSimulatorServiceImpl"/>
    <bean class="com.cannontech.simulators.ivvc.impl.IvvcSimulatorServiceImpl"/>
    <bean class="com.cannontech.simulators.dao.impl.RegulatorEventsSimulatorDaoImpl"/>
    <bean class="com.cannontech.simulators.dao.impl.DeviceConfigurationSimulatorDaoImpl"/>
</beans>