@import url("../CannonStyle.css");

a.Link3:active {color: #CCCCFF}
a.Link3:visited {color: #CCCCFF}
a.Link3:link {color: #CCCCFF}
a.Link3:hover {color: #CCCCFF}

.LeftCell {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; background-color: #666699}
.TableCell {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; background-color: #FFFFFF; font-weight: normal}

.PageHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #CCCCFF; font-style: italic}

.NavHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFCC33; font-style: italic}
.Nav {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #CCCCFF}