@import url("../CannonStyle.css");

a.Link3:active {color: #CCCCFF}
a.Link3:visited {color: #CCCCFF}
a.Link3:link {color: #CCCCFF}
a.Link3:hover {color: #CCCCFF}

.LeftCell {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; background-color: #666699}
.TableCell {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; background-color: #FFFFFF; font-weight: normal}

.PageHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #CCCCFF; font-style: italic}

.NavHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFCC66; font-style: italic}
.Nav {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #CCCCFF}

.cal_day_header {  background-color: #666699; height: 14px; width: 20px; font-size: 9px; font-weight: bold; color: #FFFFFF; text-align: center; cursor: default; border: 1px #FFFFFF outset; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
.cal_day_mouseover { font-size: 9px; font-weight: bold; color:#FFCC66; background-color: buttonface; height: 14px; width: 20px; text-align: center; cursor: default; border: 1px #FFFFFF outset; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
.cal_day_selected {  font-size: 9px; font-weight: bold; background-color: #CCCCFF; height: 12px; width: 18px; text-align: center; cursor: default; border: 1px #CCCCCC inset; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
