<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="substationDao"
		class="com.cannontech.multispeak.dao.impl.SubstationDaoImpl">
		<property name="simpleJdbcTemplate"><ref bean="simpleJdbcTemplate" /></property>
		<property name="nextValueHelper"><ref bean="nextValueHelper" /></property>
	</bean>

	<bean id="substationToRouteMappingDao" class="com.cannontech.multispeak.dao.impl.SubstationToRouteMappingDaoImpl">
		<property name="simpleJdbcTemplate"><ref bean="simpleJdbcTemplate" /></property>
	</bean>
	
  <bean id="mr_cb" class="com.cannontech.multispeak.service.impl.MR_CBImpl">
  	<property name="multispeakFuncs" ref="multispeakFuncs"/>
    <property name="mspMeterDao" ref="mspMeterDao"/>
  	<property name="multispeak" ref="multispeak"/>
  	<property name="mspRawPointHistoryDao" ref="mspRawPointHistoryDao"/>
  	<property name="porterConnection" ref="porterConnection"/>
  </bean>
  <bean id="cd_cb" class="com.cannontech.multispeak.service.impl.CD_CBImpl">
  	<property name="multispeakFuncs" ref="multispeakFuncs"/>
    <property name="mspMeterDao" ref="mspMeterDao"/>
  	<property name="multispeak" ref="multispeak"/>
  </bean>
  <bean id="mr_ea" class="com.cannontech.multispeak.service.impl.MR_EAImpl">
  	<property name="multispeakFuncs" ref="multispeakFuncs"/>
    <property name="mspMeterReadDao" ref="mspMeterReadDao"/>
    <property name="mr_cb" ref="mr_cb"/>
    <property name="readingTypesMap">
        <map>
          <entry key="Load" value-ref="loadFormattedBlock"/>
          <entry key="Outage" value-ref="outageFormattedBlock"/>
	<!--      <entry key="Billing" value-ref="billingFormattedBlock"/>
          <entry key="BillingTOU" value-ref="billingTOUFormattedBlock"/> -->
        </map>    
    </property>
  	<property name="porterConnection" ref="porterConnection"/>
  	<property name="multispeak" ref="multispeak"/>
  </bean>
  <bean id="mr_oa" class="com.cannontech.multispeak.service.impl.MR_OAImpl">
  </bean>
    <bean id="od_oa" class="com.cannontech.multispeak.service.impl.OD_OAImpl">
  	<property name="multispeakFuncs" ref="multispeakFuncs"/>
  	<property name="multispeak" ref="multispeak"/>
  </bean>

  <bean id="multispeakFuncs" class="com.cannontech.multispeak.client.MultispeakFuncs">
    <property name="multispeakDao" ref="multispeakDao"/>
    <property name="paoDao" ref="paoDao"/>
    <property name="deviceDao" ref="deviceDao"/>
    <property name="roleDao" ref="roleDao"/>
    <property name="meterDao" ref="meterDao"/>
  </bean>
  
  <bean id="multispeak" class="com.cannontech.multispeak.client.Multispeak" init-method="initialize">
  	<property name="multispeakFuncs" ref="multispeakFuncs"/>
  	<property name="porterConnection" ref="porterConnection"/>
    <property name="mspMeterDao" ref="mspMeterDao"/>
    <property name="dbPersistentDao" ref="dbPersistentDao"/>
    <property name="paoDao" ref="paoDao"/>
    <property name="deviceDao" ref="deviceDao"/>
  </bean>   
  
  <bean id="multispeakDao" class="com.cannontech.multispeak.dao.impl.MultispeakDaoImpl">
    <property name="jdbcOps" ref="jdbcTemplate"/> 
    <property name="transactionTemplate" ref="transactionTemplate"/> 
    <property name="nextValueHelper" ref="nextValueHelper"/>  
  </bean>
  
  <bean id="mspRawPointHistoryDao" class="com.cannontech.multispeak.dao.impl.RawPointHistoryDaoImpl">
  </bean>

  <bean id="mspAccountInfoDao" class="com.cannontech.multispeak.dao.impl.MspAccountInfoDaoImpl">
  	<property name="multispeakFuncs" ref="multispeakFuncs"/>
    <property name="multispeakDao" ref="multispeakDao"/>
    <property name="deviceDao" ref="deviceDao"/>
  </bean>
  
  <bean id="mspMeterReadDao" class="com.cannontech.multispeak.dao.impl.MspMeterReadDaoImpl">
    <property name="attrDynamicDataSource" ref="attrDynamicDataSource"/>
  </bean>

  <bean id="mspMeterDao" class="com.cannontech.multispeak.dao.impl.MspMeterDaoImpl">
    <property name="jdbcOps" ref="jdbcTemplate"/> 
  </bean>

  <bean id="yukonFormattedBlock" class="com.cannontech.multispeak.block.impl.YukonFormattedBlockImpl" abstract="true">
      <property name="attrDynamicDataSource" ref="attrDynamicDataSource"/>
  </bean>
  <bean id="loadFormattedBlock" class="com.cannontech.multispeak.block.impl.LoadFormattedBlockImpl" 
	  	dependency-check="objects" parent="yukonFormattedBlock">
  </bean>
  <bean id="outageFormattedBlock" class="com.cannontech.multispeak.block.impl.OutageFormattedBlockImpl"
    	dependency-check="objects" parent="yukonFormattedBlock">
  </bean>  
</beans>