<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" 
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <!-- appenders -->
  
  <appender name="yukonFileAppender" class ="com.cannontech.clientutils.YukonFileAppender">
  </appender>
  
  <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  
  <appender name="htmlAppender" class="org.apache.log4j.FileAppender">
    <layout class="org.apache.log4j.HTMLLayout">
      <param name="Title" value="sample.html"/>
    </layout>
  </appender>
  
  <!-- package level loggers -->
  <!-- to turn of logging for any package use: level value="off"  -->
  
  <logger name="com.cannontech">
  	<level value="info"/>
  </logger>

  <logger name="org.hibernate" >
  	<level value="warn"/>
  </logger>
  
  <logger name="org.springframework">
  	<level value="warn"/>
  </logger>
  
  <logger name="org.apache.myfaces">
  	<level value="warn"/>
  </logger>

  
  <!-- root logger -->
  <root>
    <level value ="info"/>
    <appender-ref ref="yukonFileAppender" />
    <appender-ref ref="consoleAppender" />
  </root>  
</log4j:configuration>
