.leftMenuHeader {
    color: white;
    background-color: #0066CC; 
    text-align: right; 
    padding: .4em .8em;
    font-weight: bold;
    text-decoration: none;
}

.leftMenuHeader a:link {
	text-decoration: none;
    color: white;
}

.leftMenuHeader a:visited {
	text-decoration: none;
    color: white;
}

.leftMenu {
    background-color: #0066CC;
    padding-bottom: .3em;
    vertical-align: top;
    width: 3%;
}

.leftMenu .menuOption2 a:link {
	color: white;
}

.leftMenu .menuOption2 a:visited {
	color: white;
}

.leftMenu .menuOption1 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #FFCC66; 
	font-style: italic;
	padding: .3em;
}

.leftMenu .menuOption2 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	color: #FFFFFF;
	font-style: normal;
	padding: .3em .3em .3em 1.0em;
	white-space: nowrap;
}

.leftMenu .menuOption2 .expandCollapseSpan {
	cursor:pointer;
}

.leftMenu .menuOption2 .expandCollapseImg {
	padding-right:4px;
}

.leftSelected2 {
    color: #99FFFF !important;	
}

.leftMenu .menuOption3 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	color: #FFFFFF;
	font-style: normal;
	padding: .3em .3em .3em 1.7em;
	white-space: nowrap;
}

table.contentTable {
    width: 100%;
}

table.contentTable .leftColumn {
    width: 80%;
    vertical-align: top;
    padding-right: 20px;
}

table.contentTable .rightColumn {
    width: 20%;
    vertical-align: top;
}

.disclaimer {
	font-size: 0.6em;
	color: #aaa;
	margin: 20px 10px;
}

.disclaimer h3 {
	text-align: left;
}

.progress {
	border: solid 1px #888;
/* 	border-radius: 5px; */
	width: 500px;
	float: left;
	margin-right: 20px; 
}

.percent_90 {
	width: 90%;
	background-color: green;
	color: white;
	text-align: center;
	position: relative;
}