<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>

    <bean id="yukonDataSource" class="com.cannontech.database.PoolManager" factory-method="getYukonDataSource"/>
    <bean class="com.cannontech.database.YukonJdbcTemplate">
        <constructor-arg>
            <bean class="com.cannontech.spring.LoggingJdbcTemplate">
                <property name="dataSource" ref="yukonDataSource" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="configurationSource" class="com.cannontech.common.config.MasterConfigHelper" factory-method="getConfiguration"/>
    <bean id="globalSettingDao" class="com.cannontech.system.dao.impl.GlobalSettingDaoImpl"/>
    <bean id="watchdogWatcherDao" class="com.cannontech.watchdog.dao.impl.WatchdogWatcherDaoImpl"/>
    <bean id="watchdogWatcherService" class="com.cannontech.watchdog.service.impl.WatchdogWatcherServiceImpl"/>
    
    <bean id="connectionFactoryTarget" class="com.cannontech.services.jms.YukonJmsConnectionFactory" lazy-init="true" autowire-candidate="false"/>

    <bean id="connectionFactory" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="targetSource">
            <bean class="org.springframework.aop.target.LazyInitTargetSource">
                <property name="targetBeanName"><idref bean="connectionFactoryTarget"/></property>
            </bean>
         </property>
    </bean>
       <bean class="com.cannontech.watchdog.WatchdogService"/>
       
       <bean class="com.cannontech.watchdogs.impl.NotificationServiceWatcher"/>
       <bean class="com.cannontech.watchdogs.impl.ServiceManagerWatcher"/>
       <bean class="com.cannontech.watchdogs.impl.WebServerWatcher"/>
       <bean class="com.cannontech.watchdogs.impl.YukonMessageBrokerWatcher"/>
       <bean class="com.cannontech.watchdogs.impl.NetworkManagerWatcher"/>
       
       <bean class="com.cannontech.watchdogs.impl.DispatchServiceWatcher"/>
       <bean class="com.cannontech.watchdogs.impl.LoadManagementServiceWatcher"/>
       <bean class="com.cannontech.watchdogs.impl.CapControlServiceWatcher"/>
       <bean class="com.cannontech.watchdogs.impl.PorterServiceWatcher"/>
       <bean class="com.cannontech.watchdogs.impl.MACSServiceWatcher"/>
       <bean class="com.cannontech.watchdogs.impl.FDRServiceWatcher"/>
       <bean class="com.cannontech.watchdogs.impl.CalcLogicServiceWatcher"/>
       <bean class="com.cannontech.watchdogs.impl.ScannerServiceWatcher"/>
       <bean class="com.cannontech.watchdogs.impl.ItronServiceWatcher"/>
       
       <bean class="com.cannontech.watchdogs.util.WatchdogDispatchClientConnection"/>
       <bean class="com.cannontech.watchdogs.util.WatchdogLoadManagementClientConnection"/>
       <bean class="com.cannontech.watchdogs.util.WatchdogCapControlClientConnection"/>
       <bean class="com.cannontech.watchdogs.util.WatchdogPorterClientConnection"/>
       <bean class="com.cannontech.watchdogs.util.WatchdogMACSConnection"/>
       
       <bean class="com.cannontech.watchdog.notification.WatchdogNotificationServiceImpl"/>
       
</beans>