500        XSD        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\deviceconfigurationcategory.xsd"
501        XSD        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\pao.xsd"
502        XSD        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\points.xsd"
1000       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\capbank.xml"
1001       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\capbankcontroller.xml"
1002       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cap_control_area.xml"
1003       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cap_control_feeder.xml"
1004       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cap_control_special_area.xml"
1005       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cap_control_subbus.xml"
1006       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cap_control_substation.xml"
1007       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cbc_7010.xml"
1008       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cbc_7011.xml"
1009       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cbc_7012.xml"
1010       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cbc_7020.xml"
1011       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cbc_7022.xml"
1012       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cbc_7023.xml"
1013       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cbc_7024.xml"
1014       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cbc_8020.xml"
1015       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cbc_8024.xml"
1016       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cbc_dnp.xml"
1017       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cbc_expresscom.xml"
1018       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\cbc_fp_2800.xml"
1019       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\dnp_cbc_6510.xml"
1020       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\fault_ci.xml"
1021       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\gang_operated.xml"
1022       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\load_tap_changer.xml"
1023       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\neutral_monitor.xml"
1024       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\phase_operated.xml"
1025       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\rfn_1200.xml"
1026       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\gateway\\gwy800.xml"
1027       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\gateway\\rfn_gateway.xml"
1028       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\lcr\\lcr3102.xml"
1029       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\lcr\\lcr6200_rfn.xml"
1030       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\lcr\\lcr6600_rfn.xml"
1031       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_control_area.xml"
1032       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_direct_program.xml"
1033       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_ecobee_program.xml"
1034       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_digi_sep.xml"
1035       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_ecobee.xml"
1036       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_emetcon.xml"
1037       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_expresscomm.xml"
1038       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_golay.xml"
1039       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_honeywell.xml"
1040       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_mct.xml"
1041       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_point.xml"
1042       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_rfn_expresscomm.xml"
1043       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_ripple.xml"
1044       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_sa205.xml"
1045       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_sa305.xml"
1046       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_sadigital.xml"
1047       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_group_versacom.xml"
1048       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_honeywell_program.xml"
1049       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_scenario.xml"
1050       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\lm_sep_program.xml"
1051       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\macro_group.xml"
1052       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\zigbee_endpoint.xml"
1053       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\alpha_a1.xml"
1054       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\alpha_pplus.xml"
1055       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\dct_501.xml"
1056       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\dr_87.xml"
1057       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\focus.xml"
1058       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\fulcrum.xml"
1059       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\ion_7330.xml"
1060       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\ion_7700.xml"
1061       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\ion_8300.xml"
1062       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\ipc410fl.xml"
1063       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\ipc420fd.xml"
1064       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\ipc430s4e.xml"
1065       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\ipc430sl.xml"
1066       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\landisgyrs4.xml"
1067       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\lmt_2.xml"
1068       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct210.xml"
1069       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct213.xml"
1070       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct240.xml"
1071       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct248.xml"
1072       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct250.xml"
1073       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct310.xml"
1074       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct310ct.xml"
1075       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct310id.xml"
1076       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct310idl.xml"
1077       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct310il.xml"
1078       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct310im.xml"
1079       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct318.xml"
1080       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct318l.xml"
1081       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct360.xml"
1082       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct370.xml"
1083       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct410cl.xml"
1084       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct410fl.xml"
1085       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct410gl.xml"
1086       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct410il.xml"
1087       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct420cd.xml"
1088       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct420cl.xml"
1089       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct420fd.xml"
1090       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct420fl.xml"
1091       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct430a.xml"
1092       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct430a3.xml"
1093       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct430s4.xml"
1094       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct430sl.xml"
1095       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct440_2131b.xml"
1096       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct440_2132b.xml"
1097       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct440_2133b.xml"
1098       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mct470.xml"
1099       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\mctbroadcast.xml"
1100       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\quantum.xml"
1101       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn410cl.xml"
1102       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn410fd.xml"
1103       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn410fl.xml"
1104       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn410fx.xml"
1105       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn420cd.xml"
1106       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn420cl.xml"
1107       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn420fd.xml"
1108       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn420fl.xml"
1109       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn420frd.xml"
1110       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn420frx.xml"
1111       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn420fx.xml"
1112       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn430a3d.xml"
1113       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn430a3k.xml"
1114       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn430a3r.xml"
1115       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn430a3t.xml"
1116       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn430kv.xml"
1117       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn430sl0.xml"
1118       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn430sl1.xml"
1119       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn430sl2.xml"
1120       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn430sl3.xml"
1121       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn430sl4.xml"
1122       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn440_2131td.xml"
1123       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn440_2132td.xml"
1124       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn440_2133td.xml"
1125       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn510fl.xml"
1126       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn520fax.xml"
1127       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn520faxd.xml"
1128       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn520frx.xml"
1129       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn520frxd.xml"
1130       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn530fax.xml"
1131       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn530frx.xml"
1132       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn530s4eax.xml"
1133       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn530s4eaxr.xml"
1134       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn530s4erx.xml"
1135       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn530s4erxr.xml"
1136       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfn530s4x.xml"
1137       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfw201.xml"
1138       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfw205.xml"
1139       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\rfwmeter.xml"
1140       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\sentinel.xml"
1141       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\sixnet.xml"
1142       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\transdata_markv.xml"
1143       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\vectron.xml"
1144       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\relay\\rfn_relay.xml"
1145       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\rtu\\rtm.xml"
1146       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\rtu\\rtuilex.xml"
1147       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\rtu\\rtuwelco.xml"
1148       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\rtu\\rtu_dart.xml"
1149       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\rtu\\rtu_dnp.xml"
1150       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\rtu\\rtu_modbus.xml"
1151       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\davisweather.xml"
1152       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\route_rds_terminal.xml"
1153       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\route_snpp_terminal.xml"
1154       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\route_tap_paging.xml"
1155       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\route_tnpp_terminal.xml"
1156       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\route_wctp_terminal.xml"
1157       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\script.xml"
1158       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\simple_schedule.xml"
1159       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\system.xml"
1160       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\virtual_system.xml"
1161       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\weather_location.xml"
1162       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\thermostat\\ecobee_3.xml"
1163       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\thermostat\\ecobee_smart.xml"
1164       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\thermostat\\ecobee_smart_si.xml"
1165       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\thermostat\\honeywell_9000.xml"
1166       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\thermostat\\honeywell_focuspro.xml"
1167       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\thermostat\\honeywell_thermostat.xml"
1168       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\thermostat\\honeywell_visionpro_8000.xml"
1169       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\ccu710a.xml"
1170       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\ccu711.xml"
1171       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\ccu721.xml"
1172       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\digigateway.xml"
1173       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\lcu415.xml"
1174       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\lculg.xml"
1175       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\lcu_er.xml"
1176       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\lcu_t3026.xml"
1177       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\rds_terminal.xml"
1178       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\repeater.xml"
1179       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\repeater_800.xml"
1180       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\repeater_801.xml"
1181       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\repeater_850.xml"
1182       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\repeater_902.xml"
1183       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\repeater_921.xml"
1184       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\rtc.xml"
1185       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\series_5_lmi.xml"
1186       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\snpp_terminal.xml"
1187       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\tapterminal.xml"
1188       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\tcu5000.xml"
1189       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\tcu5500.xml"
1190       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\tnpp_terminal.xml"
1191       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\wctp_terminal.xml"
2000       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\points\\702x.xml"
2001       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\points\\802x.xml"
2002       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\points\\capbank.xml"
2003       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\points\\cap_control.xml"
2004       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\points\\fault_ci.xml"
2005       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\points\\neutral_monitor.xml"
2006       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\capcontrol\\points\\rfn_1200.xml"
2007       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\gateway\\points\\gateway.xml"
2008       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\lcr\\points\\lcr3102.xml"
2009       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\lcr\\points\\rfn_lcr.xml"
2010       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\points\\lm.xml"
2011       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\loadmanagement\\points\\zigbee_endpoint.xml"
2012       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\alpha.xml"
2013       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\dct_501.xml"
2014       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\dr_87.xml"
2015       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\focus.xml"
2016       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\fulcrum.xml"
2017       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\ion.xml"
2018       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\ipc410fl.xml"
2019       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\ipc420fd.xml"
2020       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\ipc430s4e.xml"
2021       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\ipc430sl.xml"
2022       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\landisgyrs4.xml"
2023       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\lmt_2.xml"
2024       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\mct.xml"
2025       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\mct2xx.xml"
2026       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\mct31x.xml"
2027       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\mct360.xml"
2028       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\mct370.xml"
2029       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\mct43x.xml"
2030       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\mct44x.xml"
2031       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\mct470.xml"
2032       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\quantum.xml"
2033       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\rfn.xml"
2034       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\rfw.xml"
2035       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\sentinel.xml"
2036       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\sixnet.xml"
2037       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\transdata_markv.xml"
2038       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\meter\\points\\vectron.xml"
2039       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\relay\\points\\rfn_relay.xml"
2040       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\rtu\\points\\rtu.xml"
2041       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\points\\system.xml"
2042       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\system\\points\\weather_location.xml"
2043       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\thermostat\\points\\ecobee.xml"
2044       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\thermostat\\points\\honeywell.xml"
2045       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\points\\digigateway.xml"
2046       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\points\\tcu5x.xml"
2047       XML        "..\\..\\yukon-shared\\src\\main\\resources\\pao\\definition\\transmitter\\points\\transmitter.xml"
3000       XML        "resource_index.xml"
