#include "include/resource_ids.h"

#include "autogen_resource.rc"

/*
    Resource locations
*/

METRIC_ID_TO_ATTRIBUTE_MAPPING_ID   JSON    "..\\..\\yukon-shared\\src\\main\\resources\\metricIdToAttributeMapping.json"
ERROR_CODE_ID                       XML     "..\\..\\yukon-shared\\src\\main\\resources\\error-code.xml"
THIRD_PARTY_LIBRARIES_ID            YAML    "..\\..\\yukon-shared\\src\\main\\resources\\thirdPartyLibraries.yaml"
