.password_manager {
	width: 800px;
	margin: 0 auto;
}

.password_manager em {
	font-weight: bold;
	font-style: normal;
}

.password_manager form {
	margin: 30px 20px
}

.password_manager .description {
	float:right;
	font-size: 0.8em;
	color: #555;
	margin: 0 20px;
}

.password_manager ul {
	margin: 10px 0;
	padding: 0;
	text-align:left;
}

.password_manager li ul {
	margin: 0;
	padding: 0 20px;
}

.password_manager li {
	list-style: none;
	padding-left: 24px;
	background-position: center left;
}

.password_manager .no_match {
	font-size: 0.8em;
}