<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>
        Defines dynamic data service related beans - use these to get real time Yukon point data
    </description>

    <bean id="asyncDynamicDataSource" class="com.cannontech.core.dynamic.impl.AsyncDynamicDataSourceImpl"/>
    
    <bean id="serverRequest" class="com.cannontech.message.util.ServerRequestImpl" scope="prototype" />
    <bean id="dynamicDataCache" class="com.cannontech.core.dynamic.impl.DynamicDataCache"/>
    <bean id="dispatchProxy" class="com.cannontech.core.dynamic.impl.DispatchProxy">
        <property name="dispatchConnection" ref="dispatchConnection" />
        <property name="serverRequest" ref="serverRequest" />
    </bean>
    <bean id="pointService" class="com.cannontech.core.dynamic.impl.PointServiceImpl"/>

    <bean id="richPointDataService" class="com.cannontech.core.dynamic.impl.RichPointDataServiceImpl" />
</beans>
