<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property  name="basePath">${sys:logPath} </Property>
    </Properties>
 
    <Appenders>
        <RollingFile name="fileLogger" filePattern="${basePath}/Log/CloudServer_%d{yyyyMMdd}.log.zip" advertiseURI= "${basePath}/CloudServer_%d{yyyyMMdd}.log">
            <PatternLayout>
                <pattern>%d %d{zzz} [%t] %-5p %c - %m%n%throwable</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="1GB" />
            </Policies>
        </RollingFile>
 
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="%d %d{zzz} [%t] %-5p %c - %m%n%throwable" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.cannontech" level="info" additivity="true">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
        <Root level="info" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="com.cannontech" />
        </Root>
    </Loggers>
</Configuration>