<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       
       default-lazy-init="true">

  <bean id="programService" class="com.cannontech.cc.service.ProgramServiceImpl"/>
  <bean class="com.cannontech.dr.program.service.impl.ProgramWidgetServiceImpl"/>
  <bean id="groupService" class="com.cannontech.cc.service.GroupServiceImpl"/>
  <bean id="eventService" class="com.cannontech.cc.service.EventService" scope="singleton">
    <property name="baseEventDao" ref="baseEventDao"/>
    <property name="strategyFactory" ref="strategyFactory"/>
  </bean>
  <bean id="customerPointService" class="com.cannontech.cc.service.CustomerPointService">
    <property name="customerStubDao" ref="customerStubDao"/>
    <property name="pointTypeHelper" ref="customerPointTypeHelper"/>
    <property name="pointAccess" ref="simplePointAccessDao"/>
    <property name="pointTypeLookup" ref="customerPointTypeLookup"/>
  </bean>
  <bean id="customerLMProgramService" class="com.cannontech.cc.service.CustomerLMProgramService">
    <property name="lmDao" ref="lmDao"/>
    <property name="lmDirectCustomerListDao" ref="lmDirectCustomerListDao"/>
  </bean>
  <bean id="customerEventService" class="com.cannontech.cc.service.CustomerEventService">
    <property name="customerDao" ref="customerDao"/>
    <property name="customerStubDao" ref="customerStubDao"/>
    <property name="baseEventDao" ref="baseEventDao"/>
    <property name="eventService" ref="eventService"/>
  </bean>
  <bean id="economicService" class="com.cannontech.cc.service.EconomicService">
    <property name="customerStubDao" ref="customerStubDao"/>
    <property name="economicEventDao" ref="economicEventDao"/>
    <property name="strategyFactory" ref="strategyFactory"/>
    <property name="economicEventNotifDao" ref="economicEventNotifDao"/>
    <property name="economicEventParticipantDao" ref="economicEventParticipantDao"/>
    <property name="customerDao" ref="customerDao"/>
  </bean>
  <bean id="strategyFactory" class="com.cannontech.cc.service.StrategyFactory" />
  <bean id="notificationService" class="com.cannontech.cc.service.NotificationService" autowire="byType"/>
  
  <bean id="commercialCurtailmentStrategyBase" class="com.cannontech.cc.service.StrategyBase" abstract="true">
    <property name="loadPoint" value="CurrentLoad"/>
    <property name="contractFirmDemand" value="ContractFrmDmd"/>
    
    <property name="groupService" ref="groupService"/>
    <property name="notificationProxy" ref="notificationProxy"/>
    <property name="pointAccess" ref="simplePointAccessDao"/>
    <property name="pointTypeHelper" ref="customerPointTypeHelper"/>
    <property name="programService" ref="programService"/>
    <property name="programDao" ref="programDao"/>
    <property name="programParameterDao" ref="programParameterDao"/>
  </bean>
  
  <bean id="genericNotification" class="com.cannontech.cc.service.BaseNotificationStrategy"
        abstract="true" parent="commercialCurtailmentStrategyBase">
    <property name="methodKey" value="notification"/>
    <property name="parameters">
      <set>
        <value>DEFAULT_EVENT_OFFSET_MINUTES</value>
        <value>DEFAULT_NOTIFICATION_OFFSET_MINUTES</value>
        <value>DEFAULT_EVENT_DURATION_MINUTES</value>
        <value>MINIMUM_EVENT_DURATION_MINUTES</value>
        <value>MINIMUM_NOTIFICATION_MINUTES</value>
      </set>
    </property>
    <property name="curtailmentEventParticipantDao" ref="curtailmentEventParticipantDao"/>
    <property name="curtailmentEventNotifDao" ref="curtailmentEventNotifDao"/>
    <property name="transactionTemplate" ref="transactionTemplate"/>
    <property name="curtailmentEventDao" ref="curtailmentEventDao"/>
    <property name="programDao" ref="programDao"/>
  </bean>
  
  <bean id="isocNotification" class="com.cannontech.cc.service.IsocNotificationStrategy" 
        parent="genericNotification"
        autowire="byType">
    <property name="isocCommonStrategy" ref="isocCommonStrategy"/>
  </bean>
  
  <bean id="genericDirect" class="com.cannontech.cc.service.BaseDirectStrategy" 
        parent="genericNotification" abstract="true"
        autowire="byType">
    <property name="loadManagementService" ref="loadManagementService"/>
    <property name="customerLMProgramService" ref="customerLMProgramService"/>
  </bean>
  
  <bean id="isocDirect" class="com.cannontech.cc.service.IsocDirectStrategy" 
        parent="genericDirect"
        autowire="byType">
    <property name="isocCommonStrategy" ref="isocCommonStrategy"/>
  </bean>
  
  <bean id="isocSupersedeNotification" class="com.cannontech.cc.service.IsocSupersedeNotificationStrategy" 
        parent="genericNotification"
        autowire="byType">
    <property name="isocCommonStrategy" ref="isocCommonStrategy"/>
  </bean>
  
  <bean id="isocSupersedeDirect" class="com.cannontech.cc.service.IsocSupersedeDirectStrategy" 
        parent="genericDirect"
        autowire="byType">
    <property name="isocCommonStrategy" ref="isocCommonStrategy"/>
  </bean>
  
  
  <bean id="genericEconomic" class="com.cannontech.cc.service.BaseEconomicStrategy" autowire="byType"
        abstract="true" parent="commercialCurtailmentStrategyBase">
    <property name="methodKey" value="economic"/>
    <property name="notificationProxy" ref="notificationProxy"/>
    <property name="parameters">
      <set>
        <value>DEFAULT_EVENT_OFFSET_MINUTES</value>
        <value>DEFAULT_NOTIFICATION_OFFSET_MINUTES</value>
        <value>DEFAULT_EVENT_DURATION_MINUTES</value>
        <value>MINIMUM_EVENT_DURATION_MINUTES</value>
        <value>DEFAULT_ENERGY_PRICE</value>
        <value>MINIMUM_NOTIFICATION_MINUTES</value>
      </set>
    </property>
  </bean>
  
  <bean id="genericAccounting" class="com.cannontech.cc.service.BaseAccountingStrategy"
  	parent="commercialCurtailmentStrategyBase">
    <property name="methodKey" value="accounting"/>
    <property name="notificationProxy" ref="notificationProxy"/>
    <property name="parameters">
      <set>
        <value>DEFAULT_EVENT_DURATION_MINUTES</value>
      </set>
    </property>
    <property name="accountingEventDao" ref="accountingEventDao"/>
    <property name="accountingEventParticipantDao" ref="accountingEventParticipantDao"/>
    <property name="transactionTemplate" ref="transactionTemplate"/>
  </bean>
  
  <bean id="isocSameDay" class="com.cannontech.cc.service.IsocEconomicStrategy" 
        parent="genericEconomic"
        autowire="byType">
    <property name="isocCommonStrategy" ref="isocCommonStrategy"/>
    <property name="parameters">
      <set merge="true">
        <value>CUSTOMER_ELECTION_CUTOFF_MINUTES</value>
      </set>
    </property>
  </bean>
  
  
  <bean id="customerPointTypeLookup" class="com.cannontech.support.CustomerPointTypeLookup" 
   scope="prototype" autowire="byType">
   <property name="applicablePointLookup">
     <map>
       <entry key="ISOC">
         <set>
           <value>ContractFrmDmd</value>
           <value>AdvBuyThroughKw</value>
           <value>AdvBuyThrough$</value>
           <value>InterruptHours</value>
           <value>MinimumNotice</value>
           <value>ContractIntLoad</value>
           <value>MinEventDuration</value>
           <value>InterruptHrs24Hr</value>
         </set>
       </entry>
       <entry key="ISOC-load">
         <set>
           <value>CurrentLoad</value>
         </set>
       </entry>
     </map>
   </property>
  </bean>
  
  <bean id="isocCommonStrategy" class="com.cannontech.cc.service.IsocCommonStrategy" scope="singleton" autowire="byType">
    <property name="strategyKeys">
      <set>
        <value>isocSameDay</value>
        <value>isocNotification</value>
        <value>isocSupersedeNotification</value>
        <value>isocDirect</value>
        <value>genericAccounting</value>
      </set>
    </property>
    <property name="requiredPointGroup" value="ISOC"/>
  </bean>
  <bean id="programDao" class="com.cannontech.cc.daojdbc.ProgramDaoImpl"/>
  <bean id="programTypeDao" class="com.cannontech.cc.daojdbc.ProgramTypeDaoImpl"/>
  <bean id="groupDao" class="com.cannontech.cc.daojdbc.GroupDaoImpl"/>
  <bean id="availableProgramGroupDao" class="com.cannontech.cc.daojdbc.AvailableProgramGroupDaoImpl"/>
  <bean id="groupCustomerNotifDao" class="com.cannontech.cc.daojdbc.GroupCustomerNotifDaoImpl"/>
  <bean id="customerStubDao" class="com.cannontech.cc.daojdbc.CustomerStubDaoImpl"/>
  <bean id="curtailmentEventDao" class="com.cannontech.cc.daojdbc.CurtailmentEventDaoImpl">
    <property name="curtailmentEventParticipantDao" ref="curtailmentEventParticipantDao"/>
  </bean>
  <bean id="curtailmentEventNotifDao" class="com.cannontech.cc.daojdbc.CurtailmentEventNotifDaoImpl"/>
  <bean id="curtailmentEventParticipantDao" class="com.cannontech.cc.daojdbc.CurtailmentEventParticipantDaoImpl">
    <property name="curtailmentEventNotifDao" ref="curtailmentEventNotifDao"/>
  </bean>
  <bean id="programParameterDao" class="com.cannontech.cc.daojdbc.ProgramParameterDaoImpl"/>
  <bean id="economicEventDao" class="com.cannontech.cc.daojdbc.EconomicEventDaoImpl"/>
  <bean id="economicEventParticipantDao" class="com.cannontech.cc.daojdbc.EconomicEventParticipantDaoImpl">
    <property name="economicEventNotifDao" ref="economicEventNotifDao"/>
  </bean>
  <bean id="economicEventNotifDao" class="com.cannontech.cc.daojdbc.EconomicEventNotifDaoImpl"/>
  <bean id="accountingEventDao" class="com.cannontech.cc.daojdbc.AccountingEventDaoImpl">
    <property name="accountingEventParticipantDao" ref="accountingEventParticipantDao"/>
  </bean>
  <bean id="accountingEventParticipantDao" class="com.cannontech.cc.daojdbc.AccountingEventParticipantDaoImpl"/>
  <bean id="programNotificationGroupDao" class="com.cannontech.cc.daojdbc.ProgramNotificationGroupDaoImpl"/>
  <bean id="baseEventDao" class="com.cannontech.cc.dao.BaseEventDao" autowire="byType">
    <property name="childDaos">
      <set>
        <ref bean="curtailmentEventDao"/>
        <ref bean="economicEventDao"/>
        <ref bean="accountingEventDao"/>
      </set>
    </property>
  </bean>
  
  <bean id="customerPointTypeHelper" class="com.cannontech.support.CustomerPointTypeHelper">
      <property name="customerStubDao" ref="customerStubDao" />
      <property name="pointTypeLookup" ref="customerPointTypeLookup" />
      <property name="pointDao" ref="pointDao" />
      <property name="pointAccessDao" ref="simplePointAccessDao" />
      <property name="deviceDao" ref="deviceDao" />
      <property name="dbPersistentDao" ref="dbPersistentDao" />
  </bean>
  
  <bean id="cbcHelperService" class="com.cannontech.capcontrol.service.impl.CbcHelperServiceImpl">
      <property name="rolePropertyDao" ref="rolePropertyDao" />
  </bean>
</beans>
