<cruisecontrol>
    <property name="ant.home" value="D:\cc-sandbox\cruisecontrol-bin-2.6\apache-ant-1.7.0"/>
	<property name="work.dir" value="checkout"/>
	<property name="build.label" value="3_4_0_cc"/>
	<property name="email.properties" value="D:\cc-sandbox\cruisecontrol-bin-2.6\email.properties"/>

    <project name="yukon-client">
	<listeners>
        	<currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
	    	<lockfilelistener lockfile="logs/${project.name}.LCK"/>
        </listeners>
        
		<bootstrappers>
	    	<lockfilebootstrapper lockfile="logs/${project.name}.LCK"/>
	    	<cvsbootstrapper localWorkingCopy="${work.dir}/yukon-build"
	    					 file="build.xml"
	    					 overwriteChanges="true"/>	
		</bootstrappers>
		
		<modificationset quietperiod="60">
			<cvs localWorkingCopy="${work.dir}/yukon/yukon-client"/>
		</modificationset>
		
		<schedule interval="1800">
			<ant anthome="${ant.home}" 
                 buildfile="${work.dir}/yukon-build/build.xml"
		 		 target="buildquick-client"
                 usedebug="true"
                 uselogger="true">
              	 <property name="build.label" value="3_4_0_cc"/>
              	 <property name="basedir" value="${work.dir}"/>
            </ant>
		</schedule>
		
		<log> 
			<merge dir="${work.dir}/yukon/yukon-client/common/test/testResults"/>
		</log>
		
		<publishers>		
		    <email mailhost="10.106.32.52"
                           returnaddress="cc-noreply@cannontech.com"
                           buildresultsurl="http://swbuild:8088/buildresults/yukon-client" 
                           spamwhilebroken="false"
			   reportsuccess="never">
                        <always address="nmeverden@cannontech.com"/>
                        <failure address="softwaredev@cannontech.com" reportWhenFixed="true"/>
                        <propertiesmapper file="${email.properties}"/>	
	    	    </email> 
		</publishers>
		
    </project>
    
     <project name="yukon-server">
		<listeners>
        	<currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
	    	<lockfilelistener lockfile="logs/${project.name}.LCK"/>
        </listeners>
        
		<bootstrappers>
	    	<lockfilebootstrapper lockfile="logs/${project.name}.LCK"/>
	    	<cvsbootstrapper localWorkingCopy="${work.dir}/yukon-build"
	    					 file="build.xml"
	    					 overwriteChanges="true"/>	
		</bootstrappers>
		
		<modificationset quietperiod="60">
			<cvs localWorkingCopy="${work.dir}/yukon/yukon-server"/>
		</modificationset>
		
		<schedule interval="1800">
			<ant anthome="${ant.home}" 
                 buildfile="${work.dir}/yukon-build/build.xml"
		 		 target="buildquick-server"
                 usedebug="true"
                 uselogger="true">
              	 <property name="build.label" value="3_4_0_cc"/>
              	 <property name="basedir" value="${work.dir}"/>
            </ant>
		</schedule>
		
		<log>
			<merge file="${work.dir}/logs/server-error.log"/>
		</log>
		
		<publishers>		
		    <email mailhost="10.106.32.52"
                           returnaddress="cc-noreply@cannontech.com"
                   	   buildresultsurl="http://swbuild:8088/buildresults/yukon-server" 
                           spamwhilebroken="false"
			   reportsuccess="never">
               	        <always address="nmeverden@cannontech.com"/>
			<failure address="softwaredev@cannontech.com" reportWhenFixed="true"/>
               		<propertiesmapper file="${email.properties}"/>	
	    	    </email> 
		</publishers>
		
    </project>   

	<project name="yukon-install" requireModification="false">
		<listeners>
        	<currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
	    	<lockfilelistener lockfile="logs/${project.name}.LCK"/>
        </listeners>
 
 		<bootstrappers>
	    	<lockfilebootstrapper lockfile="logs/${project.name}.LCK"/>
	    	<cvsbootstrapper localWorkingCopy="${work.dir}/yukon-build"
	    					 file="build.xml"
	    					 overwriteChanges="true"/>	
		</bootstrappers>
		
		<modificationset quietperiod="60">
			<alwaysbuild/> <!-- We always want yukon-install to build -->
			<cvs localWorkingCopy="${work.dir}/yukon/yukon-install"/>
		</modificationset>		       
        
        <schedule> <!--  Runs once a day at 12:00AM -->
        	<ant anthome="${ant.home}" 
                 buildfile="${work.dir}/yukon-build/build.xml"
		 		 target="build"
                 usedebug="true"
                 uselogger="true"
                 time="0000">
              	 <property name="build.label" value="3_4_0_cc"/>
              	 <property name="basedir" value="${work.dir}"/>
            </ant>	
        </schedule>
        
        <log>
	        <merge file="${work.dir}/logs/install-error.log"/>
        	<merge dir="${work.dir}/yukon/yukon-client/common/test/testResults"/>
       	</log>
        
	<publishers>
		<onsuccess>
                	<artifactspublisher dest="artifacts/${project.name}" dir="checkout/dist/"/>
	        </onsuccess>           
		<email mailhost="10.106.32.52"
                       returnaddress="cc-noreply@cannontech.com"
                       buildresultsurl="http://swbuild:8088/buildresults/yukon-install" 
                       spamwhilebroken="false"
		       reportsuccess="never">
               	    <always address="nmeverden@cannontech.com"/>
		    <failure address="softwaredev@cannontech.com" reportWhenFixed="true"/>
                    <propertiesmapper file="${email.properties}"/>	
	    	</email> 	
	</publishers>          
    </project>
	
</cruisecontrol>