<cruisecontrol>
    <property name="ant.home" value="D:\cc-sandbox\cruisecontrol-bin-2.6\apache-ant-1.7.0"/>
	<property name="head.work.dir" value="D:\cc-sandbox\cruisecontrol-bin-2.6\checkout"/>
	<property name="3_4.work.dir" value="D:\cc-sandbox\cruisecontrol-bin-2.6\checkout_3_4"/>
	<property name="head.build.label" value="3_5_cc"/>
	<property name="3_4.build.label" value="3_4_cc"/>
	<property name="email.properties" value="D:\cc-sandbox\cruisecontrol-bin-2.6\email.properties"/>

<!-- ######################## HEAD  ######################## -->

	<project name="yukon-client">
		<listeners>
			<currentbuildstatuslistener
				file="logs/${project.name}/status.txt" />
			<lockfilelistener lockfile="logs/${project.name}.LCK" />
		</listeners>

		<bootstrappers>
			<lockfilebootstrapper lockfile="logs/${project.name}.LCK" />
			<cvsbootstrapper localWorkingCopy="${head.work.dir}/yukon-build"
				file="build.xml" overwriteChanges="true" />
		</bootstrappers>

		<modificationset quietperiod="60">
			<cvs localWorkingCopy="${head.work.dir}/yukon/yukon-client" />
		</modificationset>

		<schedule interval="1800">
			<ant anthome="${ant.home}"
				buildfile="${head.work.dir}/yukon-build/build.xml"
				target="build-client" usedebug="true" uselogger="true">
				<jvmarg arg="-server" />
				<jvmarg arg="-Xms64m" />
				<jvmarg arg="-Xmx256m" />
				<property name="basedir" value="${head.work.dir}" />
			</ant>
		</schedule>

		<log>
			<merge
				dir="${head.work.dir}/yukon/yukon-client/common/test/testResults" />
		</log>

		<publishers>
			<email mailhost="10.106.32.52"
				returnaddress="cc-noreply@cannontech.com"
				buildresultsurl="http://swbuild:8088/buildresults/${project.name}"
				spamwhilebroken="false" reportsuccess="never">
				<always address="nmeverden@cannontech.com" />
				<failure address="softwaredev@cannontech.com"
					reportWhenFixed="true" />
				<propertiesmapper file="${email.properties}" />
			</email>
		</publishers>

	</project>

	<project name="yukon-server">
		<listeners>
			<currentbuildstatuslistener
				file="logs/${project.name}/status.txt" />
			<lockfilelistener lockfile="logs/${project.name}.LCK" />
		</listeners>

		<bootstrappers>
			<lockfilebootstrapper lockfile="logs/${project.name}.LCK" />
			<cvsbootstrapper localWorkingCopy="${head.work.dir}/yukon-build"
				file="build.xml" overwriteChanges="true" />
		</bootstrappers>

		<modificationset quietperiod="60">
			<cvs localWorkingCopy="${head.work.dir}/yukon/yukon-server" />
		</modificationset>

		<schedule interval="1800">
			<ant anthome="${ant.home}"
				buildfile="${head.work.dir}/yukon-build/build.xml"
				target="build-server" usedebug="true" uselogger="true">
				<jvmarg arg="-server" />
				<jvmarg arg="-Xms64m" />
				<jvmarg arg="-Xmx256m" />
				<property name="basedir" value="${head.work.dir}" />
			</ant>
		</schedule>

		<log>
			<merge file="${head.work.dir}/logs/server-error.log" />
		</log>

		<publishers>
			<email mailhost="10.106.32.52"
				returnaddress="cc-noreply@cannontech.com"
				buildresultsurl="http://swbuild:8088/buildresults/${project.name}"
				spamwhilebroken="false" reportsuccess="never">
				<always address="nmeverden@cannontech.com" />
				<failure address="softwaredev@cannontech.com"
					reportWhenFixed="true" />
				<propertiesmapper file="${email.properties}" />
			</email>
		</publishers>

	</project>


	<project name="yukon-install" requireModification="false">
		<listeners>
			<currentbuildstatuslistener
				file="logs/${project.name}/status.txt" />
			<lockfilelistener lockfile="logs/${project.name}.LCK" />
		</listeners>

		<bootstrappers>
			<lockfilebootstrapper lockfile="logs/${project.name}.LCK" />
			<cvsbootstrapper localWorkingCopy="${head.work.dir}/yukon-build"
				file="build.xml" overwriteChanges="true" />
		</bootstrappers>

		<modificationset quietperiod="60">
			<alwaysbuild />
			<cvs localWorkingCopy="${head.work.dir}/yukon/yukon-install" />
		</modificationset>

		<schedule>
			<ant anthome="${ant.home}"
				buildfile="${head.work.dir}/yukon-build/build.xml" target="build"
				usedebug="true" uselogger="true" time="0000">
				<jvmarg arg="-server" />
				<jvmarg arg="-Xms64m" />
				<jvmarg arg="-Xmx256m" />
				<property name="basedir" value="${head.work.dir}" />
			</ant>
		</schedule>

		<log>
			<merge file="${head.work.dir}/logs/install-error.log" />
			<merge
				dir="${head.work.dir}/yukon/yukon-client/common/test/testResults" />
		</log>

		<publishers>
			<onsuccess>
				<artifactspublisher dest="artifacts/${project.name}"
					dir="checkout/dist/" />
			</onsuccess>
			<email mailhost="10.106.32.52"
				returnaddress="cc-noreply@cannontech.com"
				buildresultsurl="http://swbuild:8088/buildresults/${project.name}"
				spamwhilebroken="false" reportsuccess="never">
				<always address="nmeverden@cannontech.com" />
				<failure address="softwaredev@cannontech.com"
					reportWhenFixed="true" />
				<propertiesmapper file="${email.properties}" />
			</email>
		</publishers>
	</project>


	<!-- ######################## BR20070414_3_4_0_1919  ######################## -->

	<project name="yukon-client_3_4">
		<listeners>
			<currentbuildstatuslistener
				file="logs/${project.name}/status.txt" />
			<lockfilelistener lockfile="logs/${project.name}.LCK" />
		</listeners>

		<bootstrappers>
			<lockfilebootstrapper lockfile="logs/${project.name}.LCK" />
			<cvsbootstrapper localWorkingCopy="${3_4.work.dir}/yukon-build"
				file="build.xml" overwriteChanges="false" />
			<!-- change this back to true after 3_4_0 branch -->
		</bootstrappers>

		<modificationset quietperiod="60">
			<cvs localWorkingCopy="${3_4.work.dir}/yukon/yukon-client" />
		</modificationset>

		<schedule interval="1800">
			<ant anthome="${ant.home}"
				buildfile="${3_4.work.dir}/yukon-build/build.xml"
				target="buildquick-client" usedebug="true" uselogger="true">
				<jvmarg arg="-server" />
				<jvmarg arg="-Xms64m" />
				<jvmarg arg="-Xmx256m" />
				<property name="build.label" value="${3_4.build.label}" />
				<property name="basedir" value="${3_4.work.dir}" />
			</ant>
		</schedule>

		<log>
			<merge
				dir="${3_4.work.dir}/yukon/yukon-client/common/test/testResults" />
		</log>

		<publishers>
			<email mailhost="10.106.32.52"
				returnaddress="cc-noreply@cannontech.com"
				buildresultsurl="http://swbuild:8088/buildresults/${project.name}"
				spamwhilebroken="false" reportsuccess="never">
				<always address="nmeverden@cannontech.com" />
				<failure address="softwaredev@cannontech.com"
					reportWhenFixed="true" />
				<propertiesmapper file="${email.properties}" />
			</email>
		</publishers>

	</project>

	<project name="yukon-server_3_4">
		<listeners>
			<currentbuildstatuslistener
				file="logs/${project.name}/status.txt" />
			<lockfilelistener lockfile="logs/${project.name}.LCK" />
		</listeners>

		<bootstrappers>
			<lockfilebootstrapper lockfile="logs/${project.name}.LCK" />
			<cvsbootstrapper localWorkingCopy="${3_4.work.dir}/yukon-build"
				file="build.xml" overwriteChanges="true" />
		</bootstrappers>

		<modificationset quietperiod="60">
			<cvs localWorkingCopy="${3_4.work.dir}/yukon/yukon-server" />
		</modificationset>

		<schedule interval="1800">
			<ant anthome="${ant.home}"
				buildfile="${3_4.work.dir}/yukon-build/build.xml"
				target="buildquick-server" usedebug="true" uselogger="true">
				<jvmarg arg="-server" />
				<jvmarg arg="-Xms64m" />
				<jvmarg arg="-Xmx256m" />
				<property name="build.label" value="3_4_0_cc" />
				<property name="basedir" value="${3_4.work.dir}" />
			</ant>
		</schedule>

		<log>
			<merge file="${3_4.work.dir}/logs/server-error.log" />
		</log>

		<publishers>
			<email mailhost="10.106.32.52"
				returnaddress="cc-noreply@cannontech.com"
				buildresultsurl="http://swbuild:8088/buildresults/${project.name}"
				spamwhilebroken="false" reportsuccess="never">
				<always address="nmeverden@cannontech.com" />
				<failure address="softwaredev@cannontech.com"
					reportWhenFixed="true" />
				<propertiesmapper file="${email.properties}" />
			</email>
		</publishers>

	</project>
<!--  
	<project name="yukon-install_3_4" requireModification="false">
		<listeners>
			<currentbuildstatuslistener
				file="logs/${project.name}/status.txt" />
			<lockfilelistener lockfile="logs/${project.name}.LCK" />
		</listeners>

		<bootstrappers>
			<lockfilebootstrapper lockfile="logs/${project.name}.LCK" />
			<cvsbootstrapper localWorkingCopy="${3_4.work.dir}/yukon-build"
				file="build.xml" overwriteChanges="true" />
		</bootstrappers>

		<modificationset quietperiod="60">
			<alwaysbuild />
			<cvs localWorkingCopy="${3_4.work.dir}/yukon/yukon-install" />
		</modificationset>

		<schedule>
			<ant anthome="${ant.home}"
				buildfile="${3_4.work.dir}/yukon-build/build.xml" target="build"
				usedebug="true" uselogger="true" time="0000">
				<jvmarg arg="-server" />
				<jvmarg arg="-Xms64m" />
				<jvmarg arg="-Xmx256m" />
				<property name="build.label" value="3_4_0_cc" />
				<property name="basedir" value="${3_4.work.dir}" />
			</ant>
		</schedule>

		<log>
			<merge file="${3_4.work.dir}/logs/install-error.log" />
			<merge
				dir="${3_4.work.dir}/yukon/yukon-client/common/test/testResults" />
		</log>

		<publishers>
			<onsuccess>
				<artifactspublisher dest="artifacts/${project.name}"
					dir="checkout/dist/" />
			</onsuccess>
			<email mailhost="10.106.32.52"
				returnaddress="cc-noreply@cannontech.com"
				buildresultsurl="http://swbuild:8088/buildresults/${project.name}"
				spamwhilebroken="false" reportsuccess="never">
				<always address="nmeverden@cannontech.com" />
				<failure address="softwaredev@cannontech.com"
					reportWhenFixed="true" />
				<propertiesmapper file="${email.properties}" />
			</email>
		</publishers>
	</project>
-->

</cruisecontrol>
