/* callList.jsp */

table.callListTable th.removeCol {
	text-align:center;
	width:100px;
}

table.callListTable .description {
	padding-left:10px;
}

table.callListTable td.removeCol {
	text-align:center;
}

table.callListTable td.noCalls {
	text-align:center;
	font-style:italic;
}