/* contactList.jsp */

table.contactListTable tr {
	vertical-align:top;	
}

table.contactListTable th.removeCol {
	text-align:center;
	width:100px;
}

table.contactListTable td.nameCol {
	width:20%;
	white-space:nowrap;
}

table.contactListTable td.removeCol {
	text-align:center;
}



table.contactNotificationListTable {
	font-size:11px;
	border-collapse:collapse;
}
table.contactNotificationListTable td {
       padding: 3px;
}
table.contactNotificationListTable td.type {
       width: 100px;
}