table.energyCompanyOperationsLayout {
    width: 100%;
}

table.energyCompanyOperationsLayout td.first,
table.energyCompanyOperationsLayout td.last {
    vertical-align: top;
    width: 50%;
}

table.energyCompanyOperationsLayout td.last {
    padding-left: 30px;
}

div.ecContainer {
    max-height: 193px;
    overflow: auto;
    overflow-x: hidden;
}

ul.groupLists li {
    list-style: disc;
}