.hardware, .status, .actions {
	white-space: nowrap;
}

#hardwareAssignedTable {
	width: auto;
}

table.compactResultsTable td.deviceLabel,
table.compactResultsTable th.deviceLabel {
	padding-right: 10px;
}
