div.hardwareListContainer {
    padding-bottom: 18px;
    padding-right: 8px;
}

div.hardwarePageContainer {
    max-height: 112px;
    overflow: auto;
    overflow-x: hidden;
    min-width: 280px;
    margin-bottom: 18px;
}

div.pointsList {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

div.hardwarePageContainer td.last {
    padding-right: 20px !important;
}

tr.notesRow td.value {
    max-width: 300px;
}

table.hardwareTable td.first {
    min-width: 400px;
}

table.hardwareListTable th.name,
table.hardwareListTable th.type,
table.hardwareListTable th.label {
    width: 30%;
}

table.hardwareListTable th.actions {
    width: 10%;
}

td.serviceCompanyInfo {
    padding-top: 0px !important;
    vertical-align: top;
}

table.invCheckingTable td {
    font-size: 12px;
}

table.theremostatActionTable {
    width: 100%;
}

table.theremostatActionTable td {
    vertical-align: bottom;
}

table.theremostatActionTable td.buttonCell {
    text-align: right;
}

#hardwareConfigEditDialog #editArea {
    width: auto;
}

#hardwareConfigEditDialog {
    width: 500px;
}

div.reportedConfig {
    float: left;
}
div.relay {
    margin-left: 90px;
}
div.reportedConfig_timestamp {
    margin-bottom: 20px;
}

div.hardwarePopup {
    padding: 10px;
}

span.buttonSeperator {
    padding-right: 5px;
}

table.popupButtonTable {
	width: 100%;
}

table.popupButtonTable td {
    text-align: right;
}

table.bitTable {
	border-collapse: collapse;
}

table.bitTable td, table.bitTable th {
	width: 30px;
	text-align: center;
}

table.bitTable td {
	padding: 0px 0px 5px 0px;
}

table.bitTable th {
	font-weight: bold;
}

td.pointStateColumn,
tr.pointState td.value {
    font-weight: bold;
}

tr.pickerRow td.name {
    vertical-align: middle;
}

.statusContainer {
    min-width: 400px;
}

.zbCommandMsg, .rfCommandMsg {
    margin-top: 15px;
}

.commissionConfirmationMsg {
    font-size: 15.2px;
}