div.historyContainer {
    max-height: 112px;
    overflow: auto;
    overflow-x: hidden;
}

table.hardwareListTable th.name,
table.hardwareListTable th.type,
table.hardwareListTable th.label {
    width: 30%;
}

table.hardwareListTable th.actions {
    width: 10%;
}

td.serviceCompanyInfo {
    padding-top: 0px !important;
    vertical-align: top;
}

table.invCheckingTable td {
    font-size: 12px;
}

table.theremostatActionTable {
    width: 100%;
}

table.theremostatActionTable td {
    vertical-align: bottom;
}

table.theremostatActionTable td.buttonCell {
    text-align: right;
}

#hardwareConfigEditDialog #editArea {
    width: auto;
}

#hardwareConfigEditDialog {
    width: 500px;
}

div.hardwarePopup {
    padding: 10px;
}

span.buttonSeperator {
    padding-right: 5px;
}

table.popupButtonTable {
	width: 100%;
}

table.popupButtonTable td {
    text-align: right;
}

table.bitTable {
	border-collapse: collapse;
}

table.bitTable td, table.bitTable th {
	width: 30px;
	text-align: center;
}

table.bitTable td {
	padding: 0px 0px 5px 0px;
}

table.bitTable th {
	font-weight: bold;
}

.Connected {
    color: #339900;
}

.Disconnected {
    color: #FF0000;
}

.Commissioned {
    color: #339900;
}

.Uncommissioned {
    color: #FF0000;
}