button.buttonGroup {
    padding: 0px;
    width: 160px;
}

table.selectionTable {
    margin-top: 2px;
    width: 100%;
}

table.selectionTable td.selectionTypeCol {
    width:200px;
    font-weight:bold;
}

table.selectionTable th.removeColumn,
table.selectionTable td.removeColumn {
    width:100px;
}

div.containerHeader {
    font-size: 11px;
}

td.actionCell {
    vertical-align: top;
    padding-right: 10px;
    padding-bottom: 10px;
}

table.inventoryOperationsLayout {
    width: 100%;
}

table.inventoryOperationsLayout td.first,
table.inventoryOperationsLayout td.last {
    vertical-align: top;
    width: 50%;
}

table.inventoryOperationsLayout td.last {
    padding-left: 20px;
}

table.deviceReconfigLayout {
    width: 100%;
}

table.deviceReconfigLayout td.first,
table.deviceReconfigLayout td.last {
    vertical-align: top;
    width: 50%;
}

table.deviceReconfigLayout td.last {
    padding-left: 20px;
}

table.inventoryActionsTable {
    width: 100%;
}

table.inventoryActionsTable td.description {
    width: 100%;
}

table.inventoryActionsTable td.button {
    padding-right: 5px;
}

table.inventoryActionsTable td.top,
table.inventoryActionsTable td.middle {
    padding-bottom: 5px;
}

span.statusPart {
    padding-right: 5px;
}

span.hidden {
    display: none;
}

span.visible {
    display: inline;
}

span.newOpLink {
    vertical-align: baseline !important;
}

ul.resultList {
    padding: 4px;
}