div.optOutQuestion {
    padding-bottom: 0.3em;
    text-align: left;
    font-weight: bold;
}

div.optOutAnswer {
    padding-bottom: 0.5em;
}    


table.selectDeviceTable td {
    vertical-align: top;
    text-align: left;
}

table.optOutActions td {
    padding-bottom: 15px;
}

.surveyTitle {
    margin-bottom: 15px;
}

.surveyDescription {
	font-size: 12px;
    margin: 10px 10px 15px 10px;
}	

.surveyQuestion {
    margin-bottom: 5px;
}

.surveyAnswer {
	font-size: 12px;
    margin: 0px 0px 15px 0px;
}	
