/* operator/operatorThermostat/XXX/view.jsp */

table.thermostatPageContent {
	width:95%;	
}

table.thermostatPageContent td.selectedThermostatsTd {
	padding-left:20px;
}

table.thermostatPageContent tr {
	vertical-align:top;
}

/* operator/operatorThermostat/selectedThermostatsFragment.jsp */
table.selectedThermostatList td.nameCol {
	padding-bottom:10px;
	white-space: nowrap;
}

table.selectedThermostatList td.editCol {
	padding-left:50px;
	font-size:11px;
}

/* operator/operatorThermostat/select.jsp */
table.selectThermostatsTable td.name, th.name {
	white-space:nowrap;
	width: 300px;
}